@font-face {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : normal;
	src : url("fonts/LiberationSerif.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : bold;
	src : url("fonts/LiberationSerif-Bold.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : italic ;
	font-weight : bold;
	src : url("fonts/LiberationSerif-BoldItalic.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : italic ;
	font-weight : normal;
	src : url("fonts/LiberationSerif-Italic.ttf");
}
@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.dipp {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	vertical-align : super;
}
span.italik {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 1em;
	font-variant : normal;
}
span.italik-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 1em;
	font-variant : normal;
}
span.char-style-override-1 {
	font-size : 1.13em;
}
span.char-style-override-2 {
	font-size : 1.13em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-3 {
	font-size : 1.13em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-4 {
	color : #0000ff;
	font-size : 1.13em;
	text-decoration : underline;
}
span.char-style-override-5 {
	color : #0000ff;
	font-size : 1.13em;
}
span.char-style-override-6 {
	font-size : 1.2em;
}
span.char-style-override-7 {
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-8 {
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-9 {
	font-style : italic;
	font-weight : bold;
}
span.char-style-override-10 {
	font-size : 0.92em;
}
span.char-style-override-11 {
	font-size : 0.92em;
	font-style : italic;
	font-weight : normal;
}
p.paragraf {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px 30px;
}
p.split {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 100px 30px 0px 30px;
}
p.anabaslik {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 50px 5px 50px;
}
p.resim {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.56;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 30px;
}
p.dipnot {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.44;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 3px 30px 0px 30px;
}
p.ana1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.23;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 100px 50px 5px 50px;
}
p.r1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.56;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 30px 5px 30px;
}
p.resim-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.56;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 20px 30px;
}
p.kunye {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.67em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.38;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 3px 30px 0px 30px;
}
p.resim-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.56;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 20px 30px;
}
p.resim-3 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.56;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 20px 30px;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0px;
	margin-bottom : 0px;
}
p.para-style-override-2 {
	margin-top : 100px;
}
p.para-style-override-3 {
	margin-top : 100px;
	text-align : left;
}
p.para-style-override-4 {
	text-align : left;
}
p.para-style-override-5 {
	margin-top : 20px;
	text-align : left;
}
p.para-style-override-6 {
	margin-top : 20px;
}
p.para-style-override-7 {
	margin-top : 14px;
}
p.para-style-override-8 {
	margin-bottom : 23px;
}
p.para-style-override-9 {
	text-indent : 0px;
}
div.Basic-Text-Frame {
}
