@font-face {
  font-family: "Liberation Serif";
  font-style: normal;
  font-weight: normal;
  src: url(../Fonts/LiberationSerif.ttf);
  }
@font-face {
  font-family: "Liberation Serif";
  font-style: normal;
  font-weight: bold;
  src: url(../Fonts/LiberationSerif-Bold.ttf);
  }
@font-face {
  font-family: "Liberation Serif";
  font-style: italic;
  font-weight: bold;
  src: url(../Fonts/LiberationSerif-BoldItalic.ttf);
  }
@font-face {
  font-family: "Liberation Serif";
  font-style: oblique;
  font-weight: bold;
  src: url(../Fonts/LiberationSerif-BoldItalic.ttf);
  }
@font-face {
  font-family: "Liberation Serif";
  font-style: italic;
  font-weight: normal;
  src: url(../Fonts/LiberationSerif-Italic.ttf);
  }
@font-face {
  font-family: "Liberation Serif";
  font-style: oblique;
  font-weight: normal;
  src: url(../Fonts/LiberationSerif-Italic.ttf);
  }
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
  margin: 0;
  padding: 0;
  border-width: 0;
}
td, th {
  border-style: solid;
  border-width: 1px;
}
table {
  border-collapse: collapse;
}
body {
  -epub-hyphens: auto;
  -webkit-hyphens: auto;
}
@page {
  margin: 0 0 0 0;
  }
p.D--ZZ {
  color: #000;
  font-family: "Goudy Oldstyle Std Regular", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.333;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: justify;
  text-decoration: none;
  text-indent: 14px;
  widows: 1;
}
p.Normal {
  color: #000;
  font-family: Calibri, sans-serif;
  font-size: 0.917em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.15;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  widows: 1;
}
p.Basic-Paragraph {
  color: #000;
  font-family: "Minion Pro", serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  widows: 1;
}
p.anabaslik {
  -epub-hyphens: none;
  -webkit-hyphens: none;
  color: #000;
  font-family: "Liberation Serif", serif;
  font-size: 1.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.333;
  margin-bottom: 22px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  widows: 1;
}
p.arabaslik_orta {
  color: #000;
  font-family: "Liberation Serif", serif;
  font-size: 1.083em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  widows: 1;
}
p.arabaslik_solll {
  -epub-hyphens: none;
  -webkit-hyphens: none;
  color: #000;
  font-family: "Liberation Serif", serif;
  font-size: 1.083em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.077;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 20px;
  widows: 1;
}
p.dipnot {
  -epub-hyphens: none;
  -webkit-hyphens: none;
  color: #000;
  font-family: "Liberation Serif", serif;
  font-size: 0.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.444;
  margin-bottom: 0;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 3px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: justify;
  text-decoration: none;
  text-indent: 0;
  widows: 1;
}
p.duz {
  -epub-hyphens: none;
  -epub-line-break: normal;
  -webkit-hyphens: none;
  color: #800000;
  font-family: "Goudy Oldstyle Std Regular", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.333;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: justify;
  text-decoration: none;
  text-indent: 14px;
  widows: 1;
}
p.paragraf {
  -epub-hyphens: none;
  -webkit-hyphens: none;
  color: #000;
  font-family: "Liberation Serif", serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.25;
  margin-bottom: 0;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: justify;
  text-decoration: none;
  text-indent: 20px;
  widows: 1;
}
p.resim {
  -epub-hyphens: none;
  -webkit-hyphens: none;
  color: #000;
  font-family: "Liberation Serif", serif;
  font-size: 0.75em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.556;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  widows: 1;
}
p.split {
  color: #000;
  font-family: "Liberation Serif", serif;
  font-size: 1.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 100px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  widows: 1;
}
span.Footnote-reference {
  vertical-align: super;
}
span.Hyperlink {
  color: #00f;
  text-decoration: underline;
}
span.dipnot {
  color: #f0f;
  font-family: "Liberation Serif", serif;
  font-size: 0.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  vertical-align: super;
}
p.ParaOverride-1 {
  margin-bottom: 28px;
  margin-top: 30px;
  text-align: center;
  text-indent: 0;
}
p.ParaOverride-2 {
  margin-bottom: 20px;
  text-align: center;
  text-indent: 0;
}
p.ParaOverride-3 {
  text-align: center;
  text-indent: 0;
}
p.ParaOverride-4 {
  margin-bottom: 110px;
  text-align: center;
  text-indent: 0;
}
p.ParaOverride-5 {
  margin-bottom: 3px;
  margin-left: 30px;
  margin-top: 30px;
}
p.ParaOverride-6 {
  margin-left: 30px;
}
p.ParaOverride-7 {
  margin-left: 30px;
  text-align: justify;
}
p.ParaOverride-8 {
  margin-left: 30px;
  text-align: left;
  text-indent: 0;
}
p.ParaOverride-9 {
  margin-bottom: 0;
  margin-left: 30px;
  text-align: left;
  text-indent: 0;
}
p.ParaOverride-10 {
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
  text-indent: 0;
}
p.ParaOverride-11 {
  text-align: right;
}
p.ParaOverride-12 {
  margin-bottom: 11px;
}
p.ParaOverride-13 {
  margin-bottom: 77px;
  text-align: center;
  text-indent: 0;
}
p.ParaOverride-14 {
  page-break-before: always;
  text-align: center;
  text-indent: 0;
}
p.ParaOverride-15 {
  margin-bottom: 173px;
  text-align: center;
  text-indent: 0;
}
span.CharOverride-1 {
  font-family: "Liberation Serif";
  font-style: normal;
  font-weight: normal;
}
span.CharOverride-2 {
  font-family: "Liberation Serif", serif;
  font-size: 2em;
  font-style: normal;
  font-weight: bold;
}
span.CharOverride-3 {
  font-family: "Liberation Serif";
  font-size: 0.917em;
  font-style: normal;
  font-weight: bold;
}
span.CharOverride-4 {
  font-family: "Liberation Serif";
  font-size: 0.917em;
  font-style: normal;
  font-weight: normal;
}
span.CharOverride-5 {
  color: #000;
  font-family: "Liberation Serif";
  font-size: 0.818em;
  font-style: normal;
  font-weight: normal;
}
span.CharOverride-6 {
  color: #000;
  font-size: 0.75em;
}
span.CharOverride-7 {
  color: #000;
  font-family: "Liberation Serif";
  font-size: 0.75em;
  font-style: normal;
  font-weight: bold;
}
span.CharOverride-8 {
  font-size: 0.75em;
}
span.CharOverride-9 {
  color: #00f;
  font-family: "Liberation Serif";
  font-size: 0.75em;
  font-style: normal;
  font-weight: bold;
}
span.CharOverride-10 {
  color: #000;
  font-family: "Liberation Serif";
  font-size: 0.75em;
  font-style: italic;
  font-weight: normal;
}
span.CharOverride-11 {
  color: #000;
  font-size: 0.708em;
}
span.CharOverride-12 {
  color: #00f;
  font-size: 0.75em;
}
span.CharOverride-13 {
  color: #000;
  font-size: 0.833em;
}
span.CharOverride-14 {
  color: #000;
  font-family: "Liberation Serif";
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
}
span.CharOverride-15 {
  font-size: 0.917em;
}
span.CharOverride-16 {
  font-family: "Liberation Serif";
  font-size: 0.917em;
  font-style: italic;
  font-weight: bold;
}
span.CharOverride-17 {
  font-family: "Liberation Serif";
  font-size: 0.917em;
  font-style: italic;
  font-weight: normal;
}
span.CharOverride-18 {
  font-size: 0.908em;
}
span.CharOverride-19 {
  font-size: 0.534em;
}
span.CharOverride-20 {
  font-size: 0.534em;
  vertical-align: super;
}
span.CharOverride-21 {
  font-family: "Liberation Serif";
  font-size: 1.083em;
  font-style: normal;
  font-weight: bold;
}
span.CharOverride-22 {
  font-size: 0.733em;
}
span.CharOverride-23 {
  font-family: "Liberation Serif";
  font-size: 1.042em;
  font-style: normal;
  font-weight: bold;
}
span.CharOverride-24 {
  font-size: 0.846em;
}
span.CharOverride-25 {
  color: #00f;
  font-family: "Liberation Serif";
  font-size: 0.917em;
  font-style: normal;
  font-weight: bold;
}
span.CharOverride-26 {
  font-size: 11px;
}
span.CharOverride-27 {
  font-family: "Liberation Serif";
  font-style: normal;
  font-weight: bold;
}
p._idGenParaOverride-1 {
  page-break-before: always;
}
img._idGenPageitem-1 {
  height: 1028px;
  width: 778px;
}
div._idGenPageitem-2 {
  text-align: center;
}
img._idGenPageitem-3 {
  height: 17px;
  width: 18px;
}
img._idGenPageitem-4 {
  height: 44px;
  width: 36px;
}
img._idGenPageitem-5 {
  height: 22px;
  width: 24px;
}
img._idGenPageitem-6 {
  height: 24px;
  width: 26px;
}
img._idGenPageitem-7 {
  height: 16px;
  width: 31px;
}
img._idGenPageitem-8 {
  height: 420px;
  width: 290px;
}
