 table.main {}
 tr.row {}
 td.cell {}
 div.block {}
 div.paragraph {}
 img { max-width: 100%; }
 .font0 { font-size:x-small; font-family: 'Book Antiqua', serif; }
 .font1 { font-size:small; font-family: 'Book Antiqua', serif; }
 .font2 { font-size:medium; font-family: 'Book Antiqua', serif; }
 .font3 { font-size:x-large; font-family: 'Book Antiqua', serif; }
 .font4 { font-size:large; font-family: 'Calibri', sans-serif; }
 .font5 { font-size:medium; font-family: 'Franklin Gothic Heavy', sans-serif; }
 .font6 { font-size:xx-large; font-family: 'Franklin Gothic Heavy', sans-serif; }
 .font7 { font-size:medium; font-family: 'Garamond', serif; }
 .font8 { font-size:xx-large; font-family: 'Georgia', serif; }
 .font9 { font-size:small; font-family: 'Microsoft Sans Serif', sans-serif; }
 .font10 { font-size:medium; font-family: 'Microsoft Sans Serif', sans-serif; }
 .font11 { font-size:medium; font-family: 'Times New Roman', serif; }
