@namespace h "http://www.w3.org/1999/xhtml";
.calibre {
  display: block;
  margin-bottom: 0;
  margin-left: 10pt;
  margin-right: 10pt;
  margin-top: 0;
  page-break-before: always;
}
.calibre1 {
  display: block;
  page-break-after: always;
}
.calibre2 {
  height: 29;
  width: 120;
}
.calibre3 {
  display: block;
  list-style-type: disc;
  margin-bottom: 1em;
  margin-right: 0;
  margin-top: 1em;
  padding-left: 0;
}
.chapter {
  display: block;
}
.grilink {
  display: block;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}
.h1baslik {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.67em;
  page-break-before: always;
  text-align: center;
}
.idebold {
  font-weight: bold;
}
.ideitalik {
  font-style: italic;
}
.kitapickapak {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: center;
}
.kitapickapak1 {
  display: block;
  font-size: 1.75em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: center;
}
.kunye {
  display: block;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 3em;
  margin-right: 0;
  margin-top: 0;
  text-align: left;
}
.normal {
  display: block;
  font-size: 1em;
  margin-bottom: 0.7em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.7em;
  text-align: justify;
  text-indent: 0.75em;
}
.normal1 {
  display: list-item;
  font-size: 1em;
  margin-bottom: 0.7em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.7em;
  text-align: justify;
  text-indent: 0.75em;
}
.normal2 {
  font-size: 1em;
  margin-bottom: 0.7em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.7em;
  text-align: justify;
  text-indent: 0.75em;
}
.resim {
  display: block;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
a {
  color: inherit;
  text-decoration: inherit;
  cursor: default;
}
a[href] {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
@font-face {
  font-style: normal;
  font-family: "Liberation Serif", serif, sans-serif;
  font-weight: normal;
  src: url(../Fonts/LiberationSerif-Regular.ttf);
  }
@font-face {
  font-style: italic;
  font-family: "Liberation Serif", serif, sans-serif;
  font-weight: normal;
  src: url(../Fonts/LiberationSerif-Italic.ttf);
  }
@font-face {
  font-style: bold;
  font-family: "Liberation Serif", serif, sans-serif;
  font-weight: bold;
  src: url(../Fonts/LiberationSerif-Bold.ttf);
  }
@font-face {
  font-style: italic;
  font-family: "Liberation Serif", serif, sans-serif;
  font-weight: bold;
  src: url(../Fonts/LiberationSerif-BoldItalic.ttf);
  }
@font-face {
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  src: url(../Fonts/arial.ttf);
  }
@font-face {
  font-style: italic;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  src: url(../Fonts/ariali.ttf);
  }
@font-face {
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  src: url(../Fonts/arialbd.ttf);
  }
@font-face {
  font-style: italic;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  src: url(../Fonts/arialbi.ttf);
  }
