@charset utf-8;

p {
  text-indent:0em;
  font-size:0.7em;
	margin-top:0.1em;
  margin-bottom:0.1em;
  text-indent:0em;
}
.sayfa_kes{page-break-before: always;}

.kunye0{text-indent:0em;text-align:center;margin-top:2em;font-size:1.1em;}
.kunye1{text-indent:0em;margin-left:1.5em;text-indent:-1.5em;text-align:justify;}
.kunye2{text-indent:0em; margin-top:1em;}
.kunye3{text-indent:0em;font-size:0.6em;}
.yazar{text-indent:0em;text-align:center;margin-top:2em;font-size:1.3em;}
.kitap_adi1{text-indent:0em;text-align:center;font-size:3em;font-weight:bold;letter-spacing:0.07em;}
.kitap_adi2{text-indent:0em;text-align:center;font-size:1.1em;}
.cevirmen{text-indent:0em;text-align:center;margin-top:2em;font-size:1em;}
.logo{margin-top:14em;text-align:center;}