.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre2 {
    font-size: 13.5pt;
    line-height: 1.2
    }
.calibre3 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre4 {
    height: 410px;
    vertical-align: baseline;
    width: 410px
    }
.calibre5 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 0
    }
.calibre6 {
    font-size: 17pt;
    line-height: 1.2
    }
.calibre7 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre8 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre9 {
    font-size: smaller;
    line-height: normal;
    vertical-align: sub
    }
.calibre10 {
    font-size: smaller
    }
.calibre11 {
    font-size: 22pt;
    line-height: 1.2
    }
.calibre12 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0
    }
.calibre13 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 10pt 0 0
    }
.calibre14 {
    display: block;
    text-align: right;
    text-indent: 0;
    margin: 10pt 0 0
    }
.calibre15 {
    display: block
    }
.calibre16 {
    color: #17365d
    }
.calibre17 {
    display: block;
    text-align: right;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre18 {
    font-size: smaller;
    line-height: normal;
    vertical-align: super
    }
.calibre19 {
    font-size: 5pt
    }
.calibre20 {
    display: block;
    height: 1em
    }
.calibre21 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre22 {
    display: list-item;
    margin-top: 0;
    text-indent: 0
    }
.calibre23 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 10pt 0 0
    }
.calibre24 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 8pt 0 0
    }
.calibre25 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre26 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 6pt 0 0
    }
.calibre27 {
    color: #632423
    }
.calibre28 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 6pt 0 0
    }
.calibre29 {
    display: block;
    text-align: justify;
    text-indent: -18pt;
    margin: 0 0 0 18pt
    }
.calibre30 {
    display: block;
    text-align: justify;
    text-indent: -18pt;
    margin: 5pt 0 0 18pt
    }
.calibre31 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 5pt 0 0 2em
    }
.calibre32 {
    display: block;
    text-align: left;
    text-indent: -18pt;
    margin: 5pt 0 0 18pt
    }
.calibre33 {
    display: block;
    text-align: justify;
    text-indent: -18pt;
    margin: 1em 0 0 18pt
    }
.calibre34 {
    display: block;
    text-indent: -19pt;
    margin: 1em 0 0 19pt
    }
.calibre35 {
    display: block;
    text-indent: -19pt;
    margin: 0 0 0 19pt
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin: 0
    }
