.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    height: auto;
    width: auto
    }
.calibre10 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 1.5em
    }
.calibre11 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: sub
    }
.calibre12 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre13 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre14 {
    font-size: 0.75em
    }
.calibre16 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: sub
    }
.calibre2 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    color: #332B28;
    line-height: 1.2
    }
.calibre4 {
    color: #543C2C;
    line-height: 1.2
    }
.calibre5 {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.calibre8 {
    display: block
    }
.calibre9 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.italic1 {
    font-style: italic
    }
