@font-face{font-style:normal;font-weight:normal;}
@font-face{font-style:italic;font-weight:normal;}
p{text-indent:.76em;margin-left:.53em;margin-right:0;text-align:justify;margin-top:0;margin-bottom:0;font-family:Calibri,sans-serif;font-size:100%}
.li1{font-family:Calibri,sans-serif;font-size:100%}
.linone{list-style-type:none}
.linone1{font-family:Calibri,sans-serif;font-size:100%;list-style-type:none}
.p0{text-indent:.76em;text-align:center}
.p2{text-indent:0;margin-left:0;text-align:left}
.p3{text-indent:.76em;text-align:left}
.p4{text-indent:.12em;margin-left:.53em;text-align:center}
.p5{text-indent:.12em;margin-left:.53em}
.p6{text-indent:.12em;margin-left:.53em;text-align:left}
.p7{text-indent:.76em;text-align:right}
.p8{text-indent:.45em;margin-left:.53em;text-align:center}
.p9{text-indent:-.19em;margin-left:.53em;text-align:center}
.p10{text-indent:.65em;margin-left:.65em}
.p11{text-indent:0;margin-left:0}
.p12{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;margin-top:.19em;margin-bottom:0;font-family:"Book Antiqua",serif;font-size:136%;font-weight:bold}
.h10{text-indent:0;margin-top:0}
.h11{text-indent:.56em;margin-left:.39em;text-align:justify;margin-top:0}
.h13{text-indent:0}
h2{text-indent:0;margin-left:0;margin-right:0;text-align:center;margin-top:.23em;margin-bottom:0;font-family:"Book Antiqua",serif;font-size:123%;font-weight:bold}
.h21{text-indent:0;margin-top:0}
.h22{text-indent:0;text-align:left}
.h23{text-indent:0}
h3{text-indent:0;margin-left:.62em;margin-right:0;text-align:center;margin-top:0;margin-bottom:0;font-family:"Book Antiqua",serif;font-size:105%;font-weight:bold}
.h30{text-indent:0;text-align:left}
.h32{text-indent:0;margin-left:.93em;text-align:left}
.h33{text-indent:0;margin-left:.32em;text-align:left}
.h34{text-indent:0;margin-left:4.5em}
.h35{text-indent:0;margin-left:.32em}
.h36{text-indent:0}
h4{text-indent:0;margin-left:.62em;margin-right:0;margin-top:0;margin-bottom:0;font-family:Georgia,serif;font-size:105%;font-weight:normal}
.h41{text-indent:.16em;margin-left:.62em}
.h42{text-indent:0;text-align:center}
.h43{text-indent:-.32em;margin-left:.93em}
.h44{text-indent:0}
h5{text-indent:.12em;margin-left:.53em;margin-right:0;text-align:center;margin-top:0;margin-bottom:0;font-family:Calibri,sans-serif;font-size:100%;font-weight:normal;font-style:italic}
.h51{text-indent:.76em;margin-left:.53em;text-align:justify}
.h52{text-indent:0}
h6{text-indent:.76em;margin-left:.53em;margin-right:0;text-align:justify;margin-top:0;margin-bottom:0;font-family:Calibri,sans-serif;font-size:100%;font-weight:bold}
.h61{text-indent:0}
.l0{margin-left:.53em}
.t2{letter-spacing:-.014em}
.t3{letter-spacing:-.12em}
.t4{letter-spacing:.0045em}
.t5{letter-spacing:.0091em}
.t6{letter-spacing:-.086em}
.t7{letter-spacing:-.082em}
.t8{letter-spacing:-.045em}
.t9{letter-spacing:-.0045em}
.t10{letter-spacing:-.0091em}
.t11{letter-spacing:-.059em}
.t12{letter-spacing:-.055em}
.t13{letter-spacing:.16em}
.t14{letter-spacing:-.091em}
.t15{letter-spacing:.2em}
.t16{letter-spacing:-.068em}
.t17{letter-spacing:-.064em}
.t18{letter-spacing:-.11em}
.t19{letter-spacing:.14em}
.t20{letter-spacing:-.023em}
.t21{letter-spacing:.15em}
.t22{letter-spacing:.12em}
.t23{letter-spacing:.13em}
.t24{letter-spacing:.11em}
.t25{letter-spacing:.12em}
.t26{letter-spacing:-.027em}
.t27{letter-spacing:.3em}
.t28{letter-spacing:.014em}
.t29{letter-spacing:.077em}
.t30{letter-spacing:.082em}
.t31{letter-spacing:.19em}
.t32{letter-spacing:.2em}
.t33{letter-spacing:.38em}
.t34{letter-spacing:.35em}
.t35{letter-spacing:.064em}
.t36{letter-spacing:.059em}
.t37{letter-spacing:.21em}
.t38{letter-spacing:.21em}
.t39{letter-spacing:.29em}
.t40{letter-spacing:.11em}
.t41{letter-spacing:.2em}
.t42{letter-spacing:.18em}
.t43{letter-spacing:.18em}
.t44{letter-spacing:-.041em}
.t45{letter-spacing:-.05em}
.t46{letter-spacing:-.018em}
.t47{letter-spacing:.018em}
.t48{font-size:.65em;vertical-align:super;letter-spacing:-.0071em}
.t49{letter-spacing:.12em;vertical-align:.27em}
.t50{letter-spacing:.1em}
.t51{letter-spacing:.22em}
.t52{letter-spacing:.4em}
.t53{letter-spacing:.068em}
.t54{font-style:italic;letter-spacing:-.0045em}
.t55{font-family:"Times New Roman",serif;font-size:1.1em}
.t56{font-size:.73em;font-style:italic}
.t57{font-size:.73em;font-style:italic;letter-spacing:.019em}
.t58{font-size:.73em;font-style:italic;letter-spacing:.025em}
.t59{font-size:.73em;font-style:italic;letter-spacing:-.013em}
.t60{font-size:.73em;font-style:italic;letter-spacing:-.0063em}
.t61{letter-spacing:.22em}
.t62{letter-spacing:.032em}
.t63{letter-spacing:.036em}
.t64{letter-spacing:.15em}
.t65{letter-spacing:.3em}
.t66{letter-spacing:.44em}
.t67{letter-spacing:.33em}
.t68{letter-spacing:.041em}
.t69{letter-spacing:.13em}
.t70{letter-spacing:.14em}
.t71{letter-spacing:.24em}
.t72{letter-spacing:-.036em}
.t73{letter-spacing:-.032em}
.t74{letter-spacing:.045em}
.t75{letter-spacing:.05em}
.t76{letter-spacing:.55em}
.t77{letter-spacing:.027em}
.t78{letter-spacing:.48em}
.t79{letter-spacing:.091em}
.t80{letter-spacing:.095em}
.t81{letter-spacing:.073em}
.t82{letter-spacing:.055em}
.t83{letter-spacing:.086em}
.t84{letter-spacing:.1em}
.t85{letter-spacing:.17em}
.t86{letter-spacing:.15em}
.t87{letter-spacing:.17em}
.t88{font-style:italic}
.t89{font-style:italic;letter-spacing:.16em}
.t90{letter-spacing:.16em}
.t91{letter-spacing:.19em}
.t92{font-style:italic;letter-spacing:.0045em}
.t93{font-size:.65em;font-style:italic;vertical-align:super}
.t94{letter-spacing:.1em;vertical-align:.27em}
.t95{letter-spacing:.25em}
.t96{letter-spacing:.023em}
.t97{font-style:italic;letter-spacing:-.014em}
.t98{font-style:italic;letter-spacing:.14em}
.t99{font-style:italic;letter-spacing:.11em}
.t100{font-style:italic;letter-spacing:.15em}
.t101{font-style:italic;letter-spacing:.036em}
.t102{font-size:.73em;font-style:italic;letter-spacing:-.044em}
.t103{font-size:.73em;font-style:italic;letter-spacing:-.019em}
.t104{font-size:.73em;font-style:italic;letter-spacing:.23em}
.t105{font-size:.73em;font-style:italic;letter-spacing:-.13em}
.t106{letter-spacing:-.11em}
.t107{font-style:italic;letter-spacing:.082em}
.t108{font-size:.65em;font-style:italic;vertical-align:super;letter-spacing:-.0071em}
.t109{letter-spacing:.055em;vertical-align:.27em}
.t110{font-style:italic;letter-spacing:-.0091em}
.t111{font-style:italic;letter-spacing:.077em}
.t112{font-size:.65em;font-style:italic;vertical-align:super;letter-spacing:-.014em}
.t113{letter-spacing:.023em;vertical-align:.27em}
.t114{letter-spacing:.23em}
.t115{letter-spacing:.42em}
.t116{font-style:italic;letter-spacing:.2em}
.t117{font-style:italic;letter-spacing:.42em}
.t118{letter-spacing:.41em}
.t119{letter-spacing:.49em}
.t120{letter-spacing:.32em}
.t121{letter-spacing:.45em}
.t122{letter-spacing:.43em}
.t123{font-style:italic;letter-spacing:.041em}
.t124{font-style:italic;letter-spacing:.12em}
.t125{font-style:italic;letter-spacing:-.018em}
.t126{font-size:.73em;font-weight:bold;font-style:italic}
.t127{font-size:.73em;font-weight:bold;font-style:italic;letter-spacing:.1em}
.t128{font-size:.73em;font-style:italic;letter-spacing:-.069em}
.t129{font-size:.73em;font-style:italic;letter-spacing:-.075em}
.t130{font-size:.73em;font-style:italic;letter-spacing:-.025em}
.t131{font-size:.73em;font-style:italic;letter-spacing:-.038em}
.t132{font-size:.73em;font-style:italic;letter-spacing:-.031em}
.t133{letter-spacing:-.12em}
.t134{font-style:italic;letter-spacing:.2em}
.t135{font-style:italic;letter-spacing:.05em}
.t136{font-style:italic;letter-spacing:.064em}
.t137{font-style:italic;letter-spacing:.17em}
.t138{font-style:italic;letter-spacing:.18em}
.t139{font-style:italic;letter-spacing:.095em}
.t140{font-style:italic;letter-spacing:-.082em}
.t141{font-style:italic;letter-spacing:-.077em}
.t142{font-style:italic;letter-spacing:-.045em}
.t143{font-style:italic;letter-spacing:-.041em}
.t144{font-style:italic;letter-spacing:.11em}
.t145{font-style:italic;letter-spacing:-.086em}
.t146{letter-spacing:.28em}
.t147{font-family:Georgia,serif;font-size:.91em}
.t148{font-size:.91em}
.t149{font-style:italic;letter-spacing:-.023em}
.t150{font-size:.73em;font-style:italic;letter-spacing:.13em}
.t151{font-size:.73em;font-style:italic;letter-spacing:.13em}
.t152{letter-spacing:-.073em}
.t153{letter-spacing:-.077em}
.t154{font-size:.73em;font-style:italic;letter-spacing:-.094em}
.t155{font-size:.73em;font-style:italic;letter-spacing:-.088em}
.t156{font-style:italic;letter-spacing:.045em}
.t157{letter-spacing:.032em;vertical-align:.27em}
.t158{letter-spacing:.28em}
.t159{font-size:.73em;font-style:italic;letter-spacing:.031em}
.t160{font-style:italic;letter-spacing:.014em}
.t161{font-style:italic;letter-spacing:.091em}
.t162{letter-spacing:.45em}
.t163{font-style:italic;letter-spacing:-.036em}
.t164{font-style:italic;letter-spacing:.1em}
.t165{font-size:.65em;vertical-align:super}
.t166{letter-spacing:.0045em;vertical-align:.27em}
.t167{font-style:italic;letter-spacing:.12em}
.t168{font-size:.65em;vertical-align:super;letter-spacing:-.014em}
.t169{letter-spacing:.22em;vertical-align:.27em}
.t170{letter-spacing:.32em}
.t171{letter-spacing:.095em;vertical-align:.27em}
.t172{font-style:italic;letter-spacing:.023em}
.t173{font-style:italic;letter-spacing:.14em}
.t174{font-style:italic;letter-spacing:.2em}
.t175{font-style:italic;letter-spacing:.19em}
.t176{font-style:italic;letter-spacing:.086em}
.t177{font-size:.73em;font-style:italic;letter-spacing:.0063em}
.t178{letter-spacing:.23em}
.t179{letter-spacing:-.14em}
.t180{letter-spacing:-.14em}
.t181{letter-spacing:-.1em}
.t182{letter-spacing:-.095em}
.t183{letter-spacing:.31em}
.t184{letter-spacing:.036em;vertical-align:.27em}
.t185{letter-spacing:.37em}
.t186{font-family:Georgia,serif;font-size:.91em;font-style:italic}
.t187{font-style:italic;letter-spacing:-.073em}
.t188{font-style:italic;letter-spacing:-.068em}
.t189{font-style:italic;letter-spacing:.1em}
.t190{font-style:italic;letter-spacing:.13em}
.t191{font-style:italic;letter-spacing:.13em}
.t192{font-size:.73em;font-weight:bold}
.t193{font-size:.73em;font-weight:bold;letter-spacing:.094em}
.t194{font-size:.73em;letter-spacing:-.025em}
.t195{font-size:.73em;letter-spacing:-.013em}
.t196{font-size:.73em;letter-spacing:.025em}
.t197{font-size:.73em}
.t198{font-size:.73em;letter-spacing:.031em}
.t199{font-size:.73em;letter-spacing:-.0063em}
.t200{font-size:.73em;letter-spacing:-.019em}
.t201{font-style:italic;letter-spacing:.15em}
.t202{letter-spacing:.11em;vertical-align:.27em}
.t203{font-style:italic;letter-spacing:-.032em}
.t204{font-size:.65em;vertical-align:super;letter-spacing:-.021em}
.t205{letter-spacing:.43em}
.t206{font-size:.73em;font-weight:bold;font-style:italic;letter-spacing:.22em}
.t207{font-style:italic;letter-spacing:.15em}
.t208{letter-spacing:.29em}
.t209{font-family:"Times New Roman",serif;font-size:.73em;font-style:italic}
.t210{font-size:.73em;font-style:italic;letter-spacing:-.1em}
.t211{letter-spacing:-.13em}
.t212{letter-spacing:.068em;vertical-align:.27em}
.t213{font-style:italic;letter-spacing:.027em}
.t214{font-style:italic;letter-spacing:.032em}
.t215{font-style:italic;letter-spacing:.068em}
.t216{letter-spacing:.26em}
.t217{font-style:italic;letter-spacing:-.095em}
.t218{font-style:italic;letter-spacing:-.091em}
.t219{vertical-align:.27em}
.t220{font-size:.73em;font-style:italic;letter-spacing:.18em}
.t221{font-size:.73em;font-style:italic;letter-spacing:.063em}
.t222{font-size:.73em;font-style:italic;letter-spacing:.069em}
.t223{font-style:italic;letter-spacing:.018em}
.t224{letter-spacing:.39em}
.t225{letter-spacing:.44em}
.t226{letter-spacing:.24em}
.t227{letter-spacing:.041em;vertical-align:.27em}
.t228{letter-spacing:-.15em}
.t229{letter-spacing:.48em}
.t230{font-size:.73em;font-style:italic;letter-spacing:.013em}
.t231{font-size:.73em;font-style:italic;letter-spacing:.31em}
.t232{font-size:.73em;font-style:italic;letter-spacing:.21em}
.t233{letter-spacing:.027em;vertical-align:.27em}
.t234{letter-spacing:.086em;vertical-align:.27em}
.t235{font-style:italic;letter-spacing:.086em;vertical-align:.27em}
.t236{letter-spacing:.091em;vertical-align:.27em}
.t237{letter-spacing:.1em;vertical-align:.27em}
.t238{letter-spacing:.018em;vertical-align:.27em}
.t239{font-style:italic;letter-spacing:.055em}
.t240{letter-spacing:-.1em}
.t241{letter-spacing:.34em}
.t242{letter-spacing:.26em}
.t243{letter-spacing:-.16em}
.t244{font-size:.73em;font-style:italic;letter-spacing:.16em}
.t245{font-size:.73em;font-style:italic;letter-spacing:.038em}
.t246{font-size:.73em;font-style:italic;letter-spacing:.044em}
.t247{font-size:.73em;font-style:italic;letter-spacing:.11em}
.t248{font-size:.73em;font-style:italic;letter-spacing:.11em}
.t249{letter-spacing:.42em}
.t250{font-style:italic;letter-spacing:.0091em}
.t251{letter-spacing:.045em;vertical-align:.27em}
.t252{letter-spacing:.05em;vertical-align:.27em}
.t253{font-size:.73em;font-style:italic;letter-spacing:.18em}
.t254{font-size:.65em;vertical-align:super;vertical-align:.43em}
.t255{letter-spacing:.0091em;vertical-align:.27em}
.t256{font-style:italic;letter-spacing:-.14em}
.t257{font-size:.73em;font-style:italic;letter-spacing:-.081em}
.t258{letter-spacing:.27em}
.t259{font-size:.73em;font-style:italic;letter-spacing:.14em}
.t260{font-size:.73em;font-style:italic;letter-spacing:.14em}
.t261{font-size:.73em;font-style:italic;letter-spacing:.15em}
.t262{font-size:.73em;font-style:italic;letter-spacing:-.063em}
.t263{font-size:.73em;font-style:italic;letter-spacing:.28em}
.t264{font-size:.73em;font-style:italic;letter-spacing:.05em}
.t265{font-size:.73em;font-style:italic;letter-spacing:.056em}
.t266{letter-spacing:.077em;vertical-align:.27em}
.t267{font-style:italic;letter-spacing:-.059em}
.t268{font-style:italic;letter-spacing:-.055em}
.t269{font-size:.73em;font-style:italic;letter-spacing:.12em}
.t270{font-size:.73em;font-style:italic;letter-spacing:.21em}
.t271{font-size:.73em;font-style:italic;letter-spacing:.22em}
.t272{font-style:italic;letter-spacing:.18em}
.t273{font-style:italic;letter-spacing:.17em}
.t274{font-size:.73em;font-style:italic;letter-spacing:.24em}
.t275{font-style:italic;letter-spacing:-.11em}
.t276{font-style:italic;letter-spacing:-.11em}
.t277{font-size:.73em;font-style:italic;letter-spacing:.19em}
.t278{font-style:italic;letter-spacing:.077em;vertical-align:.27em}
.t279{font-style:italic;letter-spacing:-.05em}
.t280{font-size:.73em;font-style:italic;letter-spacing:-.18em}
.t281{font-size:.73em;font-style:italic;letter-spacing:.094em}
.t282{font-size:.73em;font-style:italic;letter-spacing:.1em}
.t283{font-size:.73em;font-style:italic;letter-spacing:.17em}
.t284{font-size:.73em;font-style:italic;letter-spacing:-.05em}
.t285{font-style:italic;letter-spacing:.16em}
.t286{font-style:italic;letter-spacing:.19em}
.t287{font-style:italic;letter-spacing:.28em}
.t288{font-style:italic;letter-spacing:.059em}
.t289{font-size:.73em;font-style:italic;letter-spacing:-.11em}
.t290{font-size:.73em;font-style:italic;letter-spacing:-.11em}
.t291{font-size:.73em;font-style:italic;letter-spacing:.32em}
.t292{font-style:italic;letter-spacing:.21em}
.t293{font-style:italic;letter-spacing:-.1em}
.t294{font-style:italic;letter-spacing:-.064em}
.t295{letter-spacing:.14em;vertical-align:.27em}
.t296{font-style:italic;letter-spacing:-.027em}
.t297{font-size:.73em;font-style:italic;letter-spacing:.34em}
.t298{letter-spacing:.073em;vertical-align:.27em}
.t299{letter-spacing:-.13em}
.t300{letter-spacing:.4em}
.t301{letter-spacing:.41em}
.t302{letter-spacing:.36em}
.t303{letter-spacing:.46em}
.t304{letter-spacing:.37em}
.t305{letter-spacing:.46em}
.t306{letter-spacing:.38em}
.t307{letter-spacing:.33em}
.t308{font-style:italic;letter-spacing:.45em}
.t309{letter-spacing:.39em}
.t310{letter-spacing:.12em;vertical-align:.27em}
.t311{letter-spacing:.34em}
.t312{font-size:.73em;font-style:italic;letter-spacing:.39em}
.t313{letter-spacing:.014em;vertical-align:.27em}
.t314{font-size:.73em;font-style:italic;letter-spacing:-.12em}
.t315{font-size:.73em;font-style:italic;letter-spacing:-.21em}
.t316{font-size:.73em;font-style:italic;letter-spacing:-.21em}
.t317{font-size:.73em;font-style:italic;letter-spacing:-.056em}
.t318{letter-spacing:.25em}
.t319{letter-spacing:.25em}
.t320{font-style:italic;letter-spacing:.22em}
.t321{font-style:italic;letter-spacing:.073em}
.t322{letter-spacing:.3em}
.t323{letter-spacing:.31em}
.t324{letter-spacing:-.29em}
.t325{letter-spacing:.27em}
.t326{letter-spacing:-.18em}
.t327{letter-spacing:.36em}
.t328{letter-spacing:.35em}
.t329{font-size:.73em;font-style:italic;letter-spacing:.081em}
.t330{letter-spacing:-.16em}
.t331{letter-spacing:-.15em}
.t332{font-size:.73em;font-style:italic;letter-spacing:.36em}
.t333{letter-spacing:-.15em}
.t334{letter-spacing:-.21em}
.t335{font-style:italic;letter-spacing:.21em}
.t336{letter-spacing:.5em}
.t337{letter-spacing:.51em}
.t338{font-size:.73em;font-style:italic;letter-spacing:.19em}
.t339{font-size:.73em;font-style:italic;letter-spacing:.075em}
.t340{letter-spacing:.45em}
.t341{font-style:italic;letter-spacing:.22em}
.t342{font-size:.73em;font-style:italic;letter-spacing:.33em}
.t343{font-size:.73em;font-style:italic;letter-spacing:.27em}
.t344{font-style:italic;letter-spacing:-.1em}
.t345{font-size:.73em;font-style:italic;letter-spacing:.49em}
.t346{font-family:"Book Antiqua",serif;font-size:1em;font-weight:bold}
.t347{font-size:1em}
.t348{font-style:italic;letter-spacing:.41em}
.t349{letter-spacing:.35em}
.t350{letter-spacing:.4em}
.t351{font-size:.73em;font-style:italic;letter-spacing:.16em}
.t352{letter-spacing:.55em}
.t353{font-style:italic;letter-spacing:.48em}
.t354{font-size:.65em;vertical-align:super;letter-spacing:.057em}
.t355{font-size:.65em;vertical-align:super;letter-spacing:.17em}
.t356{font-style:italic;letter-spacing:.34em}
.t357{font-style:italic;letter-spacing:.38em}
.t358{font-style:italic;letter-spacing:.32em}
.t359{letter-spacing:.47em}
.t360{font-style:italic;letter-spacing:.23em}
.t361{font-style:italic;vertical-align:.27em}
.t362{font-style:italic;letter-spacing:.11em;vertical-align:.27em}
.t363{font-family:Georgia,serif;font-size:.91em;letter-spacing:-.005em}
.t364{font-size:.91em;letter-spacing:-.005em}
.t365{font-size:.73em;font-style:italic;letter-spacing:.088em}
.t366{letter-spacing:.49em}
.t367{letter-spacing:.5em}
.t368{letter-spacing:.064em;vertical-align:.27em}
.t369{font-size:.73em;font-style:italic;letter-spacing:.2em}
.t370{font-style:italic;letter-spacing:-.15em}
.t371{font-style:italic;letter-spacing:.36em}
.t372{font-style:italic;letter-spacing:-.14em}
.t373{font-size:.65em;vertical-align:super;letter-spacing:.11em}
.t374{letter-spacing:-.0045em;vertical-align:.27em}
.t375{letter-spacing:-.2em}
.t376{letter-spacing:-.17em}
.t377{font-style:italic;letter-spacing:.25em}
.t378{font-family:"Times New Roman",serif;font-size:.59em;vertical-align:super}
.t379{font-family:"Times New Roman",serif;font-size:.91em}
.th12{font-family:Calibri,sans-serif;font-size:.73em;font-weight:normal}
.th13{letter-spacing:.14em}
.th14{letter-spacing:.14em}
.th15{letter-spacing:-.01em}
.th16{letter-spacing:-.1em}
.th17{letter-spacing:-.097em}
.th18{letter-spacing:-.0033em}
.th19{letter-spacing:-.0067em}
.th110{letter-spacing:-.057em}
.th111{letter-spacing:-.013em}
.th22{letter-spacing:-.0037em}
.th23{letter-spacing:-.0074em}
.th24{letter-spacing:-.015em}
.th25{letter-spacing:-.026em}
.th26{letter-spacing:-.011em}
.th27{letter-spacing:-.022em}
.th28{letter-spacing:-.03em}
.th29{letter-spacing:.081em}
.th210{letter-spacing:.033em}
.th211{letter-spacing:.037em}
.th212{letter-spacing:.048em}
.th213{letter-spacing:-.019em}
.th214{letter-spacing:.052em}
.th215{letter-spacing:-.12em}
.th216{letter-spacing:.041em}
.th217{letter-spacing:.13em}
.th218{letter-spacing:.16em}
.th219{letter-spacing:-.044em}
.th220{letter-spacing:-.041em}
.th221{letter-spacing:-.052em}
.th222{letter-spacing:-.048em}
.th223{letter-spacing:.056em}
.th32{letter-spacing:-.039em}
.th33{letter-spacing:-.035em}
.th34{letter-spacing:-.013em}
.th35{letter-spacing:-.0087em}
.th36{letter-spacing:-.078em}
.th37{letter-spacing:-.074em}
.th38{letter-spacing:-.03em}
.th39{letter-spacing:-.0043em}
.th310{letter-spacing:-.017em}
.th311{letter-spacing:.16em}
.th312{letter-spacing:.17em}
.th313{letter-spacing:.039em}
.th314{letter-spacing:-.083em}
.th315{letter-spacing:.1em}
.th316{letter-spacing:.061em}
.th317{letter-spacing:.017em}
.th318{letter-spacing:.022em}
.th319{letter-spacing:-.022em}
.th320{letter-spacing:-.026em}
.th321{letter-spacing:-.11em}
.th322{letter-spacing:.15em}
.th323{letter-spacing:.087em}
.th324{letter-spacing:-.052em}
.th325{letter-spacing:-.048em}
.th326{letter-spacing:.14em}
.th327{letter-spacing:.14em}
.th328{letter-spacing:-.057em}
.th329{letter-spacing:.11em}
.th330{letter-spacing:.11em}
.th331{letter-spacing:.091em}
.th332{letter-spacing:.078em}
.th333{letter-spacing:.083em}
.th334{font-style:italic}
.th335{font-style:italic;letter-spacing:.03em}
.th336{font-style:italic;letter-spacing:.078em}
.th337{letter-spacing:.065em}
.th338{letter-spacing:.1em}
.th339{letter-spacing:-.12em}
.th340{letter-spacing:.07em}
.th341{letter-spacing:.12em}
.th342{letter-spacing:-.15em}
.th343{letter-spacing:-.1em}
.th344{letter-spacing:.013em}
.th345{letter-spacing:-.061em}
.th346{letter-spacing:.13em}
.th347{letter-spacing:-.043em}
.th348{letter-spacing:.12em}
.th349{letter-spacing:.13em}
.th350{letter-spacing:.2em}
.th351{letter-spacing:.035em}
.th352{letter-spacing:.21em}
.th353{letter-spacing:.0043em}
.th354{letter-spacing:.026em}
.th355{letter-spacing:.21em}
.th356{letter-spacing:.22em}
.th357{letter-spacing:.096em}
.th358{letter-spacing:.13em}
.th359{letter-spacing:.18em}
.th360{letter-spacing:.18em}
.th361{letter-spacing:-.11em}
.th362{letter-spacing:-.087em}
.th363{letter-spacing:.03em}
.th364{letter-spacing:.16em}
.th365{letter-spacing:.0087em}
.th366{letter-spacing:.043em}
.th367{letter-spacing:.074em}
.th368{letter-spacing:.057em}
.th369{letter-spacing:-.13em}
.th370{letter-spacing:-.065em}
.th371{letter-spacing:-.13em}
.th372{letter-spacing:.048em}
.th373{letter-spacing:.15em}
.th374{letter-spacing:.17em}
.th375{letter-spacing:.17em}
.th376{letter-spacing:.23em}
.th42{letter-spacing:-.074em}
.th43{letter-spacing:-.07em}
.th44{letter-spacing:-.022em}
.th45{letter-spacing:-.026em}
.th46{letter-spacing:-.03em}
.th47{letter-spacing:-.035em}
.th48{letter-spacing:-.017em}
.th49{letter-spacing:-.0087em}
.th410{letter-spacing:-.0043em}
.th411{letter-spacing:.1em}
.th412{letter-spacing:.1em}
.th413{letter-spacing:.096em}
.th414{letter-spacing:.14em}
.th415{letter-spacing:.14em}
.th416{letter-spacing:.16em}
.th417{letter-spacing:.16em}
.th418{letter-spacing:.061em}
.th419{letter-spacing:.065em}
.th420{letter-spacing:.15em}
.th421{letter-spacing:-.013em}
.th422{letter-spacing:-.083em}
.th423{letter-spacing:-.078em}
.th424{letter-spacing:.13em}
.th425{letter-spacing:.13em}
.th426{letter-spacing:.091em}
.th427{letter-spacing:.12em}
.th428{letter-spacing:.12em}
.th429{font-style:italic}
.th430{font-style:italic;letter-spacing:-.065em}
.th431{font-style:italic;letter-spacing:-.0087em}
.th432{font-style:italic;letter-spacing:-.061em}
.th433{font-style:italic;letter-spacing:-.0043em}
.th434{letter-spacing:-.11em}
.th435{letter-spacing:-.1em}
.th436{letter-spacing:-.096em}
.th437{font-style:italic;letter-spacing:.16em}
.th438{font-style:italic;letter-spacing:.17em}
.th439{letter-spacing:-.1em}
.th440{font-style:italic;letter-spacing:.13em}
.th441{font-style:italic;letter-spacing:.14em}
.th442{letter-spacing:.2em}
.th443{letter-spacing:.2em}
.th444{letter-spacing:.087em}
.th445{letter-spacing:-.065em}
.th446{letter-spacing:-.061em}
.th447{letter-spacing:.13em}
.th448{letter-spacing:.017em}
.th449{letter-spacing:.0087em}
.th450{letter-spacing:.0043em}
.th451{letter-spacing:.078em}
.th452{letter-spacing:.03em}
.th453{letter-spacing:.035em}
.th454{letter-spacing:.026em}
.th455{letter-spacing:-.043em}
.th456{letter-spacing:.11em}
.th457{letter-spacing:-.039em}
.th458{letter-spacing:.013em}
.th459{letter-spacing:.048em}
.th460{letter-spacing:.052em}
.th52{letter-spacing:.11em}
.th53{letter-spacing:.12em}
.th54{font-style:normal}
.th55{letter-spacing:-.11em}
.th56{letter-spacing:-.12em}
.th61{font-weight:normal}
.th62{font-family:"Book Antiqua",serif;font-size:.91em}
.th63{font-size:.91em;font-weight:normal}
.th64{letter-spacing:-.0045em}
.th66{letter-spacing:-.1em}
.th67{letter-spacing:-.041em}
.th68{letter-spacing:-.0091em}
.th69{letter-spacing:-.036em}
.th610{letter-spacing:-.014em}
.th611{letter-spacing:-.055em}
.th612{letter-spacing:-.05em}
.th613{letter-spacing:.13em}
.th614{letter-spacing:.032em}
.th615{letter-spacing:.036em}
.th616{letter-spacing:.023em}
.th617{letter-spacing:.027em}
.th618{letter-spacing:.091em}
.th619{letter-spacing:.0045em}