@font-face {
    font-family: LiberationSerif;
    font-weight: normal;
    font-style: normal;
    src:url(../Fonts/LiberationSerif-Regular.ttf)
    }
@font-face {
    font-family: LiberationSerif;
    font-weight: bold;
    font-style: normal;
    src: url(../Fonts/LiberationSerif-Bold.ttf)
    }
@font-face {
    font-family: LiberationSerif;
    font-weight: normal;
    font-style: italic;
    src: url(../Fonts/LiberationSerif-Italic.ttf)
    } 

@font-face {
    font-family: LiberationSerif;
    font-weight: normal;
    font-style: italic;
    src: url(../Fonts/LiberationSerif-BoldItalic.ttf)
    }  

	body{
font-family: LiberationSerif;  
           }

@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.bold {
	font-weight : bold;
	font-style : normal;
}
span.italik {
	font-weight : normal;
	font-style : italic;
}
p.e-paragraf {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.79em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.47;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 3px 0px 0px 0px;
}
p.e-jenerik {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.71em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.29;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 3px 0px 0px 0px;
}
p.e-epi {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.24;
	text-align : right;
	color : #000000;
	text-indent : 0px;
	margin : 14px 0px 3px 14px;
}
p.e-yildiz {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 11px 0px 9px 0px;
}
p.e-1-baslik {
	font-family :LiberationSerif, serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.91;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 0px 0px 0px;
}
p.e-perde {
	font-family :LiberationSerif, serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.91;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 0px 0px 0px;
}
p.e-jenerikbaslik- {
	font-family :LiberationSerif, serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.69;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 40px 0px 0px 0px;
}
p.e-icindekiler2 {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.79em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.47;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 3px 0px 0px 28px;
}
p.e-parcala {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.01em;
	text-decoration : none;
	font-variant : normal;
	line-height : 145;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 0px;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
	page-break-after : always;
}
div.Basic-Text-Frame {
}
