@font-face {
	font-family:"Liberation Serif";
	font-style:normal;
	font-weight:normal;
	src : url("../Fonts/LiberationSerif.ttf");
}
@font-face {
	font-family:"Liberation Serif";
	font-style:normal;
	font-weight:bold;
	src : url("../Fonts/LiberationSerif-Bold.ttf");
}
@font-face {
	font-family:"Liberation Serif";
	font-style:italic;
	font-weight:bold;
	src : url("../Fonts/LiberationSerif-BoldItalic.ttf");
}
@font-face {
	font-family:"Liberation Serif";
	font-style:oblique;
	font-weight:bold;
	src : url("../Fonts/LiberationSerif-BoldItalic.ttf");
}
@font-face {
	font-family:"Liberation Serif";
	font-style:italic;
	font-weight:normal;
	src : url("../Fonts/LiberationSerif-Italic.ttf");
}
@font-face {
	font-family:"Liberation Serif";
	font-style:oblique;
	font-weight:normal;
	src : url("../Fonts/LiberationSerif-Italic.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
body {
	-epub-hyphens:auto;
	-webkit-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.alt {
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:5px;
	margin-left:0;
	margin-right:0;
	margin-top:20px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:20px;
	widows:1;
}
p.anabaslik {
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:1.25em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.333;
	margin-bottom:20px;
	margin-left:0;
	margin-right:0;
	margin-top:150px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.arabaslik_sol {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:1.083em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.077;
	margin-bottom:25px;
	margin-left:0;
	margin-right:0;
	margin-top:60px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:20px;
	widows:1;
}
p.arayazi {
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.4;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:20px;
	widows:1;
}
p.paragraf {
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:20px;
	widows:1;
}
p.resim {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:0.75em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.556;
	margin-bottom:30px;
	margin-left:0;
	margin-right:0;
	margin-top:30px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
span.bolditalik {
	font-family:"Liberation Serif", serif;
	font-size:1em;
	font-style:italic;
	font-weight:bold;
}
span.italik {
	font-family:"Liberation Serif", serif;
	font-size:1em;
	font-style:italic;
	font-weight:normal;
}
p.ParaOverride-1 {
	margin-top:150px;
	text-align:center;
}
p.ParaOverride-2 {
	margin-top:120px;
}
p.ParaOverride-3 {
	margin-top:70px;
}
p.ParaOverride-4 {
	text-align:center;
}
p.ParaOverride-5 {
	margin-top:20px;
	text-align:center;
}
p.ParaOverride-6 {
	margin-top:50px;
	text-align:center;
}
p.ParaOverride-7 {
	margin-top:60px;
	text-align:center;
}
p.ParaOverride-8 {
	margin-top:350px;
	text-align:center;
}
p.ParaOverride-9 {
	margin-top:150px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-10 {
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-11 {
	margin-top:30px;
	text-align:center;
}
p.ParaOverride-12 {
	margin-top:150px;
}
p.ParaOverride-13 {
	margin-top:30px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-14 {
	margin-top:25px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-15 {
	margin-top:15px;
}
p.ParaOverride-16 {
	margin-top:20px;
}
p.ParaOverride-17 {
	text-align:left;
}
p.ParaOverride-18 {
	margin-right:200px;
	text-align:right;
}
p.ParaOverride-19 {
	text-align:justify;
}
p.ParaOverride-20 {
	margin-right:250px;
	text-align:right;
}
p.ParaOverride-21 {
	margin-top:10px;
}
span.CharOverride-1 {
	font-family:"Liberation Serif";
	font-size:0.75em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#0000ff;
	font-family:"Liberation Serif";
	font-size:0.75em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	font-size:0.75em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	font-family:"Liberation Serif", serif;
	font-size:1.667em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-5 {
	font-family:"Liberation Serif";
	font-size:2.833em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#ffffff;
	font-family:"Liberation Serif";
	font-size:1.667em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#ffffff;
	font-family:"Liberation Serif";
	font-size:20px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	font-family:"Liberation Serif";
	font-size:1.667em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	font-family:"Liberation Serif";
	font-size:1.167em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	font-family:"Liberation Serif";
	font-size:1.5em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	font-family:"Liberation Serif", serif;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-12 {
	font-family:"Liberation Serif";
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	font-family:"Liberation Serif";
	font-size:0.917em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	font-family:"Liberation Serif";
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-15 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-16 {
	font-family:"Liberation Serif";
	font-size:0.917em;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-17 {
	font-size:0.917em;
}
span.CharOverride-18 {
	font-size:0.917em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-19 {
	font-family:"Liberation Serif";
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-20 {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-21 {
	font-family:"Liberation Serif";
	font-size:1.182em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-22 {
	font-family:"Liberation Serif";
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-23 {
	font-size:1.091em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-24 {
	font-size:0.955em;
}
span.CharOverride-25 {
	font-size:0.833em;
}
span.CharOverride-26 {
	font-size:0.909em;
}
span.CharOverride-27 {
	font-family:"Liberation Serif";
	font-size:1.222em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-28 {
	font-size:0.556em;
	vertical-align:sub;
}
span.CharOverride-29 {
	vertical-align:super;
}
span.CharOverride-30 {
	font-family:"Liberation Serif";
	font-size:1em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-31 {
	font-size:1.03em;
}
span.CharOverride-32 {
	font-size:0.773em;
}
span.CharOverride-33 {
	font-family:"Liberation Serif";
	font-size:1.111em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-34 {
	font-size:0.818em;
}
span.CharOverride-35 {
	font-size:0.85em;
}
p._idGenParaOverride-1 {
	page-break-before:always;
}
span._idGenCharOverride-1 {
	font-size:0.955em;
}
span._idGenCharOverride-2 {
	font-size:0.7em;
}
span._idGenCharOverride-3 {
	font-size:1.333em;
}
img._idGenPageitem-1 {
	height:1027px;
	width:768px;
}
div._idGenPageitem-2 {
	text-align:center;
}
img._idGenPageitem-3 {
	height:51px;
	width:232px;
}
img._idGenPageitem-4 {
	height:3px;
	width:3px;
}
img._idGenPageitem-5 {
	height:41px;
	width:211px;
}
img._idGenPageitem-6 {
	height:42px;
	width:91px;
}
img._idGenPageitem-7 {
	height:177px;
	width:146px;
}
img._idGenPageitem-8 {
	height:197px;
	width:157px;
}
img._idGenPageitem-9 {
	height:176px;
	width:242px;
}
img._idGenPageitem-10 {
	height:145px;
	width:146px;
}
img._idGenPageitem-11 {
	height:183px;
	width:143px;
}
img._idGenPageitem-12 {
	height:159px;
	width:254px;
}
img._idGenPageitem-13 {
	height:149px;
	width:157px;
}
img._idGenPageitem-14 {
	height:225px;
	width:179px;
}
img._idGenPageitem-15 {
	height:187px;
	width:221px;
}
img._idGenPageitem-16 {
	height:192px;
	width:160px;
}
img._idGenPageitem-17 {
	height:231px;
	width:154px;
}
img._idGenPageitem-18 {
	height:194px;
	width:178px;
}
img._idGenPageitem-19 {
	height:205px;
	width:157px;
}
img._idGenPageitem-20 {
	height:209px;
	width:167px;
}
img._idGenPageitem-21 {
	height:238px;
	width:174px;
}
img._idGenPageitem-22 {
	height:180px;
	width:285px;
}
img._idGenPageitem-23 {
	height:217px;
	width:175px;
}
img._idGenPageitem-24 {
	height:208px;
	width:236px;
}
img._idGenPageitem-25 {
	height:159px;
	width:154px;
}
img._idGenPageitem-26 {
	height:181px;
	width:234px;
}
img._idGenPageitem-27 {
	height:258px;
	width:181px;
}
img._idGenPageitem-28 {
	height:184px;
	width:202px;
}
img._idGenPageitem-29 {
	height:212px;
	width:211px;
}
img._idGenPageitem-30 {
	height:244px;
	width:261px;
}
img._idGenPageitem-31 {
	height:197px;
	width:248px;
}
img._idGenPageitem-32 {
	height:227px;
	width:205px;
}
img._idGenPageitem-33 {
	height:253px;
	width:210px;
}
img._idGenPageitem-34 {
	height:257px;
	width:199px;
}
img._idGenPageitem-35 {
	height:250px;
	width:198px;
}
img._idGenPageitem-36 {
	height:234px;
	width:194px;
}
img._idGenPageitem-37 {
	height:216px;
	width:174px;
}
img._idGenPageitem-38 {
	height:213px;
	width:165px;
}
img._idGenPageitem-39 {
	height:231px;
	width:228px;
}
img._idGenPageitem-40 {
	height:242px;
	width:294px;
}
img._idGenPageitem-41 {
	height:222px;
	width:307px;
}
img._idGenPageitem-42 {
	height:261px;
	width:261px;
}
img._idGenPageitem-43 {
	height:213px;
	width:196px;
}
img._idGenPageitem-44 {
	height:255px;
	width:187px;
}
img._idGenPageitem-45 {
	height:235px;
	width:280px;
}
img._idGenPageitem-46 {
	height:203px;
	width:183px;
}
img._idGenPageitem-47 {
	height:270px;
	width:174px;
}
img._idGenPageitem-48 {
	height:244px;
	width:114px;
}
img._idGenPageitem-49 {
	height:221px;
	width:175px;
}
img._idGenPageitem-50 {
	height:240px;
	width:196px;
}
img._idGenPageitem-51 {
	height:177px;
	width:202px;
}
img._idGenPageitem-52 {
	height:198px;
	width:209px;
}
img._idGenPageitem-53 {
	height:219px;
	width:257px;
}
img._idGenPageitem-54 {
	height:221px;
	width:261px;
}
img._idGenPageitem-55 {
	height:243px;
	width:213px;
}
img._idGenPageitem-56 {
	height:215px;
	width:275px;
}
img._idGenPageitem-57 {
	height:250px;
	width:194px;
}
img._idGenPageitem-58 {
	height:210px;
	width:266px;
}
img._idGenPageitem-59 {
	height:173px;
	width:202px;
}
img._idGenPageitem-60 {
	height:253px;
	width:214px;
}
img._idGenPageitem-61 {
	height:183px;
	width:211px;
}
img._idGenPageitem-62 {
	height:200px;
	width:153px;
}
img._idGenPageitem-63 {
	height:179px;
	width:156px;
}
img._idGenPageitem-64 {
	height:274px;
	width:222px;
}
img._idGenPageitem-65 {
	height:220px;
	width:178px;
}
img._idGenPageitem-66 {
	height:199px;
	width:153px;
}
img._idGenPageitem-67 {
	height:220px;
	width:199px;
}
img._idGenPageitem-68 {
	height:270px;
	width:194px;
}
img._idGenPageitem-69 {
	height:261px;
	width:165px;
}
img._idGenPageitem-70 {
	height:275px;
	width:201px;
}
img._idGenPageitem-71 {
	height:228px;
	width:219px;
}
img._idGenPageitem-72 {
	height:208px;
	width:219px;
}
img._idGenPageitem-73 {
	height:243px;
	width:256px;
}
img._idGenPageitem-74 {
	height:247px;
	width:212px;
}
img._idGenPageitem-75 {
	height:222px;
	width:259px;
}
img._idGenPageitem-76 {
	height:224px;
	width:268px;
}
img._idGenPageitem-77 {
	height:279px;
	width:189px;
}
img._idGenPageitem-78 {
	height:193px;
	width:246px;
}
img._idGenPageitem-79 {
	height:240px;
	width:172px;
}
img._idGenPageitem-80 {
	height:238px;
	width:196px;
}
img._idGenPageitem-81 {
	height:276px;
	width:223px;
}
img._idGenPageitem-82 {
	height:246px;
	width:214px;
}
img._idGenPageitem-83 {
	height:283px;
	width:222px;
}
img._idGenPageitem-84 {
	height:198px;
	width:193px;
}
img._idGenPageitem-85 {
	height:273px;
	width:202px;
}
img._idGenPageitem-86 {
	height:177px;
	width:200px;
}
img._idGenPageitem-87 {
	height:186px;
	width:293px;
}
img._idGenPageitem-88 {
	height:252px;
	width:204px;
}
img._idGenPageitem-89 {
	height:264px;
	width:189px;
}
img._idGenPageitem-90 {
	height:211px;
	width:239px;
}
img._idGenPageitem-91 {
	height:265px;
	width:199px;
}
img._idGenPageitem-92 {
	height:226px;
	width:314px;
}
img._idGenPageitem-93 {
	height:229px;
	width:216px;
}
img._idGenPageitem-94 {
	height:263px;
	width:238px;
}
img._idGenPageitem-95 {
	height:285px;
	width:219px;
}
img._idGenPageitem-96 {
	height:211px;
	width:278px;
}
img._idGenPageitem-97 {
	height:187px;
	width:269px;
}
img._idGenPageitem-98 {
	height:201px;
	width:255px;
}
img._idGenPageitem-99 {
	height:205px;
	width:212px;
}
img._idGenPageitem-100 {
	height:213px;
	width:279px;
}
img._idGenPageitem-101 {
	height:231px;
	width:183px;
}
img._idGenPageitem-102 {
	height:208px;
	width:277px;
}
img._idGenPageitem-103 {
	height:196px;
	width:313px;
}
img._idGenPageitem-104 {
	height:221px;
	width:236px;
}
img._idGenPageitem-105 {
	height:204px;
	width:247px;
}
img._idGenPageitem-106 {
	height:260px;
	width:192px;
}
img._idGenPageitem-107 {
	height:253px;
	width:206px;
}
img._idGenPageitem-108 {
	height:249px;
	width:191px;
}
img._idGenPageitem-109 {
	height:216px;
	width:302px;
}
img._idGenPageitem-110 {
	height:229px;
	width:296px;
}
img._idGenPageitem-111 {
	height:185px;
	width:239px;
}
img._idGenPageitem-112 {
	height:258px;
	width:183px;
}
img._idGenPageitem-113 {
	height:283px;
	width:199px;
}
img._idGenPageitem-114 {
	height:255px;
	width:249px;
}
img._idGenPageitem-115 {
	height:188px;
	width:278px;
}
img._idGenPageitem-116 {
	height:245px;
	width:263px;
}
img._idGenPageitem-117 {
	height:255px;
	width:220px;
}
img._idGenPageitem-118 {
	height:218px;
	width:344px;
}
img._idGenPageitem-119 {
	height:272px;
	width:210px;
}
img._idGenPageitem-120 {
	height:188px;
	width:318px;
}
img._idGenPageitem-121 {
	height:294px;
	width:210px;
}
img._idGenPageitem-122 {
	height:269px;
	width:182px;
}
img._idGenPageitem-123 {
	height:298px;
	width:238px;
}
img._idGenPageitem-124 {
	height:266px;
	width:283px;
}
img._idGenPageitem-125 {
	height:328px;
	width:226px;
}
img._idGenPageitem-126 {
	height:312px;
	width:262px;
}
img._idGenPageitem-127 {
	height:242px;
	width:191px;
}
img._idGenPageitem-128 {
	height:248px;
	width:248px;
}
img._idGenPageitem-129 {
	height:205px;
	width:293px;
}
img._idGenPageitem-130 {
	height:271px;
	width:269px;
}
img._idGenPageitem-131 {
	height:274px;
	width:283px;
}
img._idGenPageitem-132 {
	height:266px;
	width:212px;
}
img._idGenPageitem-133 {
	height:248px;
	width:210px;
}
img._idGenPageitem-134 {
	height:293px;
	width:219px;
}
img._idGenPageitem-135 {
	height:239px;
	width:201px;
}
img._idGenPageitem-136 {
	height:265px;
	width:192px;
}
img._idGenPageitem-137 {
	height:204px;
	width:112px;
}
img._idGenPageitem-138 {
	height:220px;
	width:288px;
}
img._idGenPageitem-139 {
	height:270px;
	width:157px;
}
img._idGenPageitem-140 {
	height:302px;
	width:185px;
}
img._idGenPageitem-141 {
	height:207px;
	width:224px;
}
img._idGenPageitem-142 {
	height:227px;
	width:175px;
}
img._idGenPageitem-143 {
	height:205px;
	width:265px;
}
img._idGenPageitem-144 {
	height:278px;
	width:205px;
}
img._idGenPageitem-145 {
	height:270px;
	width:200px;
}
img._idGenPageitem-146 {
	height:243px;
	width:197px;
}
img._idGenPageitem-147 {
	height:241px;
	width:309px;
}
img._idGenPageitem-148 {
	height:222px;
	width:272px;
}
img._idGenPageitem-149 {
	height:204px;
	width:285px;
}
img._idGenPageitem-150 {
	height:277px;
	width:202px;
}
img._idGenPageitem-151 {
	height:259px;
	width:232px;
}
img._idGenPageitem-152 {
	height:230px;
	width:298px;
}
img._idGenPageitem-153 {
	height:230px;
	width:260px;
}
img._idGenPageitem-154 {
	height:280px;
	width:214px;
}
img._idGenPageitem-155 {
	height:279px;
	width:212px;
}
img._idGenPageitem-156 {
	height:248px;
	width:331px;
}
img._idGenPageitem-157 {
	height:294px;
	width:193px;
}
img._idGenPageitem-158 {
	height:294px;
	width:222px;
}
img._idGenPageitem-159 {
	height:211px;
	width:224px;
}
img._idGenPageitem-160 {
	height:246px;
	width:175px;
}
img._idGenPageitem-161 {
	height:217px;
	width:309px;
}
img._idGenPageitem-162 {
	height:254px;
	width:195px;
}
img._idGenPageitem-163 {
	height:171px;
	width:177px;
}
img._idGenPageitem-164 {
	height:271px;
	width:248px;
}
img._idGenPageitem-165 {
	height:292px;
	width:190px;
}
img._idGenPageitem-166 {
	height:263px;
	width:336px;
}
img._idGenPageitem-167 {
	height:255px;
	width:281px;
}
img._idGenPageitem-168 {
	height:306px;
	width:204px;
}
img._idGenPageitem-169 {
	height:245px;
	width:187px;
}
img._idGenPageitem-170 {
	height:217px;
	width:201px;
}
img._idGenPageitem-171 {
	height:277px;
	width:218px;
}
img._idGenPageitem-172 {
	height:235px;
	width:193px;
}
img._idGenPageitem-173 {
	height:296px;
	width:202px;
}
img._idGenPageitem-174 {
	height:208px;
	width:253px;
}
img._idGenPageitem-175 {
	height:237px;
	width:200px;
}
img._idGenPageitem-176 {
	height:193px;
	width:279px;
}
img._idGenPageitem-177 {
	height:284px;
	width:198px;
}
img._idGenPageitem-178 {
	height:248px;
	width:218px;
}
img._idGenPageitem-179 {
	height:282px;
	width:216px;
}
img._idGenPageitem-180 {
	height:301px;
	width:228px;
}
img._idGenPageitem-181 {
	height:246px;
	width:303px;
}
img._idGenPageitem-182 {
	height:206px;
	width:300px;
}
img._idGenPageitem-183 {
	height:285px;
	width:218px;
}
img._idGenPageitem-184 {
	height:292px;
	width:277px;
}
img._idGenPageitem-185 {
	height:237px;
	width:198px;
}
img._idGenPageitem-186 {
	height:272px;
	width:213px;
}
img._idGenPageitem-187 {
	height:257px;
	width:222px;
}
img._idGenPageitem-188 {
	height:238px;
	width:265px;
}
img._idGenPageitem-189 {
	height:224px;
	width:328px;
}
img._idGenPageitem-190 {
	height:238px;
	width:295px;
}
img._idGenPageitem-191 {
	height:250px;
	width:239px;
}
img._idGenPageitem-192 {
	height:241px;
	width:205px;
}
img._idGenPageitem-193 {
	height:265px;
	width:294px;
}
img._idGenPageitem-194 {
	height:261px;
	width:288px;
}
img._idGenPageitem-195 {
	height:275px;
	width:179px;
}
img._idGenPageitem-196 {
	height:296px;
	width:224px;
}
img._idGenPageitem-197 {
	height:302px;
	width:198px;
}
img._idGenPageitem-198 {
	height:266px;
	width:311px;
}
img._idGenPageitem-199 {
	height:248px;
	width:223px;
}
img._idGenPageitem-200 {
	height:301px;
	width:221px;
}
img._idGenPageitem-201 {
	height:302px;
	width:214px;
}
img._idGenPageitem-202 {
	height:223px;
	width:334px;
}
img._idGenPageitem-203 {
	height:188px;
	width:321px;
}
img._idGenPageitem-204 {
	height:256px;
	width:242px;
}
img._idGenPageitem-205 {
	height:250px;
	width:208px;
}
img._idGenPageitem-206 {
	height:195px;
	width:192px;
}
img._idGenPageitem-207 {
	height:205px;
	width:281px;
}
img._idGenPageitem-208 {
	height:204px;
	width:258px;
}
img._idGenPageitem-209 {
	height:198px;
	width:312px;
}
img._idGenPageitem-210 {
	height:273px;
	width:195px;
}
img._idGenPageitem-211 {
	height:303px;
	width:223px;
}
img._idGenPageitem-212 {
	height:257px;
	width:244px;
}
img._idGenPageitem-213 {
	height:225px;
	width:182px;
}
img._idGenPageitem-214 {
	height:261px;
	width:270px;
}
img._idGenPageitem-215 {
	height:240px;
	width:187px;
}
img._idGenPageitem-216 {
	height:290px;
	width:200px;
}
img._idGenPageitem-217 {
	height:257px;
	width:192px;
}
img._idGenPageitem-218 {
	height:240px;
	width:305px;
}
img._idGenPageitem-219 {
	height:303px;
	width:218px;
}
img._idGenPageitem-220 {
	height:226px;
	width:173px;
}
img._idGenPageitem-221 {
	height:255px;
	width:198px;
}
img._idGenPageitem-222 {
	height:219px;
	width:191px;
}
img._idGenPageitem-223 {
	height:225px;
	width:300px;
}
img._idGenPageitem-224 {
	height:253px;
	width:229px;
}
img._idGenPageitem-225 {
	height:277px;
	width:279px;
}
img._idGenPageitem-226 {
	height:273px;
	width:229px;
}
img._idGenPageitem-227 {
	height:264px;
	width:242px;
}
img._idGenPageitem-228 {
	height:266px;
	width:196px;
}
img._idGenPageitem-229 {
	height:237px;
	width:179px;
}
img._idGenPageitem-230 {
	height:271px;
	width:218px;
}
img._idGenPageitem-231 {
	height:267px;
	width:216px;
}
img._idGenPageitem-232 {
	height:241px;
	width:223px;
}
img._idGenPageitem-233 {
	height:288px;
	width:189px;
}
img._idGenPageitem-234 {
	height:236px;
	width:207px;
}
img._idGenPageitem-235 {
	height:220px;
	width:215px;
}
img._idGenPageitem-236 {
	height:257px;
	width:214px;
}
img._idGenPageitem-237 {
	height:211px;
	width:200px;
}
img._idGenPageitem-238 {
	height:214px;
	width:218px;
}
img._idGenPageitem-239 {
	height:250px;
	width:234px;
}
img._idGenPageitem-240 {
	height:199px;
	width:290px;
}
img._idGenPageitem-241 {
	height:265px;
	width:180px;
}
img._idGenPageitem-242 {
	height:306px;
	width:219px;
}
img._idGenPageitem-243 {
	height:293px;
	width:171px;
}
img._idGenPageitem-244 {
	height:239px;
	width:324px;
}
img._idGenPageitem-245 {
	height:250px;
	width:225px;
}
img._idGenPageitem-246 {
	height:211px;
	width:307px;
}
img._idGenPageitem-247 {
	height:237px;
	width:327px;
}
img._idGenPageitem-248 {
	height:228px;
	width:234px;
}
img._idGenPageitem-249 {
	height:342px;
	width:198px;
}
img._idGenPageitem-250 {
	height:248px;
	width:251px;
}
img._idGenPageitem-251 {
	height:268px;
	width:199px;
}
img._idGenPageitem-252 {
	height:320px;
	width:209px;
}
img._idGenPageitem-253 {
	height:216px;
	width:201px;
}
img._idGenPageitem-254 {
	height:236px;
	width:326px;
}
img._idGenPageitem-255 {
	height:251px;
	width:224px;
}
img._idGenPageitem-256 {
	height:247px;
	width:249px;
}
img._idGenPageitem-257 {
	height:662px;
	width:444px;
}
