@font-face {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : normal;
	src : url("fonts/LiberationSerif.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : bold;
	src : url("fonts/LiberationSerif-Bold.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : italic ;
	font-weight : bold;
	src : url("fonts/LiberationSerif-BoldItalic.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : italic ;
	font-weight : normal;
	src : url("fonts/LiberationSerif-Italic.ttf");
}
@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.Normal {
	font-family : "ITC Century Book", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.metin {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.kisim-baslik {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.metin-italik {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.bolum-baslik {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
}
span.alinti-italik {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.77em;
}
span.metin-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.kisim-baslik-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.metin-italik-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.Normal-1 {
	font-family : "ITC Century Book", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.metin-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.char-style-override-1 {
	font-family : "Liberation Serif", serif;
	font-size : 0.67em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-2 {
	font-size : 0.67em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-3 {
	font-size : 0.67em;
}
span.char-style-override-4 {
	font-family : "Liberation Serif", serif;
	font-size : 0.67em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-5 {
	font-size : 0.94em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-6 {
	font-size : 0.94em;
}
span.char-style-override-7 {
	color : #0000ff;
	font-family : "Liberation Serif", serif;
	font-size : 0.67em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-8 {
	font-family : "Liberation Serif", serif;
	font-size : 1.92em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-9 {
	font-family : "Liberation Serif", serif;
	font-size : 1.17em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-10 {
	font-family : "Liberation Serif", serif;
	font-size : 1.5em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-11 {
	font-size : 1.2em;
}
span.char-style-override-12 {
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-13 {
	font-size : 1.3em;
}
span.char-style-override-14 {
	color : #0000ff;
}
span.char-style-override-15 {
	font-size : 1.17em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-16 {
	font-style : italic;
	font-weight : bold;
}
span.char-style-override-17 {
	font-style : italic;
	font-weight : normal;
}
p.Normal {
	font-family : "ITC Century Book", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.metin {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.38;
	text-align : left;
	color : #000000;
	text-indent : 20px;
	margin : 0px 35px;
}
p.anabaslik {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 250px 0px 50px 0px;
}
p.arabaslik-orta {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.08;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 30px 0px 70px 0px;
}
p.alinti {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.77em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.49;
	text-align : justify;
	color : #000000;
	text-indent : 11px;
	margin : 0px 0px 0px 11px;
}
p.kisim-baslik {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.21;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.resim {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.56;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 30px 0px;
}
p.metin-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.38;
	text-align : justify;
	color : #000000;
	text-indent : 11px;
	margin : 0px;
}
p.anabaslik-1 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 250px 0px 50px 0px;
}
p.paragraf {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : left;
	color : #000000;
	text-indent : 20px;
	margin : 0px 35px;
}
p.perde-yazar {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.22;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 30px 0px 0px 0px;
}
p.paragraf-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.perde-yazar-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.22;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 30px 0px 0px 0px;
}
p.No-Paragraph-Style {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Basic-Paragraph {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Normal-1 {
	font-family : "ITC Century Book", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.dipnotlar {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.71em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.18;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.paragraf-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : left;
	color : #000000;
	text-indent : 20px;
	margin : 0px 35px;
}
p.perde-yazar-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.22;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 30px 0px 0px 0px;
}
p.metin-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.38;
	text-align : justify;
	color : #000000;
	text-indent : 11px;
	margin : 0px;
}
p.perde-yazar-3 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.22;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 30px 0px 0px 0px;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0px;
	margin-bottom : 0px;
}
p.para-style-override-2 {
	margin-bottom : 20px;
	margin-top : 30px;
}
p.para-style-override-3 {
	margin-top : 20px;
}
p.para-style-override-4 {
	margin-bottom : 30px;
	margin-top : 20px;
}
p.para-style-override-5 {
	margin-bottom : 20px;
	margin-top : 30px;
	text-align : center;
}
p.para-style-override-6 {
	text-align : center;
}
p.para-style-override-7 {
	margin-top : 50px;
	text-align : center;
}
p.para-style-override-8 {
	margin-left : 150px;
	margin-right : 100px;
	margin-top : 50px;
	text-align : left;
	text-indent : 0px;
}
p.para-style-override-9 {
	margin-left : 150px;
	margin-right : 100px;
	text-align : left;
	text-indent : 0px;
}
p.para-style-override-10 {
	margin-right : 55px;
	text-align : center;
	text-indent : 0px;
}
p.para-style-override-11 {
	margin : 30px 35px 70px 35px;
}
p.para-style-override-12 {
	margin-bottom : 20px;
	margin-left : 35px;
	margin-right : 35px;
	text-align : right;
}
p.para-style-override-13 {
	margin-left : 35px;
	margin-right : 35px;
	text-align : left;
	text-indent : 20px;
}
p.para-style-override-14 {
	margin-left : 35px;
	margin-right : 35px;
	margin-top : 150px;
}
p.para-style-override-15 {
	margin-left : 35px;
	margin-right : 35px;
}
p.para-style-override-16 {
	margin-left : 35px;
	margin-right : 35px;
	margin-top : 20px;
	text-indent : 20px;
}
p.para-style-override-17 {
	margin-left : 35px;
	margin-right : 35px;
	text-indent : 20px;
}
p.para-style-override-18 {
	margin-bottom : 20px;
	margin-left : 35px;
	margin-right : 35px;
	text-indent : 20px;
}
p.para-style-override-19 {
	margin-bottom : 20px;
	margin-top : 20px;
}
p.para-style-override-20 {
	margin : 20px 35px;
	text-indent : 20px;
}
p.para-style-override-21 {
	margin-left : 35px;
	margin-right : 35px;
	margin-top : 20px;
}
p.para-style-override-22 {
	margin-left : 35px;
	margin-right : 35px;
	text-align : right;
}
p.para-style-override-23 {
	margin-bottom : 20px;
	margin-left : 35px;
	margin-right : 35px;
	text-align : left;
}
p.para-style-override-24 {
	margin-left : 85px;
	margin-right : 35px;
	text-indent : 20px;
}
p.para-style-override-25 {
	margin-top : 30px;
	text-align : center;
}
p.para-style-override-26 {
	margin : 10px 35px 20px 35px;
	text-align : right;
}
p.para-style-override-27 {
	margin-top : 10px;
}
p.para-style-override-28 {
	margin-right : 80px;
}
p.para-style-override-29 {
	margin-right : 80px;
	margin-top : 20px;
}
p.para-style-override-30 {
	margin-left : 150px;
	margin-right : 200px;
}
p.para-style-override-31 {
	margin-bottom : 20px;
	margin-left : 150px;
	margin-right : 200px;
	text-align : right;
}
div.Basic-Text-Frame {
}
div.Basic-Text-Frame-1 {
}
div.Basic-Text-Frame-2 {
}
div.Basic-Text-Frame-3 {
}
div.Basic-Text-Frame-4 {
}
div.Basic-Text-Frame-5 {
}
div.Basic-Text-Frame-6 {
}
div.Basic-Text-Frame-7 {
}
div.Basic-Text-Frame-8 {
}
