body {}
p.Standard {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0}
h1 {margin-left:0;margin-right:0;margin-top:15.987401px;margin-bottom:8.012598px;border:none;padding:0;text-align:center;font-weight:bold;font-size:175%;clear:left}
h2 {margin-left:0;margin-right:0;margin-top:15.987401px;margin-bottom:8.012598px;border:none;padding:0;text-align:center;font-style:normal;font-weight:bold;font-size:133%;clear:left}
