p{text-indent:-1.3em;margin-left:1.3em;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.27em;font-family:Cambria,serif;font-size:100%}
.p0{text-indent:0;margin-left:0;line-height:115%;text-align:center;margin-bottom:.45em}
.p1{text-indent:0;margin-left:0;text-align:center;margin-bottom:0}
.p2{text-indent:0;margin-left:0;line-height:115%;text-align:center;margin-bottom:0}
.p3{text-indent:0;margin-left:0;line-height:115%;margin-bottom:.45em}
.p4{text-indent:0;margin-left:0;line-height:115%;text-align:left;margin-bottom:.45em}
.p5{text-indent:0;margin-left:0;line-height:115%;text-align:right;margin-bottom:.45em}
.p6{text-indent:0;margin-left:2.6em;line-height:115%;margin-bottom:.45em}
.p7{text-indent:0;margin-left:0;line-height:115%;text-align:left;margin-bottom:.91em}
.p8{text-indent:0;margin-left:2.6em;line-height:115%;text-align:left;margin-bottom:.45em}
.p10{text-indent:-1.3em;text-align:left}
.p11{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;margin-top:.67em;margin-bottom:5em;font-family:Cambria,serif;font-size:164%;font-weight:bold}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:2.1em;margin-bottom:1.3em;font-family:Cambria,serif;font-size:127%;font-weight:bold}
.h21{text-indent:0}
h3{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:3em;margin-bottom:.86em;font-family:Cambria,serif;font-size:127%;font-weight:bold}
.h31{text-indent:0}
.t1{font-size:1.8em;line-height:115%}
.t2{font-family:"Book Antiqua",serif;font-size:.36em;line-height:115%}
.t3{font-family:"Book Antiqua",serif;font-size:2.2em;line-height:115%;font-weight:bold}
.t4{font-family:"Book Antiqua",serif;font-size:.091em;line-height:115%;font-weight:bold}
.t5{font-family:"Arial Black",sans-serif;font-size:1.8em;line-height:100%}
.t6{font-family:"Book Antiqua",serif;font-size:2.4em;line-height:100%;font-weight:bold}
.t7{font-family:"Book Antiqua",serif;font-size:2.5em;line-height:100%;font-weight:bold}
.t8{font-family:"Book Antiqua",serif;font-size:1.1em;line-height:115%;font-style:italic}
.t9{font-size:1.1em;line-height:115%}
.t10{font-size:1.1em;line-height:115%;font-weight:bold}
.t12{font-family:"Book Antiqua",serif;font-size:1.8em;line-height:115%;font-style:italic}
.t13{font-weight:bold}
.t14{font-style:italic}
.t15{font-size:.73em;line-height:115%}
.t16{font-size:.82em;line-height:115%}
.t17{font-size:.65em;line-height:115%;vertical-align:super}
.t18{font-size:.91em;line-height:115%}
.t19{font-size:.59em;line-height:115%;vertical-align:super}
.t20{font-size:.65em;line-height:115%;font-style:italic;vertical-align:super}
.t21{font-size:1.3em;line-height:115%;font-weight:bold}
.t22{font-size:.59em;line-height:115%;font-style:italic;vertical-align:super}
.t23{font-size:.91em;line-height:115%;font-style:italic}
.t24{font-size:.91em;line-height:115%;font-weight:bold}
.t25{font-size:.65em;line-height:115%;font-weight:bold;vertical-align:super}
.t26{font-weight:bold;font-style:italic}
.t27{font-size:.53em;line-height:100%;vertical-align:super}
.t28{font-size:.82em;line-height:100%}
.t29{font-size:.82em;line-height:100%;font-style:italic}
.t30{font-size:.82em;line-height:100%;font-weight:bold;font-style:italic}
.t31{font-size:.82em;line-height:100%;font-weight:bold}
.t32{font-size:.64em;line-height:100%}
.th22{font-style:italic}
.th23{font-size:.65em;line-height:115%;vertical-align:super}
.th32{font-style:italic}