.block {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block1 {
    display: block;
    font-size: 1.33333em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 7.2pt;
    padding: 0;
    margin: 6pt 0
    }
.block2 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block4 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: right;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block5 {
    display: block;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 7.2pt
    }
.block6 {
    display: block;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 7.2pt 3pt
    }
.block7 {
    display: block;
    font-family: serif;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 7.2pt;
    padding: 0;
    margin: 6pt 0
    }
.block8 {
    display: block;
    font-family: serif;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block9 {
    display: block;
    font-size: 1.11111em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 8.5pt;
    text-transform: uppercase;
    padding: 0;
    margin: 12pt 0 3pt
    }
.block10 {
    display: block;
    font-family: serif;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: center;
    text-indent: 8.5pt;
    padding: 0;
    margin: 12pt 0 3pt
    }
.block11 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: center;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block12 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: center;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0 6pt 206pt
    }
.block13 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: left;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0 6pt 61.5pt
    }
.block14 {
    display: block;
    font-family: serif;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: left;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0 6pt 61.5pt
    }
.block15 {
    display: block;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 7.2pt 0
    }
.block16 {
    display: block;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-indent: 8.5pt;
    padding: 0;
    margin: 0 7.2pt 3pt
    }
.block17 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0 6pt 44.5pt
    }
.block18 {
    display: block;
    font-family: serif;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0 6pt 44.5pt
    }
.block19 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0 6pt 242pt
    }
.block20 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    padding: 0;
    margin: 6pt 77.7pt 6pt 106pt
    }
.block21 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 36pt;
    padding: 0;
    margin: 6pt 0 6pt 216pt
    }
.block22 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 36pt;
    padding: 0;
    margin: 6pt 0 6pt 288pt
    }
.block23 {
    display: block;
    font-size: 0.88889em;
    font-style: italic;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 50.4pt 6pt 36pt
    }
.block24 {
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 50.4pt 6pt 36pt
    }
.calibre {
    color: black;
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 1.125em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    white-space: pre-wrap
    }
.tab {
    white-space: pre-wrap
    }
.text {
    font-style: italic;
    font-weight: bold
    }
h1
{
text-align:center;
Font-size:1em;
}
h2
{
text-align:center;
Font-size:1em;
}
p{
text-align:justify;
text-indent:1.5em;
}
