p{text-indent:.57em;margin-left:0;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.6em;font-family:Cambria,serif;font-size:91%}
.p0{text-indent:0;margin-left:0;text-align:center;margin-bottom:0}
.p1{text-indent:.57em;text-align:left}
.p2{text-indent:.57em;text-align:center}
.p3{text-indent:0;margin-left:0;text-align:center}
.p4{text-indent:0;margin-left:0;margin-bottom:1em}
.p6{text-indent:0;margin-left:0;text-align:center;margin-bottom:1em}
.p7{text-indent:0;margin-left:0}
.p8{text-indent:.71em;margin-left:0}
.p9{text-indent:0;margin-left:0;text-align:left;margin-bottom:1em}
.p10{text-indent:0;margin-left:0;text-align:right}
.p11{text-indent:.57em;margin-right:2.2em;margin-top:.025em}
.p12{text-indent:.57em;margin-right:8.8em}
.p13{text-indent:.57em;margin-right:9.2em}
.p14{text-indent:.57em;margin-right:.53em}
.p15{text-indent:.57em;margin-top:.025em}
.p16{text-indent:.57em;margin-right:12em}
.p17{text-indent:.57em;margin-top:.17em}
.p18{text-indent:.57em;margin-top:.19em}
.p19{text-indent:.57em;margin-top:.24em}
.p20{text-indent:.57em;margin-right:2.6em;margin-top:.025em}
.p21{text-indent:.57em;margin-right:13em}
.p22{text-indent:.57em;margin-top:.15em}
.p23{text-indent:.57em;margin-right:4.6em}
.p24{text-indent:.57em;margin-right:2.3em}
.p25{text-indent:.57em;margin-right:2.3em;margin-top:.025em}
.p26{text-indent:.57em;margin-right:14em}
.p27{text-indent:0;margin-left:0;margin-right:.055em}
.p28{text-indent:.57em;margin-right:.12em}
.p29{text-indent:.57em;margin-right:.095em}
.p30{text-indent:.57em;margin-top:.22em}
.p31{text-indent:.57em;margin-right:.29em}
.p32{text-indent:.57em;margin-right:.29em;margin-top:.22em}
.p33{text-indent:.57em;margin-top:.27em}
.p34{text-indent:.57em;margin-right:.025em;margin-top:.24em}
.p35{text-indent:.57em;margin-right:.05em}
.p36{text-indent:.57em;margin-right:.15em}
.p37{text-indent:.57em;margin-right:.095em;margin-top:.025em}
.p38{text-indent:.57em;margin-right:.07em}
.p39{text-indent:.57em;margin-right:.17em}
.p40{text-indent:.57em;margin-right:.19em;margin-top:.025em}
.p41{text-indent:.57em;margin-right:.025em}
.p42{text-indent:.57em;margin-top:.48em}
.p43{text-indent:.57em;margin-right:.025em;margin-top:.05em}
.p44{text-indent:.57em;margin-right:.025em;margin-top:.025em}
.p45{text-indent:.57em;margin-right:.05em;margin-top:.025em}
.p46{text-indent:.57em;margin-right:.07em;margin-top:.36em}
.p47{text-indent:.57em;text-align:left;margin-bottom:1em}
.p48{text-indent:.57em;margin-right:.19em}
.p49{text-indent:.57em;margin-right:.27em}
.p50{text-indent:.57em;margin-right:.24em}
.p51{text-indent:.57em;margin-right:.12em;margin-top:.025em}
.p52{text-indent:.57em;margin-right:.31em;margin-top:.025em}
.p53{text-indent:.57em;margin-right:.22em}
.p54{text-indent:.57em;margin-right:11em}
.p55{text-indent:.57em;margin-right:.29em;margin-top:.05em}
.p56{text-indent:.57em;margin-right:.12em;margin-top:.095em}
.p57{text-indent:.57em;margin-right:.17em;margin-top:.025em}
.p58{text-indent:.57em;margin-right:.15em;margin-top:.025em}
.p59{text-indent:.57em;margin-top:.05em}
.p60{text-indent:.57em;margin-right:.39em}
.p61{text-indent:.57em;margin-right:.31em}
.p62{text-indent:.57em;margin-right:.39em;margin-top:.05em}
.p63{text-indent:.57em;margin-right:.07em;margin-top:.025em}
.p64{text-indent:.57em;margin-right:.22em;margin-top:.025em}
.p65{text-indent:.57em;margin-right:.31em;margin-top:.05em}
.p66{text-indent:.57em;margin-right:.29em;margin-top:.025em}
.p67{text-indent:.57em;margin-right:.27em;margin-top:.025em}
.p68{text-indent:.57em;margin-top:.07em}
.p69{text-indent:.57em;margin-top:.12em}
.p70{text-indent:.57em;margin-right:.34em;margin-top:.05em}
.p71{text-indent:.57em;margin-right:.24em;margin-top:.025em}
.p72{text-indent:.57em;margin-right:.36em}
.p73{text-indent:.57em;margin-right:.34em}
.p74{text-indent:.57em;margin-right:.24em;margin-top:.05em}
.p75{text-indent:0;margin-left:0;text-align:left}
.p76{text-indent:0;margin-left:0;margin-right:.055em;margin-top:.07em}
.p77{text-indent:.57em;margin-right:18em;margin-top:.025em}
.p78{text-indent:.57em;margin-top:.39em}
.p79{text-indent:.57em;margin-top:.31em}
.p80{text-indent:.57em;margin-right:11em}
.p81{text-indent:0;margin-left:0;margin-top:.07em;margin-bottom:0}
.p82{text-indent:0;margin-left:0;margin-top:.07em}
.p83{text-indent:.57em;margin-right:.15em;margin-top:.05em}
.p84{text-indent:0;margin-left:0;margin-top:.15em}
.p85{text-indent:.57em;margin-top:.36em}
.p86{text-indent:.57em;margin-right:.99em}
.p87{text-indent:.57em;margin-right:6.6em}
.p88{text-indent:.57em;margin-right:.005em}
.p89{text-indent:.57em;margin-right:1.3em}
.p90{text-indent:.57em;margin-right:1.3em}
.p91{text-indent:0;margin-left:0;margin-top:.34em}
.p92{text-indent:0;margin-left:0;margin-right:.055em;margin-top:.12em}
.p93{text-indent:.57em;margin-left:13em;margin-right:6.6em}
.p94{text-indent:.57em;margin-right:6.6em;margin-top:.095em}
.p95{text-indent:0;margin-left:0;margin-top:.17em}
.p96{text-indent:.57em;margin-top:1.1em}
.p97{text-indent:.57em;margin-right:.025em;margin-top:.41em}
.p98{text-indent:0;margin-left:0;margin-right:.085em}
.p99{text-indent:.57em;margin-right:.05em;margin-top:.22em}
.p100{text-indent:.57em;margin-right:.15em;margin-top:.24em}
.p101{text-indent:.57em;margin-right:.07em;margin-top:.34em}
.p102{text-indent:.57em;margin-top:.29em}
.p103{text-indent:.57em;margin-right:.025em;margin-top:.36em}
.p104{text-indent:.57em;margin-right:.095em;margin-top:.39em}
.p105{text-indent:.57em;margin-right:.07em;margin-top:.41em}
.p106{text-indent:.57em;margin-top:.46em}
.p107{text-indent:.57em;margin-right:.05em;margin-top:.05em}
.p108{text-indent:.57em;text-align:center;margin-top:.24em}
.p109{text-indent:.57em;text-align:left;margin-top:.24em}
.p110{text-indent:.57em;text-align:center;margin-top:.025em}
.p111{text-indent:0;margin-left:0;margin-top:.6em}
.p112{text-indent:.57em;margin-top:.6em}
.p113{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1em;margin-bottom:0;font-family:Cambria,serif;font-size:218%;font-weight:bold}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;margin-top:.56em;margin-bottom:0;font-family:Cambria,serif;font-size:164%;font-weight:bold}
.h21{text-indent:.31em;margin-left:0;text-align:justify;margin-bottom:.33em}
.h22{text-indent:0}
h3{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;margin-top:.56em;margin-bottom:0;font-family:Cambria,serif;font-size:164%;font-weight:bold}
.h31{text-indent:0}
.t1{font-size:1.1em}
.t2{font-size:2.4em;font-weight:bold}
.t3{font-size:.8em;font-weight:bold}
.t4{font-size:2.4em}
.t5{font-size:1.6em}
.t6{font-size:2em}
.t7{font-size:1.8em;text-decoration:underline}
.t8{font-size:1.8em}
.t9{font-size:.9em;font-weight:bold}
.t10{font-size:.9em}
.t11{font-size:.9em;font-style:italic}
.t13{font-size:1.8em;font-weight:bold}
.t14{text-decoration:underline}
.t15{font-size:.9em;text-decoration:underline}
.t16{font-size:1.4em}
.t17{font-weight:bold}
.t18{font-style:italic}
.t19{font-weight:bold;font-style:italic}
.t20{font-size:.65em;vertical-align:super}
.t21{font-size:.65em;vertical-align:super;text-decoration:underline}
.t22{font-size:.8em}
.t23{font-size:1.2em}
.t24{font-weight:bold;letter-spacing:-.05em}
.t25{letter-spacing:-.1em}
.t26{font-style:italic;letter-spacing:-.1em}
.t27{font-size:.65em;font-style:italic;vertical-align:super}
.t28{letter-spacing:.3em}
.t29{font-weight:bold;letter-spacing:.15em}
.t30{font-size:.65em;font-style:italic;vertical-align:super;text-decoration:underline}
.t31{font-size:1.6em;font-style:italic}
.t32{font-style:italic;letter-spacing:-.05em}
.t33{font-size:.65em;background:yellow;vertical-align:super;text-decoration:underline}
.th22{font-size:.56em;font-weight:normal}