.ufak {
    font-size: 68%;
}

.not {
    margin-left: 5%;
    margin-right 10%;
}


.uzunara {
    margin-left: 30%;
    margin-right: 30%;
}


.merkez {
    text-align: center
}

.ufakcaps {
    font-variant: small-caps;
}

p.noind {
    text-align: justify;
    text-indent: 0;
}