.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    margin: 0.5em 0
    }
.calibre2 {
    font-style: italic;
    font-weight: bold
    }
.calibre3 {
    display: block
    }
.calibre4 {
    line-height: 1.2
    }
.calibre5 {
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.calibre6 {
    font-weight: bold
    }
.calibre7 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0.5em 0
    }
.calibre8 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre9 {
    display: block;
    line-height: 1.2
    }
.calibre10 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em;
    margin: 0.5em 0
    }
.calibre11 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 1em 0
    }
.calibre12 {
    font-style: italic
    }
.calibre13 {
    text-decoration: underline
    }
.calibre14 {
    font-weight: bold;
    text-decoration: underline
    }
.sgc-toc-level {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.sgc-toc-level1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.sgc-toc-title {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center
    }
.sigil_not_in_toc {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.83em 0
    }
.sigil_not_in_toc1 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.sigil_not_in_toc2 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    margin: 1em 0
    }
