p{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.55em;font-family:Cambria,serif;font-size:100%}
.p0{text-indent:0;text-align:center;margin-bottom:0}
.p1{text-indent:0;line-height:100%;text-align:center;margin-bottom:0}
.p2{text-indent:0;line-height:100%;text-align:center;margin-top:-.091em;margin-bottom:-.091em}
.p3{text-indent:0;text-align:center}
.p4{text-indent:0;line-height:115%;text-align:center;page-break-after:avoid;margin-top:2.2em;margin-bottom:0}
.p5{text-indent:0;text-align:left;margin-top:1.1em}
.p6{text-indent:0;margin-left:.91em;text-align:left;margin-top:.55em;margin-bottom:0}
.p8{text-indent:0;line-height:100%;text-align:left;margin-top:-.091em;margin-bottom:-.091em}
.p9{text-indent:0;text-align:right}
.p10{text-indent:0;margin-bottom:0}
.p11{text-indent:-.9em;margin-left:.9em;line-height:100%;margin-bottom:.27em}
.p12{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;margin-top:.86em;margin-bottom:2.1em;font-family:Cambria,serif;font-size:127%;font-weight:bold}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1em;margin-bottom:3em;font-family:Cambria,serif;font-size:109%;font-weight:bold}
.h21{text-indent:0}
.t1{font-size:1.1em;line-height:120%}
.t2{font-family:"Lucida Calligraphy",cursive;font-size:5.5em;line-height:100%}
.t3{font-family:"Lucida Calligraphy",cursive;font-size:4.5em;line-height:100%;font-weight:bold;color:#c00000}
.t4{font-size:2em;line-height:100%}
.t5{font-size:1.6em;line-height:100%}
.t6{font-size:.91em;line-height:100%}
.t8{font-size:.91em;line-height:120%}
.t9{font-size:.91em;line-height:120%;font-weight:bold}
.t10{font-size:.73em;line-height:120%}
.t11{font-weight:bold}
.t12{font-size:1.3em;line-height:115%;font-weight:bold;color:#365f91}
.t13{font-family:Calibri,sans-serif;font-weight:bold}
.t14{font-family:Calibri,sans-serif}
.t15{font-family:Calibri,sans-serif;font-style:italic}
.t17{font-style:italic}
.t18{font-size:.82em;line-height:100%}
.t19{font-size:.82em;line-height:120%}
.t20{letter-spacing:-.0091em}
.t21{font-size:.82em;line-height:120%;letter-spacing:-.011em}
.t22{font-style:italic}
.t23{font-size:.65em;line-height:120%;vertical-align:super}
.t24{font-size:.47em;line-height:100%;vertical-align:super}
.t25{font-size:.73em;line-height:100%}
.th12{font-size:.79em;line-height:100%}