p{text-indent:1.3em;margin-left:.26em;line-height:115%;margin-right:.26em;text-align:justify;margin-top:0;margin-bottom:.91em;font-family:Tahoma,sans-serif;font-size:100%}
.p0{text-indent:0;margin-left:.26em;text-align:center;margin-bottom:0}
.p1{text-indent:0;margin-left:.26em;text-align:center}
.p2{text-indent:0;margin-left:.26em;line-height:100%;text-align:left;margin-bottom:0}
.p3{text-indent:0;margin-left:.26em;line-height:200%;text-align:center;margin-top:1.1em;margin-bottom:1.1em}
.p4{text-indent:0;margin-left:.26em;line-height:100%;text-align:center;margin-bottom:0}
.p5{text-indent:0;margin-left:.26em}
.p6{text-indent:0;margin-left:0;line-height:1.4em;margin-right:0;text-align:right;margin-top:.55em;margin-bottom:0}
.p7{text-indent:0;margin-left:.26em;text-align:left}
.p9{text-indent:0;margin-left:.26em;line-height:100%;text-align:left;margin-bottom:1.8em}
.p10{text-indent:1.3em;text-align:left}
.p11{text-indent:0;margin-left:.26em;margin-bottom:1.8em}
.p12{text-indent:0;margin-left:.26em;text-align:left;margin-bottom:1.8em}
.p13{text-indent:0;margin-left:.26em;text-align:center;margin-bottom:.27em}
.p14{text-indent:0;margin-left:.26em;text-align:center;margin-bottom:1.8em}
.p15{text-indent:1.3em;text-align:right}
.p16{text-indent:0;margin-left:.26em;margin-bottom:0}
.p17{text-indent:0}
h1{text-indent:0;margin-left:.2em;line-height:150%;margin-right:.2em;text-align:center;page-break-after:avoid;margin-top:.86em;margin-bottom:.86em;font-family:Cambria,serif;font-size:127%;font-weight:bold;color:#365f91}
.h11{text-indent:0}
.t3{font-family:Cambria,serif;font-size:1.8em;line-height:200%;font-weight:bold;color:red}
.t4{font-family:Cambria,serif;font-size:1.6em;line-height:200%;color:#0070c0}
.t5{font-family:Cambria,serif;font-size:2.2em;line-height:200%;font-weight:bold;color:#0070c0}
.t6{font-weight:bold}
.t7{font-size:.82em;line-height:100%}
.t8{font-weight:bold}
.t9{font-style:italic}
.t11{font-style:italic}
.t12{font-weight:bold;font-style:italic}
.t13{font-size:.65em;line-height:115%;vertical-align:super}
.th12{color:#0070c0}
.th13{color:black}