.baslik {
  text-align: center;
  margin: 5em auto 0 auto;
}
.baslik1 {
  text-align: center;
  margin: 3em auto 0.5em auto;
}
.baslik2 {
  text-align: center;
  margin: 0.5em auto 2em auto;
}
.chapter p {
  text-indent: 1.5em;
  margin: 0;
  line-height: 1.3em;
}
.si-noteref {
  text-decoration: none;
  color: #7A7A7A;
  font-size: 0.75em;
  vertical-align: super;
  padding-left: 0.1em;
}
.si-footnotes {
  margin: 4em 0 1em;
}
.si-backref {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.si-footnote {
  font-size: 0.8em;
  margin-bottom: 0.25em;
}
.chapter img {
  width: 100%;
}
.rsm {
  max-width: 450px;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.r-baslik {
  text-align: center;
}
.yildiz, .h-margin {
  border: none;
  margin: 2em auto;
  text-align: center;
}
.yildiz:after {
  content: "* * *";
}
.alinti {
  margin: 1em auto 1em 1em;
}
.son-p {
  text-align: center;
  margin: 2em auto !important;
}
/*Biography*/
.biography p, .books p {
  margin: 0;
  line-height: 1.5em;
}
.s-margin {
  margin-top: 5em;
}
/*Copyright*/
.c-margin {
  margin-top: 3em;
}
/*Titlepage*/
.titlepage {
  text-align: center;
}
.t-1 {
  margin: 0;
}
.t-2 {
  margin: 0;
}
.t-3 {
  margin: 0 auto 2em auto;
}
.t-4 {
  margin: 0;
}
.t-5 {
  margin: 0.5em auto;
}
.first {
  font-size: 1.1em;
}
/*Cover*/
.logo {
  margin: 3em auto 0 auto;
}
