.calibre1 {
  margin: 1em 0;
}
.calibre2 {
  height: auto;
  width: auto;
}
.calibre3 {
  font-weight: bold;
  margin: 0.83em 0;
}
p {
  text-align: justify;
  text-indent: 0;
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  text-indent: 0;
}
