p{text-indent:0;margin-left:0;line-height:115%;margin-right:0;margin-top:0;margin-bottom:.42em;font-size:86%}
.p0{text-indent:0;line-height:140%}
.p1{text-indent:0;line-height:120%}
.p2{text-indent:0;line-height:140%;margin-bottom:.53em}
.p3{text-indent:0;margin-left:8.2em;line-height:120%}
.p4{text-indent:0;margin-left:16em;line-height:120%}
.p6{text-indent:6em;margin-left:0}
.p7{text-indent:0;margin-left:9em}
.p8{text-indent:10em;margin-left:9em}
.p9{text-indent:2.2em;margin-left:.11em;line-height:130%;margin-right:.21em}
.p10{text-indent:2.3em;margin-left:.11em;line-height:130%;margin-right:.11em}
.p11{text-indent:2.2em;margin-left:.11em;line-height:130%;margin-right:.11em}
.p12{text-indent:0;line-height:130%;text-align:center}
.p13{text-indent:0;margin-left:.11em;line-height:130%;margin-right:.11em}
.p14{text-indent:2.2em;margin-left:.11em;line-height:130%}
.p15{text-indent:2.1em;margin-left:.32em;line-height:130%}
.p16{text-indent:2.1em;margin-left:.32em;line-height:130%;margin-right:.11em}
.p17{text-indent:2.2em;margin-left:.11em;line-height:130%;margin-right:.11em;text-align:justify}
.p18{text-indent:2.3em;margin-left:.11em;line-height:130%}
.p19{text-indent:2.3em;margin-left:.11em;line-height:130%;margin-right:.11em;text-align:justify}
.p20{text-indent:0;margin-left:2.4em;line-height:130%;margin-right:.11em}
.p21{text-indent:0;margin-left:5.7em;line-height:130%}
.p22{text-indent:2.3em;margin-left:.21em;line-height:130%;margin-right:.11em}
.p23{text-indent:2.3em;margin-left:.21em;line-height:130%}
.p24{text-indent:2.2em;margin-left:0;line-height:130%}
.p25{text-indent:2.2em;margin-left:0;line-height:130%;margin-right:.11em}
.p26{text-indent:0;line-height:130%}
.p27{text-indent:2.2em;margin-left:.53em;line-height:130%;margin-right:.42em}
.p28{text-indent:2em;margin-left:.42em;line-height:130%;margin-right:.42em}
.p29{text-indent:0;margin-left:.11em;line-height:130%;page-break-after:avoid;margin-top:2.2em}
.p30{text-indent:0}
h1{text-indent:0;margin-left:0;line-height:140%;margin-right:0;page-break-after:avoid;margin-top:.57em;margin-bottom:0;font-size:95%;font-weight:bold;color:#c00000}
.h10{text-indent:0;margin-left:3.4em;line-height:120%}
.h12{text-indent:0;line-height:120%}
.h13{text-indent:0}
.t2{font-weight:bold}
.t4{font-style:italic}
.t6{font-weight:bold}
.t7{font-style:italic}
.t9{font-style:italic}
.t10{font-size:1.1em;line-height:130%;font-weight:bold}
.t11{font-size:1.1em;line-height:130%}
.t12{font-weight:bold}
.th13{font-style:italic}