@font-face{font-style:normal;font-weight:normal;}
@font-face{font-style:italic;font-weight:normal;}
@font-face{font-style:normal;font-weight:normal;}
@font-face{font-style:italic;font-weight:bold;}
@font-face{font-style:normal;font-weight:bold;}
@font-face{font-style:italic;font-weight:normal;}
@font-face{font-style:normal;font-weight:normal;}
@font-face{font-style:normal;font-weight:normal;}
@font-face{font-style:italic;font-weight:normal;}
@font-face{font-style:italic;font-weight:normal;}
@font-face{font-style:normal;font-weight:bold;}
@font-face{font-style:normal;font-weight:bold;}
@font-face{font-style:italic;font-weight:bold;}
@font-face{font-style:italic;font-weight:bold;}
p{text-indent:1.3em;margin-left:.52em;margin-right:0;text-align:justify;margin-top:0;margin-bottom:0;font-family:Calibri,sans-serif;font-size:100%;color:#231f20}
.li1{font-family:Calibri,sans-serif;font-size:100%;color:#231f20}
.linone{list-style-type:none}
.linone1{font-family:Calibri,sans-serif;font-size:100%;color:#231f20;list-style-type:none}
.p0{text-indent:0;margin-left:0;text-align:center;margin-top:.27em}
.p1{text-indent:1.3em;margin-left:2.5em;margin-top:.35em}
.p2{text-indent:2.9em;margin-left:23em}
.p3{text-indent:0;margin-left:0;margin-top:.023em}
.p4{text-indent:1.3em;margin-left:2.5em}
.p5{text-indent:2.9em;margin-left:27em}
.p6{text-indent:3.3em;margin-left:30em}
.p7{text-indent:0;margin-left:3.8em}
.p8{text-indent:0;margin-left:31em;margin-top:.25em}
.p9{text-indent:0;margin-left:26em;margin-top:.045em}
.p10{text-indent:0;margin-left:0;margin-top:.045em}
.p11{text-indent:0;margin-left:0}
.p12{text-indent:0;margin-left:0;margin-top:.036em}
.p14{text-indent:1.3em;margin-top:.0045em}
.p15{text-indent:1.3em;margin-left:.65em}
.p16{text-indent:1.5em;margin-left:.52em;margin-top:.0045em}
.p17{text-indent:1.3em;margin-top:.31em}
.p18{text-indent:-1.3em;margin-left:1.8em;margin-top:.73em}
.p19{text-indent:0;margin-left:0;margin-top:.014em}
.p20{text-indent:-1.3em;margin-left:1.8em;margin-top:.71em}
.p21{text-indent:0;margin-left:0;text-align:left}
.p22{text-indent:1.9em;margin-left:0}
.p23{text-indent:0;margin-left:1.8em}
.p24{text-indent:1.3em;margin-top:.19em}
.p25{text-indent:0;margin-left:1.8em;margin-top:.77em}
.p26{text-indent:0;margin-left:0;margin-top:.059em}
.p27{text-indent:1.3em;margin-top:.35em}
.p28{text-indent:0;margin-left:1.8em;margin-top:.19em}
.p29{text-indent:0;margin-left:0;margin-top:.041em}
.p30{text-indent:0;margin-left:0;margin-top:.0091em}
.p31{text-indent:-1.3em;margin-left:1.8em;margin-top:.69em}
.p32{text-indent:1.3em;margin-top:.1em}
.p33{text-indent:0;margin-left:.52em;margin-top:.17em}
.p34{text-indent:1.3em;margin-top:.75em}
.p35{text-indent:1.3em;margin-top:.32em}
.p36{text-indent:1.3em;margin-top:.77em}
.p37{text-indent:0;margin-left:.52em}
.p38{text-indent:0;margin-left:.52em;margin-top:.71em}
.p39{text-indent:0;margin-left:1.8em;margin-top:.17em}
.p40{text-indent:0;margin-left:1.8em;margin-top:.12em}
.p41{text-indent:0;margin-left:0;margin-top:.091em}
.p42{text-indent:0;margin-left:.52em;margin-top:.71em}
.p43{text-indent:1.3em;margin-top:.16em}
.p44{text-indent:0;margin-left:.65em;text-align:left}
.p45{text-indent:1.3em;margin-top:.12em}
.p46{text-indent:1.6em;margin-left:.52em}
.p47{text-indent:0;margin-left:.52em;margin-top:.77em}
.p48{text-indent:0;margin-left:0;margin-top:.0045em}
.p49{text-indent:1.3em;margin-left:.46em}
.p50{text-indent:1.3em;margin-left:.46em;margin-top:.0045em}
.p51{text-indent:0;margin-left:.52em;margin-top:.73em}
.p52{text-indent:.65em;margin-left:0;text-align:left}
.p53{text-indent:1.3em;margin-top:.11em}
.p54{text-indent:1.3em;margin-top:.8em}
.p55{text-indent:1.3em;margin-top:.77em}
.p56{text-indent:1.5em;margin-left:.52em;margin-top:.036em}
.p57{text-indent:0;margin-left:0;margin-top:.086em}
.p58{text-indent:1.3em;margin-top:.78em}
.p59{text-indent:0;margin-left:.52em;margin-top:.67em}
.p60{text-indent:1.3em;margin-top:.036em}
.p61{text-indent:0;margin-left:1.8em;margin-top:.1em}
.p62{text-indent:1.3em;margin-top:.2em}
.p63{text-indent:0;margin-left:.52em;margin-top:.21em}
.p64{text-indent:1.3em;margin-top:.0091em}
.p65{text-indent:1.3em;margin-top:.75em}
.p66{text-indent:.12em;margin-left:.52em;margin-top:.71em}
.p67{text-indent:1.3em;margin-top:.027em}
.p68{text-indent:1.3em;margin-top:.72em}
.p69{text-indent:1.4em;margin-left:.52em;margin-top:.35em}
.p70{text-indent:-1.3em;margin-left:1.8em;margin-top:.66em}
.p71{text-indent:1.3em;margin-top:.22em}
.p72{text-indent:0;margin-left:0;margin-top:.018em}
.p73{text-indent:0;margin-left:.52em;margin-top:.5em}
.p74{text-indent:1.3em;margin-top:.15em}
.p75{text-indent:0;margin-left:.52em;margin-top:.19em}
.p76{text-indent:0;margin-left:1.8em;margin-top:.13em}
.p77{text-indent:0;margin-left:0;margin-top:.032em}
.p78{text-indent:1.3em;margin-left:.65em}
.p79{text-indent:1.3em;margin-top:.81em}
.p80{text-indent:1.3em;margin-top:.1em}
.p81{text-indent:1.2em;margin-left:.65em}
.p82{text-indent:1.3em;margin-top:.54em}
.p83{text-indent:1.3em;margin-top:.66em}
.p84{text-indent:1.3em;margin-top:.9em}
.p85{text-indent:1.6em;margin-left:.52em;margin-top:.8em}
.p86{text-indent:1.3em;margin-top:.81em}
.p87{text-indent:1.6em;margin-left:.52em}
.p88{text-indent:-1.3em;margin-left:1.8em;margin-top:.77em}
.p89{text-indent:0;margin-left:.52em;margin-top:.0045em}
.p90{text-indent:0;margin-left:0;margin-top:.055em}
.p91{text-indent:0;margin-left:0;margin-top:.05em}
.p92{text-indent:1.3em;margin-top:.5em}
.p93{text-indent:0;margin-left:0;margin-top:.027em}
.p94{text-indent:-1.3em;margin-left:1.8em}
.p95{text-indent:0;margin-left:7.6em;margin-top:.27em}
.p96{text-indent:0;margin-left:18em;margin-top:.25em}
.p97{text-indent:0;margin-left:0;margin-top:.25em}
.p98{text-indent:0;margin-left:0;margin-top:.51em}
.p99{text-indent:1.3em;margin-top:.041em}
.p100{text-indent:0;margin-left:1.8em}
.p101{text-indent:1.3em;margin-top:.018em}
.p102{text-indent:1.3em;margin-top:.73em}
.p103{text-indent:0;margin-left:.65em;margin-top:.72em}
.p104{text-indent:0;margin-left:0;margin-top:.064em}
.p105{text-indent:0;margin-left:.65em;margin-top:.71em}
.p106{text-indent:1.5em;margin-left:.52em}
.p107{text-indent:1.6em;margin-left:.65em}
.p108{text-indent:1.6em;margin-left:.52em;margin-top:.0045em}
.p109{text-indent:0;margin-left:0;margin-top:.068em}
.p110{text-indent:1.7em;margin-left:.52em}
.p111{text-indent:0;margin-left:1.8em;margin-top:.32em}
.p112{text-indent:1.3em;margin-top:.17em}
.p113{text-indent:0;margin-left:0;margin-top:.077em}
.p114{text-indent:1.3em;margin-top:.64em}
.p115{text-indent:1.6em;margin-left:.52em;margin-top:.35em}
.p116{text-indent:1.4em;margin-left:.52em}
.p117{text-indent:1.6em;margin-left:.65em;margin-top:.71em}
.p118{text-indent:1.6em;margin-left:.52em;margin-top:.8em}
.p119{text-indent:0;margin-left:.55em;text-align:center;margin-top:.77em}
.p120{text-indent:1.6em;margin-left:.52em}
.p121{text-indent:0;margin-left:6.1em;text-align:center;margin-top:.77em}
.p122{text-indent:0;margin-left:6.1em;text-align:center;margin-top:.35em}
.p123{text-indent:0;margin-left:1.8em;margin-top:.18em}
.p124{text-indent:1.5em;margin-left:.46em;margin-top:.0045em}
.p125{text-indent:0;margin-left:10em;margin-top:.28em}
.p126{text-indent:-.65em;margin-left:.65em;text-align:left}
.p127{text-indent:0;margin-left:2.5em;text-align:center}
.p128{text-indent:1.5em;margin-left:.52em;margin-top:.8em}
.p129{text-indent:-7.9em;margin-left:8.7em;text-align:center;margin-top:.35em}
.p130{text-indent:-4.2em;margin-left:8.3em;text-align:center}
.p131{text-indent:-6.6em;margin-left:8.3em;text-align:center}
.p132{text-indent:0;margin-left:.53em;text-align:center}
.p133{text-indent:0;margin-left:.65em;text-align:center}
.p134{text-indent:-6em;margin-left:6.8em;text-align:center}
.p135{text-indent:0;margin-left:.34em;text-align:center}
.p136{text-indent:1.7em;margin-left:.52em}
.p137{text-indent:1.6em;margin-left:.34em}
.p138{text-indent:1.3em;margin-top:.65em}
.p139{text-indent:1.5em;margin-left:.52em}
.p140{text-indent:1.4em;margin-left:.52em;margin-top:.35em}
.p141{text-indent:0;margin-left:.65em;text-align:center;margin-top:.77em}
.p142{text-indent:1.3em;margin-top:.79em}
.p143{text-indent:0;margin-left:.52em;margin-top:.31em}
.p144{text-indent:1.3em;margin-top:.8em}
.p145{text-indent:0;margin-left:0;margin-top:.73em}
.p146{text-indent:1.6em;margin-left:.52em}
.p147{text-indent:1.1em;margin-left:.65em}
.p148{text-indent:1.5em;margin-left:.52em;margin-top:.31em}
.p149{text-indent:1.3em;margin-top:.34em}
.p150{text-indent:0;margin-left:.55em;text-align:center}
.p151{text-indent:-.05em;margin-left:.7em;text-align:center}
.p152{text-indent:-4.7em;margin-left:12em;margin-top:.27em}
.p153{text-indent:1.3em;margin-top:.69em}
.p154{text-indent:0;margin-left:0;margin-top:.082em}
.p155{text-indent:0;margin-left:3.1em;margin-top:.19em}
.p156{text-indent:-1.3em;margin-left:3.1em}
.p157{text-indent:-1.3em;margin-left:2.5em;margin-top:.35em}
.p158{text-indent:0;margin-left:2.5em}
.p159{text-indent:0;margin-left:0;text-align:center;margin-top:.077em}
.p160{text-indent:0;margin-left:1.2em}
.p161{text-indent:0;margin-left:2.6em}
.p162{text-indent:0;margin-left:1.2em;margin-top:.77em}
.p163{text-indent:0;margin-left:2.5em;margin-top:.19em}
.p164{text-indent:0;margin-left:1.2em;margin-top:.71em}
.p165{text-indent:0;margin-left:1.2em;margin-top:.51em}
.p166{text-indent:-1.3em;margin-left:2.5em;margin-top:.71em}
.p167{text-indent:0;margin-left:2.5em;margin-top:.17em}
.p168{text-indent:0;margin-left:3.1em}
.p169{text-indent:0;margin-left:.52em;margin-top:.68em}
.p170{text-indent:1.4em;margin-left:.52em;margin-top:.036em}
.p171{text-indent:1.3em;margin-top:.36em}
.p172{text-indent:1.3em;margin-top:.23em}
.p173{text-indent:0;margin-left:1.8em;margin-top:.8em}
.p174{text-indent:0;margin-left:1.8em;margin-top:.22em}
.p175{text-indent:0;margin-left:13em;margin-top:.22em}
.p176{text-indent:0;margin-left:2.1em;margin-top:.77em}
.p177{text-indent:0;margin-left:0;margin-top:.22em}
.p178{text-indent:1.3em;margin-top:.68em}
.p179{text-indent:0;margin-left:.52em;margin-top:.35em}
.p180{text-indent:0;margin-left:11em;margin-top:.27em}
.p181{text-indent:0;margin-left:11em;margin-top:.27em}
.p182{text-indent:1.3em;margin-top:.5em}
.p183{text-indent:0;margin-left:3.2em}
.p184{text-indent:1.3em;margin-left:1.8em}
.p185{text-indent:1.3em;margin-left:1.2em}
.p186{text-indent:1.3em;margin-left:1.8em;margin-top:.19em}
.p187{text-indent:0;margin-left:3.2em;margin-top:.35em}
.p188{text-indent:1.3em;margin-left:1.2em;margin-top:.22em}
.p189{text-indent:0;margin-left:3.2em;margin-top:.22em}
.p190{text-indent:-.0045em;margin-left:.65em;text-align:center;margin-top:.77em}
.p191{text-indent:1.3em;margin-top:.3em}
.p192{text-indent:-1.3em;margin-left:1.8em;margin-top:.47em}
.p193{text-indent:-1.3em;margin-left:1.8em;margin-top:.6em}
.p194{text-indent:-1.3em;margin-left:1.8em;margin-top:.45em}
.p195{text-indent:0;margin-left:9.8em;margin-top:.28em}
.p196{text-indent:0;margin-left:4.3em}
.p197{text-indent:0;margin-left:4.3em;margin-top:.16em}
.p198{text-indent:0;margin-left:19em;margin-top:.16em}
.p199{text-indent:0;margin-left:0;margin-top:.14em}
.p200{text-indent:0;margin-left:.65em;text-align:center;margin-top:.48em}
.p201{text-indent:-1.3em;margin-left:1.8em;margin-top:.72em}
.p202{text-indent:1.6em;margin-left:.52em}
.p203{text-indent:0;margin-left:1.8em;margin-top:.19em}
.p204{text-indent:0;margin-left:1.8em;margin-top:.35em}
.p205{text-indent:1.3em;margin-top:.8em}
.p206{text-indent:-1.3em;margin-left:3.1em;margin-top:.77em}
.p207{text-indent:-1.3em;margin-left:3.1em;margin-top:.19em}
.p208{text-indent:0;margin-left:.65em;text-align:center;margin-top:.51em}
.p209{text-indent:-1.3em;margin-left:1.8em;margin-top:.73em}
.p210{text-indent:0;margin-left:.52em;text-align:center;margin-top:.77em}
.p211{text-indent:0;margin-left:.65em;text-align:center;margin-top:.79em}
.p212{text-indent:0;margin-left:1.8em;margin-top:.77em}
.p213{text-indent:1.3em;margin-top:.65em}
.p214{text-indent:-1.3em;margin-left:1.8em;margin-top:.58em}
.p215{text-indent:-1.3em;margin-left:1.8em;margin-top:.67em}
.p216{text-indent:0;margin-left:.52em;margin-top:.45em}
.p217{text-indent:1.3em;margin-left:.46em;margin-top:.8em}
.p218{text-indent:0;margin-left:1.8em}
.p219{text-indent:1.3em;margin-left:.46em;margin-top:.19em}
.p220{text-indent:1.6em;margin-left:.52em;margin-top:.35em}
.p221{text-indent:1.5em;margin-left:.52em}
.p222{text-indent:1.3em;margin-top:.05em}
.p223{text-indent:0;margin-left:.65em;margin-top:.45em}
.p224{text-indent:1.3em;margin-top:.055em}
.p225{text-indent:1.3em;margin-top:.74em}
.p226{text-indent:0;margin-left:.52em;margin-top:.72em}
.p227{text-indent:1.3em;margin-top:.69em}
.p228{text-indent:1.3em;margin-top:.023em}
.p229{text-indent:0;margin-left:1.8em;margin-top:.33em}
.p230{text-indent:0;margin-left:.81em}
.p231{text-indent:0;margin-left:9.8em;margin-top:.71em}
.p232{text-indent:1.3em;margin-left:.46em;margin-top:.42em}
.p233{text-indent:0;margin-left:.34em;text-align:left}
.p234{text-indent:0;margin-left:0;text-align:center}
.p235{text-indent:0;margin-left:.65em;text-align:center;margin-top:.19em}
.p236{text-indent:1.3em;margin-left:.46em;margin-top:.71em}
.p237{text-indent:1.3em;margin-left:.46em;margin-top:.77em}
.p238{text-indent:1.3em;margin-top:.14em}
.p239{text-indent:1.3em;margin-top:.58em}
.p240{text-indent:-1.6em;margin-left:3.3em;margin-top:.58em}
.p241{text-indent:1.6em;margin-left:.52em}
.p242{text-indent:0;margin-left:0;margin-top:.37em}
.p243{text-indent:0;margin-left:0;margin-right:.52em;margin-top:.18em}
.p244{text-indent:0;margin-left:0;margin-top:.18em}
.p245{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;margin-top:.46em;margin-bottom:.12em;font-family:Cambria,serif;font-size:236%;font-weight:bold}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;margin-right:0;text-align:center;margin-top:.86em;margin-bottom:.21em;font-family:Cambria,serif;font-size:127%;font-weight:bold;font-style:italic}
.h20{text-indent:-1.3em;margin-left:2.6em}
.h22{text-indent:0;text-align:left}
.h23{text-indent:0;margin-left:.51em}
.h24{text-indent:0}
h3{text-indent:0;margin-left:.55em;margin-right:0;margin-top:.92em;margin-bottom:.23em;font-family:Cambria,serif;font-size:118%;font-weight:bold}
.h30{text-indent:0;margin-left:0;text-align:center}
.h32{text-indent:0;margin-left:.28em}
.h33{text-indent:0;margin-left:0}
.h34{text-indent:0;margin-left:.83em}
.h35{text-indent:0;text-align:center}
.h36{text-indent:0;margin-left:.28em;text-align:center}
.h37{text-indent:0}
h4{text-indent:0;margin-left:0;margin-right:0;text-align:center;margin-top:.86em;margin-bottom:.21em;font-family:Calibri,sans-serif;font-size:127%;font-weight:bold}
.h41{text-indent:0;margin-left:.51em;text-align:left}
.h42{text-indent:0;margin-left:.51em}
.h43{text-indent:0}
h5{text-indent:0;margin-left:.65em;margin-right:0;margin-top:1.1em;margin-bottom:.27em;font-family:Calibri,sans-serif;font-size:100%;font-weight:bold;font-style:italic}
.h51{text-indent:0;margin-left:0;text-align:center}
.h52{text-indent:0;margin-left:0}
.h53{text-indent:0;margin-top:0}
.h54{text-indent:0}
h6{text-indent:0;margin-left:2em;margin-right:0;margin-top:0;margin-bottom:0;font-family:"Times New Roman",serif;font-size:91%;font-weight:bold}
.h60{text-indent:0;text-align:justify}
.h61{text-indent:0;text-align:justify;margin-top:.37em}
.h63{text-indent:0}
.l0{margin-left:1.8em}
.l1{margin-left:.65em}
.l2{margin-left:3.3em}
.t1{color:black}
.t3{letter-spacing:.14em}
.t4{letter-spacing:.15em}
.t5{letter-spacing:-.0045em}
.t6{letter-spacing:.073em}
.t7{letter-spacing:.077em}
.t8{letter-spacing:-.0091em}
.t9{letter-spacing:-.014em}
.t10{letter-spacing:-.018em}
.t11{letter-spacing:.13em}
.t12{font-style:italic}
.t13{font-style:italic;letter-spacing:.13em}
.t14{letter-spacing:.041em}
.t15{letter-spacing:.045em}
.t16{letter-spacing:.11em}
.t17{letter-spacing:.19em}
.t18{letter-spacing:.19em}
.t19{letter-spacing:.13em}
.t20{letter-spacing:.055em}
.t21{letter-spacing:.059em}
.t22{letter-spacing:-.068em}
.t23{font-style:italic;letter-spacing:-.064em}
.t24{letter-spacing:.095em}
.t25{letter-spacing:.1em}
.t26{letter-spacing:.11em}
.t27{letter-spacing:.12em}
.t28{letter-spacing:.027em}
.t29{letter-spacing:.032em}
.t30{letter-spacing:.036em}
.t31{letter-spacing:.086em}
.t32{letter-spacing:.091em}
.t33{letter-spacing:-.055em}
.t34{letter-spacing:.023em}
.t35{letter-spacing:.14em}
.t36{letter-spacing:.12em}
.t37{letter-spacing:.16em}
.t38{letter-spacing:.082em}
.t39{letter-spacing:.068em}
.t40{letter-spacing:.0091em}
.t41{letter-spacing:.014em}
.t42{font-style:italic;letter-spacing:.0091em}
.t43{font-style:italic;letter-spacing:.014em}
.t44{letter-spacing:-.041em}
.t45{letter-spacing:-.036em}
.t46{letter-spacing:-.086em}
.t47{letter-spacing:-.082em}
.t48{letter-spacing:-.027em}
.t49{letter-spacing:-.12em}
.t50{letter-spacing:.018em}
.t51{letter-spacing:-.05em}
.t52{letter-spacing:-.11em}
.t53{letter-spacing:-.064em}
.t54{font-size:.65em;vertical-align:super;letter-spacing:-.0071em}
.t55{letter-spacing:.1em;vertical-align:.27em}
.t56{letter-spacing:.0045em}
.t57{letter-spacing:-.023em}
.t58{letter-spacing:-.059em}
.t59{letter-spacing:-.095em}
.t60{letter-spacing:-.091em}
.t61{letter-spacing:-.045em}
.t62{letter-spacing:-.073em}
.t63{font-style:italic;letter-spacing:.045em}
.t64{font-style:italic;letter-spacing:-.0045em}
.t65{font-style:italic;letter-spacing:-.0091em}
.t66{letter-spacing:.25em}
.t67{letter-spacing:-.032em}
.t68{letter-spacing:-.077em}
.t69{letter-spacing:-.11em}
.t70{letter-spacing:.064em}
.t71{letter-spacing:.21em}
.t72{letter-spacing:.22em}
.t73{font-style:italic;letter-spacing:.14em}
.t74{font-style:italic;letter-spacing:.16em}
.t75{font-style:italic;letter-spacing:.16em}
.t76{letter-spacing:.16em}
.t77{letter-spacing:.1em}
.t78{letter-spacing:.18em}
.t79{font-style:italic;letter-spacing:.036em}
.t80{letter-spacing:.05em}
.t81{letter-spacing:.17em}
.t82{letter-spacing:.17em}
.t83{letter-spacing:.15em}
.t84{letter-spacing:.15em}
.t85{font-size:.65em;vertical-align:super}
.t86{letter-spacing:.05em;vertical-align:.27em}
.t87{letter-spacing:-.15em}
.t88{letter-spacing:.24em}
.t89{letter-spacing:-.1em}
.t90{letter-spacing:-.13em}
.t91{letter-spacing:-.12em}
.t92{letter-spacing:.18em}
.t93{letter-spacing:.2em}
.t94{letter-spacing:.2em}
.t95{font-size:.65em;vertical-align:super;letter-spacing:-.014em}
.t96{letter-spacing:.045em;vertical-align:.27em}
.t97{letter-spacing:.23em}
.t98{letter-spacing:.064em;vertical-align:.27em}
.t99{letter-spacing:.032em;vertical-align:.27em}
.t100{letter-spacing:.27em}
.t101{letter-spacing:.24em}
.t102{vertical-align:.27em}
.t103{letter-spacing:.059em;vertical-align:.27em}
.t104{font-style:italic;letter-spacing:-.014em}
.t105{font-style:italic;letter-spacing:.15em}
.t106{font-style:italic;letter-spacing:.15em}
.t107{font-style:italic;letter-spacing:-.018em}
.t108{letter-spacing:.22em}
.t109{font-style:italic;letter-spacing:.059em}
.t110{letter-spacing:.11em;vertical-align:.27em}
.t111{font-style:italic;letter-spacing:-.032em}
.t112{letter-spacing:.31em}
.t113{letter-spacing:-.13em}
.t114{letter-spacing:-.14em}
.t115{letter-spacing:-.14em}
.t116{letter-spacing:-.1em}
.t117{letter-spacing:.23em}
.t118{letter-spacing:.21em}
.t119{letter-spacing:.33em}
.t120{letter-spacing:-.0045em;vertical-align:.27em}
.t121{font-size:.65em;font-style:italic;vertical-align:super;letter-spacing:-.021em}
.t122{letter-spacing:.041em;vertical-align:.27em}
.t123{font-style:italic;letter-spacing:.027em}
.t124{font-style:italic;letter-spacing:-.027em}
.t125{font-style:italic;letter-spacing:-.023em}
.t126{letter-spacing:.32em}
.t127{letter-spacing:-.17em}
.t128{letter-spacing:-.17em}
.t129{letter-spacing:.26em;vertical-align:.27em}
.t130{font-size:.65em;font-style:italic;vertical-align:super}
.t131{letter-spacing:.036em;vertical-align:.27em}
.t132{letter-spacing:.2em}
.t133{letter-spacing:.0045em;vertical-align:.27em}
.t134{font-style:italic;letter-spacing:-.068em}
.t135{font-style:italic;letter-spacing:.1em}
.t136{font-style:italic;letter-spacing:.11em}
.t137{letter-spacing:.25em}
.t138{letter-spacing:.0091em;vertical-align:.27em}
.t139{letter-spacing:.055em;vertical-align:.27em}
.t140{letter-spacing:.26em}
.t141{letter-spacing:-.15em}
.t142{font-size:.73em;font-style:italic}
.t143{font-size:.73em;font-style:italic;letter-spacing:.013em}
.t144{font-size:.73em;font-style:italic;letter-spacing:.019em}
.t145{font-size:.73em;font-style:italic;letter-spacing:-.038em}
.t146{font-size:.73em;font-style:italic;letter-spacing:-.081em}
.t147{font-size:.73em;font-style:italic;letter-spacing:-.019em}
.t148{font-size:.73em;font-style:italic;letter-spacing:-.013em}
.t149{font-size:.73em;font-style:italic;letter-spacing:-.025em}
.t150{font-size:.73em;font-style:italic;letter-spacing:-.0063em}
.t151{font-size:.73em;font-style:italic;letter-spacing:.14em}
.t152{font-size:.73em;font-style:italic;letter-spacing:.063em}
.t153{font-size:.73em;font-style:italic;letter-spacing:.069em}
.t154{font-size:.73em;font-style:italic;color:black}
.t155{font-family:"Times New Roman",serif;font-size:1.1em;color:black}
.t156{letter-spacing:.46em}
.t157{letter-spacing:.44em}
.t158{letter-spacing:.35em}
.t159{font-style:italic;letter-spacing:.0045em}
.t160{font-style:italic;letter-spacing:.023em}
.t161{font-style:italic;letter-spacing:.082em}
.t162{font-style:italic;letter-spacing:.086em}
.t163{font-style:italic;letter-spacing:.018em}
.t164{font-style:italic;letter-spacing:-.11em}
.t165{font-style:italic;letter-spacing:-.055em}
.t166{font-style:italic;letter-spacing:-.05em}
.t167{font-style:italic;letter-spacing:.077em}
.t168{font-style:italic;letter-spacing:.13em}
.t169{font-style:italic;letter-spacing:.11em}
.t170{font-style:italic;letter-spacing:.12em}
.t171{font-style:italic;letter-spacing:.05em}
.t172{font-style:italic;letter-spacing:-.1em}
.t173{font-style:italic;letter-spacing:.091em}
.t174{font-style:italic;letter-spacing:-.045em}
.t175{font-style:italic;letter-spacing:.032em}
.t176{letter-spacing:-.16em}
.t177{letter-spacing:-.15em}
.t178{font-size:.73em;font-style:italic;letter-spacing:-.031em}
.t179{font-size:.73em;font-style:italic;letter-spacing:.19em}
.t180{font-size:.73em;font-style:italic;letter-spacing:.025em}
.t181{font-size:.73em;font-style:italic;letter-spacing:.031em}
.t182{font-size:.73em;font-style:italic;letter-spacing:.16em}
.t183{font-weight:bold;font-style:italic}
.t184{font-weight:bold;font-style:italic;letter-spacing:-.14em}
.t185{font-weight:bold;font-style:italic;letter-spacing:-.13em}
.t186{letter-spacing:.33em}
.t187{font-weight:bold;font-style:italic;letter-spacing:-.0091em}
.t188{font-weight:bold;font-style:italic;letter-spacing:-.068em}
.t189{font-weight:bold;font-style:italic;letter-spacing:-.064em}
.t190{font-weight:bold}
.t191{font-weight:bold;letter-spacing:.014em}
.t192{font-weight:bold;font-style:italic;letter-spacing:.027em}
.t193{font-weight:bold;font-style:italic;letter-spacing:-.014em}
.t194{font-weight:bold;font-style:italic;letter-spacing:.032em}
.t195{font-style:italic;letter-spacing:.15em}
.t196{font-style:italic;letter-spacing:.14em}
.t197{letter-spacing:.26em}
.t198{font-style:italic;letter-spacing:.21em}
.t199{font-style:italic;letter-spacing:.064em}
.t200{font-weight:bold;font-style:italic;letter-spacing:-.18em}
.t201{font-weight:bold;font-style:italic;letter-spacing:-.17em}
.t202{font-size:.73em;font-style:italic;letter-spacing:.23em}
.t203{font-size:.73em;font-style:italic;letter-spacing:.11em}
.t204{font-size:.73em;font-style:italic;letter-spacing:.18em}
.t205{font-size:.73em;font-style:italic;letter-spacing:.11em}
.t206{font-size:.73em;font-style:italic;letter-spacing:-.044em}
.t207{font-size:.73em;font-style:italic;letter-spacing:.12em}
.t208{font-size:.73em;font-style:italic;letter-spacing:-.12em}
.t209{font-size:.73em;font-style:italic;letter-spacing:-.11em}
.t210{font-size:.73em;font-style:italic;letter-spacing:.23em}
.t211{font-size:.73em;font-style:italic;letter-spacing:.16em}
.t212{font-size:.73em;font-style:italic;letter-spacing:-.069em}
.t213{font-size:.73em;font-style:italic;letter-spacing:.17em}
.t214{font-size:.73em;font-style:italic;letter-spacing:.18em}
.t215{font-family:"Times New Roman",serif;font-size:.73em;font-style:italic;color:black}
.t216{letter-spacing:.34em}
.t217{letter-spacing:.36em}
.t218{letter-spacing:.43em}
.t219{letter-spacing:.4em}
.t220{letter-spacing:.42em}
.t221{letter-spacing:.37em}
.t222{letter-spacing:.34em}
.t223{font-size:.73em}
.t224{font-size:.73em;letter-spacing:.24em}
.t225{font-size:.73em;letter-spacing:-.0063em}
.t226{font-size:.73em;letter-spacing:.22em}
.t227{font-size:.73em;letter-spacing:.23em}
.t228{font-size:.73em;letter-spacing:-.025em}
.t229{font-size:.73em;letter-spacing:-.031em}
.t230{font-size:.73em;letter-spacing:.11em}
.t231{font-size:.73em;letter-spacing:.11em}
.t232{font-size:.73em;letter-spacing:-.019em}
.t233{font-size:.73em;letter-spacing:-.013em}
.t234{font-weight:bold;letter-spacing:-.0045em}
.t235{letter-spacing:.29em}
.t236{font-style:italic;letter-spacing:.25em}
.t237{font-style:italic;letter-spacing:.18em}
.t238{letter-spacing:.3em}
.t239{letter-spacing:.073em;vertical-align:.27em}
.t240{letter-spacing:.086em;vertical-align:.27em}
.t241{letter-spacing:.12em;vertical-align:.27em}
.t242{font-style:italic;letter-spacing:.18em}
.t243{font-size:.73em;font-style:italic;letter-spacing:.05em}
.t244{font-size:.73em;font-style:italic;letter-spacing:.056em}
.t245{font-size:.73em;font-style:italic;letter-spacing:.088em}
.t246{font-size:.73em;font-style:italic;letter-spacing:.094em}
.t247{font-style:italic;letter-spacing:-.086em}
.t248{font-style:italic;letter-spacing:-.091em}
.t249{font-size:.73em;font-style:italic;letter-spacing:.038em}
.t250{font-size:.73em;font-style:italic;letter-spacing:.044em}
.t251{font-size:.73em;font-style:italic;letter-spacing:.27em}
.t252{font-size:.65em;font-style:italic;vertical-align:super;letter-spacing:-.0071em}
.t253{font-style:italic;letter-spacing:.027em;vertical-align:.27em}
.t254{font-style:italic;vertical-align:.27em}
.t255{font-style:italic;letter-spacing:.023em;vertical-align:.27em}
.t256{letter-spacing:.28em}
.t257{font-style:italic;letter-spacing:-.059em}
.t258{font-size:.73em;font-style:italic;letter-spacing:-.075em}
.t259{font-style:italic;letter-spacing:.1em}
.t260{letter-spacing:.35em}
.t261{letter-spacing:.38em}
.t262{font-style:italic;letter-spacing:.12em}
.t263{font-size:.73em;font-style:italic;letter-spacing:-.063em}
.t264{font-size:.73em;font-style:italic;letter-spacing:-.056em}
.t265{font-size:.73em;font-style:italic;letter-spacing:.081em}
.t266{font-size:.73em;font-style:italic;letter-spacing:.075em}
.t267{letter-spacing:.068em;vertical-align:.27em}
.t268{letter-spacing:.27em}
.t269{letter-spacing:.3em}
.t270{font-size:.73em;font-style:italic;letter-spacing:.13em}
.t271{font-style:italic;letter-spacing:.055em}
.t272{letter-spacing:-.16em}
.t273{font-size:.73em;font-style:italic;letter-spacing:.0063em}
.t274{font-style:italic;letter-spacing:.4em}
.t275{letter-spacing:.4em}
.t276{letter-spacing:.48em}
.t277{letter-spacing:.45em}
.t278{letter-spacing:.45em}
.t279{letter-spacing:.4em}
.t280{font-style:italic;letter-spacing:.095em}
.t281{letter-spacing:.077em;vertical-align:.27em}
.t282{letter-spacing:.018em;vertical-align:.27em}
.t283{font-style:italic;letter-spacing:.17em}
.t284{font-size:.73em;letter-spacing:.0063em}
.t285{font-size:.73em;color:black}
.t286{letter-spacing:.32em}
.t287{letter-spacing:.39em}
.t288{letter-spacing:.38em}
.t289{font-style:italic;letter-spacing:.068em}
.t290{letter-spacing:.39em}
.t291{letter-spacing:.37em}
.t292{letter-spacing:.31em}
.t293{letter-spacing:.28em}
.t294{font-style:italic;letter-spacing:.041em}
.t295{font-style:italic;letter-spacing:.073em}
.t296{letter-spacing:.095em;vertical-align:.27em}
.t297{letter-spacing:.082em;vertical-align:.27em}
.t298{letter-spacing:.091em;vertical-align:.27em}
.t299{font-size:.73em;font-style:italic;letter-spacing:.1em}
.t300{font-size:.73em;font-weight:bold;font-style:italic}
.t301{font-size:.73em;font-weight:bold;font-style:italic;letter-spacing:.019em}
.t302{letter-spacing:.44em}
.t303{font-style:italic;letter-spacing:.032em;vertical-align:.27em}
.t304{font-style:italic;letter-spacing:-.12em}
.t305{font-style:italic;letter-spacing:-.12em}
.t306{font-style:italic;letter-spacing:-.11em}
.t307{font-style:italic;letter-spacing:.17em}
.t308{font-size:.65em;vertical-align:super;letter-spacing:-.021em}
.t309{letter-spacing:.25em}
.t310{font-size:.73em;font-style:italic;letter-spacing:.76em}
.t311{font-style:italic;letter-spacing:-.041em}
.t312{font-style:italic;letter-spacing:.19em}
.t313{letter-spacing:.48em}
.t314{letter-spacing:.49em}
.t315{letter-spacing:.41em}
.t316{font-size:.73em;font-style:italic;letter-spacing:-.14em}
.t317{font-size:.73em;font-style:italic;letter-spacing:-.13em}
.t318{font-size:.73em;font-style:italic;letter-spacing:-.19em}
.t319{font-size:.73em;font-style:italic;letter-spacing:-.094em}
.t320{font-size:.73em;font-style:italic;letter-spacing:-.088em}
.t321{letter-spacing:.014em;vertical-align:.27em}
.t322{letter-spacing:.023em;vertical-align:.27em}
.t323{letter-spacing:.11em;vertical-align:.27em}
.t324{font-family:Georgia,serif;font-size:.91em}
.t325{font-size:.91em;color:black}
.t326{letter-spacing:.027em;vertical-align:.27em}
.t327{letter-spacing:.36em}
.t328{letter-spacing:.1em;vertical-align:.27em}
.t329{font-style:italic;letter-spacing:.2em}
.t330{font-style:italic;letter-spacing:-.036em}
.t331{font-style:italic;letter-spacing:-.14em}
.t332{letter-spacing:.41em}
.t333{letter-spacing:.49em}
.t334{letter-spacing:.46em}
.t335{letter-spacing:.52em}
.t336{letter-spacing:.43em}
.t337{font-family:Arial,sans-serif;font-size:.91em}
.t338{letter-spacing:.47em}
.t339{font-family:Arial,sans-serif;font-size:.91em;letter-spacing:-.005em}
.t340{letter-spacing:.29em}
.t341{font-style:italic;letter-spacing:-.13em}
.t342{font-style:italic;letter-spacing:-.13em}
.t343{letter-spacing:.51em}
.t344{font-style:italic;letter-spacing:.22em}
.t345{font-style:italic;letter-spacing:.24em}
.t346{font-style:italic;letter-spacing:.19em}
.t347{font-style:italic;letter-spacing:.0045em;vertical-align:.27em}
.t348{letter-spacing:.28em;vertical-align:.27em}
.t349{font-size:.73em;font-style:italic;letter-spacing:-.18em}
.t350{font-size:.73em;font-style:italic;letter-spacing:-.05em}
.t351{font-size:.73em;font-style:italic;letter-spacing:.15em}
.t352{font-style:italic;letter-spacing:-.14em}
.t353{font-style:italic;letter-spacing:-.082em}
.t354{letter-spacing:.5em}
.t355{letter-spacing:-.18em}
.t356{font-style:italic;letter-spacing:-.1em}
.t357{font-style:italic;letter-spacing:-.077em}
.t358{font-style:italic;letter-spacing:-.073em}
.t359{letter-spacing:.47em}
.t360{font-size:.73em;letter-spacing:.069em}
.t361{font-size:.73em;letter-spacing:-.069em}
.t362{font-size:.73em;letter-spacing:-.044em}
.t363{font-size:.73em;letter-spacing:.081em}
.t364{font-size:.73em;letter-spacing:.088em}
.t365{font-family:"Times New Roman",serif;font-size:.73em;color:black}
.t366{font-size:.73em;font-style:italic;letter-spacing:.24em}
.t367{font-size:.73em;font-style:italic;letter-spacing:.13em}
.t368{font-size:.73em;letter-spacing:.038em}
.t369{font-size:.73em;letter-spacing:.044em}
.t370{letter-spacing:.51em}
.t371{font-size:.73em;font-style:italic;letter-spacing:-.11em}
.t372{letter-spacing:.5em}
.t373{font-size:.73em;font-style:italic;letter-spacing:.29em}
.t374{font-size:.73em;font-style:italic;letter-spacing:.14em}
.t375{letter-spacing:.13em;vertical-align:.27em}
.t376{letter-spacing:.12em;vertical-align:.27em}
.t377{font-size:.73em;letter-spacing:.21em}
.t378{font-size:.73em;letter-spacing:.013em}
.t379{font-size:.73em;letter-spacing:.019em}
.t380{font-size:.65em;vertical-align:super;letter-spacing:-.036em}
.t381{font-size:.73em;letter-spacing:.025em}
.t382{font-size:.73em;letter-spacing:-.038em}
.t383{font-size:.73em;letter-spacing:.05em}
.t384{font-size:.73em;letter-spacing:.056em}
.t385{font-size:.73em;font-style:italic;letter-spacing:.38em}
.t386{letter-spacing:-.19em}
.t387{letter-spacing:-.21em}
.t388{font-size:.73em;letter-spacing:.24em}
.t389{letter-spacing:.56em}
.t390{font-style:italic;letter-spacing:.21em}
.t391{letter-spacing:.5em}
.t392{font-size:.73em;letter-spacing:.19em}
.t393{font-size:.73em;letter-spacing:-.11em}
.t394{font-size:.73em;letter-spacing:-.11em}
.t395{font-size:.73em;font-style:italic;letter-spacing:.22em}
.t396{font-size:.73em;letter-spacing:-.094em}
.t397{font-size:.73em;letter-spacing:-.088em}
.t398{font-size:.73em;letter-spacing:.13em}
.t399{font-size:.73em;letter-spacing:-.13em}
.t400{font-size:.73em;letter-spacing:-.13em}
.t401{letter-spacing:-.014em;vertical-align:.27em}
.t402{font-style:italic;letter-spacing:.2em}
.t403{letter-spacing:.54em}
.t404{font-style:italic;letter-spacing:-.24em}
.t405{font-style:italic;letter-spacing:.11em;vertical-align:.27em}
.t406{letter-spacing:.35em}
.t407{letter-spacing:.3em}
.t408{letter-spacing:.42em}
.t409{font-style:italic;letter-spacing:.077em;vertical-align:.27em}
.t410{font-size:.73em;font-style:italic;letter-spacing:-.13em}
.t411{font-size:.73em;font-style:italic;letter-spacing:.21em}
.t412{font-size:.73em;font-style:italic;letter-spacing:.19em}
.t413{font-family:"Palatino Linotype",serif;font-size:.73em;font-style:italic;color:black}
.t414{font-family:Georgia,serif;font-size:.73em;font-style:italic;color:black}
.t415{font-family:"Times New Roman",serif;font-size:.71em;color:black;vertical-align:super}
.t416{font-family:"Times New Roman",serif;font-size:.59em;color:black;vertical-align:super}
.t417{font-family:"Times New Roman",serif;font-size:.91em;color:black}
.t418{font-style:italic;letter-spacing:.3em}
.th12{font-family:"Times New Roman",serif}
.th13{letter-spacing:-.062em}
.th14{letter-spacing:.075em}
.th15{letter-spacing:-.0019em}
.th16{letter-spacing:.077em}
.th17{letter-spacing:.069em}
.th18{letter-spacing:-.0058em}
.th19{letter-spacing:-.0077em}
.th110{letter-spacing:.0096em}
.th111{letter-spacing:.038em}
.th112{letter-spacing:-.012em}
.th113{letter-spacing:-.0038em}
.th114{letter-spacing:.0019em}
.th115{letter-spacing:.096em}
.th116{letter-spacing:.04em}
.th21{font-family:"Times New Roman",serif}
.th23{letter-spacing:-.082em}
.th24{letter-spacing:-.0071em}
.th25{letter-spacing:-.011em}
.th26{letter-spacing:.064em}
.th27{letter-spacing:.068em}
.th28{letter-spacing:-.0036em}
.th29{letter-spacing:.18em}
.th210{letter-spacing:-.075em}
.th211{letter-spacing:-.071em}
.th212{letter-spacing:-.054em}
.th213{letter-spacing:.11em}
.th214{letter-spacing:.086em}
.th215{letter-spacing:.089em}
.th216{letter-spacing:.05em}
.th217{letter-spacing:.054em}
.th218{letter-spacing:-.018em}
.th219{letter-spacing:-.014em}
.th220{letter-spacing:.014em}
.th221{letter-spacing:.018em}
.th222{letter-spacing:.057em}
.th223{letter-spacing:.061em}
.th224{letter-spacing:-.05em}
.th225{letter-spacing:.1em}
.th226{letter-spacing:.15em}
.th227{letter-spacing:-.068em}
.th228{letter-spacing:.071em}
.th229{letter-spacing:.075em}
.th230{letter-spacing:.082em}
.th231{letter-spacing:.043em}
.th232{letter-spacing:.14em}
.th32{font-family:"Times New Roman",serif}
.th33{letter-spacing:.038em}
.th34{letter-spacing:-.0077em}
.th35{letter-spacing:.042em}
.th36{letter-spacing:.035em}
.th37{letter-spacing:-.012em}
.th38{letter-spacing:-.0038em}
.th39{letter-spacing:.046em}
.th310{letter-spacing:.077em}
.th311{letter-spacing:.081em}
.th312{letter-spacing:.2em}
.th313{letter-spacing:.13em}
.th314{font-family:"Times New Roman",serif;letter-spacing:-.0077em}
.th315{letter-spacing:-.054em}
.th316{letter-spacing:-.1em}
.th317{letter-spacing:-.1em}
.th318{letter-spacing:.17em}
.th319{font-family:"Times New Roman",serif;letter-spacing:.077em}
.th320{letter-spacing:.027em}
.th321{letter-spacing:.031em}
.th322{font-family:"Times New Roman",serif;letter-spacing:-.012em}
.th323{letter-spacing:-.065em}
.th324{letter-spacing:-.062em}
.th325{letter-spacing:.1em}
.th326{font-family:"Times New Roman",serif;letter-spacing:.1em}
.th327{letter-spacing:.18em}
.th328{letter-spacing:-.015em}
.th329{letter-spacing:-.05em}
.th330{letter-spacing:-.046em}
.th331{letter-spacing:.085em}
.th332{letter-spacing:-.031em}
.th333{letter-spacing:-.019em}
.th334{letter-spacing:-.023em}
.th335{letter-spacing:-.027em}
.th336{letter-spacing:.062em}
.th337{letter-spacing:.065em}
.th338{letter-spacing:.069em}
.th339{letter-spacing:.073em}
.th340{letter-spacing:.12em}
.th341{letter-spacing:.13em}
.th342{font-style:italic}
.th343{font-style:italic;letter-spacing:.13em}
.th344{font-style:italic;letter-spacing:.14em}
.th345{font-style:italic;letter-spacing:-.0077em}
.th346{font-style:italic;letter-spacing:-.0038em}
.th347{letter-spacing:.088em}
.th348{letter-spacing:.092em}
.th349{letter-spacing:.1em}
.th350{letter-spacing:.17em}
.th351{font-style:italic;letter-spacing:.14em}
.th352{letter-spacing:.11em}
.th353{letter-spacing:.13em}
.th354{letter-spacing:.14em}
.th355{letter-spacing:.096em}
.th356{letter-spacing:-.035em}
.th357{letter-spacing:.15em}
.th358{font-style:italic;letter-spacing:.12em}
.th359{font-style:italic;letter-spacing:.13em}
.th360{font-style:italic;letter-spacing:-.012em}
.th361{letter-spacing:-.038em}
.th362{letter-spacing:.11em}
.th363{letter-spacing:.0038em}
.th364{letter-spacing:.18em}
.th365{font-style:italic;letter-spacing:.031em}
.th366{letter-spacing:.012em}
.th367{letter-spacing:-.12em}
.th368{letter-spacing:.19em}
.th369{letter-spacing:-.12em}
.th370{font-family:Calibri,sans-serif;font-size:.62em;font-weight:normal;font-style:italic;color:#231f20}
.th371{font-family:Calibri,sans-serif;font-size:.62em;font-weight:normal;font-style:italic;color:#231f20;letter-spacing:-.0063em}
.th372{font-family:Calibri,sans-serif;font-size:.62em;font-weight:normal;font-style:italic;color:#231f20;letter-spacing:.11em}
.th373{font-family:Calibri,sans-serif;font-size:.62em;font-weight:normal;font-style:italic;color:#231f20;letter-spacing:.11em}
.th374{font-family:Calibri,sans-serif;font-size:.62em;font-weight:normal;font-style:italic;color:#231f20;letter-spacing:-.019em}
.th375{font-family:Calibri,sans-serif;font-size:.62em;font-weight:normal;font-style:italic;color:#231f20;letter-spacing:-.013em}
.th376{font-family:Calibri,sans-serif;font-size:.62em;font-weight:normal;font-style:italic;color:#231f20;letter-spacing:-.025em}
.th377{font-family:Calibri,sans-serif;font-size:.62em;font-weight:normal;font-style:italic;color:#231f20;letter-spacing:.18em}
.th378{font-family:Calibri,sans-serif;font-size:.62em;font-weight:normal;font-style:italic;color:#231f20;letter-spacing:.088em}
.th379{font-family:Calibri,sans-serif;font-size:.62em;font-weight:normal;font-style:italic;color:#231f20;letter-spacing:.094em}
.th380{font-style:italic;letter-spacing:.1em}
.th381{letter-spacing:-.096em}
.th382{letter-spacing:-.092em}
.th383{font-style:italic;letter-spacing:-.015em}
.th384{font-style:italic;letter-spacing:-.019em}
.th42{letter-spacing:-.036em}
.th43{letter-spacing:-.0071em}
.th44{letter-spacing:-.0036em}
.th45{font-family:"Times New Roman",serif;letter-spacing:.075em}
.th46{letter-spacing:-.011em}
.th47{letter-spacing:-.061em}
.th48{font-family:"Times New Roman",serif}
.th49{letter-spacing:.1em}
.th410{letter-spacing:.11em}
.th411{letter-spacing:.079em}
.th412{font-style:italic}
.th413{font-family:"Times New Roman",serif;font-style:italic}
.th414{letter-spacing:-.032em}
.th415{letter-spacing:-.014em}
.th416{font-family:"Times New Roman",serif;letter-spacing:-.011em}
.th417{font-family:"Times New Roman",serif;font-size:.79em;font-style:italic;color:#231f20;letter-spacing:.1em}
.th418{letter-spacing:.11em}
.th419{letter-spacing:.17em}
.th420{letter-spacing:.15em}
.th421{font-family:"Times New Roman",serif;letter-spacing:-.0071em}
.th422{letter-spacing:.025em}
.th423{letter-spacing:.12em}
.th424{letter-spacing:.054em}
.th425{letter-spacing:.0071em}
.th426{letter-spacing:.11em}
.th427{letter-spacing:.12em}
.th428{letter-spacing:.13em}
.th429{font-style:italic;letter-spacing:.13em}
.th430{font-style:italic;letter-spacing:-.029em}
.th431{font-style:italic;letter-spacing:-.025em}
.th432{font-style:italic;letter-spacing:-.0071em}
.th433{font-style:italic;letter-spacing:-.0036em}
.th434{letter-spacing:.096em}
.th435{font-style:italic;letter-spacing:.11em}
.th436{letter-spacing:.082em}
.th437{letter-spacing:.032em}
.th438{letter-spacing:.036em}
.th439{letter-spacing:.086em}
.th440{letter-spacing:.011em}
.th441{letter-spacing:.018em}
.th442{letter-spacing:.021em}
.th443{letter-spacing:.089em}
.th444{font-size:.79em}
.th445{font-size:.79em;letter-spacing:.05em}
.th446{font-size:.79em;letter-spacing:.055em}
.th447{font-size:.79em;letter-spacing:-.0045em}
.th448{letter-spacing:-.1em}
.th449{letter-spacing:.16em}
.th450{letter-spacing:.046em}
.th451{letter-spacing:.05em}
.th452{font-style:italic;letter-spacing:-.011em}
.th453{font-style:italic;letter-spacing:-.014em}
.th52{letter-spacing:-.041em}
.th53{letter-spacing:-.0045em}
.th54{letter-spacing:-.036em}
.th55{letter-spacing:-.12em}
.th56{letter-spacing:.11em}
.th57{font-size:1.2em}
.th58{letter-spacing:-.0091em}
.th59{font-size:.65em;vertical-align:super;letter-spacing:-.014em}
.th510{letter-spacing:.11em;vertical-align:.27em}
.th511{letter-spacing:-.055em}
.th512{letter-spacing:.064em}
.th513{letter-spacing:.068em}
.th514{letter-spacing:.13em}
.th515{letter-spacing:.055em}
.th516{font-size:.65em;vertical-align:super;letter-spacing:-.0071em}
.th517{letter-spacing:.036em}
.th518{letter-spacing:.041em}
.th519{letter-spacing:.095em}
.th520{letter-spacing:.073em}
.th521{letter-spacing:.077em}
.th522{vertical-align:.27em}
.th523{letter-spacing:.064em;vertical-align:.27em}
.th524{letter-spacing:.1em}
.th525{letter-spacing:-.014em}
.th526{letter-spacing:-.018em}
.th527{letter-spacing:.059em}
.th528{letter-spacing:-.095em}
.th529{letter-spacing:.15em}
.th530{letter-spacing:-.086em}
.th531{letter-spacing:-.082em}
.th532{letter-spacing:-.064em}
.th533{letter-spacing:-.059em}
.th534{letter-spacing:-.077em}
.th535{letter-spacing:-.073em}
.th536{letter-spacing:.082em}
.th537{letter-spacing:.086em}
.th538{letter-spacing:.045em}
.th539{letter-spacing:-.05em}
.th540{letter-spacing:-.032em}
.th541{letter-spacing:-.068em}
.th542{letter-spacing:.091em}
.th543{letter-spacing:-.027em}
.th544{letter-spacing:-.045em}
.th545{letter-spacing:-.14em}
.th546{letter-spacing:.16em}
.th547{letter-spacing:-.023em}
.th548{letter-spacing:-.11em}
.th549{letter-spacing:.05em}
.th550{letter-spacing:.1em}
.th551{letter-spacing:-.15em}
.th552{letter-spacing:-.091em}
.th553{letter-spacing:.023em}
.th554{letter-spacing:.027em}
.th61{font-family:Calibri,sans-serif;font-size:1.1em;color:#231f20;letter-spacing:-.0045em}
.th62{font-family:Calibri,sans-serif;font-size:1.1em;font-weight:normal}
.th63{font-family:Calibri,sans-serif;font-size:1.1em;color:#231f20}
.th64{font-family:Calibri,sans-serif;font-size:1.1em;color:#231f20;letter-spacing:.19em}
.th66{letter-spacing:.025em}
.th67{letter-spacing:-.005em}
.th68{letter-spacing:.12em}
.th69{letter-spacing:.11em}
.th610{letter-spacing:-.015em}
.th611{letter-spacing:-.01em}
.th612{letter-spacing:.05em}
.th613{letter-spacing:-.085em}
.th614{letter-spacing:-.07em}
.th615{letter-spacing:.09em}