.calibre {
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  margin: 0 0 0.0001pt;
}
.calibre2 {
  font-weight: bold;
}
.calibre3 {
  font-family: "Cambria", "serif";
}
.calibre4 {
  font-style: italic;
}
.calibre5 {
 
  text-decoration: none;
}
.calibre6 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 67pt;
  margin: 0 0 0.0001pt;
}
.calibre7 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 76pt;
  margin: 0 0 0.0001pt;
}
.calibre8 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 69pt;
  margin: 0 0 0.0001pt;
}
.calibre9 {
  font-size: 0.75em;
  line-height: normal;
  vertical-align: super;
}
.calibre10 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 66pt;
  margin: 0 0 0.0001pt;
}
.calibre11 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 68pt;
  margin: 0 0 0.0001pt;
}
.calibre12 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 73pt;
  margin: 0 0 0.0001pt;
}
.calibre13 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 75pt;
  margin: 0 0 0.0001pt;
}
.calibre14 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 77pt;
  margin: 0 0 0.0001pt;
}
.calibre15 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 65pt;
  margin: 0 0 0.0001pt;
}
.calibre16 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 70pt;
  margin: 0 0 0.0001pt;
}
.calibre17 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 63pt;
  margin: 0 0 0.0001pt;
}
.calibre18 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 64pt;
  margin: 0 0 0.0001pt;
}
.calibre19 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 61pt;
  margin: 0 0 0.0001pt;
}
.calibre20 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 72pt;
  margin: 0 0 0.0001pt;
}
.calibre21 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 35.4pt;
  margin: 0 0 0.0001pt;
}
.calibre22 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 62pt;
  margin: 0 0 0.0001pt;
}
.calibre23 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 80pt;
  margin: 0 0 0.0001pt;
}
.calibre24 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 74pt;
  margin: 0 0 0.0001pt;
}
.font {
  font-family: "Century Gothic", "sans-serif";
}
.font1 {
  font-family: "Century Schoolbook", "serif";
}
.font2 {
  font-family: "Candara", "sans-serif";
}
.font3 {
  font-family: "Lucida Sans Unicode", "sans-serif";
}
.font4 {
  font-family: "Trebuchet MS", "sans-serif";
}
.font5 {
  font-family: "Arial Unicode MS", "sans-serif";
}
.WordSection {
  display: block;
  page: WordSection1;
}
