<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Agatha Christie</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>3003C3C09135A70CDB5CB6BBA04289B4</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>D25179AB793805205E76AD220FC01562</string>
		<key>publisher-unique-id</key>
		<string>a96e4a84-03f6-4076-b694-60e4cec8f7f2</string>
		<key>unique-id</key>
		<integer>8906686638098533630</integer>
	</dict>
	<key>itemName</key>
	<string>Beş Küçük Domuz</string>
	<key>playlistName</key>
	<string>Beş Küçük Domuz</string>
	<key>releaseDate</key>
	<string>2011-10-11T14:55:20+00:00</string>
	<key>sort-artist</key>
	<string>Christie, Agatha</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
