h2 {
  margin-top: 6em;
  margin-bottom: 2em;
  text-align: center;
  font-size: 1.4em;
  text-indent: 0;
  font-weight: bold;
}
p {
  text-align: left;
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0;
}
.a1 {
  margin-top: 1em;
  margin-bottom: 1em;
  text-indent: 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
.kunye {
  text-align: center;
  text-indent: 0;
  margin-top: 0;
  margin-left: 1em;
  margin-bottom: 0;
  font-size: 0.7em;
}
.logo1 {
  text-indent: 0;
  text-align: center;
}
.baslik {
  text-align: center;
  font-weight: normal;
  text-indent: 0;
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.baslik2 {
  text-align: center;
  font-style: bold;
  font-size: 1.6em;
  text-indent: 0;
  margin-top: 0;
  margin-bottom: 0.6em;
}
.baslik3 {
  text-align: center;
  text-indent: 0;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.baslik4 {
  text-align: center;
  font-size: 0.8em;
  text-indent: 0;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.baslik45 {
  text-align: center;
  font-size: 0.95em;
  text-indent: 0;
  margin-top: 0;
  margin-bottom: 4em;
}
.dipnot {
  text-align: left;
  text-indent: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
}
.dipnot1 {
  text-align: left;
  text-indent: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  page-break-before: always;
  margin-left: 2em;
}
sup, sub {
  line-height: 0;
}
