.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 6pt 0 0
    }
.calibre10 {
    display: block
    }
.calibre11 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre12 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 15pt 0 0
    }
.calibre13 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 15pt 0 0
    }
.calibre14 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 0
    }
.calibre15 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre16 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 1em 0 0
    }
.calibre17 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre18 {
    font-size: 0.83333em
    }
.calibre19 {
    font-size: 1em
    }
.calibre2 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre20 {
    color: blue
    }
.calibre21 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 11pt 0 0 2em
    }
.calibre22 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 4pt 0 0 2em
    }
.calibre23 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 12pt 0 0
    }
.calibre24 {
    display: block;
    text-align: right;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre25 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 13pt 0 0
    }
.calibre26 {
    font-size: 0.58065em;
    line-height: normal;
    vertical-align: super
    }
.calibre27 {
    font-size: 2.06667em;
    line-height: 1.2
    }
.calibre28 {
    display: block;
    text-indent: -19pt;
    margin: 1em 0 0 19pt
    }
.calibre29 {
    display: block;
    text-indent: -19pt;
    margin: 0 0 0 19pt
    }
.calibre3 {
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre30 {
    display: block;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre4 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre5 {
    font-size: 0.625em
    }
.calibre6 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 11pt 0 0
    }
.calibre7 {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre8 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 13pt 0 0
    }
.calibre9 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.mbppagebreak {
    display: block;
    margin: 0
    }
.underline {
    text-decoration: underline
    }
