<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Aziz Nesin</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>D462B02EA4E9ACED6DF02F6DC0F15AA6</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>2C3625BEC8E3DA18EED641906629E213</string>
		<key>publisher-unique-id</key>
		<string>70a5a700-a08a-4693-b539-7a3f506921f2</string>
		<key>unique-id</key>
		<integer>-365953185599457022</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>Bay Düdük</string>
	<key>playlistName</key>
	<string>Bay Düdük</string>
	<key>releaseDate</key>
	<string>2010-12-03T08:00:00+00:00</string>
</dict>
</plist>
