@font-face {
font-family:"GillSans";
font-style:normal;
font-weight:normal;
src : url("font/GillSansStd.ttf");
}

@font-face {
font-family:"Berling-Medium";
font-style:normal;
font-weight:normal;
src : url("font/BerlingLTStd-Medium.ttf");
}

@font-face {
	font-family:"Berling";
	font-style:normal;
	font-weight:bold;
	src : url("font/BerlingLTStd-Bold.ttf");
}

@font-face {
	font-family:"Berling";
	font-style:italic;
	font-weight:bold;
	src : url("font/BerlingLTStd-BoldItalic.ttf");
}

@font-face {
	font-family:"Berling";
	font-style:normal;
	font-weight:normal;
	src : url("font/BerlingLTStd-Roman.ttf");
}

@font-face {
	font-family:"Berling";
	font-style:italic;
	font-weight:normal;
	src : url("font/BerlingLTStd-Italic.ttf");
}

@font-face {
	font-family:"GillSans";
	font-style:normal;
	font-weight:normal;
	src : url("font/GillSansStd.ttf");
}

@font-face {
	font-family:"GillSans";
	font-style:italic;
	font-weight:normal;
	src : url("font/GillSansStd-Italic.ttf");
}

@font-face {
	font-family:"GillSans";
	font-style:normal;
	font-weight:300;
	src : url("font/GillSansStd-Light.ttf");
}

@font-face {
	font-family:"Goudy";
	font-style: normal;
	font-weight: normal;
	src : url("font/GoudyCatTReg.ttf");
}


/*
 *chapter
 */

p {
	font: normal .875em/1.3em "Berling";
	margin: 0;
	text-indent: 1.9em;
}
.littlecaps {
	font-size: .75em;
}

h1 {
	font: normal normal 1.125em/1.2em "Berling";
	text-align: center;
	margin: 4em 0 1.5em 0;
}
.subtitle {
	margin-top: -1.2em;
}
.subchapter-num {
	font: normal 1em "Berling-Medium";
	margin-bottom: .75em;
	margin-top: 3em;
}
.subchapter-title {
	margin-top: 0;
	font: normal 1em "Berling-Medium";
}
.low-top {
	margin-top: 2em;
}

a{
  text-decoration: none;
  color: #7A7A7A;
}



.margin {
	margin-top: 1em;
}
.margin-double {
	margin-top: 2.2em;
}


.dedication {
	margin: 0 0 1.5em auto;
	text-align: right;
	font-size: .95em;
}

blockquote , .letter {
	margin: 1em 0 0 0;
}
blockquote p {
	padding-left: 4em;
	text-indent: -2.1em;
}
.letter p {
	font: normal .875em/1.3em "GillSans";
}



.books p {
	font: normal normal .75em/1.5em "GillSans";
	text-indent: 0;
}
.books ul {
	padding-left: 0;
}
.books ul li {
	font: normal normal .75em/1.6em "GillSans";
	list-style-type: none;
	text-indent: 0;
}



.si-noteref{
  text-decoration: none;
  color: #7A7A7A;
  font-size: .75em;
  vertical-align: super;
  padding-left: .1em;
}
.si-footnotes{
	margin:4em 0 1em;
}
.si-backref{
	font-weight: bold;
	font-family: sans-serif;
	text-decoration: none;
	color: #000;
}
.si-footnote {
	font-family: GillSans;
	font-size: .8em;
	margin-bottom: .25em;
}



.kunye .margin, .press{
  margin: .8em 0 0 ;
}
.isbn {
	margin-top: 1.2em;
}
.kunye .publisher{
	margin-top: 2em;
}
.kunye span{
  font-family: "GillSans";
  font-size:0.667em;
  display: block;
}
.title{
  text-align: center;
}
.aut{
  font-family: "Goudy";
  font-size: 2.062em;
  margin-bottom: 0;
}
.aut span{
  font-size: 1.15em;
}
.work{
  font-family: "Goudy";
  font-size: 2.375em;
  margin-top: .3em;
}
.seri{
  font-family: "GillSans";
  font-size: 1em;
  margin-top: 3.5em
}
.trans{
  font-family: "GillSans";
  font-size: .9em;
  margin-top: 1.5em;
  line-height: 1.5em
}
.trans span{
  font-size: 1.2em;
}
.logo{
  margin: 3em auto 0 auto;
  width: 60px;
  text-align: center;
}
.cover-container img{
  max-width: 100%;
}
.cover-container{
  margin: 0 auto;
  max-width: 500px;
  page-break-inside: avoid;
}
img{
  max-width: 100%;
}
#biography p{
	font: normal normal .75em/1.5em "GillSans";
  text-indent: 0;
}
#biography .translator {
  margin-top: 2em;
}