@font-face {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : normal;
	src : url("fonts/LiberationSerif.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : bold;
	src : url("fonts/LiberationSerif-Bold.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : italic ;
	font-weight : normal;
	src : url("fonts/LiberationSerif-Italic.ttf");
}
@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.kisim-baslik-kafka {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.25em;
	font-variant : normal;
	color : #000000;
}
span.metin-sipsak {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	font-variant : normal;
	color : #000000;
}
span.Normal-1 {
	font-family : "Helvetika Roman", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.dipnotlar-bold-sipsak {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.71em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.dipnotlar-sipsak {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.71em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.bolum-sipsak {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.42em;
	font-variant : normal;
	color : #000000;
}
span.metin-sipsak-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	font-variant : normal;
	color : #000000;
}
span.kisim-baslik-sipsak {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.25em;
	font-variant : normal;
	color : #000000;
}
span.metin--tal-k-sipsak {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 1em;
	font-variant : normal;
	color : #000000;
}
span.dipnot-numarasi-sipsak {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.67em;
	text-decoration : none;
	font-variant : normal;
	vertical-align : super;
	color : #000000;
}
span.alinti-sipsak {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	font-variant : normal;
	color : #ff00ff;
}
span.metin-bold-sipsak {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.92em;
	font-variant : normal;
	color : #000000;
}
span.alinti-italik-sipsak- {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.88em;
	font-variant : normal;
	color : #000000;
}
span.resimalti {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.Normal-2 {
	font-family : "Helvetika Roman", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.metin-kafka {
	font-family : "Garamond Premier Pro Regular", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	font-variant : normal;
	color : #000000;
}
span.char-style-override-1 {
	font-family : "Liberation Serif", serif;
	font-size : 0.67em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-2 {
	font-family : "Liberation Serif", serif;
	font-size : 0.67em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-3 {
	font-family : "Liberation Serif", serif;
	font-size : 0.73em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-4 {
	font-family : "Liberation Serif";
	font-size : 0.67em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-5 {
	color : #0000ff;
	font-family : "Liberation Serif", serif;
	font-size : 0.67em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-6 {
	font-family : "Liberation Serif", serif;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-7 {
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-8 {
	color : #000000;
}
span.char-style-override-9 {
	font-size : 1em;
}
span.char-style-override-10 {
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-11 {
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-12 {
	font-size : 0.62em;
}
span.char-style-override-13 {
	font-size : 1.11em;
}
span.char-style-override-14 {
	font-size : 0.83em;
}
span.char-style-override-15 {
	font-size : 1.08em;
}
span.char-style-override-16 {
	font-size : 0.96em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-17 {
	font-size : 1.21em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-18 {
	font-size : 1.21em;
	font-style : normal;
	font-weight : normal;
}
p.x1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 30px 30px 60px 30px;
}
p.metin-sipsak {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : left;
	color : #000000;
	text-indent : 20px;
	margin : 0px 30px;
}
p.Normal {
	font-family : "Helvetika Roman", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.dipnotlar-sipsak {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.71em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.18;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 20px 30px 0px 30px;
}
p.split {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.04em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 30px 0px 0px 0px;
}
p.x1-1 {
	font-family : "Windsor Regular", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.33em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.06;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 60px 0px 0px 0px;
}
p.x2 {
	font-family : "Windsor Regular", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.07;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 60px 0px;
}
p.metin-sipsak-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : left;
	color : #000000;
	text-indent : 20px;
	margin : 0px 30px;
}
p.Normal-1 {
	font-family : "Helvetika Roman", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.metin-sipsak-20 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : left;
	color : #000000;
	text-indent : 20px;
	margin : 20px 30px 0px 30px;
}
p.alinti-sipsak- {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.24;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px 30px;
}
p.Erster {
	font-family : SimSun, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.79em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.38;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.res {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.67;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 20px 30px;
}
p.Normal-2 {
	font-family : "Helvetika Roman", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.metin-kafka {
	font-family : "Garamond Premier Pro Regular", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.26;
	text-align : justify;
	color : #000000;
	text-indent : 11px;
	margin : 0px;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0px;
	margin-bottom : 0px;
}
p.para-style-override-2 {
	margin-bottom : 20px;
	margin-left : 30px;
	margin-top : 30px;
}
p.para-style-override-3 {
	margin-left : 30px;
}
p.para-style-override-4 {
	margin-left : 30px;
	text-indent : 0px;
}
p.para-style-override-5 {
	margin-left : 30px;
	margin-top : 20px;
}
p.para-style-override-6 {
	margin-bottom : 30px;
	margin-left : 30px;
	margin-top : 20px;
}
p.para-style-override-7 {
	margin-left : 30px;
	margin-top : 10px;
}
p.para-style-override-8 {
	margin-top : 30px;
	text-align : center;
}
p.para-style-override-9 {
	margin-bottom : 50px;
	margin-top : 30px;
	text-align : center;
}
p.para-style-override-10 {
	text-align : center;
}
p.para-style-override-11 {
	text-align : justify;
	text-indent : 36px;
}
p.para-style-override-12 {
	margin-top : 20px;
}
p.para-style-override-13 {
	margin-bottom : 20px;
}
p.para-style-override-14 {
	text-align : center;
	text-indent : 0px;
}
p.para-style-override-15 {
	margin-bottom : 0px;
}
p.para-style-override-16 {
	margin-top : 0px;
}
p.para-style-override-17 {
	margin-top : 20px;
	text-align : center;
	text-indent : 0px;
}
p.para-style-override-18 {
	text-indent : 36px;
}
p.para-style-override-19 {
	margin-bottom : 20px;
	margin-left : 50px;
	margin-top : 20px;
}
p.para-style-override-20 {
	margin-left : 50px;
}
p.para-style-override-21 {
	margin-left : 50px;
	margin-top : 20px;
}
p.para-style-override-22 {
	margin-bottom : 20px;
	margin-left : 50px;
}
p.para-style-override-23 {
	text-indent : 0px;
}
p.para-style-override-24 {
	margin-left : 55px;
	text-indent : -11px;
}
p.para-style-override-25 {
	margin-left : 55px;
	margin-top : 20px;
	text-indent : -11px;
}
p.para-style-override-26 {
	margin-top : 20px;
	text-indent : 0px;
}
p.para-style-override-27 {
	text-indent : -11px;
}
p.para-style-override-28 {
	margin-bottom : 20px;
	margin-top : 30px;
	text-align : center;
}
div.Basic-Text-Frame {
}
div.Basic-Text-Frame-1 {
}
div.Basic-Text-Frame-2 {
}
div.Basic-Text-Frame-3 {
}
