@font-face {
	font-family: "Berling";
	font-weight: normal;
	font-style: normal;
	src:url("font/BerlingLTStd-Roman.ttf") format("truetype");
}

@font-face {
	font-family: "Berling";
	font-weight: normal;
	font-style: italic;
	src:url("font/BerlingLTStd-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Berling";
	font-weight: bold;
	font-style: normal;
	src:url("font/BerlingLTStd-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Gill Sans";
	font-weight: normal;
	font-style: normal;
	src:url("font/GillSansStd.ttf") format("truetype");
}

@font-face {
	font-family: "Gill Sans";
	font-weight: normal;
	font-style: italic;
	src:url("font/GillSansStd-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Gill Sans Light";
	font-weight: normal;
	font-style: normal;
	src:url("font/GillSansStd-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Gill Sans Light";
	font-weight: normal;
	font-style: italic;
	src:url("font/GillSansStd-LightItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Goudy Old Style";
	font-weight: normal;
	font-style: normal;
	src:url("font/GoudyStd.ttf") format("truetype");
}

@font-face {
	font-family: "Symbol";
	font-weight: normal;
	font-style: normal;
	src:url("font/Symbol.ttf") format("truetype");
}

@font-face {
	font-family: "Times Roman";
	font-weight: normal;
	font-style: normal;
	src:url("font/Times-Roman.ttf") format("truetype");
}

/*cover*/

.cover-container{
  margin: 0 auto;
  max-width: 500px;
  page-break-inside: avoid;
}

.cover-container img {
	width: 100%;
}

/*copyright-page*/

.press {
	margin-bottom: 1em;
}

.copyright-page .copy{
	margin-top: 1em;
}

.copyright-page .publisher{
	margin-top: 2em;
}

.copyright-page span{
	font-family: "Gill Sans";
	font-size:0.75em;
	display: block;
}

.copyright-page .pull {
	padding-left: .51em;
}

.copyright-page a{
	color:#777;
	text-decoration: none;
	
}

/*titlepage*/

.title{
	text-align: center;
}

.aut{
	margin-top: 2em;
	font:normal normal 1.33em/1.2em "Times Roman";
	text-align: center;
}


.work{
	font:normal normal 2.33em/1.2em "Times Roman";
	margin-top: 1em;
}

.seri{
	font-family: "Times Roman";
	font-size: 1.09em;
	margin-top: 3em;
}

.trans {
	font-family: "Goudy Old Style";
	font-size: 1em;
	margin-top: 2.5em;
}

.trans span{
	font-size: 1.1em;
	display: block;
	margin-top: .5em;
}

.logo{
	margin: 3em auto 0 auto;
}

/*biography*/

.biography p{
	font-family: "Gill Sans";
	font-size: .83em;
	line-height: 1.4em;
	text-indent: 0;
}

.biography .trl {
	margin-top: 2em;
}

/*preface*/

.preface .container {
	margin-top: 5em;
}

.pre-header {
	font:normal normal 1.33em/1.3em "Berling";
	text-align: center;
	margin-bottom: 1.3em;
}

.und-head {
	max-width: 22em;
	float: right;
	margin-bottom: 2em;
}

.und-head span {
	font:normal normal .79em/1.4em "Berling";
	display: block;
	text-align: right;
}

.preface  .und-head cite {
	font:normal normal .79em/1.3em "Berling";
	display: block;
	text-align: right;
	margin-top: 1em;
}

.preface p {
	font:normal normal .83em/1.3em "Berling";
}

.letter {
	margin:1em auto;
}

.letter p {
	font:normal normal .83em/1.3em "Gill Sans Light";
}

.preface cite {
	text-align: right;
	font:normal normal .83em/1.3em "Berling";
	margin-top: 1em;
	display: block;
}

/*chapter*/

.chapter .container {
	margin-top: 5em;
}

.chapter .subchapter {
	margin-top: 2em;
}

.chapter-header {
	font:normal normal 1.42em/1.3em "Berling";
	text-align: center;
	margin-bottom: 1.3em;
}

.sub-header {
	font:normal bold 1.06em/1.3em "Berling";
	text-align: center;
	margin-bottom: .5em;
}

.text-header {
	font:normal bold 1.06em/1.3em "Berling";
	text-align: left;
	margin-bottom: .5em;
	padding-left: 1.4em;
}

p {
	font:normal normal .93em/1.3em "Berling";
	margin: 0 auto;
	text-indent: 1.5em;
}

p .symbol {
	font:normal normal .93em/1.3em "Symbol";
}

p .space {
	padding-right: .3em;
}

.margined-dbl {
	margin-top: 2em;
}

.margined {
	margin-top: 1em;
}

.poem {
	margin: 1em auto 1em 1.4em;
}

.poem span {
	display: block;
	font:normal normal .93em/1.3em "Berling";
}

.poem cite {
	display: block;
	font:normal normal .93em/1.3em "Berling";
	text-align: right;
	
}

blockquote {
	margin:1em 1em 1em;
}

blockquote p {
	font-family: "Gill Sans Light";
	text-indent: 1.2em;
}

.epigraph {
	float:right;
	text-align: right;
	max-width: 15em;
	margin:1em auto 1em;
}

.epigraph span {
	display: block;
	font:italic normal .89em/1.3em "Berling";
}

.epigraph cite {
	display: block;
	font:normal normal .89em/1.3em "Berling";
	margin-top: 1em;
}

/*figures*/

.img-container {
	max-width: 300px;
	margin: 1.5em auto;
	page-break-inside: avoid;
}

.full-width {
	width: 99.5%;
	max-width: 720px;
	margin: 1.5em auto !important;
	page-break-inside: avoid;
}

.img-alt {
	font:normal normal .75em/1.3em "Gill Sans";
	padding-top: .3em;
	text-align: right;
}

.img-container img {
	width: 100%;
}


/*ntice*/

.notice h1{
	margin-top: 0;
	font:normal normal .96em/1.3em "Gill Sans";
	margin-bottom: 2.5em;
}

.notice ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

.notice li {
	font:normal normal .83em/1.3em "Gill Sans Light";
	margin-bottom: .5em;
}

.notice p {
	font-size: 1em;
	text-indent: 0;
	font-family: "Gill Sans Light";
}

.notice strong {
	font:normal normal 1em/1.3em "Gill Sans";
}

.notice cite {
	display: block;
	text-align: right;
	font:normal normal .83em/1.3em "Gill Sans Light";
	margin-top: 1em;
}

/*common*/
.si-noteref{
  text-decoration: none;
  color: #7A7A7A;
  font-size: .65em;
  line-height: 1em;
  vertical-align: super;
  padding-left: .1em;
}
.si-footnotes{
	margin:4em 0 1em;
}
.si-backref{
	font-weight: bold;
	font-family: sans-serif;
	text-decoration: none;
	color: #000;
	font-size: 1.1em;
}
.si-footnote{
	font-family: "Gill Sans";
	font-weight: normal;
	font-style: normal;
	font-size: .75em;
	margin-bottom: .25em;
}

.clear {
	clear:both;
}