p{text-indent:3.3em;margin-left:0;line-height:140%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.55em;font-family:Amasis,serif;font-size:100%}
.p0{text-indent:0;margin-left:0;line-height:130%;text-align:center;margin-bottom:0}
.p1{text-indent:0;margin-left:0;line-height:130%}
.p2{text-indent:0;margin-left:0;line-height:130%;text-align:center}
.p4{text-align:right}
.p5{text-indent:0;margin-left:0;line-height:130%;text-align:right}
.p6{text-indent:0;margin-left:0;line-height:130%;text-align:center;margin-bottom:.45em}
.p7{text-indent:0;margin-left:0;line-height:.0045em}
.p8{margin-bottom:0}
.p9{line-height:130%}
.p10{text-indent:3.2em;margin-left:2.6em}
.p11{text-align:center;margin-bottom:0}
.p12{text-indent:3.3em;margin-left:1.9em;margin-bottom:0}
.p13{text-indent:3.3em;margin-left:1.9em}
.p14{text-indent:0;margin-left:0}
.p15{text-indent:0;margin-left:0;margin-top:.55em;margin-bottom:1.3em}
h1{text-indent:0;margin-left:0;line-height:150%;margin-right:0;text-align:center;margin-top:1.1em;margin-bottom:1.6em;font-family:Amasis,serif;font-size:100%;font-weight:bold;color:#833c0b}
.t1{font-weight:bold}
.t2{color:#93825c}
.t3{font-size:1.1em;line-height:130%;font-style:italic}
.t4{font-size:.91em;line-height:140%}
.t5{font-size:.91em;line-height:140%;font-weight:bold}
.t6{font-size:.91em;line-height:130%}
.t7{font-size:.91em;line-height:130%;font-style:italic}
.t8{font-weight:bold}
.t10{color:#0066cc;text-decoration:underline}
.t11{font-size:1.5em;line-height:130%}
.t12{font-size:1.3em;line-height:130%;font-weight:bold}
.t13{font-weight:bold;font-style:italic}
.t14{font-size:1.1em;line-height:130%}
.t15{font-style:italic}
.t16{font-size:.65em;line-height:140%;vertical-align:super}
.t17{text-decoration:underline}
.t18{font-size:.65em;line-height:140%;vertical-align:super;text-decoration:underline}
.t19{color:#0066cc;text-decoration:underline}
.t20{font-size:.091em}
.t21{font-weight:bold;font-style:italic}
.t22{font-size:.91em;line-height:140%;font-weight:bold;font-style:italic}
.t23{font-size:.65em;line-height:140%;vertical-align:sub}
.t24{font-size:.59em;line-height:140%;vertical-align:super}
.t25{font-size:.91em;line-height:140%;font-style:italic}
.t26{font-size:.91em;line-height:140%;letter-spacing:.15em}
.th10{font-size:1.1em;line-height:150%}