.MsoPlainText {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: Consolas;
    font-size: 0.77419em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0
    }
.Section {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    page: Section1;
    text-indent: 1.5em
    }
.calibre {
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-family: "Calibri", "sans-serif"
    }
.calibre2 {
    color: #365F91;
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    margin: 24pt 0 0.0001pt
    }
.calibre3 {
    color: #4F81BD;
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    margin: 10pt 0 0.0001pt
    }
.calibre4 {
    color: #4F81BD;
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    margin: 10pt 0 0.0001pt
    }
.calibre5 {
    color: #4F81BD;
    display: block;
    font-family: "Cambria", "serif";
    font-size: 0.77419em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    margin: 10pt 0 0.0001pt
    }
