body{margin:0}
p{text-indent:1em;margin-left:0;margin-right:0;text-align:justify;margin-top:.5em;margin-bottom:.5em;}
.p1{text-indent:0;margin-left:0;text-align:center;margin-top:1.1em;margin-bottom:1.1em}
.p2{text-indent:0;margin-left:0;text-align:center;margin-top:3.3em}
.p3{text-indent:0}
h1{text-indent:1.4em;margin-left:0;line-height:115%;margin-right:0;page-break-after:avoid;margin-top:.43em;margin-bottom:2.6em;font-family:"Trebuchet MS",sans-serif;font-size:127%;font-weight:bold}
.h10{text-indent:1.4em;text-align:center;margin-top:0;margin-bottom:0}
.h12{text-indent:0}
h2{text-indent:2em;margin-left:0;line-height:115%;margin-right:0;page-break-after:avoid;margin-top:2.6em;margin-bottom:.86em;font-family:"Trebuchet MS",sans-serif;font-size:127%;font-weight:bold}
.h21{text-indent:0}
.t2{font-size:1.1em;line-height:120%;font-weight:bold}
.t3{font-size:.65em;line-height:120%;vertical-align:super}
.t4{letter-spacing:.045em}
.t5{font-family:Trebuchet MS,sans-serif}
.t6{font-size:1.6em;line-height:120%;font-weight:bold}