p{text-indent:0;margin-left:0;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:.5em;margin-bottom:.5em;font-family:Cambria,serif;font-size:109%}
.p0{text-indent:0;text-align:center;margin-top:0;margin-bottom:0}
.p1{text-indent:0;text-align:center}
.p2{text-indent:0;text-align:center;margin-bottom:1em}
.p3{text-indent:0;text-align:center;margin-top:1em;margin-bottom:1em}
.p4{text-indent:0;text-align:left}
.p6{text-indent:0;text-align:left;margin-top:0;margin-bottom:0}
.p7{text-indent:0;margin-left:3.5em}
.p8{text-indent:0;margin-left:3.5em;margin-right:7.1em;margin-top:0;margin-bottom:0}
.p9{text-indent:0;margin-left:3.5em;margin-right:11em;margin-top:0;margin-bottom:0}
.p10{text-indent:0;margin-left:3.5em;margin-right:12em;margin-top:0;margin-bottom:0}
.p11{text-indent:0;margin-left:3.5em;margin-right:12em;text-align:right;margin-top:0;margin-bottom:0}
.p12{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:1.2em;margin-bottom:1.2em;font-family:Cambria,serif;font-size:109%;font-weight:bold}
.h10{text-indent:0;margin-top:.5em;margin-bottom:.5em}
.h12{text-indent:0}
h2{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;page-break-inside:avoid;widows:1;orphans:1;margin-top:.11em;margin-bottom:0;font-family:"Calibri Light",sans-serif;font-size:164%;font-weight:normal}
.h21{text-indent:0}
.t1{font-family:"Times New Roman",serif}
.t2{font-weight:bold}
.t3{font-size:1.3em}
.t4{font-weight:bold;font-style:italic}
.t5{font-style:italic}
.t7{font-family:"Segoe UI Light",sans-serif;font-size:1.2em}
.t8{font-size:1.2em}
.t9{font-family:"Segoe UI Semibold",sans-serif;font-size:1.2em}
.t10{font-size:.83em;font-weight:bold;font-style:italic}
.t11{font-size:.65em;font-weight:bold;vertical-align:super}
.t12{font-size:.92em}
.t13{font-size:.6em;font-weight:bold;vertical-align:super}
.th11{font-size:1.3em}