@font-face {
	font-family:"Times New Roman";
	font-style:normal;
	font-weight:bold;
	src : url("../font/TimesNewRomanPS-BoldMT.ttf");
}
@font-face {
	font-family:"Times New Roman";
	font-style:italic;
	font-weight:normal;
	src : url("../font/TimesNewRomanPS-ItalicMT.ttf");
}
@font-face {
	font-family:"Times New Roman";
	font-style:oblique;
	font-weight:normal;
	src : url("../font/TimesNewRomanPS-ItalicMT.ttf");
}
@font-face {
	font-family:"Times New Roman";
	font-style:normal;
	font-weight:normal;
	src : url("../font/TimesNewRomanPSMT.ttf");
}
@font-face {
	font-family:"Trebuchet MS";
	font-style:normal;
	font-weight:bold;
	src : url("../font/TrebuchetMS-Bold.ttf");
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	-epub-hyphens:auto;
	-webkit-hyphens:auto;
}
@page {
	margin : 10px 10px 10px 10px;
}
p.govde-metin {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.167;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:15px;
}
p.govde-metin-orta {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:11px;
}
p.kitap-ismi-giris {
	-epub-ruby-position:over;
	break-before:page;
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:2.083em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:25px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:11px;
}
p.BASLIK01 {
	-epub-ruby-position:over;
	break-before:page;
	color:#ff4f4f;
	font-family:"Trebuchet MS", sans-serif;
	font-size:1.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.125;
	margin-bottom:18px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:15px;
}
p.Ara-BASLIK03-orta {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Trebuchet MS", sans-serif;
	font-size:1.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:0.938;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:11px;
}
span.italic {
	font-family:"Times New Roman", serif;
	font-style:italic;
	font-weight:normal;
}
span.Bold {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-1 {
	font-family:"Times New Roman", serif;
	font-size:0.75em;
	font-style:normal;
	font-weight:normal;
}
img.frame-1 {
	width:54%;
}
img.frame-2 {
	width:19%;
}
img.frame-3 {
	width:71%;
}
div.frame-4 {
	margin:10px auto 10px auto;
	text-align:center;
}
img.frame-5 {
	width:72%;
}
img.frame-6 {
	width:46%;
}
img.frame-7 {
	width:70%;
}
img.frame-8 {
	width:29%;
}
img.frame-9 {
	width:50%;
}
img.frame-10 {
	width:26%;
}
img.frame-11 {
	width:45%;
}
img.frame-12 {
	width:57%;
}
img.frame-13 {
	width:68%;
}
img.frame-14 {
	width:51%;
}
img.frame-15 {
	width:55%;
}
img.frame-16 {
	width:47%;
}
img.frame-17 {
	width:66%;
}
img.frame-18 {
	width:65%;
}
img.frame-19 {
	width:67%;
}
img.frame-20 {
	width:62%;
}
img.frame-21 {
	width:49%;
}
