@font-face {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : normal;
	src : url("../Fonts/LiberationSerif.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : bold;
	src : url("../Fonts/LiberationSerif-Bold.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : italic ;
	font-weight : bold;
	src : url("../Fonts/LiberationSerif-BoldItalic.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : italic ;
	font-weight : normal;
	src : url("../Fonts/LiberationSerif-Italic.ttf");
}
@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.dipp {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
}
span.char-style-override-1 {
	font-size : 1.3em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-2 {
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-3 {
	font-family : "Liberation Serif";
	font-size : 0.75em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-4 {
	font-family : "Liberation Serif", serif;
	font-size : 0.75em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-5 {
	font-family : "Liberation Serif", serif;
	font-size : 0.75em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-6 {
	color : #0000ff;
	font-family : "Liberation Serif";
	font-size : 0.75em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-7 {
	font-family : "Liberation Serif", serif;
	font-size : 1.25em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-8 {
	font-family : "Liberation Serif", serif;
	font-size : 1.67em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-9 {
	font-family : "Liberation Serif", serif;
	font-size : 0.92em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-10 {
	font-family : "Liberation Serif";
	font-size : 0.83em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-11 {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-12 {
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-13 {
	vertical-align : super;
}
span.char-style-override-14 {
	color : #ffffff;
	vertical-align : super;
}
span.char-style-override-15 {
	font-style : italic;
	font-weight : bold;
}
span.char-style-override-16 {
	font-size : 0.95em;
}
span.char-style-override-17 {
	font-size : 0.91em;
}
span.char-style-override-18 {
	color : #353535;
}
span.char-style-override-19 {
	font-size : 0.95em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-20 {
	font-size : 1.11em;
}
span.char-style-override-21 {
	font-size : 1.78em;
}
span.char-style-override-22 {
	color : #000000;
}
span.char-style-override-23 {
	color : #000000;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-24 {
	color : #000000;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-25 {
	color : #343434;
}
span.char-style-override-26 {
	color : #262626;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-27 {
	color : #262626;
}
p.paragraf {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.36;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px 30px;
}
p.anabaslik {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 20px 0px;
}
p.arabaslik-orta {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.08;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 20px 0px;
}
p.arabaslik-sol {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.08;
	text-align : left;
	color : #000000;
	text-indent : 20px;
	margin : 30px 30px 15px 30px;
}
p.split {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.08;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 100px 0px 0px 0px;
}
p.dipnot {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.44;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 30px;
}
p.bos {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 14px;
	margin : 15px 30px;
}
p.paragraf-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.36;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px 30px;
}
p.No-Paragraph-Style {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.No-Paragraph-Style-1 {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.No-Paragraph-Style-2 {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.paragraf-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.5;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px 30px;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
}
p.para-style-override-2 {
	margin-top : 100px;
}
p.para-style-override-3 {
	margin-top : 10px;
}
p.para-style-override-4 {
	margin-top : 20px;
}
p.para-style-override-5 {
	margin-top : 30px;
	text-align : center;
}
p.para-style-override-6 {
	margin-left : 30px;
	margin-top : 100px;
}
p.para-style-override-7 {
	margin-left : 30px;
}
p.para-style-override-8 {
	margin-top : 100px;
	text-align : center;
}
p.para-style-override-9 {
	text-align : center;
}
p.para-style-override-10 {
	margin-top : 20px;
	text-align : center;
}
p.para-style-override-11 {
	margin-top : 50px;
	text-align : center;
}
p.para-style-override-12 {
	margin-top : 150px;
	text-align : center;
}
p.para-style-override-13 {
	margin-top : 100px;
	text-align : right;
}
p.para-style-override-14 {
	text-align : right;
}
p.para-style-override-15 {
	margin-top : 20px;
	text-align : right;
}
p.para-style-override-16 {
	margin-top : 20px;
	text-indent : 14px;
}
p.para-style-override-17 {
	text-indent : 14px;
}
p.para-style-override-18 {
	margin-left : 14px;
	margin-right : 14px;
	text-indent : 14px;
}
p.para-style-override-19 {
	margin-left : 14px;
	margin-right : 14px;
	margin-top : 20px;
	text-indent : 14px;
}
p.para-style-override-20 {
	text-align : left;
}
div.Basic-Text-Frame {
}
