p{text-indent:0;margin-left:0;line-height:115%;margin-right:0;widows:1;orphans:1;margin-top:0;margin-bottom:0;font-family:Cambria,serif;font-size:100%}
.p0{text-indent:0;text-align:center;margin-bottom:.36em}
.p1{text-indent:0;line-height:100%;text-align:center}
.p2{text-indent:0;text-align:center}
.p3{text-indent:0;text-align:justify;margin-bottom:.36em}
.p4{text-indent:0;margin-bottom:.36em}
.p6{text-indent:0;margin-bottom:.91em}
.p7{text-indent:0;margin-left:6.4em;margin-right:5.9em;text-align:justify}
.p8{text-indent:0;margin-right:2.1em;text-align:justify}
.p9{text-indent:0;margin-right:4em;text-align:justify}
.p10{text-indent:-3.2em;margin-left:3.2em}
.p11{text-indent:0;margin-right:2.7em;text-align:justify}
.p12{text-indent:0;margin-right:2.7em;margin-bottom:.91em}
.p13{text-indent:0;margin-right:2.7em}
.p14{text-indent:0;text-align:right;margin-bottom:.36em}
.p15{text-indent:-1.6em;margin-left:1.6em;text-align:justify;margin-bottom:.36em}
.p16{text-indent:0;text-align:center;page-break-after:avoid;page-break-inside:avoid;margin-top:2.2em}
.p17{text-indent:0;margin-top:.55em}
.p18{text-indent:0;margin-left:.95em;margin-top:.27em}
.p19{text-indent:0;margin-top:.27em}
.p20{text-indent:-.9em;margin-left:.9em;line-height:100%;text-align:justify;margin-bottom:.27em}
.p21{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;widows:1;orphans:1;margin-top:3em;margin-bottom:4.5em;font-family:Opalo;font-size:182%;font-weight:bold}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;line-height:115%;margin-right:0;page-break-after:avoid;page-break-inside:avoid;widows:1;orphans:1;margin-top:2.1em;margin-bottom:1.3em;font-family:Cambria,serif;font-size:127%;font-weight:bold}
.h21{text-indent:0}
.t1{font-size:1.8em;line-height:115%}
.t2{font-family:"Book Antiqua",serif;font-size:.36em;line-height:115%}
.t3{font-family:"Book Antiqua",serif;font-size:2.3em;line-height:115%;font-weight:bold}
.t4{font-family:"Book Antiqua",serif;font-size:.091em;line-height:115%;font-weight:bold}
.t5{font-family:"Arial Black",sans-serif;font-size:1.8em;line-height:100%}
.t6{font-family:"Freestyle Script",cursive;font-size:13em;line-height:100%;font-weight:bold}
.t7{font-family:"Freestyle Script",cursive;font-size:15em;line-height:100%;font-weight:bold}
.t8{font-family:"Book Antiqua",serif;font-size:1.6em;line-height:115%;font-style:italic}
.t9{font-family:"Book Antiqua",serif;font-size:1.1em;line-height:115%;font-style:italic}
.t10{font-weight:bold}
.t12{font-weight:bold;font-style:italic}
.t13{font-style:italic}
.t14{font-size:.65em;line-height:115%;vertical-align:super}
.t15{font-size:.65em;line-height:115%;font-weight:bold;vertical-align:super}
.t16{font-family:Opalo;font-size:1.8em;line-height:115%;font-weight:bold;color:#365f91}
.t17{font-family:Calibri,sans-serif;font-size:1.1em;line-height:115%;font-weight:bold;font-style:italic}
.t18{font-family:Calibri,sans-serif}
.t19{font-family:Calibri,sans-serif;font-size:.91em;line-height:115%;font-weight:bold}
.t20{font-size:.47em;line-height:100%;vertical-align:super}
.t21{font-size:.73em;line-height:100%}