body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
.nomargin{margin:0}
p{text-indent:.57em;margin-left:0;line-height:115%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.6em;font-family:Verdana,sans-serif;font-size:91%}
.p0{line-height:100%;text-align:center;margin-bottom:0}
.p2{text-align:center}
.p3{text-align:left}
.p4{line-height:100%;text-align:center}
.p5{text-indent:0;margin-left:2.4em}
.p6{text-indent:-1.4em;margin-left:3.5em}
.p7{text-indent:0;margin-left:0;text-align:left;margin-bottom:1em}
.p8{text-indent:0;margin-left:0;text-align:center;margin-top:2.4em;margin-bottom:0}
.p9{text-indent:0;margin-left:0;text-align:center;margin-bottom:1em}
.t2{font-family:Cambria,serif;font-size:2em;line-height:115%}
.t3{font-family:Cambria,serif;font-size:2.4em;line-height:115%}
.t4{font-family:Cambria,serif;font-size:2em;line-height:115%;color:blue;text-decoration:underline}
.t5{font-family:Cambria,serif;font-size:1.8em;line-height:115%}
.t6{font-family:Cambria,serif;font-size:2.4em;line-height:100%}
.t7{font-family:Calibri,sans-serif;font-size:1.1em;line-height:115%}
.t8{font-family:Symbol;font-size:1.2em;line-height:115%}
.t9{font-size:1.2em;line-height:115%}
.t10{font-size:1.2em;line-height:115%;text-decoration:underline}