@page {
  margin-right: 5pt;
  margin-top: 5pt;
  margin-left: 5pt;
  margin-bottom: 5pt;
  }
.bold {
  font-weight: bold;
}
.calibre {
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  text-align: justify;
  margin: 0 5pt;
}
.calibre1 {
  display: block;
}
.calibre2 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 1em;
  margin: 0;
}
.calibre3 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify;
  text-indent: 1.5em;
  margin: 0;
}
.calibre5 {
  font-size: 1.29167em;
  line-height: 1.2;
}
.calibre6 {
  font-size: 0.75em;
  line-height: normal;
  vertical-align: sub;
}
.calibre7 {
  font-size: 0.83333em;
}
.calibre8 {
  font-size: 1.2em;
}
.calibre9 {
  font-size: 0.75em;
  line-height: normal;
  vertical-align: super;
}
.mbppagebreak {
  border-bottom: 0;
  border-top: 0;
  display: block;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
  margin: 0;
}
