@font-face{font-family:"Georgia";font-style:normal;font-weight:normal;}
@font-face{font-family:"Georgia";font-style:normal;font-weight:bold;}
@font-face{font-family:"Georgia";font-style:italic;font-weight:normal;}
@font-face{font-family:"Georgia";font-style:italic;font-weight:bold;src:}
body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
.nomargin{margin:0}
p{text-indent:0;margin-left:0;line-height:150%;margin-right:0;text-align:justify;margin-top:12pt;margin-bottom:12pt;font-family:Georgia,serif;font-size:109%;color:black;letter-spacing:0.6pt}
.p0{text-align:center;margin-top:0;margin-bottom:0}
.p2{text-align:center}
.p3{margin-top:10pt;margin-bottom:10pt}
.p4{margin-left:0.01in;margin-right:0.04in;margin-top:0;margin-bottom:27pt}
.p5{margin-left:0.01in;margin-right:0.06in;margin-top:0;margin-bottom:0}
.p6{margin-left:0.01in;margin-right:0.04in;margin-top:0;margin-bottom:0}
.p7{text-indent:0.15in;margin-left:0.01in;margin-right:0.06in;margin-top:0;margin-bottom:0}
.p8{margin-top:0;margin-bottom:0}
.p9{margin-left:0.01in;margin-right:0.04in;margin-top:0;margin-bottom:30pt}
.p10{margin-left:0.04in;text-align:center;margin-top:0;margin-bottom:0.5pt}
.p11{margin-left:0.01in;margin-right:0.06in;margin-top:0;margin-bottom:34.6pt}
.p12{margin-left:0.01in;margin-right:0.04in;margin-top:0;margin-bottom:30.4pt}
.p13{margin-left:0.01in;margin-right:0.03in;margin-top:0;margin-bottom:0}
.p14{text-indent:-0.25in;margin-left:0.5in}
.p15{margin-left:0.03in;margin-right:0.18in;margin-top:0;margin-bottom:0}
.p16{text-indent:0.11in;margin-left:0.03in;margin-right:0.18in;margin-top:0;margin-bottom:0}
.p17{margin-left:0.03in;margin-right:0.12in;margin-top:0;margin-bottom:0}
.p18{margin-left:0.01in;margin-right:0.21in;margin-top:0;margin-bottom:30pt}
.p19{margin-left:0.01in;margin-right:0.22in;margin-top:0;margin-bottom:0}
.p20{margin-left:0.01in;margin-right:0.21in;margin-top:0;margin-bottom:0}
.p21{margin-left:0.01in;margin-right:0.01in;margin-top:0;margin-bottom:0}
.p22{margin-left:0.01in;margin-right:0.03in;margin-top:0;margin-bottom:8.8pt}
.p23{margin-left:0.46in;margin-right:0.75in;margin-top:0;margin-bottom:5.6pt}
.p24{margin-left:2.69in;margin-right:0.75in;margin-top:0;margin-bottom:9.4pt}
.p25{margin-left:0.01in;margin-right:0.22in;margin-top:0;margin-bottom:30pt}
.p26{margin-left:0.01in;margin-right:0.24in;margin-top:0;margin-bottom:0}
.p27{text-indent:0.15in;margin-left:0.01in;margin-right:0.24in;margin-top:0;margin-bottom:0}
.p28{text-indent:0.15in;margin-left:0.01in;margin-right:0.31in;margin-top:0;margin-bottom:0}
.p29{margin-left:0.03in;margin-right:0.06in;margin-top:0;margin-bottom:0}
.p30{margin-left:0.03in;margin-right:0.03in;margin-top:0;margin-bottom:0}
.p31{text-indent:0.15in;margin-left:0.01in;margin-right:0.28in;margin-top:0;margin-bottom:0}
.p32{margin-left:0.01in;margin-right:0.14in;margin-top:0;margin-bottom:0}
.p33{margin-left:0.03in;margin-right:0.31in;margin-top:0;margin-bottom:0}
.p34{text-indent:0.15in;margin-left:0.01in;margin-right:0.18in;margin-top:0;margin-bottom:0}
.p35{margin-left:0.01in;margin-right:0.18in;margin-top:0;margin-bottom:0}
.p36{margin-left:0.01in;margin-right:0.01in;margin-top:0;margin-bottom:30pt}
.p37{margin-left:0.01in;margin-right:0.03in;margin-top:0;margin-bottom:30pt}
.p38{margin-left:0.03in;margin-right:0.24in;margin-top:0;margin-bottom:30.2pt}
.p39{margin-left:0.01in;margin-right:0.15in;margin-top:0;margin-bottom:30pt}
.p40{margin-left:0.01in;margin-right:0.14in;margin-top:0;margin-bottom:30pt}
.p41{margin-right:0.01in;margin-top:0;margin-bottom:0}
.p42{margin-left:0.01in;margin-right:0.06in;margin-top:0;margin-bottom:30pt}
.p43{margin-left:0.01in;margin-right:0.26in;margin-top:0;margin-bottom:0}
.p44{margin-left:0.01in;margin-right:0.19in;margin-top:0;margin-bottom:0}
.p45{text-indent:0.48in;margin-left:0.01in;margin-right:0.03in;margin-top:0;margin-bottom:0}
.p46{margin-left:0.03in;margin-right:0.35in;margin-top:0;margin-bottom:0}
.p47{text-indent:0.15in;margin-left:0.01in;margin-right:0.22in;margin-top:0;margin-bottom:0}
.p48{margin-left:0.01in;margin-right:0.18in;margin-top:0;margin-bottom:30pt}
.p49{text-indent:1.15in;margin-left:0.01in;margin-right:0.03in;margin-top:0;margin-bottom:0}
.p50{margin-left:0.01in;margin-right:0.07in;margin-top:0;margin-bottom:30pt}
.p51{margin-left:0.01in;margin-right:0.07in;margin-top:0;margin-bottom:0}
.p52{text-indent:0.15in;margin-left:0.01in;margin-right:0.07in;margin-top:0;margin-bottom:0}
.p53{margin-left:0.01in;text-align:center;margin-top:0;margin-bottom:0}
.p54{margin-left:0.01in;margin-right:0.25in;margin-top:0;margin-bottom:0}
.p55{margin-left:0.01in;margin-right:0;margin-top:0;margin-bottom:0}
.p56{text-indent:0.14in;margin-left:0.01in;margin-right:0.21in;margin-top:0;margin-bottom:0}
.p57{margin-left:0.03in;margin-right:0.26in;margin-top:0;margin-bottom:0}
.p58{text-indent:0.15in;margin-left:0.03in;margin-right:0.17in;margin-top:0;margin-bottom:0}
.p59{margin-left:0.03in;margin-right:0.17in;margin-top:0;margin-bottom:0}
.p60{margin-left:0.03in;margin-right:0.04in;margin-top:0;margin-bottom:0}
.p61{margin-left:0.14in;margin-top:0;margin-bottom:0}
.p62{text-indent:0.33in;margin-left:0;margin-right:0.15in;margin-top:0;margin-bottom:30pt}
.p63{margin-right:0.15in;margin-top:0;margin-bottom:30pt}
.p64{margin-left:0.03in;margin-right:0.21in;margin-top:0;margin-bottom:30pt}
.p65{margin-right:0.13in;margin-top:0;margin-bottom:0}
.p66{text-indent:0.14in;margin-left:0.03in;margin-right:0.24in;margin-top:0;margin-bottom:0}
.p67{margin-left:0.03in;margin-right:0.24in;margin-top:0;margin-bottom:0}
.p68{text-indent:0.15in;margin-left:0.01in;margin-right:0.42in;margin-top:0;margin-bottom:0}
.p69{margin-left:0.01in;margin-right:0.2in;margin-top:0;margin-bottom:0}
.p70{margin-left:0.01in;margin-right:0.42in;margin-top:0;margin-bottom:6pt}
.p71{margin-left:0.01in;margin-right:0;margin-top:0;margin-bottom:6pt}
.p72{text-indent:0.14in;margin-left:1.33in;margin-right:1.43in;margin-top:0;margin-bottom:6pt}
.p73{margin-left:0.01in;margin-right:0.14in;margin-top:0;margin-bottom:29.8pt}
.p74{text-indent:0.15in;margin-left:0.01in;margin-right:0.19in;margin-top:0;margin-bottom:0}
.p75{margin-left:0.01in;margin-right:0.43in;margin-top:0;margin-bottom:0}
.p76{margin-left:0.01in;margin-right:0.43in;margin-top:0;margin-bottom:30pt}
.p77{margin-left:0.03in;margin-right:0.83in;margin-top:0;margin-bottom:27.4pt}
.p78{margin-left:0.03in;margin-right:0.22in;margin-top:0;margin-bottom:30pt}
.p79{margin-left:0.01in;margin-right:0.33in;margin-top:0;margin-bottom:30pt}
.p80{text-indent:0.15in;margin-left:0.01in;margin-right:0.17in;margin-top:0;margin-bottom:0}
.p81{text-indent:0.15in;margin-left:0.03in;margin-right:0.22in;margin-top:0;margin-bottom:0}
.p82{margin-left:0.01in;margin-right:0.01in;margin-top:0;margin-bottom:5.8pt}
.p83{margin-left:0.46in;margin-right:1.75in;margin-top:0;margin-bottom:6.4pt}
.p84{margin-left:0.01in;margin-right:0.01in;margin-top:0;margin-bottom:5.5pt}
.p85{margin-left:0.46in;margin-right:2.14in;margin-top:0;margin-bottom:6.2pt}
.p86{text-indent:0.44in;margin-left:0.01in;margin-right:0.01in;margin-top:0;margin-bottom:30pt}
.p87{margin-left:0.01in;margin-right:0.29in;margin-top:0;margin-bottom:0}
.p88{margin-left:0.44in;margin-right:1.82in;margin-top:0;margin-bottom:0}
.p89{text-indent:0.15in;margin-left:0.01in;margin-right:0.29in;margin-top:0;margin-bottom:0}
.p90{text-indent:0.15in;margin-left:0.01in;margin-top:0;margin-bottom:0}
.p91{margin-left:0.44in;margin-top:0;margin-bottom:0}
.p92{margin-left:0.01in;margin-right:0.25in;margin-top:0;margin-bottom:29.8pt}
.p93{text-indent:0.48in;margin-left:0.01in;margin-right:0.25in;margin-top:0;margin-bottom:0}
.p94{margin-left:0.22in;margin-top:0;margin-bottom:0}
.p95{margin-left:3.61in;margin-top:0;margin-bottom:4.3pt}
.p96{margin-left:3.61in;margin-top:0;margin-bottom:0}
.t0{font-size:1em;color:#000000;letter-spacing:0}
.t1{font-size:1em;color:#000000;letter-spacing:0}
.t2{font-size:1em;color:#000000;letter-spacing:0}
.t3{font-size:3em;color:#000000;letter-spacing:0}
.t4{font-size:3em;color:#000000;letter-spacing:0}
.t5{font-size:1em;color:#000000;letter-spacing:0}
.t6{font-size:1em;color:#000000;letter-spacing:-0.1pt}
.t7{font-size:1em;color:#000000;letter-spacing:-0.1pt}
.t8{font-size:1em;color:#000000;letter-spacing:-0.1pt}
.t9{font-size:1em;color:#000000;letter-spacing:-0.1pt}
.t10{font-size:.65em;color:#000000;vertical-align:super;letter-spacing:0}
.t11{font-size:1em;letter-spacing:-0.1pt}
.t12{font-size:1em;letter-spacing:-0.1pt}
.t13{font-size:.65em;color:#000000;vertical-align:super;letter-spacing:-0.1pt}
.t14{font-size:1em;color:#000000;letter-spacing:0.4pt}
.t15{font-size:1em;color:#000000;letter-spacing:0.4pt}
.t16{font-size:1em;color:#000000;letter-spacing:0.4pt}
.t17{font-size:1em;color:#000000;letter-spacing:0.4pt}
.t18{font-size:1em;color:#000000;letter-spacing:0.1pt}
.t19{font-size:1em;color:#000000;letter-spacing:0.1pt}
.t20{font-size:1em;color:#000000;letter-spacing:0.1pt}
.t21{font-size:1em;color:#000000;letter-spacing:0.1pt}
.t22{font-size:1em;color:#000000}
.t23{font-size:1em;color:#000000}
.t24{font-size:1em;color:#000000}
.t25{font-size:1em;color:#000000}
.t27{font-size:1em}
.t28{font-size:1em}
.t29{font-size:1em}
.t30{font-size:.65em;vertical-align:super}
.t31{font-size:1em;color:#000000;letter-spacing:-0.5pt}
.t32{font-size:1em;color:#000000;letter-spacing:-0.5pt}
.t33{font-size:1em;color:#000000;letter-spacing:-0.5pt}
.t34{font-size:1em;color:#000000;letter-spacing:-0.5pt}
.t35{font-size:1em;letter-spacing:-0.5pt}
.t36{font-size:1em;letter-spacing:0}
.t37{font-size:1em;letter-spacing:0}
.t38{font-size:1em;letter-spacing:0}
.t39{font-size:1em;letter-spacing:0.5pt}
.t40{font-size:1em;letter-spacing:0.5pt}
.t41{font-size:1em;letter-spacing:0.5pt}
.t42{font-size:1em;letter-spacing:0.5pt}
.t43{font-size:1em;letter-spacing:0.4pt}
.t44{font-size:1em;letter-spacing:0.4pt}
.t45{font-size:1em;letter-spacing:0.4pt}
.t46{font-size:1em;letter-spacing:0.4pt}
.t47{font-size:1em;letter-spacing:0.2pt}
.t48{font-size:1em;letter-spacing:0.2pt}
.t49{font-size:.79em;letter-spacing:0.4pt}
.t50{font-size:.79em;letter-spacing:0.4pt}
.t51{font-size:.79em;letter-spacing:0.4pt}
.t52{font-size:1em;color:#000000;letter-spacing:-0.4pt}
.t53{font-size:1em;color:#000000;letter-spacing:-0.4pt}
.t54{font-size:1em;color:#000000;letter-spacing:-0.4pt}
.t55{font-size:1em;color:#222222;letter-spacing:-0.1pt}
.t56{font-size:1em;color:#222222;letter-spacing:-0.1pt}
.t57{font-size:1em;color:#222222;letter-spacing:-0.1pt}
.t58{font-size:1em;letter-spacing:-0.1pt}
.t59{font-size:1em;letter-spacing:-0.1pt}
.t60{font-size:1em;letter-spacing:-0.4pt}
.t61{font-size:1em;color:#000000;letter-spacing:-0.4pt}