body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
p{text-indent:.71em;margin-left:0;line-height:140%;margin-right:0;margin-top:0;margin-bottom:.3em;font-family:Arial,sans-serif;font-size:91%}
.p0{text-align:center}
.p1{text-indent:0;margin-left:0}
.p3{line-height:120%;margin-bottom:0}
.p4{text-indent:0;margin-left:0;text-align:center;margin-bottom:.5em}
h1{text-indent:0;margin-left:0;line-height:140%;margin-right:0;text-align:center;margin-top:.6em;margin-bottom:0;font-family:Arial,sans-serif;font-size:91%;font-weight:bold;color:#c00000}
.t0{font-weight:bold;color:#c00000}
.t2{font-family:"Helvetica Neue WGL",sans-serif;font-size:.95em;line-height:140%}
.t3{font-style:italic}
.t4{font-weight:bold;font-style:italic;color:#c00000}
.t6{color:blue;text-decoration:underline}
.t7{font-weight:bold}
.t8{font-weight:bold;font-style:italic}
.t9{font-size:.65em;line-height:140%;vertical-align:super}