@namespace h "http://www.w3.org/1999/xhtml";
.baslik {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.67em;
  page-break-before: always;
  text-align: center;
}
.calibre {
  display: block;
  margin-bottom: 0;
  margin-left: 10pt;
  margin-right: 10pt;
  margin-top: 0;
  page-break-before: always;
}
.calibre1 {
  display: block;
  page-break-after: always;
}
.calibre2 {
  height: 205;
  width: 300;
}
.calibre3 {
  height: 20;
  width: 79;
}
.calibre4 {
  height: 14;
  width: 11;
}
.calibre5 {
  height: 13;
  width: 13;
}
.chapter {
  display: block;
}
.h1baslik {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.83em;
  page-break-before: always;
  text-align: center;
}
.h2baslik {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.idebold {
  font-weight: bold;
}
.ideitalik {
  font-style: italic;
}
.kunye {
  display: block;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 3em;
  margin-right: 0;
  margin-top: 0;
  text-align: left;
}
.normal {
  display: block;
  font-size: 1em;
  margin-bottom: 0.7em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.7em;
  text-align: justify;
  text-indent: 0.75em;
}
.resim {
  display: block;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.solbaslik {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: justify;
  text-indent: 0.75em;
}
a {
  color: inherit;
  text-decoration: inherit;
  cursor: default;
}
a[href] {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
