p{text-indent:0;margin-left:.26em;line-height:1.4em;margin-right:.26em;text-align:justify;margin-top:.55em;margin-bottom:0;font-family:Tahoma,sans-serif;font-size:100%}
.p0{text-indent:0;margin-left:0;line-height:100%;margin-right:0;text-align:center;margin-top:0}
.p2{text-indent:0;margin-left:0;line-height:100%;margin-right:0;text-align:center;margin-top:0;margin-bottom:1.4em}
.p3{text-indent:0;text-align:center}
.p4{text-indent:-4.9em;margin-left:5.2em}
.p5{text-indent:0;line-height:100%;text-align:center;margin-top:0}
.p6{text-indent:1em}
h1{text-indent:0;margin-left:.2em;line-height:150%;margin-right:.2em;text-align:center;page-break-after:avoid;margin-top:1.3em;margin-bottom:1.3em;font-family:Cambria,serif;font-size:127%;font-weight:bold;color:#c00000}
.h11{text-indent:0}
.t1{font-family:Calibri,sans-serif}
.t3{font-family:Cambria,serif;font-size:2.4em;line-height:100%;color:#17365d;letter-spacing:.0096em}
.t4{font-family:Cambria,serif;font-size:2.4em;line-height:100%;font-weight:bold;color:#17365d;letter-spacing:.0096em}
.t6{font-weight:bold}
.t7{font-size:1.5em}