p{text-indent:1em;margin-left:.091em;line-height:115%;margin-right:.091em;text-align:justify;margin-top:0;margin-bottom:0;font-size:100%}
.p0{text-indent:0;margin-left:0;margin-right:0;text-align:center}
.p1{text-indent:0;margin-left:-.65em;margin-right:0;text-align:center}
.p2{text-indent:0;margin-left:0;text-align:center;margin-bottom:3em}
.p4{text-indent:1em;margin-left:.18em;margin-right:.18em}
.p5{margin-right:0}
.p6{text-indent:1em;margin-left:.18em;margin-right:.18em;margin-bottom:1.2em}
.p7{text-indent:0;margin-left:0;text-align:center;margin-bottom:1.1em}
.p8{text-indent:3.1em;margin-left:3.3em;margin-right:0}
.p9{text-indent:1em;margin-left:-.65em;margin-right:0}
.p10{text-indent:1em;margin-right:0}
.p11{text-indent:1em;margin-right:0;text-align:center}
.p12{text-indent:1em;margin-left:-1.3em}
.p13{text-indent:.91em;margin-left:-1.3em}
.p14{text-indent:.91em;margin-right:0}
.p15{text-indent:1em;margin-right:.18em}
.p16{text-indent:1em;margin-right:.18em;margin-bottom:.75em}
.p17{text-indent:0;margin-right:.27em;text-align:center;margin-bottom:1em}
.p18{text-indent:.45em;margin-right:.18em}
.p19{text-indent:.45em;margin-right:0}
.p20{text-indent:0;text-align:center;margin-bottom:3em}
.p21{text-indent:.91em;margin-right:.18em}
.p22{text-indent:0;}
.p23{text-indent:0;;margin-right:0}
.p24{text-indent:0;margin-bottom:1em}
.p25{text-indent:0;margin-right:.36em;text-align:center;margin-bottom:1em}
.p26{text-indent:0;margin-right:0;margin-bottom:.032em}
.p27{text-indent:0;margin-right:0;margin-bottom:.2em}
.p28{text-indent:0;margin-right:0;margin-bottom:.13em}
.p29{text-indent:0;margin-left:0;margin-right:.18em;text-align:center;margin-bottom:3.2em}
.p30{text-indent:.91em;margin-left:.091em}
.p31{text-indent:0;margin-left:4.9em;margin-right:0}
.p32{text-indent:0;margin-left:.091em;margin-right:.18em}
.p33{margin-right:.18em}
.p34{text-indent:.91em;margin-left:.091em;margin-right:0}
.p35{text-indent:1em;margin-left:-.65em}
.p36{text-indent:.55em;margin-left:.45em}
.p37{text-indent:.91em;margin-left:.18em}
.p38{text-indent:.91em;margin-left:.18em;margin-right:0}
.p39{text-indent:0;margin-left:.45em}
.p40{text-indent:0;margin-left:.45em;margin-right:0;margin-bottom:.26em}
.p41{text-indent:0;margin-left:.45em;margin-right:0;margin-bottom:.25em}
.p42{text-indent:0;margin-left:.45em;margin-right:0;margin-bottom:.16em}
.p43{text-indent:0;margin-left:.45em;margin-right:.27em;text-align:center;margin-bottom:1em}
.p44{text-indent:1em;margin-left:.18em;margin-right:0}
.p45{text-indent:0;margin-left:.36em;margin-right:0}
.p46{text-indent:0;margin-left:0;text-align:center;margin-bottom:2.9em}
.p47{text-indent:1.3em;margin-left:-.091em}
.p48{text-indent:1em;margin-left:0}
.p49{text-indent:1em;margin-left:.18em}
.p50{text-indent:1em;margin-left:.18em;margin-bottom:1em}
.p51{text-indent:0;margin-left:0;margin-right:.18em;text-align:center;margin-bottom:1.3em}
.p52{text-indent:0;margin-left:.091em;margin-right:0}
.p53{text-indent:.73em;margin-left:.45em}
.p54{text-indent:.73em;margin-left:.45em;margin-right:0}
.p55{text-indent:0;margin-left:0;margin-bottom:3em}
.p56{text-indent:0;margin-left:0;text-align:center;margin-bottom:3em}
.p57{text-indent:1em;margin-left:0;margin-right:0}
.p58{text-indent:1em;margin-left:0;margin-right:.27em;margin-bottom:3em}
.p59{text-indent:0;margin-left:0;margin-right:0}
.p60{text-indent:.91em;margin-left:.091em;margin-right:0;margin-bottom:.18em}
.p61{text-indent:0;margin-left:0;text-align:center;margin-bottom:3.2em}
.p62{text-indent:0;margin-left:0}
.p63{text-indent:0;margin-left:.55em;margin-right:0}
.p64{text-indent:0;margin-left:.55em}
.p65{text-indent:0;margin-left:.55em;margin-bottom:.78em}
.p66{text-indent:0;margin-left:.55em;text-align:center;margin-bottom:.78em}
.p67{text-indent:0;margin-left:.55em;margin-right:0;margin-bottom:.45em}
.p68{text-indent:0;margin-left:.55em;margin-right:0;margin-bottom:.24em}
.p69{text-indent:0;margin-left:0;margin-right:.18em;text-align:center;margin-bottom:3em}
.p70{text-indent:.91em;margin-left:.091em;margin-right:.18em}
.p71{text-indent:0;margin-left:0;margin-right:.18em;text-align:center;margin-bottom:1.1em}
.p72{text-indent:0;margin-left:.45em;margin-right:0}
.p73{text-indent:0;margin-left:.45em;margin-bottom:.49em}
.p74{text-indent:0;margin-left:.45em;margin-right:0;margin-bottom:.13em}
.p75{text-indent:0;margin-left:0;text-align:center;margin-bottom:3em}
.p76{text-indent:1em;margin-left:.18em;margin-bottom:.93em}
.p77{text-indent:0;margin-left:10em;margin-right:0;margin-bottom:1.4em}
.p78{text-indent:.91em;margin-left:.091em;margin-bottom:.78em}
.p79{text-indent:0;margin-left:0;margin-right:.36em;text-align:center;margin-bottom:1.1em}
.p80{text-indent:.73em;margin-left:.36em}
.p81{text-indent:.73em;margin-left:.36em;margin-right:0}
.p82{text-indent:.64em;margin-left:.36em}
.p83{text-indent:.64em;margin-left:.36em;margin-right:0}
.p84{text-indent:0;margin-left:0;margin-right:.45em;text-align:center;margin-bottom:3.3em}
.p85{text-indent:0;margin-left:.18em}
.p86{margin-bottom:1.1em}
.p87{text-indent:.91em;margin-left:0}
.p88{text-indent:.91em;margin-left:0;margin-right:0}
.p89{text-indent:0;margin-left:0;margin-right:.36em;text-align:center;margin-bottom:3.2em}
.p90{margin-bottom:.78em}
.p91{text-indent:0;margin-left:0;margin-right:.27em;text-align:center;margin-bottom:1em}
.p92{margin-right:0;margin-bottom:.25em}
.p93{margin-right:0;margin-bottom:.21em}
.p94{margin-right:0;margin-bottom:.78em}
.p95{text-indent:1.9em;margin-left:.091em;margin-right:0}
.p96{text-indent:0;margin-left:0;margin-right:.45em;text-align:center;margin-bottom:3.2em}
.p97{text-indent:0;margin-left:.55em;margin-bottom:1.1em}
.p98{text-indent:0;margin-left:0;margin-right:.55em;text-align:center;margin-bottom:1em}
.p99{text-indent:0;margin-left:0;text-align:center;margin-bottom:3.1em}
.p100{margin-right:.18em;text-align:center}
.p101{margin-right:0;margin-bottom:.2em}
.p102{margin-bottom:.75em}
.p103{text-indent:0;margin-left:0;margin-right:.27em;text-align:center;margin-bottom:1em}
.p104{margin-bottom:.93em}
.p105{text-indent:0;margin-left:0;margin-right:.27em;text-align:center;margin-bottom:1.1em}
.p106{text-indent:0;margin-left:0;margin-right:.18em;text-align:center;margin-bottom:3.1em}
.p107{text-indent:.91em;margin-left:.18em;margin-bottom:1em}
.p108{text-indent:.91em;margin-left:.18em;margin-right:.18em}
.p109{text-indent:.91em;margin-left:.18em;margin-right:0;margin-bottom:.75em}
.p110{text-indent:0;margin-left:0;margin-right:.36em;text-align:center;margin-bottom:1em}
.p111{text-indent:0;margin-left:.45em;margin-right:.18em}
.p112{text-indent:0;margin-left:0;margin-right:.27em;text-align:center;margin-bottom:3em}
.p113{text-indent:.91em;margin-left:.091em;margin-bottom:3em}
.p114{text-indent:0;margin-left:10em;margin-right:0}
.p115{text-indent:0;margin-left:0;margin-right:.36em;text-align:center;margin-bottom:2.9em}
.p116{text-indent:.91em;margin-left:.091em;text-align:center}
.p117{margin-right:0;margin-bottom:.75em}
.p118{text-indent:0;margin-left:0;margin-right:.27em;text-align:center;margin-bottom:1em}
.p119{text-indent:.91em;margin-left:.091em;margin-bottom:.85em}
.p120{text-indent:0;margin-left:0;text-align:center}
.p121{text-indent:0;margin-left:0;margin-right:0;text-align:center;margin-bottom:3em}
.p122{text-indent:0;margin-left:.091em}
.p123{text-indent:0;margin-left:.36em}
.p124{text-indent:0;margin-left:0;margin-right:.27em;text-align:center;margin-bottom:3.1em}
.p125{margin-bottom:1em}
.p126{text-indent:0;margin-left:0;margin-right:.45em;text-align:center;margin-bottom:3em}
.p127{text-indent:0;margin-left:.55em;margin-right:0;margin-bottom:1em}
.p128{text-indent:0;margin-left:0;margin-right:.45em;text-align:center;margin-bottom:1em}
.p129{text-indent:1em;margin-left:.18em;margin-right:0;margin-bottom:.064em}
.p130{text-indent:0;margin-left:.27em;margin-right:0}
.p131{text-indent:0;margin-left:0;margin-right:.18em;text-align:center;margin-bottom:3em}
.p132{text-indent:.91em;margin-left:0;margin-right:0;margin-bottom:.47em}
.p133{text-indent:.91em;margin-left:0;margin-bottom:.27em}
.p134{text-indent:.91em;margin-left:0;margin-bottom:.47em}
.p135{text-indent:.91em;margin-left:0;margin-bottom:.25em}
.p136{text-indent:0;margin-left:0;margin-right:.27em;text-align:center;margin-bottom:3em}
.p137{text-indent:.91em;margin-left:.091em;margin-right:0;text-align:center}
.p138{text-indent:.91em;margin-left:.091em;margin-right:.18em;margin-bottom:1em}
.p139{text-indent:0;margin-left:0;margin-right:.36em;text-align:center;margin-bottom:3.2em}
.p140{text-indent:0;margin-left:0;margin-right:.18em;text-align:center;margin-bottom:3em}
.p141{margin-bottom:3.8em}
.p142{text-indent:0;margin-left:0;text-align:center;margin-bottom:3em}
.p143{text-indent:.91em;margin-left:.091em;margin-bottom:.82em}
.p144{text-indent:0;margin-left:0;margin-right:0;text-align:center;margin-bottom:1em}
.p145{text-indent:1em;margin-left:.18em;margin-right:.18em;margin-bottom:.75em}
.p146{text-indent:0;margin-left:0;margin-right:.18em;text-align:center;margin-bottom:1em}
.p147{margin-right:0;margin-bottom:.15em}
.p148{text-indent:0;margin-left:.73em;margin-right:.18em}
.p149{text-indent:0;margin-left:.73em;margin-right:0}
.p150{text-indent:0;margin-left:.73em;margin-right:0;margin-bottom:.13em}
.p151{text-indent:0;margin-left:2.5em;margin-right:0}
.p152{text-indent:0;margin-left:.18em;margin-right:0;text-align:center;margin-bottom:3em}
.p153{text-indent:0;margin-left:.18em;margin-right:0}
.p154{text-indent:1em;margin-left:1.9em}
.p155{text-indent:1em;margin-left:1.9em;margin-right:0;margin-bottom:.15em}
.p156{text-indent:1em;margin-left:1.9em;margin-right:0}
.p157{margin-bottom:2.9em}
.p158{text-align:center;margin-bottom:2.9em}
.p159{text-indent:0;margin-left:0;line-height:100%;margin-right:0}
.t0{font-size:4.4em;line-height:115%}
.t1{font-family:"Arial Black",sans-serif;font-size:3.3em;line-height:115%}
.t2{font-family:Arial,sans-serif}
.t4{font-weight:bold;font-style:italic}
.t5{font-size:.82em;line-height:115%}
.t6{font-style:italic}
.t7{letter-spacing:-.045em}
.t8{font-weight:bold}
.t9{font-size:.65em;line-height:115%;vertical-align:sub}
.t10{font-size:.77em;line-height:115%}
.t11{letter-spacing:.045em}
.t12{font-size:.65em;line-height:115%;vertical-align:super}
h1
{
text-align:center;
Font-size:1.5em;
}
p{
text-align:justify;
text-indent:1.5em;
}