<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>İskender Pala</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>6BD5A9E33E1F0E4826F4E28A87BD049B</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>package-file-hash</key>
		<string>FD7BEA8186C36DD9318943ED8CEE9376</string>
		<key>publisher-unique-id</key>
		<string>a6afb63f-47c8-4af3-b92a-ee317b1b8619</string>
		<key>unique-id</key>
		<integer>-4840906500167041964</integer>
	</dict>
	<key>itemName</key>
	<string>Kitabı Aşk</string>
	<key>playlistName</key>
	<string>Kitabı Aşk</string>
	<key>releaseDate</key>
	<string>2011-01-18T18:25:40.255548+00:00</string>
	<key>sort-artist</key>
	<string>Pala, İskender</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
