p{font-family:"Times New Roman",serif;font-size:109%}
.p0{text-indent:1.7em;margin-left:0;line-height:120%;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p1{text-indent:1.7em;margin-left:0;line-height:120%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:.5em;margin-bottom:0}
.p2{text-indent:1.7em;margin-left:0;line-height:120%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p3{text-indent:1.7em;margin-left:0;line-height:120%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.5em}
.p4{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:1em;margin-bottom:0}
.p5{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p6{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:1em}
.p7{text-indent:1.7em;margin-left:0;line-height:120%;margin-right:0;text-align:right;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p8{text-indent:1.7em;margin-left:0;line-height:120%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:.5em;margin-bottom:.5em}
.p9{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:1em;margin-bottom:1em}
.p10{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p11{text-indent:1.7em;margin-left:0;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
h1{font-family:"Times New Roman",serif;font-size:145%;font-weight:bold}
.h10{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:center;page-break-after:avoid;page-break-inside:avoid;widows:1;orphans:1;margin-top:1.5em;margin-bottom:.75em}
.h11{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:center;page-break-after:avoid;page-break-inside:avoid;widows:1;orphans:1;margin-top:1.5em;margin-bottom:0}
.h12{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:center;page-break-after:avoid;page-break-inside:avoid;widows:1;orphans:1;margin-top:0;margin-bottom:.75em}
h2{font-family:"Times New Roman",serif;font-size:127%;font-weight:bold;font-style:italic}
.h20{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:center;page-break-after:avoid;page-break-inside:avoid;widows:1;orphans:1;margin-top:.71em;margin-bottom:.43em}
.h21{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:center;page-break-after:avoid;page-break-inside:avoid;widows:1;orphans:1;margin-top:.71em;margin-bottom:0}
.h22{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:center;page-break-after:avoid;page-break-inside:avoid;widows:1;orphans:1;margin-top:0;margin-bottom:.43em}
.t2{font-style:italic}
.t3{font-weight:bold;font-style:italic}
.t4{font-weight:bold}
.t5{font-size:.92em;line-height:115%;font-weight:bold}
.t6{font-size:1.7em;line-height:115%;font-weight:bold}
.t7{font-size:1.3em;line-height:115%}
.t8{font-size:1.5em;line-height:115%;font-weight:bold}
.t9{font-size:.92em;line-height:115%}
.t10{font-size:.65em;line-height:120%;vertical-align:super}
.t11{font-size:.92em;line-height:115%;font-style:italic}
.t12{font-size:1.2em;line-height:120%;font-weight:bold;font-style:italic}
.t13{font-size:1.2em;line-height:115%}
.t14{font-size:.54em;line-height:120%;font-style:italic;vertical-align:super}
.t15{font-size:.83em;line-height:120%;font-style:italic}
.t16{font-size:.54em;line-height:100%;font-style:italic;vertical-align:super}
.t17{font-size:.83em;line-height:100%;font-style:italic}
.th12{font-style:italic}