p {
  margin:0 auto 0 auto;  
  font-size:0.65em;
  text-indent:0em;
  text-align:center;
}

.bos2{margin-top:2em;}
.bos1{margin-top:1em;}
.bos5{margin-top:5em;}
.bos12{margin-top:12em;}

.kunye1{font-size:1.6em;font-weight:bold;}
.kunye2{font-size:1.3em;font-weight:bold;}
.kunye3{font-size:1.2em;}
.kunye4{font-size:0.9em;}