p {
margin:0 auto 0 auto;
text-indent:1.5em;
text-align:justify;}
a:link {text-decoration: none;}
sub, sup { 
font-size: 75%;
line-height: 0; 
}
sup {top: -0.25em;}
sub {bottom: -0.25em;}

.footnote {text-indent: 0em; margin-bottom: 0em; margin-top: 0em; page-break-before: always;font-size:0.8em;}

.bas1 {margin-top:4em;margin-bottom:3em;}
.bas1 p{font-size:1.3em;font-weight:bold;font-style:italic;}

.nokta{margin-top:0.5em;margin-bottom:0.5em;text-indent: 0em;text-align:center;}

.gir1{margin-left:5em;}
.gir1 p{text-indent: 0em; font-style:italic;}