p{text-indent:0;margin-left:0;line-height:1.3em;margin-right:0;text-align:justify;margin-top:.55em;margin-bottom:0;font-family:Calibri,sans-serif;font-size:100%}
.p1{text-indent:0;line-height:150%;text-align:center}
.p2{text-indent:0;line-height:100%;text-align:center;margin-top:0;margin-bottom:1.4em}
.p3{text-indent:0;text-align:center}
.p4{text-indent:1em}
h1{text-indent:0;margin-left:0;line-height:200%;margin-right:0;margin-top:1.9em;margin-bottom:1.9em;font-family:Cambria,serif;font-size:145%;font-weight:bold;color:#c00000}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;line-height:1.2em;margin-right:0;text-align:center;margin-top:.92em;margin-bottom:.46em;font-family:Cambria,serif;font-size:118%;font-weight:bold;color:#0070c0}
.h21{text-indent:0}
.t2{font-family:Cambria,serif;font-size:2.4em;line-height:100%;color:#17365d;letter-spacing:.0096em}
.t3{font-weight:bold}
.t4{font-size:.65em;vertical-align:super}
.th11{font-family:Calibri,sans-serif;font-size:.69em;line-height:200%}