body {font-family:'Liberation Serif',serif}
span.Footnoteanchor {font-size:58%;vertical-align:super}
span.FootnoteSymbol {}
a:link {color:#000080;text-decoration:underline}
p.Contents1 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0}
p.Standard {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0}
p.ContentsHeading {margin-left:0;margin-right:0;margin-top:15.987401px;margin-bottom:8.012598px;border:none;padding:0;font-family:'Liberation Sans',sans-serif;font-size:117%}
p.Contents2 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0}
h1 {margin-left:0;margin-right:0;margin-top:15.987401px;margin-bottom:8.012598px;border:none;padding:0;font-family:'Liberation Sans',sans-serif;font-weight:bold;font-size:134%;clear:left}
h2 {margin-left:0;margin-right:0;margin-top:15.987401px;margin-bottom:8.012598px;border:none;padding:0;font-family:'Liberation Sans',sans-serif;font-style:italic;font-weight:bold;font-size:117%;clear:left}
hr.footnoterule {margin-top:3.817323px;margin-bottom:3.817323px;height:1.0px;width:100%;color:#000000;background-color:#000000;margin-left:0;margin-right:auto}
