p {
  margin:0 auto 0 auto;  
  font-size:0.8em;
  text-indent:0em;
  text-align:center;
}
td{vertical-align: top;}
table p {text-align:left;}

.bos3{margin-top:3em;}
.bos5{margin-top:5em;}
.bos10{margin-top:10em;}

.divid{ text-align:center;margin-top:1em;margin-bottom:1em;}

.kun0{font-size:1.2em;}
.kun1{font-size:2em;font-weight:bold;}
.kun2{font-size:1em;}

.yaz2{  text-indent:1.5em;text-align:justify;}