img {
max-width: 100%;
display: block;
margin-left: auto;
margin-right: auto;
}
h1
{
/*margin-top:3em;*/
margin-bottom:5em;
text-align:center;
Font-size:1.5em;
background: url("../Images/s.jpg");
margin-top:100px;
background-size: 10%;
background-repeat: no-repeat;
background-position:50%;
padding-bottom:150px;

}
h2
{
margin-top:2em;
text-align:center;
Font-size:1em;


}
p{
text-align:justify;
text-indent:0em;
margin-top:0.3em;
margin-bottom:0.3em;
text-indent:1em;
}
.yildiz {
Font-size:2em;
margin-top:1em;
margin-bottom:1em;
text-align:center;
}

.baslik{
text-align:center;
font-weight:bold;
font-size:1.5em;
margin-top:2em;
margin-bottom:2em;
}
.ust{
text-decoration:overline;
}
.not{
font-size:0.8em;

}
.alnt{
margin-top:1em;
margin-bottom:1em;
text-indent:0em;
margin-left:1em;
font-size:0.9em;

}