p{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.45em;font-family:Cambria,serif;font-size:100%}
.p0{text-indent:0;text-align:center}
.p1{text-indent:0;line-height:100%;text-align:center;margin-bottom:0}
.p2{text-indent:0;text-align:center;margin-bottom:0}
.p4{text-indent:0;text-align:left}
.p5{text-indent:0;text-align:right}
.p6{text-indent:0;margin-left:1.3em;margin-right:1.4em}
.p7{text-indent:0;margin-left:1.3em;margin-right:1.4em;text-align:center}
.p8{text-indent:0;text-align:center;page-break-after:avoid;page-break-inside:avoid;margin-top:2.2em;margin-bottom:0}
.p9{text-indent:0;text-align:left;margin-top:.55em;margin-bottom:0}
.p10{text-indent:0;margin-left:.95em;text-align:left;margin-top:.55em;margin-bottom:0}
.p11{text-indent:-.9em;margin-left:.9em;line-height:100%;margin-bottom:.27em}
.p12{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;widows:1;orphans:1;margin-top:.25em;margin-bottom:1.3em;font-family:Cambria,serif;font-size:436%;font-weight:bold}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;page-break-after:avoid;page-break-inside:avoid;widows:1;orphans:1;margin-top:2.1em;margin-bottom:.86em;font-family:Cambria,serif;font-size:127%;font-weight:bold}
.h21{text-indent:0}
.t1{font-size:1.8em;line-height:115%}
.t2{font-family:"Book Antiqua",serif;font-size:.36em;line-height:115%}
.t3{font-family:"Book Antiqua",serif;font-size:2.3em;line-height:115%;font-weight:bold}
.t4{font-family:"Book Antiqua",serif;font-size:.091em;line-height:115%;font-weight:bold}
.t5{font-family:"Arial Black",sans-serif;font-size:1.8em;line-height:100%}
.t6{font-family:"Book Antiqua",serif;font-size:4.4em;line-height:115%;font-weight:bold}
.t7{font-family:"Book Antiqua",serif;font-size:3.6em;line-height:115%;font-weight:bold}
.t8{font-family:"Book Antiqua",serif;font-size:1.5em;line-height:115%;font-style:italic}
.t9{font-size:1.3em;line-height:115%}
.t10{font-size:1.3em;line-height:115%;font-weight:bold}
.t11{font-family:"Book Antiqua",serif;font-size:1.1em;line-height:115%;font-style:italic}
.t12{font-family:Arial,sans-serif;font-size:1.1em;line-height:115%;font-weight:bold}
.t14{font-family:"Book Antiqua",serif;font-size:1.8em;line-height:115%;font-style:italic}
.t15{font-style:italic}
.t16{font-weight:bold}
.t17{font-size:.65em;line-height:115%;font-style:italic;vertical-align:super}
.t18{font-size:.65em;line-height:115%;vertical-align:super}
.t19{font-size:.65em;line-height:115%;vertical-align:sub}
.t20{font-size:.95em;line-height:115%;font-style:italic}
.t21{font-size:.95em;line-height:115%;font-weight:bold}
.t22{font-size:.95em;line-height:115%;font-weight:bold;font-style:italic}
.t23{font-size:4.4em;line-height:115%;font-weight:bold;color:#365f91}
.t24{font-family:Calibri,sans-serif;font-size:1.1em;line-height:115%;font-weight:bold;font-style:italic}
.t25{font-family:Calibri,sans-serif}
.t26{font-family:Calibri,sans-serif;font-weight:bold}
.t27{font-size:.47em;line-height:100%;vertical-align:super}
.t28{font-size:.73em;line-height:100%}
.t29{font-size:.73em;line-height:100%;font-style:italic}