hr {
  margin-top: 0.5em;
  margin-right: 0;
  border: 1px solid #A99852;
  max-width: 20em;
}
/*IMAGES*/
img {
  max-height: 100%;
  max-width: 100%;
}
/*----H----*/
h1, h2 {
  font: italic normal 1.25em;
  text-align: center;
}
h1 {
  margin-top: 6em;
  margin-bottom: 2em;
}
/*YAZAR*/
.aut {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}
.aut p {
  font: normal normal 0.75em;
  text-indent: 0;
  text-align: justify;
}
/*----Künye----*/
.copyright > p:last-child {
  margin-bottom: 0;
}
.copyright p {
  font: normal normal 0.751em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-indent: 0;
  text-align: center;
}
/*Titlepage*/
.titlepage {
  text-align: right;
}
.seri {
  font: normal normal 1em;
  margin: 1em auto 0.2em auto;
}
.author {
  font: normal bold 1.3em;
  margin: 0.5em auto 0.2em auto;
}
.title {
  font: normal bold 2.5em;
  margin: 0;
}
.trans {
  font: normal normal 1em;
  margin-top: 1.5em;
}
.logo, .ithaf {
  margin: 6em auto 0 auto;
}
/*Önsöz*/
/*----Block----*/
/*----P----*/
p {
  font-size: 0.93em;
  margin-top: 1em;
  text-align: justify;
  text-indent: 1.5em;
}
p span {
  display: block;
}
.center {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
/******FOOTNOTE******/
/*****FONT*****/