
@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.Hyperlink {
	text-decoration : underline;
	color : #0000ff;
}
span.apple-converted-space {
}
span.Footnote-Reference {
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	vertical-align : super;
}
span.Stil-Stil-Ba-l-k-4---Minion-Pro-Tur-Char {
	font-weight : bold;
	font-style : normal;
	font-size : 0.92em;
}
span.Stil-Stil-Ba-l-k-4---Minion-Pro-Tur1-Char {
	font-weight : bold;
	font-style : normal;
	font-size : 0.92em;
}
span.Hyperlink-1 {
	text-decoration : underline;
	color : #0000ff;
}
span.Stil-Stil-Ba-l-k-5-Char {
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
}
span.char-style-override-1 {
	font-size : 0.71em;
}
span.char-style-override-2 {
	font-size : 0.71em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-3 {
	font-size : 0.64em;
}
span.char-style-override-4 {
	font-size : 0.75em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-5 {
	font-size : 0.67em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-6 {
	font-size : 0.96em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-7 {
	font-size : 0.75em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-8 {
	color : #999999;
	font-size : 0.75em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-9 {
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-10 {
	font-size : 1.11em;
}
span.char-style-override-11 {
	color : #000000;
}
span.char-style-override-12 {
	font-size : 1.33em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-13 {
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-14 {
	font-size : 0.92em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-15 {
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-16 {
	font-size : 0.83em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-17 {
	font-size : 0.83em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-18 {
	font-size : 0.83em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-19 {
	font-size : 0.96em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-20 {
	font-size : 0.96em;
	font-style : normal;
	font-weight : normal;
	vertical-align : super;
}
span.char-style-override-21 {
	font-size : 0.92em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-22 {
	font-size : 0.92em;
	font-style : normal;
	font-weight : normal;
	vertical-align : super;
}
span.char-style-override-23 {
	font-size : 0.96em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-24 {
	font-size : 1.5em;
}
span.char-style-override-25 {
	font-size : 1.33em;
}
span.char-style-override-26 {
	color : #404040;
	font-size : 0.96em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-27 {
	color : #404040;
	font-size : 0.75em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-28 {
	color : #404040;
	font-size : 0.83em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-29 {
	font-size : 0.75em;
}
span.char-style-override-30 {
	font-size : 0.88em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-31 {
	vertical-align : super;
}
span.char-style-override-32 {
	font-size : 0.92em;
	font-style : italic;
	font-weight : bold;
}
span.char-style-override-33 {
	font-size : 1.05em;
	vertical-align : super;
}
span.char-style-override-34 {
	font-size : 0.88em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-35 {
	font-size : 0.88em;
	font-style : italic;
	font-weight : bold;
}
span.char-style-override-36 {
	font-style : italic;
	font-weight : bold;
}
span.char-style-override-37 {
	font-size : 0.96em;
}
span.char-style-override-38 {
	font-size : 1.05em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-39 {
	font-size : 1.15em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-40 {
	font-size : 0.92em;
	font-style : italic;
	font-weight : normal;
	vertical-align : super;
}
span.char-style-override-41 {
	font-size : 0.67em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-42 {
	font-size : 0.96em;
	font-style : italic;
	font-weight : bold;
}
span.char-style-override-43 {
	font-size : 0.88em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-44 {
	font-size : 0.92em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-45 {
	font-size : 0.83em;
	font-style : normal;
	font-weight : normal;
	vertical-align : super;
}
span.char-style-override-46 {
	font-size : 0.88em;
	font-style : italic;
	font-weight : normal;
	vertical-align : super;
}
span.char-style-override-47 {
	color : #1e1e1e;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-48 {
	color : #1e1e1e;
}
span.char-style-override-49 {
	font-size : 1.15em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-50 {
	font-size : 1.15em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-51 {
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-52 {
	font-size : 1.15em;
	font-style : normal;
	font-weight : normal;
	vertical-align : super;
}
span.char-style-override-53 {
	font-size : 0.96em;
	font-style : italic;
	font-weight : normal;
	vertical-align : super;
}
span.char-style-override-54 {
	font-size : 1.22em;
}
span.char-style-override-55 {
	font-size : 1.17em;
}
span.char-style-override-56 {
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-57 {
	font-size : 1.22em;
	vertical-align : super;
}
span.char-style-override-58 {
	font-size : 1.22em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-59 {
	font-size : 0.83em;
}
span.char-style-override-60 {
	color : #000000;
	font-size : 0.83em;
}
span.char-style-override-61 {
	font-size : 1.28em;
}
span.char-style-override-62 {
	font-size : 1.17em;
	vertical-align : super;
}
span.char-style-override-63 {
	font-size : 0.56em;
}
span.char-style-override-64 {
	font-size : 1.11em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-65 {
	font-size : 1.17em;
	font-style : normal;
	font-weight : normal;
}
p.B-l-m-Ba-l--- {
	font-weight : bold;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 150px 10px 35px 10px;
}
p.Normal {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Basic-Paragraph {
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.B-l-m-Ba-l----1 {
	font-weight : bold;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 210px 10px 50px 10px;
}
p.Normal-1 {
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.birveikincisayfa {
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.44;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 1px 0px;
}
p.x1 {
	font-weight : bold;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.42;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 120px 0px 40px 0px;
}
p.Stil-Ba-l-k-4 {
	font-weight : bold;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.36;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 20px 0px 3px 0px;
}
p.x2 {
	font-weight : bold;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.55;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 20px 0px 10px 0px;
}
p.x3 {
	font-weight : bold;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.5;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 25px 0px 6px 0px;
}
p.Body-Text-Indent {
	font-family : "Bbook Regular", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.5;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 1px 0px;
}
p.siir {
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.56;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 1px 0px;
}
p.B-l-m-Ba-l----2 {
	font-weight : bold;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 150px 10px 35px 10px;
}
p.Normal-2 {
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.birveikincisayfa-1 {
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.44;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 1px 0px;
}
p.B-l-m-Ba-l----3 {
	font-weight : bold;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 150px 10px 35px 10px;
}
p.Normal-3 {
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.birveikincisayfa-2 {
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.44;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 1px 0px;
}
p.B-l-m-Ba-l----4 {
	font-weight : bold;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 150px 10px 35px 10px;
}
p.Normal-4 {
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Body-Text {
	font-weight : normal;
	font-style : normal;
	font-size : 1.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 0.55;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 1px 0px;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
}
p.para-style-override-2 {
	margin-bottom : 1px;
	margin-left : 14px;
	margin-right : 14px;
	text-align : justify;
}
p.para-style-override-3 {
	margin : 8px 14px 1px 14px;
	text-align : justify;
}
p.para-style-override-4 {
	margin-bottom : 6px;
}
p.para-style-override-5 {
	text-align : right;
}
p.para-style-override-6 {
	margin-top : 3px;
}
p.para-style-override-7 {
	margin-bottom : 1px;
}
p.para-style-override-8 {
	margin-bottom : 6px;
	margin-top : 6px;
}
p.para-style-override-9 {
	margin-bottom : 8px;
	margin-top : 8px;
}
p.para-style-override-10 {
	margin-bottom : 12px;
	text-align : center;
}
p.para-style-override-11 {
	margin-bottom : 18px;
	text-align : center;
}
p.para-style-override-12 {
	margin-bottom : 1px;
	text-align : center;
}
p.para-style-override-13 {
	text-align : left;
}
p.para-style-override-14 {
	margin-bottom : 1px;
	margin-left : 14px;
	margin-right : 14px;
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-15 {
	margin-bottom : 1px;
	margin-left : 14px;
	margin-right : 14px;
	text-align : right;
}
p.para-style-override-16 {
	margin-bottom : 1px;
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-17 {
	margin-bottom : 1px;
	margin-left : 14px;
	margin-top : 6px;
	text-align : justify;
}
p.para-style-override-18 {
	margin-top : 6px;
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-19 {
	margin-bottom : 6px;
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-20 {
	margin-bottom : 1px;
	margin-top : 6px;
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-21 {
	margin-top : 25px;
}
p.para-style-override-22 {
	margin-bottom : 6px;
	margin-top : 6px;
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-23 {
	margin-bottom : 6px;
	margin-left : 14px;
	text-align : justify;
}
p.para-style-override-24 {
	margin-left : 14px;
	margin-top : 6px;
	text-align : justify;
}
p.para-style-override-25 {
	margin-left : 14px;
	text-align : justify;
}
p.para-style-override-26 {
	margin-bottom : 3px;
	margin-top : 0px;
}
p.para-style-override-27 {
	margin-bottom : 3px;
	text-align : center;
}
p.para-style-override-28 {
	margin-top : 0px;
}
p.para-style-override-29 {
	margin-bottom : 5px;
	margin-left : 14px;
	text-align : justify;
}
p.para-style-override-30 {
	margin-bottom : 1px;
	margin-left : 14px;
	margin-top : 5px;
	text-align : justify;
}
p.para-style-override-31 {
	margin-bottom : 1px;
	margin-left : 14px;
	text-align : justify;
}
p.para-style-override-32 {
	margin-bottom : 1px;
	margin-top : 5px;
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-33 {
	margin-bottom : 5px;
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-34 {
	margin-top : 5px;
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-35 {
	margin-bottom : 3px;
	margin-top : 3px;
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-36 {
	margin-bottom : 1px;
	margin-top : 3px;
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-37 {
	margin-bottom : 1px;
	margin-top : 0px;
}
p.para-style-override-38 {
	margin-bottom : 1px;
	text-align : justify;
}
p.para-style-override-39 {
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-40 {
	margin-top : 15px;
}
p.para-style-override-41 {
	margin-top : 20px;
}
p.para-style-override-42 {
	margin-bottom : 1px;
	margin-top : 4px;
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-43 {
	margin-bottom : 4px;
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-44 {
	margin-bottom : 5px;
	margin-top : 5px;
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-45 {
	margin-bottom : 6px;
	text-align : center;
}
p.para-style-override-46 {
	margin-bottom : 1px;
	margin-left : 24px;
	margin-top : 6px;
	text-align : justify;
	text-indent : -10px;
}
p.para-style-override-47 {
	margin-bottom : 1px;
	margin-left : 24px;
	text-align : justify;
	text-indent : -10px;
}
p.para-style-override-48 {
	margin-bottom : 6px;
	margin-left : 24px;
	text-align : justify;
	text-indent : -10px;
}
p.para-style-override-49 {
	margin-bottom : 1px;
	margin-top : 6px;
	text-align : center;
	text-indent : 14px;
}
p.para-style-override-50 {
	margin-bottom : 1px;
	margin-left : 14px;
	margin-top : 1px;
	text-align : justify;
}
p.para-style-override-51 {
	margin-bottom : 3px;
}
p.para-style-override-52 {
	margin-bottom : 1px;
	margin-top : 20px;
}
p.para-style-override-53 {
	margin-top : 20px;
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-54 {
	margin-top : 0px;
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-55 {
	margin-bottom : 6px;
	margin-top : 1px;
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-56 {
	margin-bottom : 3px;
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-57 {
	margin-bottom : 1px;
	margin-left : 20px;
	margin-top : 6px;
	text-align : justify;
}
p.para-style-override-58 {
	margin-bottom : 6px;
	margin-left : 20px;
	text-align : justify;
}
p.para-style-override-59 {
	text-indent : 14px;
}
p.para-style-override-60 {
	margin-top : 6px;
	text-indent : 14px;
}
p.para-style-override-61 {
	margin-bottom : 6px;
	text-indent : 14px;
}
p.para-style-override-62 {
	margin-left : 14px;
	margin-top : 6px;
}
p.para-style-override-63 {
	margin-left : 14px;
}
p.para-style-override-64 {
	margin-bottom : 6px;
	margin-left : 14px;
}
p.para-style-override-65 {
	margin-bottom : 6px;
	margin-top : 6px;
	text-indent : 14px;
}
p.para-style-override-66 {
	margin-bottom : 1px;
	margin-top : 18px;
}
p.para-style-override-67 {
	margin-bottom : 6px;
	margin-left : 24px;
	text-indent : -10px;
}
p.para-style-override-68 {
	margin-bottom : 6px;
	text-align : center;
	text-indent : 14px;
}
p.para-style-override-69 {
	margin-top : 20px;
	text-align : center;
}
p.para-style-override-70 {
	margin-bottom : 2px;
	margin-left : 14px;
}
p.para-style-override-71 {
	margin-bottom : 6px;
	margin-top : 20px;
	text-align : center;
}
p.para-style-override-72 {
	margin-bottom : 6px;
	margin-top : 25px;
	text-align : center;
}
p.para-style-override-73 {
	margin-left : 24px;
	margin-top : 6px;
	text-indent : -10px;
}
p.para-style-override-74 {
	margin-left : 24px;
	text-indent : -10px;
}
p.para-style-override-75 {
	margin-bottom : 6px;
	margin-left : 14px;
	margin-top : 1px;
}
p.para-style-override-76 {
	margin-bottom : 5px;
	margin-top : 15px;
	text-align : justify;
	text-indent : 14px;
}
table.No-Table-Style {
	border-collapse : collapse;
	border-width : 1px;
	border-style : solid;
	border-color : #000000;
	margin-top : 4px;
	margin-bottom : -4px;
}
table.table-style-override-1 {
	border-collapse : collapse;
	border-style : none;
	border-width : 0px;
}
td.cell-style-override-1 {
	padding-bottom : 0px;
	padding-left : 5px;
	padding-right : 0px;
	padding-top : 0px;
}
div.Basic-Text-Frame {
}
