p {
  text-indent: 1em;
  text-align: justify;
}
h1 {
  font-size: 300%;
  text-align: center;
  font-family: "New Century Schoolbook", Times, sans-serif;
  font-weight: bold;
}
h2 {
  font-size: 150%;
  text-align: center;
  font-family: "New Century Schoolbook", Times, sans-serif;
  font-weight: bold;
}
h3 {
  font-size: 120%;
  text-indent: 1em;
  font-family: "New Century Schoolbook", Times, sans-serif;
  font-weight: bold;
}
h4 {
  text-indent: 1em;
  font-weight: bold;
}
span.umag {
  font-size: 120%;
  font-family: "Verdana", Times, sans-serif;
  font-weight: bold;
}
span.mumcu {
  font-size: 250%;
  text-align: center;
  font-family: "New Century Schoolbook", Times, sans-serif;
  font-weight: bold;
}
cite {
  font-style: italic;
}
p.tarih {
  text-align: right;
  font-size: 95%;
  font-style: italic;
  font-weight: bold;
}
table {
  border: 1px solid black;
}
span.u {
  text-decoration: underline;
}
table.belge {
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
