p{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.6em;font-family:Cambria,serif;font-size:91%}
.p0{text-indent:0;line-height:115%;text-align:center;margin-bottom:0}
.p1{text-indent:0;line-height:115%;text-align:center;margin-bottom:1em}
.p3{text-indent:0;text-align:center}
.p4{text-indent:0;line-height:115%;text-align:left;margin-bottom:1em}
.p5{text-indent:0;text-align:right}
.p6{text-indent:0;margin-bottom:0}
.p7{text-indent:-.99em;margin-left:.99em;line-height:100%;margin-bottom:.2em}
.p8{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;margin-top:.86em;margin-bottom:3em;font-family:Cambria,serif;font-size:127%;font-weight:bold;font-style:italic}
.h11{text-indent:0}
.t1{font-size:2em;line-height:115%}
.t2{font-size:2.8em;line-height:115%}
.t3{font-size:3.6em;line-height:115%;font-weight:bold}
.t5{font-size:1.4em;line-height:115%;font-weight:bold;font-style:italic}
.t7{font-size:.8em;line-height:120%}
.t8{font-style:italic}
.t9{font-size:.65em;line-height:120%;vertical-align:super}
.t10{font-size:.52em;line-height:100%;vertical-align:super}
.t11{font-size:.8em;line-height:100%}