img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: left;
  font-size: 1.5em;
}
h2 {
  text-indent: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: left;
  font-size: 1em;
}
p {
  text-align: justify;
  text-indent: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.baslik {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 2em;
}
