p{text-indent:3.3em;margin-left:0;line-height:140%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.55em;font-size:100%}
.p0{text-indent:3.3em;text-align:center;margin-bottom:0}
.p1{text-indent:0;margin-left:3.3em;text-align:center}
.p3{text-indent:3.3em;text-align:center}
.p4{text-indent:0;margin-left:0}
.p5{text-indent:3.3em;text-align:right}
.p6{text-indent:0}
h1{text-indent:0;margin-left:0;line-height:140%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1em;margin-bottom:1.5em;font-size:109%;font-weight:bold}
.h10{text-indent:.59em;margin-left:0}
.h12{text-indent:0}
.t2{font-size:1.3em;line-height:140%;font-weight:bold}
.t3{font-size:1.5em;line-height:140%;font-weight:bold}
.t4{font-size:.82em;line-height:140%}
.t5{font-size:1.5em;line-height:140%}
.t6{font-weight:bold;font-style:italic}
.t7{font-size:.82em;line-height:140%;color:#333333}
.t8{font-style:italic}
.t9{font-weight:bold}
.t10{color:#0066cc;text-decoration:underline}
.t11{font-size:.91em;line-height:140%;font-weight:bold}
.th12{font-size:.75em;line-height:140%}