.block_{display:block;margin:0 0 8pt;padding:0}
.block_1{display:block;font-size:.875em;margin:0 0 8pt;padding:0}
.block_2{display:block;font-size:1.25em;margin:0 0 8pt;padding:0}
.block_3{display:block;font-size:.875em;margin:0 0 8pt;padding:0}
.block_4{display:block;font-size:.875em;text-indent:35.4pt;margin:0 0 8pt 70.8pt;padding:0}
.block_5{display:block;font-size:1.25em;font-weight:700;text-indent:35.4pt;margin:0 0 8pt 142pt;padding:0}
.block_6{display:block;font-size:.875em;text-indent:35.4pt;margin:0 0 8pt 35.4pt;padding:0}
.block_7{display:block;font-size:1.125em;text-indent:35.4pt;margin:0 0 8pt 106pt;padding:0}
.block_8{display:block;font-size:1.125em;font-weight:700;margin:0 0 8pt;padding:0}
.block_9{display:block;font-size:.875em;text-align:center;margin:0 0 8pt;padding:0}
.block_10{display:block;font-size:.875em;font-style:italic;font-weight:700;text-align:center;margin:0 0 8pt;padding:0}
.block_11{display:block;font-size:.875em;text-align:center;margin:0 0 8pt;padding:0}
.block_12{display:block;font-size:.875em;font-style:italic;margin:0 0 8pt;padding:0}
.block_13{display:block;font-size:.875em;text-align:center;margin:0 0 8pt 35.4pt;padding:0}
.block_14{display:block;font-size:.75em;text-align:center;margin:0 0 8pt;padding:0}
.block_15{display:block;font-weight:700;margin:0 0 8pt;padding:0}
.block_16{display:block;font-size:.875em;margin:0;padding:0}
.calibre{color:#000;display:block;font-size:1em;padding-left:0;padding-right:0;margin:0 5pt}
.calibre1{white-space:pre-wrap}
.calibre2{white-space:pre-wrap}
.calibre3{font-style:italic}
.calibre4{font-size:.75em;vertical-align:super}
.calibre5{text-decoration:none}
.calibre6{font-weight:700}
.calibre7{display:block;height:auto;width:auto}
.calibre8{display:block;font-size:1.125em}
.calibre9{text-decoration:none}
.calibre10{display:block;margin-left:40px}
.calibre11{display:block;margin-left:40px;page-break-after:avoid}
.noteref{font-size:1em;vertical-align:super}
.notes{display:block;margin:1em 0}
.notes-header{display:block;font-size:1.5em;font-weight:400;margin:0;padding:0}
.tab{white-space:pre-wrap}
.tab1{white-space:pre-wrap}
.text_{font-size:1.14286em}
.text_1{font-size:1.28571em}
.text_2{font-size:1.71429em}
.text_3{font-style:italic;font-weight:700}
.text_4{font-size:1em}
.text_5{font-size:1em;font-style:italic}
.text_6{font-size:.85714em;vertical-align:super}
.text_9{font-style:italic}
.text_10{font-size:1em;vertical-align:super}
.text_11{font-size:1em}
.text_12{font-size:1em;font-style:italic}
.text_13{font-size:1em}