p{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.45em;font-family:Cambria,serif;font-size:100%}
.p0{text-indent:0;text-align:center}
.p1{text-indent:0;line-height:100%;text-align:center;margin-bottom:0}
.p2{text-indent:0;text-align:center;margin-bottom:0}
.p3{text-indent:0;text-align:left;margin-top:.55em;margin-bottom:0}
.p5{text-indent:0;text-align:right}
.p6{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;widows:1;orphans:1;margin-top:.86em;margin-bottom:4.3em;font-family:Cambria,serif;font-size:127%;font-weight:bold}
.h11{text-indent:0}
.t1{font-size:1.8em;line-height:115%}
.t2{font-family:"Book Antiqua",serif;font-size:.36em;line-height:115%}
.t3{font-family:"Bookman Old Style",serif;font-size:2.3em;line-height:115%;font-weight:bold}
.t4{font-family:"Bookman Old Style",serif;font-size:1.8em;line-height:115%;font-weight:bold}
.t5{font-family:"Book Antiqua",serif;font-size:.091em;line-height:115%;font-weight:bold}
.t6{font-family:"Arial Black",sans-serif;font-size:1.8em;line-height:100%}
.t7{font-family:"Book Antiqua",serif;font-size:4.4em;line-height:100%;font-weight:bold}
.t8{font-family:"Matura MT Script Capitals",cursive;font-size:4.4em;line-height:100%;font-weight:bold}
.t9{font-family:"Book Antiqua",serif;font-size:1.1em;line-height:115%;font-style:italic}
.t10{font-family:"Book Antiqua",serif;font-size:1.1em;line-height:115%}
.t12{font-family:"Book Antiqua",serif;font-size:1.8em;line-height:115%;font-style:italic}
.t13{font-size:.91em;line-height:115%}
.t14{font-family:Calibri,sans-serif;font-size:1.1em;line-height:115%;font-weight:bold;font-style:italic}
.t15{font-family:Calibri,sans-serif}
.t16{font-weight:bold}
.t17{font-style:italic}
.t18{font-size:.65em;line-height:115%;vertical-align:super}