.calibre {
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    color: #171717;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0.55em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.1em;
    text-align: center;
    text-indent: 0
    }
.calibre10 {
    height: 136px;
    line-height: 1.5;
    width: 102px
    }
.calibre11 {
    height: 364px;
    line-height: 1.5;
    width: 163px
    }
.calibre12 {
    height: 170px;
    line-height: 1.5;
    width: 133px
    }
.calibre13 {
    height: 100%;
    line-height: 1.5;
    max-width: 100%;
    width: auto
    }
.calibre14 {
    color: #1f4e79;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: justify;
    text-indent: 0
    }
.calibre15 {
    height: 470px;
    line-height: 1.5;
    width: 192px
    }
.calibre16 {
    height: 159px;
    line-height: 1.5;
    width: 284px
    }
.calibre17 {
    height: auto;
    line-height: 1.5;
    max-height: 100%;
    width: 100%
    }
.calibre18 {
    height: 123px;
    line-height: 1.5;
    width: 126px
    }
.calibre19 {
    height: 364px;
    line-height: 1.5;
    width: 161px
    }
.calibre2 {
    line-height: 1.5
    }
.calibre20 {
    height: 376px;
    line-height: 1.5;
    width: 138px
    }
.calibre21 {
    height: 427px;
    line-height: 1.5;
    width: 67px
    }
.calibre3 {
    height: 80px;
    line-height: 1.5;
    width: 183px
    }
.calibre4 {
    height: 76px;
    width: 209px
    }
.calibre5 {
    height: 155px;
    width: 113px
    }
.calibre6 {
    height: auto;
    line-height: 1.5;
    width: auto
    }
.calibre7 {
    height: 150px;
    line-height: 1.5;
    width: 110px
    }
.calibre8 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.3em
    }
.calibre9 {
    height: 25px;
    line-height: 1.5;
    width: 149px
    }
.p {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p1 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p10 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 200%;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: center;
    text-indent: 0
    }
.p100 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.2em
    }
.p101 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 2.4em
    }
.p102 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.3em;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 6.8em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p103 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 6.8em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p104 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 0.9em;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: center;
    text-indent: 0
    }
.p105 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p106 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.4em;
    margin-bottom: 0.6em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p107 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.3em;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.3em
    }
.p108 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.3em;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p109 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 0.9em;
    margin-bottom: 0.6em;
    margin-left: 0.3em;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p11 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 200%;
    margin-bottom: 0.95em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p110 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.3em
    }
.p111 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.2em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.2em
    }
.p112 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.3em
    }
.p113 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.4em;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 3.3em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p114 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 3.3em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p115 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.2em;
    margin-right: 0.3em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.3em
    }
.p116 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p117 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p118 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0.8em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.2em
    }
.p119 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 2.2em;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p12 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 200%;
    margin-bottom: 0;
    margin-left: 1.4em;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p120 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 2.2em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p121 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 2.2em;
    margin-right: 3.3em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p122 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 2.2em;
    margin-right: 0.8em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p123 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 0.9em;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0.1em;
    margin-top: 0.6em;
    text-align: center;
    text-indent: 0
    }
.p124 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0.1em;
    margin-top: 0.6em;
    text-align: center;
    text-indent: 0
    }
.p125 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.63em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p126 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.2em;
    margin-bottom: 0.63em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p127 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.2em
    }
.p128 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.p129 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.4em;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: center;
    text-indent: 0
    }
.p13 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 2.4em;
    margin-bottom: 0;
    margin-left: 1.4em;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p130 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.4em
    }
.p131 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 5.3em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p132 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.4em;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 5.3em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p133 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.2em;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.4em
    }
.p134 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 3.2em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p135 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0.7em;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.p136 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.7em;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.p137 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.7em;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.p138 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 0.9em;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p139 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.4em;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 4em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p14 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p140 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 4em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p141 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.p142 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.p143 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.3em;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p144 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 0.9em;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0.1em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p145 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0.1em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p146 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.5em
    }
.p147 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.p148 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.4em;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p149 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.4em;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p15 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 150%;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p150 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 1.1em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.4em
    }
.p151 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.2em;
    margin-bottom: 1.1em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.4em
    }
.p152 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p153 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 8.7em;
    margin-right: 9.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p154 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.4em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p155 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.3em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p156 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 8.7em;
    margin-right: 9em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p157 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 9em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p158 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.2em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p159 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0.2em;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p16 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 150%;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p160 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 9em;
    margin-right: 4.9em;
    margin-top: 0;
    text-align: justify;
    text-indent: -4.6em
    }
.p161 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 11em;
    margin-right: 0.6em;
    margin-top: 0;
    text-align: justify;
    text-indent: -11em
    }
.p162 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 11em;
    margin-right: 0.6em;
    margin-top: 0;
    text-align: center;
    text-indent: -11em
    }
.p163 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 8.2em;
    margin-right: 8.6em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p164 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p165 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 12em;
    margin-right: 2.9em;
    margin-top: 0;
    text-align: justify;
    text-indent: -9.7em
    }
.p166 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 12em;
    margin-right: 2.3em;
    margin-top: 0;
    text-align: justify;
    text-indent: -9.7em
    }
.p167 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 12em;
    margin-right: 2.3em;
    margin-top: 0;
    text-align: center;
    text-indent: -9.7em
    }
.p168 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 12em;
    margin-right: 2em;
    margin-top: 0;
    text-align: justify;
    text-indent: -9.7em
    }
.p169 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 12em;
    margin-right: 2.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: -9.8em
    }
.p17 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p170 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 7.7em;
    margin-right: 7.6em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p171 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 12em;
    margin-right: 2.3em;
    margin-top: 0;
    text-align: justify;
    text-indent: -9.4em
    }
.p172 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 12em;
    margin-right: 2.2em;
    margin-top: 0;
    text-align: justify;
    text-indent: -9.3em
    }
.p173 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.1em
    }
.p174 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.p175 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: center;
    text-indent: -0.1em
    }
.p176 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p177 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 150%;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p18 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 150%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p19 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 150%;
    margin-bottom: 0.6em;
    margin-left: 0.5em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p2 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p20 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 150%;
    margin-bottom: 0;
    margin-left: 0.5em;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p21 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.5em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p22 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 150%;
    margin-bottom: 0.62em;
    margin-left: 0.1em;
    margin-right: 0.9em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p23 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 150%;
    margin-bottom: 0;
    margin-left: 0.1em;
    margin-right: 0.9em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p24 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 150%;
    margin-bottom: 1.7em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p25 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 150%;
    margin-bottom: 0;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p26 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p27 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p28 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 0.99em;
    margin-bottom: 0;
    margin-left: 0.1em;
    margin-right: 0.9em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p29 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p3 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 150%;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p30 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 2.8em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p31 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.2em;
    margin-bottom: 0.14em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p32 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.3em
    }
.p33 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.3em
    }
.p34 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.3em
    }
.p35 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.2em
    }
.p36 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.p37 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.p38 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 2.8em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p39 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.2em
    }
.p4 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 150%;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: center;
    text-indent: 0
    }
.p40 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 2.8em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p41 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p42 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.2em;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.3em
    }
.p43 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.2em;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.2em
    }
.p44 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p45 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.67em;
    margin-left: 0.2em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p46 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.21em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p47 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.1em;
    margin-bottom: 0.21em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p48 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.49em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p49 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.1em;
    margin-bottom: 0.49em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p5 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p50 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 0.9em;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p51 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.3em
    }
.p52 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p53 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.4em
    }
.p54 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0.2em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 2.3em
    }
.p55 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 2.3em
    }
.p56 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 2.3em
    }
.p57 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p58 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p59 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.2em;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p6 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p60 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.2em
    }
.p61 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.32em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p62 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.1em;
    margin-bottom: 0.32em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p63 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.3em;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.2em
    }
.p64 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.35em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p65 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.1em;
    margin-bottom: 0.35em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p66 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.5em
    }
.p67 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.4em
    }
.p68 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 0.9em;
    margin-bottom: 0.6em;
    margin-left: 0.2em;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p69 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.2em;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p7 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 200%;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p70 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 2.2em
    }
.p71 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.1em;
    margin-bottom: 0.62em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p72 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.62em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p73 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.4em
    }
.p74 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p75 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p76 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 3em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p77 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.5em
    }
.p78 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: center;
    text-indent: 0
    }
.p79 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 2.3em
    }
.p8 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 200%;
    margin-bottom: 1.8em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p80 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.1em;
    margin-bottom: 0.65em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p81 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.65em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p82 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 3em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p83 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.4em;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 3.2em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p84 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 3.2em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p85 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p86 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.2em;
    margin-bottom: 0.49em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p87 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: center;
    text-indent: 0
    }
.p88 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 5.9em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p89 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 0.9em;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 5.9em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p9 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 200%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p90 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.6em
    }
.p91 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 2.6em
    }
.p92 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5em;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: center;
    text-indent: 0
    }
.p93 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.4em;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 2.5em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p94 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 2.5em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p95 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.2em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.3em
    }
.p96 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.4em;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p97 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p98 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 91%;
    line-height: 1.4em;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 6.2em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.p99 {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0.1em;
    margin-right: 6.2em;
    margin-top: 0.6em;
    text-align: justify;
    text-indent: 0
    }
.t {
    font-size: 0.75em;
    line-height: 1.5
    }
.t1 {
    font-size: 0.85714em;
    line-height: 1.5
    }
.t10 {
    font-size: 1.71429em;
    font-style: italic;
    font-weight: bold;
    line-height: 200%
    }
.t11 {
    font-style: italic
    }
.t12 {
    color: blue;
    font-style: italic;
    text-decoration: underline
    }
.t13 {
    font-size: 0.75em;
    font-style: italic;
    line-height: 1.5
    }
.t14 {
    font-size: 1.14286em;
    font-style: italic;
    font-weight: bold
    }
.t15 {
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.5
    }
.t16 {
    font-weight: bold;
    line-height: 1.5
    }
.t17 {
    font-style: italic;
    font-weight: bold;
    line-height: 1.5
    }
.t18 {
    font-size: 1.125em;
    font-weight: bold
    }
.t19 {
    color: blue;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5;
    text-decoration: underline
    }
.t2 {
    font-size: 1.28571em;
    font-weight: bold;
    line-height: 1.5
    }
.t20 {
    font-size: 1.14286em;
    font-weight: bold;
    line-height: 1.5
    }
.t21 {
    font-size: 1.14286em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5
    }
.t22 {
    font-size: 0.85714em;
    line-height: 1.5;
    vertical-align: super
    }
.t23 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5
    }
.t24 {
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5
    }
.t25 {
    font-style: italic;
    line-height: 1.5
    }
.t26 {
    font-size: 0.85714em;
    font-weight: bold;
    line-height: 1.5;
    vertical-align: super
    }
.t27 {
    font-size: 1.14286em;
    line-height: 1.5
    }
.t28 {
    color: #06c;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5;
    text-decoration: underline
    }
.t29 {
    font-size: 1.28571em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5
    }
.t3 {
    font-style: italic;
    font-weight: bold
    }
.t30 {
    font-size: 1.125em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5
    }
.t31 {
    font-weight: bold;
    letter-spacing: -0.005em;
    line-height: 1.5
    }
.t32 {
    font-weight: bold;
    letter-spacing: -0.01em;
    line-height: 1.5
    }
.t33 {
    font-size: 0.85714em;
    font-weight: bold;
    line-height: 140%
    }
.t34 {
    font-size: 0.85714em;
    font-style: italic;
    letter-spacing: 0.0056em;
    line-height: 140%
    }
.t35 {
    font-size: 0.85714em;
    font-style: italic;
    letter-spacing: 0.022em;
    line-height: 140%
    }
.t36 {
    font-size: 0.85714em;
    font-style: italic;
    letter-spacing: 0.013em;
    line-height: 1.5
    }
.t37 {
    color: #06c;
    font-weight: bold;
    letter-spacing: -0.005em;
    line-height: 1.5;
    text-decoration: underline
    }
.t38 {
    font-size: 0.85714em;
    font-weight: bold;
    letter-spacing: -0.0056em;
    line-height: 140%
    }
.t39 {
    font-size: 0.85714em;
    font-style: italic;
    letter-spacing: 0.017em;
    line-height: 140%
    }
.t4 {
    font-weight: bold
    }
.t5 {
    color: #06c;
    line-height: 1.5;
    text-decoration: underline
    }
.t6 {
    font-size: 1.71429em;
    font-weight: bold;
    line-height: 200%
    }
.t7 {
    font-size: 1.28571em;
    font-weight: bold;
    line-height: 200%
    }
.t8 {
    font-size: 1.42857em;
    font-style: italic;
    font-weight: bold;
    line-height: 200%
    }
.t9 {
    font-size: 1.28571em;
    font-style: italic;
    font-weight: bold;
    line-height: 200%
    }
.th {
    font-size: 1.125em;
    line-height: 1.5
    }
.th1 {
    font-size: 1em;
    line-height: 1.5
    }
.th2 {
    font-size: 1.125em;
    font-style: italic;
    line-height: 1.5
    }
