p{text-indent:0;margin-left:0;line-height:1.4em;margin-right:0;text-align:justify;margin-top:.55em;margin-bottom:0;font-family:Tahoma,sans-serif;font-size:100%}
.p0{text-indent:0;text-align:center;margin-top:0}
.p2{text-indent:0;line-height:100%;text-align:center;margin-top:0;margin-bottom:1.4em}
.p3{text-indent:0;text-align:center}
.p4{text-indent:-1.3em;margin-left:1.3em;line-height:100%;margin-top:.27em}
.p5{text-indent:1em}
h1{text-indent:0;margin-left:0;line-height:200%;margin-right:0;margin-top:1.9em;margin-bottom:1.9em;font-family:Cambria,serif;font-size:145%;font-weight:bold;color:#c00000}
.h11{text-indent:0}
.t1{font-family:Cambria,serif;font-size:2.4em;line-height:100%;color:#17365d;letter-spacing:.0096em}
.t2{font-family:Calibri,sans-serif}
.t3{font-weight:bold}
.t4{font-size:.65em;vertical-align:super}
.t5{font-family:Calibri,sans-serif;font-size:.59em;line-height:100%;vertical-align:super}
.t6{font-family:Calibri,sans-serif;font-size:.91em;line-height:100%}
.th11{font-size:.69em;line-height:200%}