p{text-indent:-.65em;margin-left:.65em;line-height:130%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.55em;font-family:Cambria,serif;font-size:100%}
.p0{text-indent:-.65em;text-align:center}
.p1{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-bottom:0}
.p2{text-indent:-.65em;line-height:100%;text-align:center;margin-bottom:0}
.p4{text-indent:0;margin-left:0}
.p5{text-indent:0;margin-left:0;text-align:center}
.p6{text-indent:0;margin-left:0;text-align:left}
.p7{text-indent:-.65em;text-align:left}
.p8{text-indent:-1.3em;margin-left:1.3em;line-height:100%;margin-bottom:.27em}
.p9{text-indent:0}
.t2{font-family:Dotum,sans-serif;font-size:2.5em;line-height:100%;font-weight:bold}
.t3{font-family:Dotum,sans-serif;font-size:1.6em;line-height:100%;font-weight:bold}
.t4{font-family:Dotum,sans-serif;font-size:2.2em;line-height:100%}
.t5{font-family:Dotum,sans-serif;font-size:1.3em;line-height:100%;font-style:italic}
.t6{font-family:Dotum,sans-serif;font-size:7.3em;line-height:100%;font-style:italic}
.t7{font-weight:bold}
.t8{font-style:italic}
.t9{font-size:.65em;line-height:130%;vertical-align:super}
.t10{font-size:.53em;line-height:100%;vertical-align:super}
.t11{font-size:.82em;line-height:100%}
.t12{font-size:.82em;line-height:100%;font-style:italic}