body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
.nomargin{margin:0}
p{text-indent:0.2in;margin-left:0;line-height:115%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:0;font-family:Arial,sans-serif;font-size:91%}
.p0{text-indent:0;margin-left:0;line-height:100%;text-align:center}
.p1{text-align:center}
.p2{text-indent:0;margin-left:0;margin-bottom:10pt}
.p3{text-indent:0;margin-left:0;text-align:left;margin-bottom:10pt}
.p5{text-indent:0;margin-left:0;text-align:left;margin-top:24pt}
.p6{text-align:right}
.p7{text-indent:0.2in;margin-left:0.59in;margin-right:0.39in}
.p8{text-indent:0;margin-left:0;line-height:100%;text-align:left}
.p9{text-indent:0.2in;margin-left:1.58in;line-height:150%;margin-right:0.39in;text-align:right;margin-top:6pt;margin-bottom:6pt}
.p10{text-indent:0.2in;margin-left:0.59in;margin-right:0.32in}
.p11{text-indent:0.2in;margin-left:0.59in;line-height:1;margin-right:0.39in;margin-top:12pt;margin-bottom:12pt}
.p12{margin-bottom:6pt}
.p13{margin-bottom:12pt}
.t0{font-size:1.2em}
.t1{font-size:1.2em}
.t2{font-size:1.2em}
.t3{font-size:2.4em}
.t4{font-size:2.4em}
.t5{font-size:2.4em}
.t7{font-size:1em}
.t8{font-size:1em}
.t9{font-size:.8em}
.t10{font-size:.8em}
.t11{font-size:.8em}
.t12{font-size:.8em}
.t13{font-family:Cambria,serif;font-size:1.4em;color:#365f91}
.t14{font-family:Cambria,serif;font-size:1.4em;color:#365f91}
.t15{font-family:Cambria,serif;font-size:1.4em;color:#365f91}
.t16{font-size:1em;color:blue;text-decoration:underline}
.t17{font-size:1em;color:blue;text-decoration:underline}
.t18{font-size:1em;color:blue;text-decoration:underline}
.t19{font-size:1em}
.t20{font-family:Cambria,serif;font-size:1.4em;color:#365f91}
.t21{font-size:.9em}
.t22{font-size:.9em}
.t23{font-size:.9em;text-decoration:underline}
.t24{font-size:.9em}
.t25{font-size:.9em}
.t26{font-size:.59em;color:blue;vertical-align:super;text-decoration:underline}
.t27{font-size:.59em;color:blue;vertical-align:super;text-decoration:underline}
.t28{font-family:"Times New Roman",serif;font-size:1em}
.t29{font-size:.65em;color:blue;vertical-align:super;text-decoration:underline}
.t30{font-size:.65em;vertical-align:super}
.t31{font-size:.65em;vertical-align:super}
.t32{font-size:.59em;vertical-align:super}
.t33{font-size:.9em;text-decoration:underline}
.t34{font-size:.9em;text-decoration:underline}
.t35{font-size:.59em;vertical-align:super}
.t36{font-family:Calibri,sans-serif;font-size:.2em}
.t37{font-family:Calibri,sans-serif;font-size:1.1em}
.t38{font-size:.8em;color:blue;text-decoration:underline}