p{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.55em;font-family:Cambria,serif;font-size:100%}
.p1{text-indent:0;text-align:center}
.p2{text-indent:0;line-height:100%;text-align:center;margin-bottom:0}
.p3{text-indent:0;text-align:right}
.p4{text-indent:0;text-align:left}
.p5{text-indent:0;margin-left:2.1em;margin-right:2.1em;text-align:center}
.p6{text-indent:0;line-height:100%;text-align:center}
.p7{text-indent:0;line-height:100%;text-align:right;margin-top:1.3em;margin-bottom:1.3em}
.p8{text-indent:0;line-height:100%;text-align:right;margin-top:1.3em;margin-bottom:0}
.p9{text-indent:0;line-height:100%;text-align:right;margin-bottom:1.3em}
.p10{text-indent:-1.3em;margin-left:1.3em;line-height:100%;margin-bottom:.27em}
.p11{text-indent:0}
h2{text-indent:0;margin-left:0;margin-right:0;text-align:right;page-break-after:avoid;widows:1;orphans:1;margin-top:0;margin-bottom:2.6em;font-family:Cambria,serif;font-size:145%;font-weight:bold;font-style:italic}
.h21{text-indent:0}
.t1{font-size:2em;line-height:130%}
.t2{font-family:"Book Antiqua";font-size:.36em;line-height:130%}
.t3{font-family:"Book Antiqua";font-size:.45em;line-height:100%;font-weight:bold}
.t4{font-family:"Book Antiqua";font-size:2.3em;line-height:100%;font-weight:bold}
.t5{font-family:"Cambria Math",serif;font-size:1.4em;line-height:100%;font-weight:bold;font-style:italic}
.t6{font-family:"Cambria Math",serif;font-size:3.3em;line-height:100%}
.t8{font-weight:bold}
.t9{font-style:italic}
.t10{font-size:.95em;line-height:130%;font-style:italic}
.t11{font-size:.65em;line-height:130%;vertical-align:super}
.t12{text-decoration:underline}
.t13{font-size:.65em;line-height:130%;vertical-align:sub}
.t15{font-size:.82em;line-height:100%}
.t16{font-size:.53em;line-height:100%;vertical-align:super}
.t17{font-size:.82em;line-height:100%;font-style:italic}