@namespace h "http://www.w3.org/1999/xhtml";
.baslik {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center
    }
.baslik1 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.baslik2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    page-break-before: always;
    text-align: center
    }
.calibre {
    display: block;
    margin-bottom: 0;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-top: 0;
    page-break-before: always
    }
.calibre1 {
    display: block;
    page-break-after: always
    }
.calibre10 {
    height: 393;
    width: 464
    }
.calibre11 {
    height: 303;
    width: 368
    }
.calibre12 {
    height: 489;
    width: 465
    }
.calibre13 {
    height: 342;
    width: 402
    }
.calibre14 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre15 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre16 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: inherit
    }
.calibre17 {
    height: 167;
    width: 173
    }
.calibre18 {
    height: 134;
    width: 167
    }
.calibre19 {
    height: 176;
    width: 206
    }
.calibre2 {
    height: 51;
    width: 78
    }
.calibre20 {
    height: 138;
    width: 137
    }
.calibre21 {
    height: 176;
    width: 184
    }
.calibre22 {
    height: 291;
    width: 440
    }
.calibre23 {
    height: 400;
    width: 464
    }
.calibre24 {
    height: 416;
    width: 432
    }
.calibre25 {
    height: 443;
    width: 224
    }
.calibre26 {
    height: 467;
    width: 464
    }
.calibre27 {
    height: 90%;
    width: auto
    }
.calibre28 {
    height: 366;
    width: 434
    }
.calibre29 {
    height: 466;
    width: 464
    }
.calibre3 {
    font-size: smaller;
    line-height: normal;
    vertical-align: super
    }
.calibre30 {
    height: 425;
    width: 464
    }
.calibre31 {
    height: 336;
    width: 473
    }
.calibre32 {
    height: 519;
    width: 464
    }
.calibre33 {
    height: 424;
    width: 464
    }
.calibre34 {
    height: 80%;
    width: auto
    }
.calibre4 {
    display: table-row;
    vertical-align: middle
    }
.calibre5 {
    background-color: #eee;
    border: 1px solid #fff;
    display: table-cell;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.2em;
    text-align: left;
    vertical-align: inherit
    }
.calibre6 {
    height: 553;
    width: 464
    }
.calibre7 {
    height: 382;
    width: 464
    }
.calibre8 {
    height: 424;
    width: 463
    }
.calibre9 {
    height: 358;
    width: 464
    }
.chapter {
    display: block
    }
.generictable {
    border: 0;
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0;
    width: 100%
    }
.h1baslik {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.h1baslik1 {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    page-break-before: always;
    text-align: center
    }
.h2baslik {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center
    }
.h2baslik1 {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    page-break-before: always;
    text-align: center
    }
.idebold {
    font-weight: bold
    }
.ideitalik {
    font-style: italic
    }
.indentmetin {
    display: block;
    font-size: 1em;
    margin-bottom: 0.25em;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: justify;
    text-indent: 0.75em
    }
.kitapickapak {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: center
    }
.kunye {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.normal {
    display: block;
    font-size: 1em;
    margin-bottom: 0.7em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.7em;
    text-align: justify;
    text-indent: 0.75em
    }
.normal1 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.7em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.7em;
    text-align: justify;
    text-indent: 0.75em
    }
.resim {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.solbaslik {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: justify;
    text-indent: 0.75em
    }
.solbaslik1 {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    page-break-before: always;
    text-align: justify;
    text-indent: 0.75em
    }
.solbaslik2 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: justify;
    text-indent: 0.75em
    }
a {
    color: inherit;
    text-decoration: inherit;
    cursor: default
    }
a[href] {
    color: blue;
    text-decoration: underline;
    cursor: pointer
    }
    @font-face {
font-style: normal;
font-family: 'Liberation', serif, sans-serif;
font-weight: normal;
src: url(LiberationSerif-Regular.ttf);
}
@font-face {
font-style: italic;
font-family: 'Liberation', serif, sans-serif;
font-weight: normal;
src: url(LiberationSerif-Italic.ttf);
}
@font-face {
font-style: bold;
font-family: 'Liberation', serif, sans-serif;
font-weight: bold;
src: url(LiberationSerif-Bold.ttf);
}

@font-face {
font-style: italic;
font-family: 'Liberation', serif, sans-serif;
font-weight: bold;
src: url(LiberationSerif-BoldItalic.ttf);

}

@font-face {
font-style: normal;
font-family: 'Arial', sans-serif;
font-weight: normal;
src: url(arial.ttf);

}

@font-face {
font-style: italic;
font-family: 'Arial',sans-serif;
font-weight: normal;
src: url(ariali.ttf);

}

@font-face {

font-style: normal;
font-family: 'Arial',sans-serif;
font-weight: bold;
src: url(arialbd.ttf);

}


@font-face {
font-style: italic;
font-family: 'Arial',sans-serif;
font-weight: bold;
src: url(arialbi.ttf);
}