@font-face{font-family:"Liberation Serif";font-style:normal;font-weight:normal;src:url(../Fonts/LiberationSerif-Regular.ttf)}
@font-face{font-family:"Liberation Serif";font-style:normal;font-weight:bold;src:url(../Fonts/LiberationSerif-Bold.ttf)}
@font-face{font-family:"Liberation Serif";font-style:italic;font-weight:normal;src:url(../Fonts/LiberationSerif-Italic.ttf)}
@font-face{font-family:"Cambria";font-style:normal;font-weight:bold;src:url(../Fonts/CAMBRIAB.TTF)}
@font-face{font-family:"Liberation Serif";font-style:italic;font-weight:bold;src:url(../Fonts/LiberationSerif-BoldItalic.ttf)}
body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
.nomargin{margin:0}
p{text-indent:0;margin-left:0;line-height:115%;margin-right:0;margin-top:0;margin-bottom:0;font-family:"Liberation Serif",serif;font-size:91%}
.p0{text-align:center}
.p2{line-height:100%;margin-top:24pt}
.p3{margin-bottom:5pt}
.p4{margin-left:0.14in;margin-bottom:5pt}
.p5{margin-bottom:10pt}
.p6{margin-top:24pt}
.p7{margin-top:10pt}
.p8{margin-bottom:3pt}
.t0{font-size:1em}
.t1{font-size:1em}
.t3{font-size:1em}
.t4{font-family:Cambria,serif;font-size:1.2em;color:#c00000}
.t5{font-size:1.2em;color:#c00000}
.t6{font-size:1.2em;color:#c00000}
.t7{font-size:1em;letter-spacing:-1pt}
.t8{font-size:1em;letter-spacing:0.5pt}
.t9{font-size:.65em;vertical-align:super}
.t10{font-size:1.2em;color:#c00000}
.t11{font-size:1.2em;color:#c00000}
.t12{font-size:1.2em;color:#7030a0}
.t13{font-size:1.2em;color:#7030a0}
.t14{font-size:1.2em;color:#7030a0}
.t15{font-size:1.2em;color:#7030a0}
.t16{font-size:.65em;vertical-align:super}
.t17{font-size:.65em;vertical-align:sub}
.t18{font-size:1em;letter-spacing:3pt}
.t19{font-size:1em;letter-spacing:3pt}
.t20{font-size:1em;letter-spacing:1.5pt}
.t21{font-size:1em;text-decoration:underline}
.t22{font-size:1em;text-decoration:underline}
.t23{font-size:1em;vertical-align:-100%}
.t24{font-size:.8em;vertical-align:-125%}
.t25{font-size:.8em}
.t26{font-size:1em;color:red}
.t27{font-size:1em;color:red}
.t28{font-size:1em;letter-spacing:1pt}