<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Mustafa Armağan</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>72B1F5BC93C1F468C8557F909B9C9AB5</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>package-file-hash</key>
		<string>D7F975AE3214E039900560AFF094BD1C</string>
		<key>publisher-unique-id</key>
		<string>8ed54ac1-6841-4cff-9e1f-6a90a36be0fa</string>
		<key>unique-id</key>
		<integer>6711671049475916757</integer>
	</dict>
	<key>composerName</key>
	<string>8ed54ac1-6841-4cff-9e1f-6a90a36be0fa</string>
	<key>itemName</key>
	<string>Abdülhamid'in Kurtlarla Dansı</string>
	<key>playlistName</key>
	<string>Abdülhamid'in Kurtlarla Dansı</string>
	<key>releaseDate</key>
	<string>2011-02-23T18:09:03.841399+00:00</string>
	<key>sort-artist</key>
	<string>Armağan, Mustafa</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
	<key>sort-composer</key>
	<string></string>
	<key>sort-composer-status</key>
	<integer>128</integer>
	<key>sort-name</key>
	<string>Abdülhamid'in Kurtlarla Dansı</string>
	<key>sort-name-status</key>
	<integer>1</integer>
</dict>
</plist>
