@font-face {
	font-family:"Liberation Serif";
	font-style:normal;
	font-weight:normal;
	src : url("../font/LiberationSerif.ttf");
}
@font-face {
	font-family:"Liberation Serif";
	font-style:normal;
	font-weight:bold;
	src : url("../font/LiberationSerif-Bold.ttf");
}
@font-face {
	font-family:"Liberation Serif";
	font-style:italic;
	font-weight:normal;
	src : url("../font/LiberationSerif-Italic.ttf");
}
@font-face {
	font-family:"Liberation Serif";
	font-style:oblique;
	font-weight:normal;
	src : url("../font/LiberationSerif-Italic.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
body {
	-epub-hyphens:auto;
	-webkit-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
p.anabas1 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:1.25em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:0;
	margin-left:50px;
	margin-right:50px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.anabas3 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:1.25em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.333;
	margin-bottom:40px;
	margin-left:50px;
	margin-right:50px;
	margin-top:100px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.anabaslik {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:1.25em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.333;
	margin-bottom:40px;
	margin-left:50px;
	margin-right:50px;
	margin-top:100px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.arabaslik_sol {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.143;
	margin-bottom:20px;
	margin-left:30px;
	margin-right:30px;
	margin-top:30px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:20px;
	widows:1;
}
p.arabaslik_sol_kucuk {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:1.083em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.154;
	margin-bottom:20px;
	margin-left:30px;
	margin-right:30px;
	margin-top:20px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:20px;
	widows:1;
}
p.dipnot {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.444;
	margin-bottom:0;
	margin-left:30px;
	margin-right:30px;
	margin-top:10px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.kunye {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.444;
	margin-bottom:0;
	margin-left:30px;
	margin-right:30px;
	margin-top:1px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	widows:2;
}
p.paragbos {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:0;
	margin-left:30px;
	margin-right:30px;
	margin-top:20px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:20px;
	widows:1;
}
p.paragic {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:0;
	margin-left:70px;
	margin-right:70px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.paragraf, li.paragraf {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:0;
	margin-left:30px;
	margin-right:30px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:20px;
	widows:1;
}
p.resim {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:0.75em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.556;
	margin-bottom:20px;
	margin-left:30px;
	margin-right:30px;
	margin-top:20px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.resim1 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:0.75em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.556;
	margin-bottom:20px;
	margin-left:30px;
	margin-right:30px;
	margin-top:100px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.split {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:1.25em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1;
	margin-bottom:0;
	margin-left:30px;
	margin-right:30px;
	margin-top:100px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
span.dipp {
	font-family:"Liberation Serif", serif;
	font-size:0.75em;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
p.ParaOverride-1 {
	margin-bottom:20px;
	margin-top:100px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-2 {
	margin-left:50px;
	margin-right:50px;
	text-indent:0px;
}
p.ParaOverride-3 {
	margin-top:100px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-4 {
	margin-top:100px;
}
p.ParaOverride-5 {
	margin-top:15px;
}
p.ParaOverride-6 {
	margin-bottom:15px;
	margin-top:15px;
}
p.ParaOverride-7 {
	margin-bottom:20px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-8 {
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-9 {
	margin-top:50px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-10 {
	margin-top:100px;
	text-align:right;
}
p.ParaOverride-11 {
	text-align:right;
}
p.ParaOverride-12 {
	margin-bottom:10px;
}
li.ParaOverride-13 {
	list-style-position:outside;
	list-style-type:disc;
	margin-left:68px;
	text-indent:0px;
}
p.ParaOverride-14 {
	margin-left:50px;
	margin-right:50px;
	margin-top:10px;
	text-indent:0px;
}
p.ParaOverride-15 {
	margin-bottom:10px;
	margin-left:50px;
	margin-right:50px;
	text-indent:0px;
}
p.ParaOverride-16 {
	margin-bottom:0px;
}
p.ParaOverride-17 {
	margin-top:0px;
}
p.ParaOverride-18 {
	margin-left:50px;
	text-indent:0px;
}
p.ParaOverride-19 {
	margin-bottom:10px;
	margin-top:20px;
}
p.ParaOverride-20 {
	margin-top:10px;
}
p.ParaOverride-21 {
	margin-left:50px;
	text-align:right;
	text-indent:0px;
}
p.ParaOverride-22 {
	margin-left:50px;
}
span.CharOverride-1 {
	font-family:"Liberation Serif";
	font-size:1.083em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	font-family:"Liberation Serif";
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-3 {
	font-family:"Liberation Serif";
	font-size:1.667em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-4 {
	font-size:1.667em;
}
span.CharOverride-5 {
	color:#0000ff;
}
span.CharOverride-6 {
	font-family:"Liberation Serif";
	font-size:1.167em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-7 {
	font-size:0.833em;
}
span.CharOverride-8 {
	font-size:1.167em;
}
span.CharOverride-9 {
	font-size:14px;
}
span.CharOverride-10 {
	font-size:0.583em;
	vertical-align:super;
}
span.CharOverride-11 {
	font-family:"Liberation Serif";
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-12 {
	font-family:"Liberation Serif";
	font-size:0.857em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	font-family:"Liberation Serif";
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	vertical-align:super;
}
span.CharOverride-15 {
	text-transform:uppercase;
}
span.CharOverride-16 {
	text-decoration:underline;
}
span.CharOverride-17 {
	font-size:10px;
}
span.CharOverride-18 {
	font-size:0.583em;
	vertical-align:sub;
}
img._idGenPageitem-1 {
	height:1024px;
	width:682px;
}
div._idGenPageitem-2 {
	text-align:center;
}
img._idGenPageitem-3 {
	height:51px;
	width:51px;
}
img._idGenPageitem-4 {
	height:219px;
	width:292px;
}
img._idGenPageitem-5 {
	height:247px;
	width:292px;
}
img._idGenPageitem-6 {
	height:256px;
	width:292px;
}
img._idGenPageitem-7 {
	height:497px;
	width:275px;
}
img._idGenPageitem-8 {
	height:464px;
	width:275px;
}
img._idGenPageitem-9 {
	height:387px;
	width:292px;
}
img._idGenPageitem-10 {
	height:352px;
	width:275px;
}
img._idGenPageitem-11 {
	height:320px;
	width:275px;
}
img._idGenPageitem-12 {
	height:234px;
	width:292px;
}
img._idGenPageitem-13 {
	height:216px;
	width:292px;
}
img._idGenPageitem-14 {
	height:236px;
	width:292px;
}
img._idGenPageitem-15 {
	height:261px;
	width:292px;
}
img._idGenPageitem-16 {
	height:260px;
	width:292px;
}
img._idGenPageitem-17 {
	height:207px;
	width:292px;
}
img._idGenPageitem-18 {
	height:440px;
	width:275px;
}
img._idGenPageitem-19 {
	height:235px;
	width:292px;
}
img._idGenPageitem-20 {
	height:245px;
	width:293px;
}
img._idGenPageitem-21 {
	height:230px;
	width:292px;
}
img._idGenPageitem-22 {
	height:131px;
	width:275px;
}
img._idGenPageitem-23 {
	height:233px;
	width:293px;
}
