.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre10 {
    height: 62px;
    vertical-align: baseline;
    width: 38px
    }
.calibre11 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5em;
    text-align: justify;
    text-indent: 0
    }
.calibre12 {
    font-size: 0.75em
    }
.calibre13 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    text-align: justify;
    text-indent: 0
    }
.calibre14 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 7pt;
    text-align: center;
    text-indent: 0
    }
.calibre15 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1pt;
    text-align: justify;
    text-indent: 1em
    }
.calibre16 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3pt;
    text-align: center;
    text-indent: 0
    }
.calibre17 {
    height: 23px;
    vertical-align: baseline;
    width: 35px
    }
.calibre18 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0
    }
.calibre19 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.calibre2 {
    height: 778px;
    vertical-align: baseline;
    width: 500px
    }
.calibre20 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1pt
    }
.calibre21 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.calibre22 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 6pt;
    text-align: justify;
    text-indent: 0
    }
.calibre23 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre24 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre25 {
    display: block;
    margin-bottom: 0;
    margin-left: 12pt;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: -12pt
    }
.calibre26 {
    font-size: 1.5em;
    line-height: 1.2
    }
.calibre27 {
    display: block;
    margin-bottom: 0;
    margin-left: 14pt;
    margin-right: 0;
    margin-top: 1em;
    text-indent: -14pt
    }
.calibre28 {
    display: block;
    margin-bottom: 0;
    margin-left: 14pt;
    margin-right: 0;
    margin-top: 0;
    text-indent: -14pt
    }
.calibre3 {
    display: block
    }
.calibre4 {
    font-size: 1.25em;
    line-height: 1.2
    }
.calibre5 {
    color: #000
    }
.calibre6 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    text-align: center;
    text-indent: 0
    }
.calibre7 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre8 {
    height: 34px;
    vertical-align: baseline;
    width: 47px
    }
.calibre9 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5em;
    text-align: center;
    text-indent: 0
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
