p {
text-indent:1.5em;
line-height:100%;
font-size:100%;
margin-left:0;
margin-right:0;
margin-top:0;
margin-bottom:0;
text-align:left;
}

h1,h2,h3,h4,h5,h6 {text-align:center;}

.q p {
text-indent:0em;
text-align:justify;
margin-left:0.2in;
margin-right:0.2in;
}

.ara05 {
         margin-top:1em;
         margin-bottom:1em;
         }
.ara3 {
         margin-top:3em;
         margin-bottom:3em;
         }

.kunye {text-align:left;
         font-size:0.7em;
         margin-left:0.5in;
        }

.kapak p {text-indent:0em;
          text-align:left;
          margin-left:0.2in;   
       }

.yazar {font-size:1.3em;
        margin-bottom:1em;
       }
.kitap {font-size:3em;
        margin-bottom:0.5em
       }
.ceviren {font-size:0.85em
          }
.logo {margin-top:6em
      }
.sag {text-indent:0em;
      text-align:right;
     }
.sag p {text-indent:0em;
        text-align:right;
     }
.orta {text-indent:0em;
      text-align:center;
      font-size:1.2em  
}
.p0 {text-indent:0em;}