
@font-face {
  font-family: "Berling";
  font-style: italic;
  font-weight: normal;
  src : url("../Fonts/BerlingLTStd-Italic.ttf") 
}

@font-face {
  font-family: "Berling";
  font-style: normal;
  font-weight: normal;
  src : url("../Fonts/BerlingLTStd-Roman.ttf") 
}

@font-face {
  font-family: "Gill";
  font-style: normal;
  font-weight: normal;
  src : url("../Fonts/GillSansStd-Light.ttf") 
}

@font-face {
  font-family: "Gill1";
  font-style: normal;
  font-weight: normal;
  src : url("../Fonts/GillSansStd.ttf") 
}

@font-face {
  font-family: "Gill1";
  font-style: italic;
  font-weight: normal;
  src : url("../Fonts/GillSansStd-Italic.ttf") 
}

@font-face {
  font-family: "Goudy";
  font-style: normal;
  font-weight: normal;
  src : url("../Fonts/GoudyCatTReg.ttf") 
}

.chapter p{
  font: normal normal .875em "Berling";
  margin: 0 auto 0 auto;
  line-height: 1.3em;
  text-indent: 1.5em;
}

.h-margin{
  margin: 2em auto;
  border: none;
}

.si-noteref{
  text-decoration: none;
  color: #7A7A7A;
  font-size: .75em;
  vertical-align: super;
  padding-left: .1em;
}
.si-footnotes{
  margin:4em 0 1em;
}
.si-backref{
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  color: #000;
}
.si-footnote{
  font-family: Gill1;
  font-size: .8em;
  margin-bottom: .25em;
}

/*Biography*/

.biography p,.books p{
  font: normal normal .75em "Gill1";
  margin: 0;
  line-height: 1.5em;
}

.s-margin{
  margin-top: 5em;
}

/*Copyright*/

.copyright-page p{
  font: normal normal .66em "Gill1";
  margin: 0;
  line-height: 1.5em;
}

.c1-margin{
  margin: 1em auto;
}

.c-margin{
  margin-top: 3em;
}

.copyright-page a{
  vertical-align: baseline;
  font-size: 1em;
  color: #7A7A7A;
  text-decoration: none;
}

/*Titlepage*/

.titlepage{
  text-align: center;
}

.t-1{
  font: normal normal 1.875em "Goudy";
  margin: 0em auto .5em auto;
}

.t-2{
  font: normal normal 3.1255em "Goudy";
  margin: 0;
}

.t-6{
  font: normal normal 1em "Gill1";
  margin: 0em auto 2em auto;
}

.t-3{
  font: normal normal .91em "Gill1";
  margin: 0 auto 2em auto;
}

.t-4{
  font: normal normal .83em "Gill1";
  margin: 0;
}

.t-5{
  font: normal normal 1em "Gill1";
  margin: .5em auto;
}

.first{
  font-size: 1.1em;
}

.logo{
  margin: 3em auto 0 auto;
}

/*Cover*/

.kapak img{
  max-width: 100%;
}
.kapak{
  margin: 0 auto;
  max-width: 500px;
  page-break-inside: avoid;
}
