@namespace h "http://www.w3.org/1999/xhtml";
.baslik {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.baslik1 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.67em;
  page-break-before: always;
  text-align: center;
}
.calibre {
  display: block;
  margin-bottom: 0;
  margin-left: 10pt;
  margin-right: 10pt;
  margin-top: 0;
  page-break-before: always;
}
.calibre1 {
  display: block;
  page-break-after: always;
}
.calibre2 {
  height: 72;
  width: 125;
}
.calibre3 {
  display: block;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}
.chapter {
  display: block;
}
.h1baslik {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.67em;
  page-break-before: always;
  text-align: center;
}
.h2baslik {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.h2baslik1 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.83em;
  page-break-before: always;
  text-align: center;
}
.idebold {
  font-weight: bold;
}
.ideitalik {
  font-style: italic;
}
.kitapickapak {
  display: block;
  font-size: 1.75em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: center;
}
.kitapickapak1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: center;
}
.kunye {
  display: block;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 3em;
  margin-right: 0;
  margin-top: 0;
  text-align: left;
}
.normal {
  display: block;
  font-size: 1em;
  margin-bottom: 0.7em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.7em;
  text-align: justify;
  text-indent: 0.75em;
}
.normal1 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.7em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.7em;
  text-align: justify;
  text-indent: 0.75em;
}
.ortaitalik {
  display: block;
  font-style: italic;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.ortayazi {
  display: block;
  font-style: normal;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.sagbold {
  display: block;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: right;
}
.sagitalik {
  display: block;
  font-style: italic;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: right;
}
.sagnormal {
  display: block;
  font-style: normal;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: right;
}
a {
  color: inherit;
  text-decoration: inherit;
  cursor: default;
}
a[href] {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
