.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0.5em 0
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    font-style: italic;
    font-weight: bold
    }
.calibre7 {
    font-style: italic
    }
