.block {
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 10pt
    }
.block1 {
    display: block;
    font-family: "Book Antiqua", serif;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0 0 7.2pt
    }
.block2 {
    display: block;
    font-family: "Garamond", serif;
    font-size: 0.625em;
    line-height: 13.5pt;
    text-align: center;
    padding: 0;
    margin: 0 0 7.2pt
    }
.block3 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block4 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block5 {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block6 {
    display: block;
    font-family: "Book Antiqua", serif;
    font-size: 2em;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block7 {
    display: block;
    font-family: "Book Antiqua", serif;
    font-size: 2em;
    font-style: italic;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 10pt
    }
.block8 {
    display: block;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0 0 10pt
    }
.block9 {
    color: black;
    display: block;
    font-style: italic;
    padding: 0;
    margin: 0
    }
.block10 {
    display: block;
    font-variant: small-caps;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0 0 10pt
    }
.block11 {
    display: block;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.calibre {
    color: #000;
    display: block;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    line-height: 1.2
    }
.calibre2 {
    display: block;
    line-height: 1.2
    }
.calibre3 {
    height: 29.9pt;
    width: 50.5pt
    }
.calibre4 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre5 {
    font-style: italic
    }
.text {
    font-family: "Garamond", serif;
    font-size: 2.4em;
    line-height: 1.2
    }
.text1 {
    font-family: "Arial", sans-serif;
    font-size: 2em;
    line-height: 1.2
    }
