@font-face {
    font-family: LiberationSerif;
    font-weight: normal;
    font-style: normal;
    src:url(../Fonts/LiberationSerif-Regular.ttf)
    }
@font-face {
    font-family: LiberationSerif;
    font-weight: bold;
    font-style: normal;
    src: url(../Fonts/LiberationSerif-Bold.ttf)
    }
@font-face {
    font-family: LiberationSerif;
    font-weight: normal;
    font-style: italic;
    src: url(../Fonts/LiberationSerif-Italic.ttf)
    } 

@font-face {
    font-family: LiberationSerif;
    font-weight: normal;
    font-style: italic;
    src: url(../Fonts/LiberationSerif-BoldItalic.ttf)
    }  

	body{
font-family: LiberationSerif;  
           }

@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.e-italik {
	font-weight : normal;
	font-style : italic;
}
span.e-dipnotno {
	font-size : 0.5em;
	vertical-align : super;
}
p.e-iyikikitaplarvar {
	font-family : Cochin, serif;
	font-weight : 500;
	font-style : italic;
	font-size : 1.33em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.38;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.e-jenerikbaslik {
	font-family : "Trajan Pro", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.69;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 14px 0px 0px 0px;
}
p.e-jenerik {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.63em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.47;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 9px 0px 0px 0px;
}
p.e-paragraf {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.79em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.47;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 3px 0px 0px 0px;
}
p.e-parca {
font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.e-1-baslik {
	font-family :LiberationSerif, serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.18;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 17px 0px 3px 0px;
}
p.e-perde {
font-family :LiberationSerif, serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 0px 3px 0px;
}
p.e-dipnotmetni {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.58em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.29;
	text-align : left;
	color : #000000;
	text-indent : -11px;
	margin : 0px 0px 0px 11px;
}
p.e-arabaslik {
	font-family :LiberationSerif, serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.79em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.26;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 9px 0px 0px 14px;
}
p.e-yildiz {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.79em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.47;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 6px 0px;
}
p.e-resimalti {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.67em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.38;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 6px 0px;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 4em;
	margin-bottom : 4em;
	page-break-after : always;
}
div.Basic-Text-Frame {
}
div.e-kapak {
}
