 table.main {}
 tr.row {}
 td.cell {}
 div.block {}
 div.paragraph {}
 img { max-width: 100%; }
 .font0 { font-size:small; font-family: 'Book Antiqua', serif; }
 .font1 { font-size:medium; font-family: 'Book Antiqua', serif; }
 .font2 { font-size:large; font-family: 'Book Antiqua', serif; }
 .font3 { font-size:xx-small; font-family: 'Century Gothic', sans-serif; }
 .font4 { font-size:large; font-family: 'Comic Sans MS', fantasy; }
 .font5 { font-size:medium; font-family: 'Corbel', sans-serif; }
 .font6 { font-size:xx-small; font-family: 'Courier New', monospace; }
 .font7 { font-size:small; font-family: 'Courier New', monospace; }
 .font8 { font-size:medium; font-family: 'Courier New', monospace; }
 .font9 { font-size:medium; font-family: 'Franklin Gothic Heavy', sans-serif; }
 .font10 { font-size:large; font-family: 'Franklin Gothic Heavy', sans-serif; }
 .font11 { font-size:x-small; font-family: 'Georgia', serif; }
 .font12 { font-size:small; font-family: 'Georgia', serif; }
 .font13 { font-size:medium; font-family: 'Georgia', serif; }
 .font14 { font-size:large; font-family: 'Georgia', serif; }
 .font15 { font-size:x-large; font-family: 'Georgia', serif; }
 .font16 { font-size:xx-large; font-family: 'Georgia', serif; }
 .font17 { font-size:xx-small; font-family: 'Microsoft Sans Serif', sans-serif; }
 .font18 { font-size:x-large; font-family: 'Microsoft Sans Serif', sans-serif; }
 .font19 { font-size:small; font-family: 'Tahoma', sans-serif; }
 .font20 { font-size:large; font-family: 'Tahoma', sans-serif; }
 .font21 { font-size:xx-large; font-family: 'Times New Roman', serif; }
 .font22 { font-size:medium; font-family: 'Verdana', sans-serif; }
