.nomargin{margin:0}
p{text-indent:1em;margin-left:0;margin-right:0;text-align:justify;margin-top:0.5em;margin-bottom:0.5em;}
.t6{font-size:.8em;letter-spacing:.063em}
.t7{letter-spacing:.3em}
.t8{font-size:.8em}