body {}
span.Footnoteanchor {font-size:58%;vertical-align:super}
span.FootnoteSymbol {}
p.Footnote {margin-left:22.601576px;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-indent:-22.601576px;font-size:83%}
p.Standard {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0}
h2 {margin-left:0;margin-right:0;margin-top:15.987401px;margin-bottom:8.012598px;border:none;padding:0;font-style:normal;font-weight:bold;font-size:117%;clear:left}
hr.footnoterule {margin-top:3.817323px;margin-bottom:3.817323px;height:1.0px;width:25%;color:#000000;background-color:#000000;margin-left:0;margin-right:auto}
