.anabaslik {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1.41667em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    margin: 100px 50px 5px
    }
.basic-graphics-frame {
    height: 0;
    width: 56px
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    height: 1024px;
    width: 768px
    }
.char-style-override {
    font-size: 1.28571em;
    font-style: normal;
    font-weight: bold
    }
.char-style-override1 {
    font-size: 1.28571em
    }
.char-style-override2 {
    font-size: 1.28571em;
    text-transform: uppercase
    }
.char-style-override3 {
    font-size: 1.28571em;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase
    }
.char-style-override4 {
    float: left;
    font-size: 3.159em;
    line-height: 1;
    margin-bottom: -0.216em;
    margin-right: 0.05em;
    margin-top: -0.129em
    }
.char-style-override5 {
    font-style: normal;
    font-weight: normal
    }
.char-style-override6 {
    float: left;
    font-size: 2em;
    line-height: 1;
    margin-bottom: -0.216em;
    margin-right: 0.05em;
    margin-top: -0.129em
    }
.char-style-override7 {
    font-size: 1.125em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2
    }
.char-style-override8 {
    font-size: 1em
    }
.char-style-override9 {
    color: #000;
    font-size: 1em
    }
.dipnot {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.44;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    margin: 3px 30px 0
    }
.dipp {
    font-family: "Liberation Serif", serif;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    vertical-align: super
    }
.image {
    height: 79px;
    line-height: 1.2;
    width: 34px
    }
.image1 {
    height: 78px;
    line-height: 1.2;
    width: 34px
    }
.image2 {
    height: 88px;
    width: 259px
    }
.image3 {
    height: 7px;
    line-height: 1.2;
    width: 126px
    }
.image4 {
    height: 8px;
    width: 158px
    }
.italik {
    font-family: "Liberation Serif", serif;
    font-size: 1.33333em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2
    }
.italik1 {
    font-family: "Liberation Serif", serif;
    font-size: 0.75em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal
    }
.italik2 {
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal
    }
.italik3 {
    color: #000;
    font-family: "Liberation Serif", serif;
    font-size: 1.33333em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2
    }
.kunye {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.58333em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.38;
    margin-bottom: 0;
    margin-top: 100px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.kunye1 {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.58333em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.38;
    margin-bottom: 0;
    margin-top: 1px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.kunye2 {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.58333em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.38;
    margin-bottom: 0;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.kunye3 {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.58333em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.38;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.normal {
    color: #000;
    font-family: "Liberation Serif", serif;
    font-size: 1.28571em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.normal1 {
    color: #00f;
    font-family: "Liberation Serif", serif;
    font-size: 1.28571em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.para-style-override {
    display: block;
    text-align: center;
    margin: 0
    }
.paragraf {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25;
    margin-bottom: 0;
    margin-top: 100px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.paragraf1 {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.paragraf2 {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25;
    margin-bottom: 0;
    margin-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 0
    }
.paragraf3 {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25;
    margin-bottom: 0;
    margin-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 20px
    }
.paragraf4 {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25;
    margin-bottom: 0;
    margin-top: 20px;
    text-align: justify;
    text-decoration: none;
    text-indent: 20px
    }
.paragraf5 {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25;
    margin-bottom: 0;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.paragraf6 {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: justify;
    text-decoration: none;
    text-indent: 20px
    }
.paragraf7 {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.paragraf8 {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25;
    margin-bottom: 0;
    margin-top: 15px;
    text-align: justify;
    text-decoration: none;
    text-indent: 20px
    }
.paragraf9 {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.25;
    margin-bottom: 0;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.resim {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.75em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.56;
    margin-bottom: 20px;
    margin-top: 100px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.resim1 {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.75em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.56;
    margin-bottom: 20px;
    margin-top: 80px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.resim2 {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.75em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.56;
    margin-bottom: 15px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.resim3 {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.75em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.56;
    margin-bottom: 40px;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.split {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1.41667em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 100px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.yildiz {
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
