.block {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block1 {
    display: block;
    text-align: center;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block2 {
    display: block;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block3 {
    display: block;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block4 {
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block5 {
    display: block;
    font-size: 0.875em;
    font-style: italic;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 50.4pt 6pt 36pt
    }
.block6 {
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 50.4pt 6pt 36pt
    }
.block7 {
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 0.875em;
    font-style: italic;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 50.4pt 6pt 36pt
    }
.block8 {
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0 0
    }
.block9 {
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 0
    }
.calibre {
    color: black;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre2 {
    text-decoration: none
    }
.calibre3 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre4 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre5 {
    display: block;
    margin-left: 40px
    }
.calibre6 {
    display: block;
    margin-left: 40px;
    page-break-after: avoid
    }
.noteref {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.notes {
    display: block;
    margin: 1em 0
    }
.notes-header {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.text2 {
    font-family: "Times New Roman TUR", serif;
    font-size: 1.14286em;
    line-height: 1.2
    }
.text3 {
    font-family: "Times New Roman", serif;
    font-size: 1.14286em;
    line-height: 1.2
    }
.text4 {
    font-family: "Calibri", sans-serif;
    font-size: 1.14286em;
    line-height: 1.2
    }
h1
{
margin-top:3em;
margin-bottom:5em;
text-align:center;
Font-size:1.5em;
}
p{
text-align:justify;
text-indent:1em;
margin-top:0.3em;
margin-bottom:0.3em;
}