p{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.55em;font-family:Cambria,serif;font-size:100%}
.p0{text-indent:0;text-align:center;margin-bottom:0}
.p1{text-indent:0;text-align:center}
.p2{text-indent:0;line-height:100%;text-align:center}
.p3{text-indent:0;line-height:115%;text-align:center;page-break-after:avoid;margin-top:2.2em;margin-bottom:0}
.p4{text-indent:0;text-align:left;margin-top:.27em;margin-bottom:0}
.p6{text-indent:0;line-height:115%;text-align:left;margin-bottom:.91em}
.p7{text-indent:0;text-align:right}
.p8{text-indent:0;text-align:left}
.p9{text-indent:0;margin-left:1.8em;line-height:115%;margin-right:1.8em;margin-bottom:.36em}
.p10{text-indent:0;margin-left:1.8em;line-height:115%;margin-right:1.8em;text-align:right;margin-bottom:.36em}
.p11{text-indent:0;line-height:115%;text-align:center;margin-bottom:.91em}
.p12{text-indent:0;margin-left:1.8em;line-height:115%;margin-right:1.8em;text-align:left;margin-bottom:.36em}
.p13{text-indent:-.9em;margin-left:.9em;line-height:100%;margin-bottom:.27em}
.p14{text-indent:0}
h1{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:2.3em;margin-bottom:2.6em;font-family:Cambria,serif;font-size:145%;font-weight:bold}
.h11{text-indent:0}
.t1{font-size:1.1em;line-height:120%}
.t2{font-size:4.4em;line-height:120%;font-weight:bold}
.t3{font-size:2.5em;line-height:120%;font-weight:bold}
.t4{font-size:1.3em;line-height:120%;font-weight:bold}
.t5{font-size:8.2em;line-height:100%;font-weight:bold}
.t6{font-size:6.7em;line-height:100%;font-weight:bold}
.t7{font-size:3.1em;line-height:100%;letter-spacing:.44em}
.t8{font-size:3.1em;line-height:100%}
.t9{font-size:2.2em;line-height:120%}
.t12{font-size:1.5em;line-height:115%;font-weight:bold;color:#365f91}
.t13{font-family:Calibri,sans-serif;font-weight:bold}
.t14{font-family:Calibri,sans-serif}
.t15{font-size:1.5em;line-height:115%;font-weight:bold}
.t16{font-style:italic}
.t17{font-size:.65em;line-height:120%;vertical-align:super}
.t18{font-size:.95em;line-height:115%}
.t19{font-size:.95em;line-height:115%;letter-spacing:-.0095em}
.t20{font-family:"Times New Roman",serif}
.t21{letter-spacing:-.0091em}
.t22{letter-spacing:-.018em}
.t23{font-size:.47em;line-height:100%;vertical-align:super}
.t24{font-size:.73em;line-height:100%}