._idgenpageitem {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0
    }
._idgenpageitem1 {
    height: 1023px;
    width: 768px
    }
._idgenpageitem2 {
    height: 51px;
    line-height: 1.2;
    width: 130px
    }
.alt {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 10px 0 20px
    }
.altbas {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0
    }
.anabaslik {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1.11111em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0
    }
.arabaslik_sol {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 30px 30px 15px
    }
.bas {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 20px 30px 10px
    }
.basic-text-frame {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    padding: 0;
    margin: 0
    }
.bos {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 15px 0
    }
.calibre {
    -epub-hyphens: auto;
    -webkit-hyphens: auto;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    padding: 0;
    margin: 0 5pt
    }
.calibre1 {
    line-height: 1.2
    }
.charoverride {
    font-family: "Liberation Serif";
    font-size: 1.11111em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride1 {
    font-family: "Liberation Serif", serif;
    font-size: 1.33333em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2
    }
.charoverride2 {
    font-family: "Liberation Serif";
    font-size: 1.33333em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride3 {
    font-family: "Liberation Serif", serif;
    font-size: 1.22222em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2
    }
.charoverride4 {
    font-family: "Liberation Serif";
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride5 {
    font-family: "Liberation Serif";
    font-size: 0.77778em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride6 {
    font-family: "Liberation Serif", serif;
    font-size: 0.77778em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2
    }
.charoverride7 {
    font-family: "Liberation Serif", serif;
    font-size: 0.77778em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride8 {
    color: #000;
    font-family: "Liberation Serif";
    font-size: 0.77778em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none
    }
.charoverride9 {
    color: #00f;
    font-family: "Liberation Serif", serif;
    font-size: 0.77778em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2
    }
.charoverride10 {
    font-family: "Liberation Serif";
    font-style: italic;
    font-weight: normal
    }
.charoverride11 {
    font-size: 0.75em;
    vertical-align: super
    }
.charoverride12 {
    font-family: "Liberation Serif";
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride13 {
    font-size: 1em;
    line-height: 1.2
    }
.charoverride14 {
    font-family: "Liberation Serif";
    font-size: 0.66667em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    vertical-align: super
    }
.charoverride15 {
    font-family: "Liberation Serif";
    font-style: normal;
    font-weight: bold
    }
.italik {
    font-family: "Liberation Serif", serif;
    font-size: 1.125em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2
    }
.italik1 {
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2
    }
.p {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0 30px
    }
.p1 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 10px 30px 0
    }
.paragraf {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0 30px
    }
.paragraf1 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 15px 30px 0
    }
.paragraf2 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 0 30px
    }
.paragraf3 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 0 30px
    }
.paragraf4 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 10px 30px 0
    }
.paraoverride {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    text-align: center;
    padding: 0;
    margin: 20px 0 0
    }
.paraoverride1 {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    text-align: center;
    padding: 0;
    margin: 15px 0 0
    }
.paraoverride2 {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    text-align: center;
    padding: 0;
    margin: 70px 0 0
    }
.r {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.88889em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0
    }
.r1 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.88889em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 15px 0 0
    }
.split {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 100px 0 0
    }
