.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre2 {
    height: 524;
    vertical-align: baseline;
    width: 383
    }
.calibre3 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin: 0
    }
