p{text-indent:1em;margin-left:0;margin-right:0;text-align:justify;margin-top:0.5em;margin-bottom:0.5em}
.p0{text-indent:1.8em;text-align:center;margin-top:0}
.p2{text-indent:0;margin-left:0;line-height:100%;margin-right:0;text-align:center;margin-top:0;margin-bottom:1.4em}
.p3{text-indent:1.8em;text-align:center}
.p4{text-indent:0;margin-left:0;line-height:100%;margin-right:0;text-align:center;margin-top:0}
.p5{text-indent:-2.6em;margin-left:3.2em}
.p6{text-indent:0}
h1{text-indent:0;margin-left:0;line-height:150%;margin-right:0;text-align:center;margin-top:.6em;margin-bottom:.9em;font-family:Cambria,serif;font-size:182%;font-weight:bold;color:#0070c0}
.h11{text-indent:0}
.t0{font-family:"Times New Roman",serif;font-size:1.1em}
.t2{font-family:Cambria,serif;font-size:2.4em;line-height:100%;color:#17365d;letter-spacing:.0096em}
.t3{font-family:Cambria,serif;font-size:2.4em;line-height:100%;color:#993300;letter-spacing:.0096em}
.t4{font-weight:bold}
.t5{font-family:Cambria,serif;font-size:1.1em}
.t6{font-family:Cambria,serif;font-size:1.1em;line-height:100%}
.t7{font-size:1.8em;font-weight:bold}
.t8{font-style:italic}
.t9{font-family:Cambria,serif;font-size:1.5em;line-height:100%}
.th11{font-size:.55em;line-height:150%}