@page{margin-left:0.5cm;margin-right:0.5cm;margin-top:0.5cm;margin-bottom:0.5cm}
body{margin:0}
p{text-indent:1.3em;margin-left:0;line-height:120%;margin-right:0;text-align:justify;margin-top:.55em;margin-bottom:.55em;font-size:100%}
.p0{text-indent:0;margin-left:0;text-align:center;margin-top:0;margin-bottom:0}
.p1{text-indent:0;margin-left:0;text-align:center}
.p2{text-indent:0;margin-left:0;text-align:center;margin-top:2.2em}
.p3{text-indent:0;margin-left:0;text-align:center;margin-top:3.8em}
.p4{text-indent:1.8em;margin-top:3.3em}
.p6{text-indent:1.8em;text-align:left;margin-top:1.6em;margin-bottom:0}
.p7{text-indent:0}
h1{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:.33em;margin-bottom:2em;font-size:200%;font-weight:bold}
.h11{text-indent:0}
.t2{font-size:3.3em;line-height:120%;font-weight:bold}
.t3{font-size:1.3em;line-height:120%;font-weight:bold}
.t4{font-weight:bold}
.t5{font-style:italic}
.t6{font-size:1.1em;line-height:120%;font-weight:bold}
.t7{font-size:1.8em;line-height:120%;font-weight:bold}
.t8{font-size:0.8em;line-height:120%;font-weight:bold}