@font-face {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : normal;
	src : url("../Fonts/LiberationSerif.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : bold;
	src : url("../Fonts/LiberationSerif-Bold.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : italic ;
	font-weight : normal;
	src : url("../Fonts/LiberationSerif-Italic.ttf");
}
@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.Font-Style63 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	color : #000000;
}
span.Font-Style64 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 3.75em;
	color : #000000;
}
span.Font-Style65 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.17em;
	color : #000000;
}
span.Font-Style66 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.83em;
	color : #000000;
}
span.Font-Style79 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	color : #000000;
}
span.Font-Style76 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.67em;
	color : #000000;
}
span.Font-Style67 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.58em;
	color : #000000;
}
span.Hyperlink {
	text-decoration : underline;
	color : #000080;
}
span.Font-Style79-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	color : #000000;
}
span.Hyperlink-1 {
	text-decoration : underline;
	color : #000080;
}
span.Font-Style80 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.83em;
	color : #000000;
}
span.Font-Style77 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.83em;
	color : #000000;
}
span.Font-Style74 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	color : #000000;
}
span.Font-Style63-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	color : #000000;
}
span.Font-Style75 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.67em;
	color : #000000;
}
span.Font-Style76-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.67em;
	color : #000000;
}
span.Font-Style77-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.83em;
	color : #000000;
}
span.Font-Style78 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.08em;
	color : #000000;
}
span.Font-Style79-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	color : #000000;
}
span.Font-Style80-1 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.83em;
	color : #000000;
}
span.Font-Style81 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.83em;
	font-variant : small-caps;
	color : #000000;
}
span.Font-Style68 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.5em;
	color : #000000;
}
span.Font-Style69 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 5.75em;
	color : #000000;
}
span.Font-Style70 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.83em;
	color : #000000;
}
span.char-style-override-1 {
	font-size : 1.08em;
}
span.char-style-override-2 {
	font-size : 2.33em;
}
span.char-style-override-3 {
	font-size : 1.17em;
}
span.char-style-override-4 {
	font-size : 0.83em;
}
span.char-style-override-5 {
	font-size : 0.58em;
}
span.char-style-override-6 {
	font-size : 0.93em;
	font-style : normal;
	font-weight : normal;
	vertical-align : super;
}
span.char-style-override-7 {
	color : #000000;
	font-family : "Liberation Serif", serif;
	font-size : 0.83em;
	font-style : normal;
	font-weight : normal;
	vertical-align : super;
}
span.char-style-override-8 {
	font-size : 0.83em;
	vertical-align : super;
}
span.char-style-override-9 {
	color : #000000;
	font-family : "Liberation Serif", serif;
	font-size : 0.93em;
	font-style : normal;
	font-weight : normal;
	vertical-align : super;
}
span.char-style-override-10 {
	vertical-align : super;
}
span.char-style-override-11 {
	color : #000000;
	font-family : "Liberation Serif", serif;
	font-size : 0.83em;
	font-style : italic;
	font-weight : normal;
	vertical-align : super;
}
span.char-style-override-12 {
	vertical-align : sub;
}
span.char-style-override-13 {
	font-size : 1em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-14 {
	font-size : 1em;
}
p.Style3 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style4 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style5 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style6 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style7 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style8 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.17;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style9 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.17;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style11 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.17;
	text-align : justify;
	color : #000000;
	text-indent : 18px;
	margin : 0px;
}
p.Style12 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.17;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style14 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.17;
	text-align : left;
	color : #000000;
	text-indent : 5px;
	margin : 0px;
}
p.Style10 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.17;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style8-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.17;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style21 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style22 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.13;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Normal {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style8-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.17;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Basic-Paragraph {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.BB {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 150px 0px 100px 0px;
}
p.GMO {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 10px 10px 22px 10px;
}
p.KB {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 30px 0px 5px 20px;
}
p.Normal-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style11-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : justify;
	color : #000000;
	text-indent : 18px;
	margin : 0px;
}
p.Style12-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style15 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style17 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.24;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px;
}
p.Style20 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style21-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style22-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.13;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style25 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style26 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.12;
	text-align : left;
	color : #000000;
	text-indent : -19px;
	margin : 0px 0px 0px 19px;
}
p.Style27 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style29 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.28;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px;
}
p.Style30 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.28;
	text-align : left;
	color : #000000;
	text-indent : 20px;
	margin : 0px;
}
p.Style31 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.13;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style32 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style33 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style34 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.24;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px;
}
p.Style35 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.26;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px;
}
p.Style36 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.27;
	text-align : justify;
	color : #000000;
	text-indent : 37px;
	margin : 0px;
}
p.Style37 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style41 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.28;
	text-align : justify;
	color : #000000;
	text-indent : 19px;
	margin : 0px;
}
p.Style42 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.23;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px;
}
p.Style44 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.27;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px;
}
p.Style45 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.24;
	text-align : left;
	color : #000000;
	text-indent : -19px;
	margin : 0px 0px 0px 19px;
}
p.Style46 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.27;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px;
}
p.Style47 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.12;
	text-align : justify;
	color : #000000;
	text-indent : -19px;
	margin : 0px 0px 0px 19px;
}
p.Style48 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style50 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style51 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px;
}
p.Style54 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style55 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px;
}
p.Style56 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.24;
	text-align : left;
	color : #000000;
	text-indent : -19px;
	margin : 0px 0px 0px 19px;
}
p.Style57 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style58 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.36;
	text-align : left;
	color : #000000;
	text-indent : 20px;
	margin : 0px;
}
p.Style59 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style60 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.26;
	text-align : left;
	color : #000000;
	text-indent : -19px;
	margin : 0px 0px 0px 19px;
}
p.Style61 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.12;
	text-align : justify;
	color : #000000;
	text-indent : -20px;
	margin : 0px 0px 0px 20px;
}
p.Style1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Style3-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
}
p.para-style-override-2 {
	margin-top : 80px;
	text-align : center;
}
p.para-style-override-3 {
	text-align : center;
}
p.para-style-override-4 {
	text-align : center;
	text-indent : 0px;
}
p.para-style-override-5 {
	margin-top : 150px;
}
p.para-style-override-6 {
	margin-top : 6px;
}
p.para-style-override-7 {
	margin-right : 0px;
	margin-top : 6px;
}
p.para-style-override-8 {
	margin-right : 0px;
	margin-top : 7px;
	text-align : right;
}
p.para-style-override-9 {
	margin-top : 150px;
	text-align : right;
}
p.para-style-override-10 {
	text-align : right;
}
p.para-style-override-11 {
	margin-top : 4px;
	text-indent : 20px;
}
p.para-style-override-12 {
	margin-bottom : 5px;
	margin-right : 0px;
	margin-top : 4px;
	text-indent : 20px;
}
p.para-style-override-13 {
	text-indent : 20px;
}
p.para-style-override-14 {
	margin-top : 3px;
	text-indent : 19px;
}
p.para-style-override-15 {
	margin-top : 3px;
	text-indent : 20px;
}
p.para-style-override-16 {
	margin-right : 1px;
	margin-top : 4px;
	text-indent : 19px;
}
p.para-style-override-17 {
	margin-right : 1px;
	margin-top : 3px;
	text-indent : 20px;
}
p.para-style-override-18 {
	margin-right : 0px;
	margin-top : 3px;
	text-indent : 20px;
}
p.para-style-override-19 {
	margin-right : 1px;
	text-indent : 20px;
}
p.para-style-override-20 {
	margin-top : 2px;
	text-indent : 19px;
}
p.para-style-override-21 {
	margin-bottom : 3px;
	margin-top : 3px;
	text-indent : 20px;
}
p.para-style-override-22 {
	margin-top : 2px;
	text-indent : 20px;
}
p.para-style-override-23 {
	margin-bottom : 6px;
	margin-top : 3px;
	text-indent : 20px;
}
p.para-style-override-24 {
	margin-right : 0px;
	margin-top : 3px;
	text-indent : 19px;
}
p.para-style-override-25 {
	margin-left : 20px;
	margin-top : 7px;
}
p.para-style-override-26 {
	margin-bottom : 109px;
	margin-top : 3px;
	text-indent : 20px;
}
p.para-style-override-27 {
	margin-left : 61px;
	margin-right : 60px;
}
p.para-style-override-28 {
	margin-bottom : 2px;
	margin-top : 3px;
	text-indent : 20px;
}
p.para-style-override-29 {
	margin-top : 4px;
	text-indent : 19px;
}
p.para-style-override-30 {
	margin-right : 0px;
	margin-top : 2px;
	text-indent : 20px;
}
p.para-style-override-31 {
	margin-right : 1px;
	margin-top : 2px;
	text-indent : 20px;
}
p.para-style-override-32 {
	margin-right : 0px;
	margin-top : 4px;
	text-indent : 20px;
}
p.para-style-override-33 {
	margin-right : 1px;
	margin-top : 4px;
	text-indent : 20px;
}
p.para-style-override-34 {
	text-indent : 19px;
}
p.para-style-override-35 {
	margin-right : 1px;
	margin-top : 3px;
	text-indent : 19px;
}
p.para-style-override-36 {
	margin-right : 0px;
}
p.para-style-override-37 {
	margin-top : 3px;
	text-align : justify;
}
p.para-style-override-38 {
	margin-right : 0px;
	text-indent : 20px;
}
p.para-style-override-39 {
	margin-top : 3px;
}
p.para-style-override-40 {
	margin-left : 19px;
}
p.para-style-override-41 {
	margin-top : 2px;
}
p.para-style-override-42 {
	margin-right : 0px;
	margin-top : 4px;
	text-indent : 19px;
}
p.para-style-override-43 {
	margin-right : 0px;
	margin-top : 2px;
	text-indent : 19px;
}
p.para-style-override-44 {
	margin-top : 30px;
	text-indent : 20px;
}
p.para-style-override-45 {
	margin-bottom : 30px;
	text-indent : 20px;
}
p.para-style-override-46 {
	margin-top : 9px;
	text-indent : 20px;
}
p.para-style-override-47 {
	margin-right : 1px;
	text-indent : 19px;
}
p.para-style-override-48 {
	margin-left : 20px;
	margin-top : 6px;
	text-align : left;
	text-indent : 0px;
}
p.para-style-override-49 {
	margin-right : 1px;
	margin-top : 2px;
	text-indent : 19px;
}
p.para-style-override-50 {
	margin-right : 0px;
	text-indent : 0px;
}
p.para-style-override-51 {
	margin-left : 29px;
	margin-right : 109px;
	margin-top : 20px;
}
p.para-style-override-52 {
	margin-bottom : 20px;
	margin-left : 29px;
	margin-right : 109px;
}
p.para-style-override-53 {
	margin-left : 29px;
	margin-right : 109px;
	margin-top : 30px;
}
p.para-style-override-54 {
	margin-left : 29px;
	margin-right : 109px;
	margin-top : 8px;
}
p.para-style-override-55 {
	margin-left : 28px;
	margin-right : 128px;
}
p.para-style-override-56 {
	margin-left : 28px;
	margin-right : 128px;
	margin-top : 30px;
}
p.para-style-override-57 {
	margin-left : 28px;
	margin-right : 128px;
	margin-top : 1px;
}
p.para-style-override-58 {
	margin : 1px 128px 30px 28px;
}
p.para-style-override-59 {
	margin-left : 28px;
	margin-right : 109px;
}
p.para-style-override-60 {
	margin-bottom : 30px;
	margin-left : 28px;
	margin-right : 109px;
}
p.para-style-override-61 {
	margin-top : 7px;
	text-indent : 20px;
}
p.para-style-override-62 {
	margin-left : 28px;
	margin-right : 109px;
	margin-top : 30px;
}
p.para-style-override-63 {
	margin-left : 27px;
	margin-right : 55px;
}
p.para-style-override-64 {
	margin-left : 204px;
	margin-top : 6px;
	text-align : left;
}
p.para-style-override-65 {
	margin-left : 27px;
	margin-right : 55px;
	margin-top : 30px;
}
p.para-style-override-66 {
	margin-left : 28px;
	margin-right : 91px;
}
p.para-style-override-67 {
	margin-left : 193px;
	margin-top : 9px;
	text-align : left;
}
p.para-style-override-68 {
	margin-left : 28px;
	margin-right : 164px;
	margin-top : 30px;
}
p.para-style-override-69 {
	margin-bottom : 30px;
	margin-left : 28px;
	margin-right : 164px;
}
p.para-style-override-70 {
	text-indent : 21px;
}
p.para-style-override-71 {
	margin-left : 29px;
	margin-top : 30px;
}
p.para-style-override-72 {
	margin-bottom : 30px;
	margin-left : 29px;
	margin-top : 4px;
}
p.para-style-override-73 {
	margin-top : 9px;
	text-indent : 19px;
}
p.para-style-override-74 {
	margin : 5px 109px 30px 29px;
}
p.para-style-override-75 {
	margin-left : 20px;
	margin-top : 6px;
}
p.para-style-override-76 {
	margin-left : 76px;
	text-align : justify;
}
p.para-style-override-77 {
	margin-left : 20px;
}
p.para-style-override-78 {
	margin-left : 20px;
	margin-top : 11px;
}
p.para-style-override-79 {
	margin-right : 1px;
	margin-top : 4px;
}
p.para-style-override-80 {
	margin-right : 0px;
	margin-top : 3px;
}
p.para-style-override-81 {
	margin-left : 28px;
	margin-right : 164px;
}
p.para-style-override-82 {
	margin-left : 28px;
	margin-right : 164px;
	margin-top : 4px;
}
p.para-style-override-83 {
	margin-right : 0px;
	text-indent : 19px;
}
p.para-style-override-84 {
	margin-right : 0px;
	margin-top : 4px;
}
p.para-style-override-85 {
	margin-right : 0px;
	margin-top : 2px;
}
p.para-style-override-86 {
	margin-right : 1px;
	margin-top : 3px;
}
p.para-style-override-87 {
	margin-left : 20px;
	margin-top : 10px;
	text-align : left;
	text-indent : 0px;
}
p.para-style-override-88 {
	margin-top : 1px;
}
p.para-style-override-89 {
	margin-top : 1px;
	text-align : left;
}
p.para-style-override-90 {
	margin-top : 1px;
	text-indent : 19px;
}
p.para-style-override-91 {
	margin-right : 0px;
	margin-top : 3px;
	text-indent : 21px;
}
p.para-style-override-92 {
	margin-right : 1px;
	margin-top : 2px;
}
p.para-style-override-93 {
	margin-top : 4px;
}
p.para-style-override-94 {
	margin-left : 57px;
	margin-right : 58px;
}
p.para-style-override-95 {
	margin-bottom : 4px;
}
p.para-style-override-96 {
	margin-left : 20px;
	margin-top : 5px;
	text-align : left;
	text-indent : 0px;
}
p.para-style-override-97 {
	margin-top : 3px;
	text-align : left;
}
p.para-style-override-98 {
	margin-left : 0px;
	margin-top : 5px;
	text-indent : 0px;
}
p.para-style-override-99 {
	margin-left : 0px;
	margin-top : 6px;
	text-indent : 0px;
}
p.para-style-override-100 {
	margin-top : 8px;
	text-indent : 20px;
}
p.para-style-override-101 {
	margin-right : 1px;
	margin-top : 3px;
	text-indent : 21px;
}
p.para-style-override-102 {
	margin-left : 121px;
	text-align : justify;
}
p.para-style-override-103 {
	margin-right : 1px;
}
p.para-style-override-104 {
	margin-bottom : 6px;
	margin-top : 2px;
	text-indent : 19px;
}
p.para-style-override-105 {
	margin-top : 5px;
	text-indent : 20px;
}
p.para-style-override-106 {
	margin-bottom : 3px;
	margin-right : 0px;
	margin-top : 3px;
	text-indent : 19px;
}
p.para-style-override-107 {
	margin-right : 0px;
	margin-top : 12px;
}
p.para-style-override-108 {
	margin-top : 10px;
}
p.para-style-override-109 {
	margin-right : 1px;
	margin-top : 5px;
	text-align : right;
}
p.para-style-override-110 {
	margin-top : 11px;
	text-indent : 19px;
}
p.para-style-override-111 {
	margin-top : 3px;
	text-indent : 21px;
}
p.para-style-override-112 {
	margin-right : 1px;
	margin-top : 3px;
	text-align : left;
}
p.para-style-override-113 {
	margin-top : 1px;
	text-indent : 20px;
}
p.para-style-override-114 {
	margin-left : 20px;
	margin-top : 1px;
	text-align : left;
	text-indent : 0px;
}
p.para-style-override-115 {
	margin-right : 1px;
	margin-top : 1px;
	text-indent : 20px;
}
p.para-style-override-116 {
	margin-left : 20px;
	margin-top : 4px;
	text-align : left;
	text-indent : 0px;
}
p.para-style-override-117 {
	margin-left : 0px;
	margin-top : 6px;
	text-align : justify;
	text-indent : 0px;
}
p.para-style-override-118 {
	margin-left : 0px;
	margin-top : 5px;
	text-align : justify;
	text-indent : 0px;
}
p.para-style-override-119 {
	margin-left : 20px;
	margin-top : 10px;
	text-align : left;
}
p.para-style-override-120 {
	margin-left : 20px;
	margin-top : 4px;
	text-align : left;
}
p.para-style-override-121 {
	margin-right : 1px;
	text-indent : 0px;
}
p.para-style-override-122 {
	margin-left : 20px;
	margin-top : 3px;
	text-indent : -20px;
}
p.para-style-override-123 {
	margin-left : 0px;
	margin-top : 5px;
	text-align : left;
	text-indent : 0px;
}
p.para-style-override-124 {
	margin-left : 0px;
	margin-top : 6px;
	text-align : left;
	text-indent : 0px;
}
p.para-style-override-125 {
	margin-left : 21px;
	margin-right : 0px;
	margin-top : 3px;
	text-indent : -21px;
}
p.para-style-override-126 {
	margin-left : 0px;
	margin-top : 1px;
	text-align : left;
	text-indent : 0px;
}
p.para-style-override-127 {
	margin-left : 0px;
	text-align : left;
	text-indent : 0px;
}
p.para-style-override-128 {
	margin-left : 19px;
	text-indent : -19px;
}
p.para-style-override-129 {
	margin-left : 0px;
	margin-top : 4px;
	text-align : left;
	text-indent : 0px;
}
p.para-style-override-130 {
	margin-left : 20px;
	margin-right : 0px;
	margin-top : 2px;
	text-indent : -20px;
}
p.para-style-override-131 {
	margin-left : 20px;
	margin-top : 4px;
	text-align : justify;
	text-indent : -20px;
}
p.para-style-override-132 {
	margin-top : 2px;
	text-align : justify;
}
p.para-style-override-133 {
	margin-top : 4px;
	text-align : justify;
}
p.para-style-override-134 {
	margin-left : 19px;
	margin-top : 2px;
	text-indent : -19px;
}
p.para-style-override-135 {
	margin-left : 19px;
	margin-top : 3px;
	text-indent : -19px;
}
p.para-style-override-136 {
	margin-left : 0px;
	text-indent : 0px;
}
p.para-style-override-137 {
	margin-left : 20px;
	margin-top : 2px;
	text-indent : -20px;
}
p.para-style-override-138 {
	margin-left : 19px;
	text-align : justify;
	text-indent : -19px;
}
p.para-style-override-139 {
	margin-left : 20px;
	margin-right : 1px;
	margin-top : 3px;
	text-indent : -20px;
}
p.para-style-override-140 {
	margin-left : 19px;
	margin-top : 4px;
	text-align : left;
	text-indent : -19px;
}
p.para-style-override-141 {
	margin-left : 20px;
	margin-top : 2px;
}
p.para-style-override-142 {
	margin-left : 19px;
	margin-top : 4px;
	text-indent : -19px;
}
p.para-style-override-143 {
	margin-left : 20px;
	margin-top : 3px;
	text-align : left;
	text-indent : -20px;
}
p.para-style-override-144 {
	margin-left : 19px;
	margin-top : 2px;
	text-align : left;
	text-indent : -19px;
}
p.para-style-override-145 {
	margin-left : 19px;
	margin-top : 3px;
	text-align : left;
	text-indent : -19px;
}
p.para-style-override-146 {
	margin-left : 0px;
	margin-top : 7px;
	text-indent : 0px;
}
p.para-style-override-147 {
	margin-left : 20px;
	margin-top : 4px;
	text-align : left;
	text-indent : -20px;
}
p.para-style-override-148 {
	margin-left : 20px;
	text-align : left;
	text-indent : -20px;
}
p.para-style-override-149 {
	margin-left : 21px;
	margin-top : 3px;
}
p.para-style-override-150 {
	margin-left : 20px;
	margin-top : 4px;
}
p.para-style-override-151 {
	margin-left : 20px;
	margin-right : 0px;
	text-align : justify;
	text-indent : -20px;
}
p.para-style-override-152 {
	margin-left : 0px;
	margin-top : 0px;
	text-align : left;
	text-indent : 0px;
}
p.para-style-override-153 {
	margin-left : 19px;
	margin-top : 1px;
}
p.para-style-override-154 {
	margin-left : 20px;
	margin-right : 1px;
	margin-top : 3px;
	text-align : justify;
	text-indent : -20px;
}
p.para-style-override-155 {
	margin-left : 20px;
	margin-right : 1px;
	margin-top : 4px;
	text-indent : -20px;
}
p.para-style-override-156 {
	margin-left : 20px;
	margin-right : 0px;
	margin-top : 3px;
	text-align : justify;
	text-indent : -20px;
}
p.para-style-override-157 {
	margin-left : 20px;
	margin-right : 0px;
	margin-top : 3px;
	text-indent : -20px;
}
p.para-style-override-158 {
	margin-left : 21px;
	margin-right : 1px;
	margin-top : 2px;
	text-indent : -21px;
}
p.para-style-override-159 {
	margin-left : 20px;
	text-indent : -20px;
}
p.para-style-override-160 {
	margin-left : 0px;
	margin-top : 1px;
	text-indent : 0px;
}
p.para-style-override-161 {
	margin-left : 0px;
	text-align : justify;
	text-indent : 0px;
}
p.para-style-override-162 {
	margin-left : 20px;
	margin-top : 1px;
}
p.para-style-override-163 {
	margin-left : 21px;
	margin-top : 4px;
}
p.para-style-override-164 {
	margin-left : 0px;
	margin-top : 4px;
	text-indent : 0px;
}
p.para-style-override-165 {
	margin-left : 20px;
	margin-top : 4px;
	text-indent : -20px;
}
p.para-style-override-166 {
	margin-left : 19px;
	margin-top : 2px;
}
p.para-style-override-167 {
	margin-left : 20px;
	margin-top : 3px;
	text-align : justify;
	text-indent : -20px;
}
p.para-style-override-168 {
	margin-left : 20px;
	margin-top : 3px;
}
p.para-style-override-169 {
	margin-left : 20px;
	text-indent : 0px;
}
p.para-style-override-170 {
	margin-left : 20px;
	margin-top : 2px;
	text-align : left;
	text-indent : -20px;
}
p.para-style-override-171 {
	margin-left : 20px;
	margin-top : 3px;
	text-indent : 0px;
}
p.para-style-override-172 {
	margin-left : 20px;
	text-align : left;
}
p.para-style-override-173 {
	text-align : left;
}
p.para-style-override-174 {
	margin-left : 20px;
	margin-top : 1px;
	text-align : left;
}
p.para-style-override-175 {
	margin-left : 0px;
	margin-top : 3px;
	text-indent : 0px;
}
p.para-style-override-176 {
	margin-left : 19px;
	margin-top : 3px;
	text-align : justify;
	text-indent : -19px;
}
p.para-style-override-177 {
	margin-left : 20px;
	margin-right : 0px;
	margin-top : 3px;
	text-align : left;
	text-indent : -20px;
}
p.para-style-override-178 {
	margin-left : 20px;
	margin-top : 2px;
	text-align : justify;
	text-indent : -20px;
}
p.para-style-override-179 {
	margin-left : 19px;
	text-align : left;
	text-indent : -19px;
}
p.para-style-override-180 {
	margin-left : 0px;
	margin-top : 7px;
	text-align : justify;
	text-indent : 0px;
}
p.para-style-override-181 {
	margin-left : 20px;
	margin-right : 1px;
	margin-top : 2px;
	text-indent : -20px;
}
p.para-style-override-182 {
	text-align : justify;
}
p.para-style-override-183 {
	margin-left : 19px;
	margin-top : 4px;
	text-align : left;
}
p.para-style-override-184 {
	margin-left : 20px;
	margin-top : 2px;
	text-align : left;
}
p.para-style-override-185 {
	margin-left : 19px;
	margin-top : 4px;
	text-align : justify;
	text-indent : -19px;
}
p.para-style-override-186 {
	margin-left : 20px;
	margin-right : 1px;
	margin-top : 4px;
	text-align : justify;
	text-indent : -20px;
}
p.para-style-override-187 {
	margin-left : 0px;
	margin-top : 2px;
	text-indent : 0px;
}
p.para-style-override-188 {
	margin-right : 73px;
	margin-top : 0px;
}
p.para-style-override-189 {
	margin-top : 7px;
	text-align : justify;
}
p.para-style-override-190 {
	margin-right : 73px;
}
p.para-style-override-191 {
	margin-right : 3px;
}
p.para-style-override-192 {
	margin-right : 109px;
	margin-top : 1px;
}
p.para-style-override-193 {
	margin-left : 20px;
	margin-right : 1px;
	margin-top : 2px;
	text-align : left;
	text-indent : -20px;
}
p.para-style-override-194 {
	margin-left : 20px;
	margin-right : 1px;
	margin-top : 3px;
	text-align : left;
	text-indent : -20px;
}
p.para-style-override-195 {
	margin-left : 0px;
	margin-top : 0px;
	text-indent : 0px;
}
p.para-style-override-196 {
	margin-left : 19px;
	margin-top : 3px;
	text-align : left;
	text-indent : -18px;
}
p.para-style-override-197 {
	margin-left : 20px;
	margin-top : 4px;
	text-indent : 0px;
}
p.para-style-override-198 {
	margin-left : 19px;
	margin-top : 3px;
	text-indent : -18px;
}
p.para-style-override-199 {
	margin-right : 91px;
	text-indent : 19px;
}
p.para-style-override-200 {
	margin-right : 181px;
	margin-top : 0px;
}
p.para-style-override-201 {
	margin-right : 128px;
	margin-top : 1px;
}
p.para-style-override-202 {
	margin-left : 21px;
	margin-top : 2px;
}
p.para-style-override-203 {
	margin-left : 20px;
	text-align : justify;
	text-indent : -20px;
}
p.para-style-override-204 {
	margin-left : 20px;
	margin-right : 1px;
	margin-top : 2px;
	text-align : justify;
	text-indent : -20px;
}
p.para-style-override-205 {
	margin-left : 21px;
}
div.Basic-Text-Frame {
}
