.block {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 7.2pt;
    padding: 0;
    margin: 6pt 0
    }
.block1 {
    display: block;
    font-family: serif;
    font-size: 0.8em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block2 {
    display: block;
    font-size: 0.8em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block3 {
    display: block;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 8.5pt;
    text-transform: uppercase;
    padding: 0;
    margin: 12pt 0 3pt
    }
.block4 {
    display: block;
    font-size: 0.8em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 44.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block5 {
    display: block;
    font-size: 0.8em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block6 {
    display: block;
    font-size: 0.8em;
    line-height: 1.2;
    text-align: center;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block7 {
    display: block;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase;
    padding: 0;
    margin: 12pt 0 3pt 36pt
    }
.block8 {
    display: block;
    font-size: 0.8em;
    font-style: italic;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 50.4pt 6pt 36pt
    }
.block9 {
    display: block;
    font-family: serif;
    font-size: 0.8em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 7.2pt;
    padding: 0;
    margin: 6pt 0
    }
.block10 {
    display: block;
    font-size: 0.8em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 7.2pt;
    padding: 0;
    margin: 6pt 0
    }
.block11 {
    display: block;
    font-size: 0.8em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 36pt;
    padding: 0;
    margin: 6pt 0
    }
.calibre {
    color: black;
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 1.25em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-style: italic
    }
.calibre2 {
    white-space: pre-wrap
    }
.tab {
    white-space: pre-wrap
    }
.tab1 {
    line-height: 1.2;
    white-space: pre-wrap
    }
