@font-face {
    font-family: LiberationSerif;
    font-weight: normal;
    font-style: normal;
    src:url(LiberationSerif-Regular.ttf)
    }
@font-face {
    font-family: LiberationSerif;
    font-weight: bold;
    font-style: normal;
    src: url(LiberationSerif-Bold.ttf)
    }
@font-face {
    font-family: LiberationSerif;
    font-weight: normal;
    font-style: italic;
    src: url(LiberationSerif-Italic.ttf)
    } 

@font-face {
    font-family: LiberationSerif;
    font-weight: normal;
    font-style: italic;
    src: url(LiberationSerif-BoldItalic.ttf)
    }  

	body{
font-family: LiberationSerif;  
           }
@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.e-bold {
	font-weight : bold;
	font-style : normal;
}
span.e-italik {
	font-weight : normal;
	font-style : italic;
}
span.e-dipnotno {
	font-size : 0.58em;
	vertical-align : super;
}
p.e-sayfabasibaslik {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.4;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 43px 0px 14px 0px;
}
p.e-jenerik {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.63em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.47;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 9px 0px 0px 0px;
}
p.e-paragraf {
font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.79em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.47;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 3px 0px 0px 0px;
}
p.e-jenerikbaslik {
	font-family :LiberationSerif, serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.69;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 40px 0px 0px 0px;
}
p.e-parcala {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.01em;
	text-decoration : none;
	font-variant : normal;
	line-height : 145;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.e-yildiz {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 11px 0px 9px 0px;
}
p.e-perde {
	font-family :LiberationSerif, serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.5;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 43px 0px 14px 0px;
}
p.e-2-baslik {
font-family :LiberationSerif, serif;
	font-weight : bold;
	font-style : italic;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.91;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 14px 0px 6px 0px;
}
p.e-siir {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.79em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.47;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 9px 0px 9px 14px;
}
p.e-dipnotmetni {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.73em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.21;
	text-align : justify;
	color : #000000;
	text-indent : -14px;
	margin : 0px 0px 0px 14px;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
	page-break-after : always;
}
p.para-style-override-2 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
	page-break-before : always;
}
p.para-style-override-3 {
	text-align : center;
}
p.para-style-override-4 {
	text-align : right;
}
div.Basic-Text-Frame {
}
