.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre2 {
    font-family: "Times New Roman", "serif";
    font-size: 2.4em;
    line-height: 115%
    }
.calibre3 {
    font-family: "Times New Roman", "serif";
    font-size: 1.2em;
    line-height: 1.2
    }
.calibre4 {
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    line-height: 1.2
    }
.calibre5 {
    display: block;
    line-height: 1.2
    }
.calibre6 {
    line-height: 1.2
    }
.calibre7 {
    color: windowtext;
    display: none;
    line-height: 1.2;
    text-decoration: none
    }
.calibre8 {
    font-style: italic;
    line-height: 1.2
    }
.calibre9 {
    display: block;
    line-height: 1.2
    }
.calibre10 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    margin: 12pt 0 3pt
    }
.calibre11 {
    line-height: 1.2;
    text-decoration: underline
    }
.calibre12 {
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: center;
    margin: 12pt 0 3pt
    }
.calibre13 {
    font-family: "Cambria Math", "serif";
    font-size: 1.2em;
    line-height: 1.2
    }
.calibre14 {
    height: 758px;
    line-height: 1.2;
    width: 506px
    }
.msohyperlink {
    color: blue;
    line-height: 1.2;
    text-decoration: underline
    }
.msonormal {
    display: block;
    margin:0;
    text-indent:30px;
    text-align: justify;
    }
.msonormal1 {
    display: block;
    margin:0;
    text-indent:30px;
    text-align: justify;
    }
.msonormal2 {
    display: block;
    margin:0;
    text-indent:30px;
    text-align: justify;
    }
.msonormal3 {
    display: block;
    margin:0;
    text-indent:30px;
    text-align: justify;
    }
.msonormal4 {
    display: block;
    margin:0;
    text-indent:30px;
    text-align: justify;
    }
.msonormal5 {
    display: block;
    margin:0;
    text-indent:30px;
    text-align: justify;
    }
.msonormal6 {
    display: block;
    margin:0;
    text-indent:30px;
    text-align: justify;
    }
.msonormal7 {
    display: block;
    margin:0;
    text-indent:30px;
    text-align: justify;
    }
.msotocheading {
    color: #365F91;
    display: block;
    font-family: "Cambria", "serif";
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    margin: 24pt 0 0.0001pt
    }
.wordsection {
    display: block;
    page: WordSection1
    }
.pcalibre:visited {
    color: purple;
    text-decoration: underline
    }
.pcalibre1:link {
    color: blue;
    text-decoration: underline
    }
