
/*
 *chapter
 */

p{
	font-family:Berling;
	font-size:.875em;
	line-height:1.4em;
	margin:0;
	text-indent:1.3em;
}
h1,h2{
	font-family:Berling;
	font-size:1.25em;
	font-weight: normal;
	text-align: center;
	margin:0.8em 0 2em;
}
.part h1{
font-size: 1.4em;
margin:3em 0 0;
}
h2{
	font-size: 1.4em;
}
.right{
  margin-top:1em;
  text-align: right;
}
.margin-top{
  margin-top: 1em;
}
hr{
	border: none;
	margin: 1em 0;
	font-family: Berling;
	font-size: 1em;
	text-align: center;
}
hr:before{
	content: "* * *"
}
.epigraph, .dedication{
	float: right;
	width: 80%;
	margin:3em .2em 0 0;
}
.epigraph p,.dedication p{
	font-size: .83em;
	text-align: right;
}
.acknowledgments{
	font-size: .93em;
}
.double{
	margin-top: 2em;
}
/*other*/
.kunye span{
  font-family: Gill;
  font-size:0.667em;
  display: block;
}
.copy{
  margin: .8em 0 0 ;
}
.kunye a{
	text-decoration: none;
  color: #7A7A7A;
}
.title{
  text-align: center;
 
}
.aut{
  font-size: 1.6em;
  margin-bottom: 0.8em;
   font-family: Goudy;
}

.work{
  font-size: 3em;
  margin-top: 0;
   font-family: Goudy;
}

.seri{
  font-size: .92em;
  margin-top: 3em;
   font-family: Gill;
}

.trans{
  font-size: .9em;
  margin-top: 1.5em;
  line-height: 1.5em;
   font-family: Gill;
}
.trans span{
  font-size: 1.1em;
  
}
.logo{
  margin: 3em auto 0 auto;
  
}
.cover-container img{
  max-width: 100%;
}
.cover-container{
  margin: 0 auto;
  max-width: 500px;
  page-break-inside: avoid;
}
.biography p{
  font-family: Gill;
  font-weight: normal;
  font-size: .75em;
  text-indent: 0;
}

.si-noteref{
  text-decoration: none;
  color: #7A7A7A;
  font-size: .75em;
  vertical-align: super;
  padding-left: .1em;
}
.si-footnotes{
	margin:4em 1em 1em;

}
.si-backref{
	font-weight: bold;
	font-family: sans-serif;
	text-decoration: none;
	color: #000;
}
.si-footnote{

margin:4em 1em 1em;
	font-family: Gill;
	font-size: .8em;
font-size: .7em;
}

