<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Agatha Christie</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>4177FA1AF7B16F9C70DE57158816F491</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>ECE9E685F78A955372978AF15D4B3938</string>
		<key>publisher-unique-id</key>
		<string>9b0e045f-ca41-4009-97af-ab26a8053152</string>
		<key>unique-id</key>
		<integer>4621220011755516024</integer>
	</dict>
	<key>itemName</key>
	<string>Porsuk Ağacı Cinayeti</string>
	<key>playlistName</key>
	<string>Porsuk Ağacı Cinayeti</string>
	<key>releaseDate</key>
	<string>2011-10-16T10:02:27+00:00</string>
	<key>sort-artist</key>
	<string>Christie, Agatha</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
