@font-face {
	src: url(../Fonts/Georgia.ttf);
	font-family: "Georgia"
}

@font-face {
	src: url(../Fonts/Georgia-Bold.ttf);
	font-family: "Georgia";
	font-weight: bold
}

@font-face {
	src: url(../Fonts/Georgia-Bold-Italic.ttf);
	font-family: "Georgia";
	font-weight: bold;
	font-style: italic
}

@font-face {
	src: url(../Fonts/Georgia-Italic.ttf);
	font-family: "Georgia";
	font-style: italic
}