@namespace h "http://www.w3.org/1999/xhtml";
.calibre {
    display: block;
    margin-bottom: 0;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-top: 0;
    page-break-before: always
    }
.calibre1 {
    display: block;
    page-break-after: always
    }
.calibre2 {
    font-size: smaller;
    line-height: normal;
    vertical-align: super
    }
.chapter {
    display: block
    }
.clrb {
    clear: both;
    display: block
    }
.h1baslik {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.h1baslik1 {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    page-break-before: always;
    text-align: center
    }
.h2baslik {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.indentmetin {
    display: block;
    font-size: 1em;
    margin-bottom: 0.25em;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: justify;
    text-indent: 0.75em
    }
.kitapickapak {
    display: block;
    font-size: 1.75em;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: center
    }
.kunye {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.normal {
    display: block;
    font-size: 1em;
    margin-bottom: 0.7em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.7em;
    text-align: justify;
    text-indent: 0.75em
    }
.normal1 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.7em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.7em;
    text-align: justify;
    text-indent: 0.75em
    }
.ortayazi {
    display: block;
    font-style: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.sagitalik {
    display: block;
    font-style: italic;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right
    }
a {
    color: inherit;
    text-decoration: inherit;
    cursor: default
    }
a[href] {
    color: blue;
    text-decoration: underline;
    cursor: pointer
  }