.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 1em 0 0
    }
.mbppagebreak {
    display: block;
    margin: 0
    }
