p{text-indent:0;margin-left:0;margin-right:0;text-align:justify;margin-top:0;margin-bottom:0;font-family:"Book Antiqua",serif;font-size:109%}
.p0{text-indent:0;line-height:108%;text-align:center}
.p1{text-indent:0;line-height:108%;text-align:center;margin-bottom:.67em}
.p2{text-indent:0;text-align:center}
.p3{text-indent:2.4em;margin-left:0}
.p4{text-indent:2.4em;margin-left:0;text-align:right}
.p5{text-indent:0;text-align:right}
.p7{text-indent:0;text-align:left}
.p8{text-indent:0;line-height:108%;text-align:left}
.p9{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;margin-top:0;margin-bottom:0;font-family:"Book Antiqua",serif;font-size:127%;font-weight:bold;color:red}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;margin-right:0;margin-top:0;margin-bottom:1em;font-family:"Book Antiqua",serif;font-size:109%;font-weight:bold}
.h21{text-indent:0}
.t1{font-family:Calibri,sans-serif;font-size:.92em;line-height:108%}
.t2{font-weight:bold;font-style:italic}
.t4{font-style:italic}
.t5{font-weight:bold;font-style:italic}
.t7{font-style:italic}
.th12{font-size:.86em;line-height:100%;font-weight:normal;color:black}