@namespace h "http://www.w3.org/1999/xhtml";
.baslik {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center
    }
.calibre {
    display: block;
    margin-bottom: 0;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-top: 0;
    page-break-before: always
    }
.calibre1 {
    display: block;
    page-break-after: always
    }
.calibre2 {
    height: 11;
    width: 41
    }
.calibre3 {
    font-size: smaller;
    line-height: normal;
    vertical-align: super
    }
.chapter {
    display: block
    }
.h1baslik {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    page-break-before: always;
    text-align: center
    }
.idebolditalik {
    font-style: italic;
    font-weight: bold
    }
.indentmetin {
    display: block;
    font-size: 1em;
    margin-bottom: 0.25em;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: justify;
    text-indent: 0.75em
    }
.indentmetinitalik {
    display: block;
    font-size: 1em;
    font-style: italic;
    margin-bottom: 0.25em;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: justify;
    text-indent: 0.75em
    }
.kitapickapak {
    display: block;
    font-size: 1.75em;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: center
    }
.kitapickapak1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: center
    }
.kunye {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.normal {
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.7em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.7em;
    text-align: justify;
    text-indent: 0.75em
    }
.normal1 {
    display: block;
    font-size: 1em;
    font-style: italic;
    margin-bottom: 0.7em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.7em;
    text-align: justify;
    text-indent: 0.75em
    }
.normal2 {
    display: block;
    font-size: 1em;
    margin-bottom: 0.7em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.7em;
    text-align: justify;
    text-indent: 0.75em
    }
.normal3 {
    display: block;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0.7em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.7em;
    text-align: justify;
    text-indent: 0.75em
    }
.normal4 {
    display: block;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0.7em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.7em;
    page-break-before: always;
    text-align: justify;
    text-indent: 0.75em
    }
.ortayazi {
    display: block;
    font-style: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.sagitalik {
    display: block;
    font-style: italic;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right
    }
a {
    color: inherit;
    text-decoration: inherit;
    cursor: default
    }
a[href] {
    color: blue;
    text-decoration: underline;
    cursor: pointer
    }
    @font-face {
font-style: normal;
font-family: 'Liberation', serif, sans-serif;
font-weight: normal;
src: url(../Fonts/LiberationSerif-Regular.ttf);
}
@font-face {
font-style: italic;
font-family: 'Liberation', serif, sans-serif;
font-weight: normal;
src: url(../Fonts/LiberationSerif-Italic.ttf);
}
@font-face {
font-style: bold;
font-family: 'Liberation', serif, sans-serif;
font-weight: bold;
src: url(../Fonts/LiberationSerif-Bold.ttf);
}

@font-face {
font-style: italic;
font-family: 'Liberation', serif, sans-serif;
font-weight: bold;
src: url(../Fonts/LiberationSerif-BoldItalic.ttf);

}

@font-face {
font-style: normal;
font-family: 'Arial', sans-serif;
font-weight: normal;
src: url(../Fonts/arial.ttf);

}

@font-face {
font-style: italic;
font-family: 'Arial',sans-serif;
font-weight: normal;
src: url(../Fonts/ariali.ttf);

}

@font-face {

font-style: normal;
font-family: 'Arial',sans-serif;
font-weight: bold;
src: url(../Fonts/arialbd.ttf);

}


@font-face {
font-style: italic;
font-family: 'Arial',sans-serif;
font-weight: bold;
src: url(../Fonts/arialbi.ttf);
}