@font-face {
	font-family : "Minion Pro";
	font-style : normal;
	font-weight : bold;
	src : url("../Fonts/MinionPro-Bold.otf");
}
@font-face {
	font-family : "Minion Pro";
	font-style : italic ;
	font-weight : normal;
	src : url("../Fonts/MinionPro-It.otf");
}
@font-face {
	font-family : "Minion Pro";
	font-style : normal;
	font-weight : normal;
	src : url("../Fonts/MinionPro-Regular.otf");
}
@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.Normal-1 {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
	writing-mode : horizontal-tb;
	line-height : 1;
}
span.Normal-2 {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
	writing-mode : horizontal-tb;
	line-height : 1;
}
span.char-style-override-1 {
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-2 {
	font-size : 1.17em;
}
span.char-style-override-3 {
	font-size : 0.83em;
}
span.char-style-override-4 {
	font-size : 0.88em;
}
span.char-style-override-5 {
	font-size : 0.67em;
}
span.char-style-override-6 {
	font-size : 0.79em;
}
span.char-style-override-7 {
	font-size : 0.83em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-8 {
	font-size : 0.75em;
}
span.char-style-override-9 {
	font-size : 0.75em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-10 {
	font-size : 0.75em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-11 {
	font-size : 1.92em;
}
span.char-style-override-12 {
	font-size : 0.83em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-13 {
	font-size : 0.92em;
}
span.char-style-override-14 {
	font-size : 0.92em;
	vertical-align : super;
}
span.char-style-override-15 {
	font-size : 0.92em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-16 {
	font-size : 0.88em;
	vertical-align : super;
}
p.No-Paragraph-Style {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.G-vde {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 10px 8px 10px;
}
p.Normal {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Basic-Paragraph {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.BASLIK {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.29;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 250px 0px 100px 0px;
}
p.Normal-1 {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 3px 0px;
}
p.Konu-baslik {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.04em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.44;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 150px 0px 70px 0px;
}
p.Normal-2 {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.No-Paragraph-Style-1 {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.Normal-3 {
	font-family : "Minion Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
}
p.para-style-override-2 {
	text-align : center;
	margin-top : 300px;
	margin-bottom : 50px;
}
p.para-style-override-3 {
	margin-top : 100px;
	text-align : center;
}
p.para-style-override-4 {
	margin-bottom : 50px;
	margin-top : 5px;
	text-align : center;
}
p.para-style-override-5 {
	margin-left : 34px;
	margin-right : 34px;
	text-align : justify;
}
p.para-style-override-6 {
	margin-left : 28px;
	margin-right : 28px;
	text-align : justify;
}
p.para-style-override-7 {
	margin-top : 70px;
}
p.para-style-override-8 {
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	text-align : center;
}
p.para-style-override-9 {
	margin-bottom : 60px;
	margin-top : 150px;
	text-align : center;
}
p.para-style-override-10 {
	text-align : center;
}
p.para-style-override-11 {
	margin-bottom : 100px;
	margin-top : 5px;
	text-align : center;
}
p.para-style-override-12 {
	text-align : justify;
	text-indent : 14px;
}
p.para-style-override-13 {
	text-align : justify;
}
p.para-style-override-14 {
	margin-left : 28px;
	margin-right : 28px;
	text-align : right;
}
p.para-style-override-15 {
	text-align : right;
	text-indent : 14px;
}
p.para-style-override-16 {
	margin-bottom : 20px;
}
p.para-style-override-17 {
	margin-bottom : 3px;
	margin-left : 11px;
	text-align : justify;
	text-indent : -11px;
}
p.para-style-override-18 {
	margin-bottom : 3px;
	margin-left : 9px;
	text-align : justify;
	text-indent : -9px;
}
div.Basic-Text-Frame {
}
