@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.e-dipnotno {
	font-size : 0.58em;
	vertical-align : super;
}
span.char-style-override-1 {
	font-style : normal;
	font-weight : normal;
}
p.e-jenerik {
	font-family : "Myriad Pro", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.63em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.47;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 9px 0px 0px 0px;
}
p.e-paragraf {
	font-family : "Adobe Garamond Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.79em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.47;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 3px 0px 0px 0px;
}
p.e-1-baslik {
	font-family : "Chaparral Pro", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #ff0000;
	text-indent : 0px;
	margin : 43px 0px 14px 0px;
}
p.e-dipnot {
	font-family : "Myriad Pro", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.67em;
	text-decoration : none;
	font-variant : normal;
	line-height : 2.5;
	text-align : left;
	color : #000000;
	text-indent : -14px;
	margin : 0px 0px 0px 14px;
}
p.e-resim {
	font-family : "Adobe Garamond Pro", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.45;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 11px 0px;
}
p.e-2-baslik {
	font-family : "Chaparral Pro", serif;
	font-weight : bold;
	font-style : italic;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : left;
	color : #003ade;
	text-indent : 0px;
	margin : 28px 0px 9px 14px;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
	page-break-after : always;
}
p.para-style-override-2 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 4em;
	page-break-before : always;
}
p.para-style-override-3 {
	text-align : left;
	margin-top : 0em;
	margin-bottom : 0em;
	page-break-after : always;
}
div.Basic-Text-Frame {
}
div.e-cerceve {
}
