.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre10 {
    font-style: italic;
    font-weight: bold
    }
.calibre11 {
    text-decoration: underline
    }
.calibre12 {
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.calibre13 {
    font-weight: bold
    }
.calibre14 {
    font-style: italic;
    text-decoration: underline
    }
.calibre2 {
    display: block;
    margin: 1em 0
    }
.calibre3 {
    font-style: italic
    }
.calibre4 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre5 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre6 {
    display: block;
    line-height: 1.2
    }
.calibre7 {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre8 {
    line-height: 1.2
    }
.calibre9 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
