body {
  font-size: 1em;
  }
.calibre3 {
    font-style: normal;
    font-weight: normal
    }
.calibre4 {
    font-style: normal;
    font-weight: normal
    }
.calibre5 {
    font-style: normal;
    font-weight: normal
    }
.heading {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 1.5em
    }
.heading1 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 1.5em
    }
.heading2 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right;
    text-indent: 1.5em
    }
.main {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }