body {
   text-align: center;
}

p {
   margin-left: 0pt;
   margin-right: 0pt;
}


.bc1{font-family:Times,Georgia,Serif;font-size:2.1em;letter-spacing:-.02em;}
.bc2{font-family:Times,Georgia,Serif;font-size:2.1em;font-weight:bold}
.bc3{font-family:Times,Georgia,Serif;font-size:1.2em;font-weight:bold}
.bc4{font-family:Times,Georgia,Serif;font-size:1.0em;}


