body	{
	background-color:#fcfff6;
	color:#000;
	font-family:Georgia, serif;
	margin:auto;
	max-width:33em;
   margin-left: 0pt;
   margin-right: 0pt;
	}
@media screen and (orientation:landscape) {
    html {
	background:#fdfdfd fixed;
	}
    body {
	-moz-box-shadow: 5px 5px 25px 10px #888;
	-webkit-box-shadow: 5px 5px 25px 10px #888;
	box-shadow: 5px 5px 25px 10px #888;
    }
}
@media screen {
    body {
	margin:1em auto;
	max-width:33em;
	padding:3em 4em;
    }
}


p	{
	line-height:150%;
    margin-top: 2pt;
    margin-bottom: 2pt;
	text-align:justify;
    text-indent:30px;
	}

h1,h2,h3,h4,h5,h6 {
	text-indent: 0px;
	text-align:center;
	margin-bottom:10px;
	margin-top:30px
}

blockquote {
  padding: 0px;
  margin-left: 40px;
  margin-right:0px;
  margin-top:10px;
  margin-bottom:10px;
  border: 0px;
  }

blockquote p {
  font-size: 80%;
  font-style: normal;
  text-indent: 0px;
  }

