.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-top: 0
    }
.calibre10 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre2 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0.5em 0
    }
.calibre3 {
    display: block
    }
.calibre4 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.calibre5 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre6 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre7 {
    height: auto;
    width: auto
    }
.calibre8 {
    display: block
    }
.calibre9 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.none {
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.none1 {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.none2 {
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.none3 {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none
    }
.s {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: justify;
    text-indent: 28.35pt;
    padding: 0 2.5pt 0 0
    }
.s1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: justify;
    text-indent: 28.35pt;
    padding: 0 2.5pt 0 0
    }
.s2 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: justify;
    text-indent: 28.35pt;
    padding: 0 2.5pt 0 0
    }
.softbreak {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    page-break-before: avoid;
    text-align: center;
    margin: 0.5em 0
    }
.whitespace {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    margin: 0.5em 0
    }
