.block_ {
    color: black;
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.5;
    page-break-inside: avoid;
    text-align: center;
    padding: 0;
    margin: 24pt 0 0
    }
.block_1 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.15;
    padding: 0;
    margin: 0 0 10pt
    }
.block_2 {
    color: black;
    display: block;
    font-size: 2em;
    line-height: 1.15;
    text-align: center;
    padding: 0;
    margin: 0 0 10pt
    }
.block_3 {
    color: black;
    display: block;
    font-family: "Calibri", sans-serif;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 10pt
    }
.block_4 {
    color: black;
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0 0 10pt
    }
.block_5 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.15;
    text-align: center;
    padding: 0;
    margin: 0 0 10pt
    }
.block_6 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.5;
    page-break-inside: avoid;
    padding: 0;
    margin: 10pt 0 0
    }
.block_7 {
    color: black;
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 10pt
    }
.block_8 {
    color: black;
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 10pt
    }
.calibre {
    color: #000;
    display: block;
    font-family: "Georgia", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
