.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 4pt;
    margin-right: 4pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.none {
    font-size: 1.5em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.none1 {
    font-size: 1.25em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.none2 {
    font-size: 0.875em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.none3 {
    font-size: 0.875em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.none4 {
    font-size: 1.125em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.none5 {
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.none6 {
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.s {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    text-indent: 19.85pt
    }
.s1 {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    text-indent: 19.85pt
    }
