img {
max-width: 100%;
display: block;
margin-left: auto;
margin-right: auto;
}
h1
{
margin-top:3em;
margin-bottom:3em;
text-align:center;
Font-size:1.5em;
}
p{
text-align:justify;
text-indent:1em;
margin-top:0.3em;
margin-bottom:0.3em;
}
.yildiz {
Font-size:2em;
margin-top:1em;
margin-bottom:1em;
text-align:center;
}

.baslik{
text-align:center;
font-weight:bold;
font-size:1.5em;
margin-top:2em;
margin-bottom:2em;
}
.ust{
text-decoration:overline;
}
