/* ==================== sayfa kenar boşlukları için ===================== */
@page{margin-left:0.3cm;margin-right:0.3cm;margin-top:0.1cm;margin-bottom:0.1cm}

/* ==================== Fontu serif ailesine ayarlamak için ===================== */

body{font-family:serif}

/* ==================== Dipnotlar ve index de alt çizgi ve rengi kaldırmak için ===================== */

a {text-decoration:none;color:#000000}



/* ==================== Ana paragraf ===================== */

p{
	text-indent:1.5em;
	margin-left:0;
	margin-right:0;
	margin-top:.05em;
	margin-bottom:.05em;
	text-align:justify;
	orphans:2;
	widows:2;
	font-size:0.95em;}

/* ==================== Diğer paragraf ayarları ===================== */

.p1{text-indent:0;font-size:90%;line-height:100%} 

.p2{text-indent:0}

.p4{text-align: right; margin-left: 2em; font-size: 90%; line-height:110%}

.p5{text-indent:0;margin-left:2em;font-size:90%;line-height:110%}

.p6{margin-top:1em}

.p7{margin-top:0.7em}

.p8{margin-top:2em}

.p9{text-align: center;text-indent:0em;margin-top:1em;margin-bottom:1em;}

.p10{margin-top:1.5em;margin-bottom:1.0em}

.p11{margin-left:1em;margin-right:1em;font-size:98%;line-height:110%}

.p12{margin-left:1em;margin-right:1em;font-size:90%;line-height:110%}

.p13{text-align: right}

.p14{text-indent:-.95em;margin-left:.95em;font-size:85%;line-height:100%;margin-top:0;margin-bottom:0}

.p15{text-indent:0em;margin-left:.95em;font-size:85%;line-height:110%}

.p16{text-indent:0.95em;margin-left:.95em;font-size:85%;line-height:110%}

.p17{text-align: right;font-size:.90em;}

.p18{text-align: right;font-size:.80em;}

.p20{text-indent:-1.4em;margin-left:2.4em}

.p21{text-indent:-1.0em;margin-left:1em}

.p22{text-indent:-2.0em;text-align: justify;margin-left:2.4em}

.p23{text-indent:-1.4em;margin-left:3.6em}

.p24{text-indent:1.0em;text-align: justify;margin-left:2.4em;margin-top:0}

.p25{text-indent:0em;text-align: justify;margin-left:2.4em;margin-top:0}

blockquote {margin-left:2.5em;margin-top:1em;margin-bottom:1em;margin-right:0em;}

blockquote p {font-size:.90em;text-indent:1em;}

/* ==================== Başlıklar ===================== */

h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;margin-top:2em;margin-bottom:6em;;font-size:1.5em;font-weight:bold}

h2{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;margin-top:2em;margin-bottom:6em;font-size:105%;font-weight:bold}

h3{text-indent:0.7em;margin-left:0;margin-right:0;text-align:left;margin-top:3em;margin-bottom:1em;font-size:105%;line-height:110%;font-weight:bold;font-style:italic}

h4{text-indent:0em;margin-left:0;margin-right:0;text-align:left;margin-top:3em;margin-bottom:1em;font-size:105%;line-height:110%;font-weight:bold}

h5{text-indent:0.7em;margin-left:0;margin-right:0;text-align:left;margin-top:3em;margin-bottom:1em;font-size:105%;line-height:110%;font-weight:bold}

hr.dipnotcizgi {margin-top:0.4em;margin-bottom:0.101cm;height:0.018cm;width:40%;color:#000000;background-color:#000000;margin-left:0;margin-right:auto}

/* ==================== Fikriye resmi için ===================== */

.sag { float:right; margin:0 5px 0px 10px;}

/* FOTO */
.foto {margin-top:1em;margin-bottom:1em;}
.foto p {font-size:.8em;text-indent:0em;text-align:center;font-style:italic;margin-top:0em;margin-bottom:0em;}

/* ==================== İndex ve içindekiler için tablo ===================== */


table, th, td {border-collapse: collapse; border: 0px solid black;}

table.Tablo-Stili-1 {border-width:0px;width:100%;height:auto;margin-bottom:0px;margin-top:0px;font-size:80%}

p.tabloparagraf {margin-top:3px;margin-bottom:3px;margin-left:15px;margin-right:15px;text-align:justify;text-indent:-15px;}

p.tabloparagraf-2 {margin-top:3px;margin-bottom:3px;margin-left: 22px;margin-right:5px;text-align:justify;text-indent:-15px;}


/*--Künye--*/
.kunye {font-size:.72em;text-align:center;text-indent:0em;margin-bottom:1em;}
/*IMAGES*/
img {
  max-height: 100%;
  max-width: 100%;
}
.picture {
  margin-top: 1em;
  margin-bottom: 1em;
  page-break-inside: avoid;
}
.picture img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.caption {
  font-size: 0.75em;
  padding-top: 1em;
  text-align: center;
}