.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-align: center;
    text-indent: 1em;
    margin: 0
    }
.calibre_1 {
    color: #000
    }
.calibre_2 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 0
    }
.calibre_3 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 0
    }
.calibre_4 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 12pt 0 0
    }
.calibre_5 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 3pt 0 0
    }
.calibre_6 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 0
    }
.calibre_7 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 6pt 0 0
    }
.calibre_8 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre_9 {
    color: #a28e7d
    }
.calibre_10 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 0 0 0 2em
    }
.calibre_11 {
    color: #705c4c
    }
.calibre_12 {
    display: block;
    text-align: right;
    text-indent: 1em;
    margin: 0
    }
.calibre_13 {
    display: block;
    text-align: left;
    text-indent: 1em;
    margin: 0
    }
.calibre_14 {
    color: #c6a798
    }
.calibre1 {
    font-size: 1.5em;
    line-height: 1.2
    }
.calibre2 {
    display: block
    }
.calibre3 {
    font-size: 1.25em;
    line-height: 1.2
    }
.calibre4 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre5 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre6 {
    display: table-row;
    vertical-align: middle
    }
.calibre7 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px
    }
.italic {
    font-style: italic
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
