body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
.nomargin{margin:0}
p{text-indent:0;margin-left:0;line-height:150%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:10pt;font-family:Cambria,serif;font-size:109%}
.p0{text-align:center;margin-bottom:0}
.p1{text-align:center}
.p2{line-height:115%;text-align:left;margin-bottom:0}
.p3{line-height:115%;text-align:center;margin-top:18pt;margin-bottom:0}
.p4{line-height:115%;text-align:center;margin-top:24pt;margin-bottom:0}
.p6{text-align:right}
.p7{text-align:left}
.p8{line-height:115%;text-align:left}
.p9{margin-left:0.12in;margin-right:0.12in}
.p10{line-height:100%;text-align:left;margin-bottom:0}
.p11{line-height:100%;margin-bottom:0}
.t0{font-size:3em}
.t1{font-family:Vibrocentric;font-size:4em}
.t2{font-family:Vibrocentric;font-size:4em}
.t3{font-family:Vibrocentric;font-size:1.33em}
.t4{font-family:Vibrocentric;font-size:1.33em}
.t5{font-size:1.33em}
.t7{font-size:1em}
.t8{font-size:1em}
.t9{font-family:Vibrocentric;font-size:1.17em}
.t10{font-family:Vibrocentric;font-size:1.17em}
.t11{font-family:Vibrocentric;font-size:1.17em}
.t12{font-size:1em}
.t13{font-family:Vibrocentric;font-size:1em}
.t14{font-family:Vibrocentric;font-size:1em}
.t15{font-family:Calibri,sans-serif;font-size:.92em}
.t16{font-family:Vibrocentric;font-size:1em}
.t17{font-family:Vibrocentric;font-size:1.67em}
.t18{font-family:Vibrocentric;font-size:1.67em}
.t19{font-family:Vibrocentric;font-size:1.67em}
.t20{font-size:1.67em}
.t21{font-family:Vibrocentric;font-size:1.67em}
.t22{font-family:Vibrocentric;font-size:1.5em}
.t23{font-family:Vibrocentric;font-size:1.5em}
.t24{font-family:Vibrocentric;font-size:1.5em}
.t25{font-size:1.17em}
.t26{font-family:Vibrocentric;font-size:1.33em}
.t27{font-family:Calibri,sans-serif;font-size:.92em}
.t28{font-family:Vibrocentric;font-size:1.33em}
.t29{font-family:Vibrocentric;font-size:1.5em}
.t30{font-family:Symbol;font-size:.65em;vertical-align:super}
.t31{font-family:Vibrocentric;font-size:1.17em}
.t32{font-family:Arial,sans-serif;font-size:.92em}
.t33{font-family:Symbol;font-size:.49em;vertical-align:super}
.t34{font-size:.75em}
.t35{font-size:.75em}
.t36{font-size:.75em}
.t37{font-size:.75em}