@namespace h "http://www.w3.org/1999/xhtml";
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
h1
{
margin-top:3em;
margin-bottom:3em;
text-align:center;
Font-size:1.5em;
}
h2
{
margin-top:3em;
margin-bottom:3em;
text-align:center;
Font-size:1em;
}
p{
text-align:justify;
text-indent:1em;
margin-top:0.3em;
margin-bottom:0.3em;
}
.baslik{
text-align:center;
  font-weight:bold;
  font-size:2em;
  margin-top:2em;
  margin-bottom:2em;
  }