p{text-indent:0;margin-left:0;line-height:130%;margin-right:0;margin-top:0;margin-bottom:.4em;font-size:91%}
.p0{text-indent:0;text-align:center;page-break-after:avoid;margin-bottom:0}
.p1{text-indent:0;margin-right:.5em;text-align:center;margin-bottom:6.9em}
.p2{text-indent:0;text-align:center}
.p3{text-indent:0;text-align:center;margin-bottom:0}
.p5{text-indent:0;margin-right:14em;margin-bottom:2em}
.p6{text-indent:0;margin-left:3.2em;margin-bottom:4.3em}
.p7{text-indent:0;margin-left:.2em}
.p8{text-indent:0;margin-left:.2em;margin-bottom:1.7em}
.p9{text-indent:0;margin-left:.2em;margin-right:7.4em;margin-bottom:8.2em}
.p10{text-indent:0;margin-left:.2em;margin-right:14em;text-align:justify;margin-bottom:.58em}
.p11{text-indent:0;margin-left:.2em;margin-right:7.4em;margin-bottom:8.4em}
.p12{text-indent:0;margin-left:.2em;margin-bottom:0}
.p13{text-indent:0;margin-left:.2em;margin-right:.7em;margin-bottom:.6em}
.p14{text-indent:0;margin-left:.2em;margin-right:.7em;margin-bottom:0}
.p15{text-indent:0;margin-left:.1em;margin-right:12em;margin-bottom:2.2em}
.p16{text-indent:0;margin-left:.1em;page-break-after:avoid;margin-bottom:31em}
.p17{text-indent:0;margin-left:.1em}
.p18{text-indent:0;line-height:140%;margin-bottom:.5em}
.p19{text-indent:0;margin-left:1.1em;line-height:140%;margin-bottom:.5em}
.p20{text-indent:0;line-height:140%}
.p21{text-indent:0;margin-bottom:.46em}
.p22{text-indent:0;text-align:center;margin-bottom:.46em}
.p23{text-indent:0;margin-left:.1em;margin-right:1.4em;margin-bottom:0}
.p24{text-indent:0;margin-right:1.4em}
.p25{text-indent:0;margin-left:.1em;line-height:100%}
.p26{text-indent:0;margin-left:.1em;line-height:100%;margin-right:7.2em}
.p27{text-indent:8em;margin-left:.1em;line-height:100%;margin-right:9.3em}
.p28{text-indent:4.2em;margin-left:.1em;line-height:100%}
.p29{text-indent:0;margin-left:6.5em;line-height:100%;margin-bottom:1.2em}
.p30{text-indent:4.2em;margin-left:.1em;line-height:100%;margin-right:3.4em}
.p31{text-indent:0;margin-left:4.3em;line-height:100%;margin-right:9.3em}
.p32{text-indent:8em;margin-left:.1em;line-height:100%;margin-right:5.4em}
.p33{text-indent:0;margin-left:6.5em;line-height:100%;margin-bottom:1.6em}
.p34{text-indent:0;margin-left:.1em;margin-right:1.7em;margin-bottom:1.2em}
.p35{text-indent:0;margin-left:.1em;margin-right:3.1em}
.p36{text-indent:0;margin-left:.1em;margin-right:1em;margin-bottom:1.6em}
.p37{text-indent:0;margin-left:.1em;margin-right:1.4em;margin-bottom:1.2em}
.p38{text-indent:0;margin-left:.1em;margin-right:2.2em}
.p39{text-indent:0;margin-left:.1em;margin-right:5.4em}
.p40{text-indent:0;margin-left:2.2em;margin-right:3.7em;margin-bottom:1.2em}
.p41{text-indent:0;margin-left:2.2em;margin-right:1em}
.p42{text-indent:0;margin-right:2.5em;margin-bottom:1.2em}
.p43{text-indent:0;margin-right:2.5em}
.p44{text-indent:0;margin-left:2.1em;margin-right:1.8em}
.p45{text-indent:0;margin-right:1.8em}
.p46{text-indent:0;margin-left:.1em;margin-right:1.3em;margin-bottom:1.2em}
.p47{text-indent:0;margin-left:.1em;margin-right:1.3em}
.p48{text-indent:0;margin-left:.1em;margin-right:2.6em;margin-bottom:1.2em}
.p49{text-indent:0;margin-left:.1em;margin-right:2.6em;margin-bottom:1.2em}
.p50{text-indent:0;margin-left:.1em;margin-right:1em;margin-bottom:1.2em}
.p51{text-indent:0;margin-left:.1em;margin-right:2.6em}
.p52{text-indent:0;margin-left:.1em;margin-right:3.5em;margin-bottom:1.2em}
.p53{text-indent:0;margin-left:.1em;margin-right:2em;margin-bottom:1.2em}
.p54{text-indent:0;margin-left:.1em;margin-right:2em}
.p55{text-indent:0;margin-left:.1em;margin-right:1.6em;margin-bottom:1.2em}
.p56{text-indent:0;margin-left:.1em;margin-right:2.8em;margin-bottom:1.2em}
.p57{text-indent:0;margin-left:.1em;margin-bottom:1.2em}
.p58{text-indent:0;margin-left:.1em;margin-right:1.6em}
.p59{text-indent:0;margin-right:2.3em}
.p60{text-indent:4em;margin-left:0;margin-right:4em}
.p61{text-indent:0;margin-left:11em}
.p62{text-indent:0;margin-left:13em}
.p63{text-indent:4em;margin-left:0}
.p64{text-indent:0;margin-left:.1em;margin-right:1.1em}
.p65{text-indent:0;margin-left:5em}
.p66{text-indent:0;margin-left:6.4em}
.p67{text-indent:0;margin-right:.6em}
.p68{text-indent:11em;margin-left:.1em;margin-right:2.5em}
.p69{text-indent:11em;margin-left:.1em;margin-bottom:1.2em}
.p70{text-indent:11em;margin-left:.1em;margin-right:1em}
.p71{text-indent:11em;margin-left:.1em}
.p72{text-indent:0;margin-left:.1em;margin-right:1.5em}
.p73{text-indent:9.9em;margin-left:.1em;margin-right:1.5em}
.p74{text-indent:9.9em;margin-left:.1em;margin-bottom:1.2em}
.p75{text-indent:0;margin-left:.1em;margin-right:2.2em;margin-bottom:1.6em}
.p76{text-indent:0;margin-left:.1em;margin-right:1.5em;margin-bottom:1.2em}
.p77{text-indent:0;margin-left:.1em;margin-right:1.1em;margin-bottom:1.2em}
.p78{text-indent:0;margin-left:.1em;margin-right:1.1em;margin-bottom:1.6em}
.p79{text-indent:11em;margin-left:0;margin-right:3.1em}
.p80{text-indent:11em;margin-left:0;margin-bottom:1.2em}
.p81{text-indent:0;margin-right:2.8em}
.p82{text-indent:0;margin-left:6.4em;margin-right:3.1em}
.p83{text-indent:0;margin-left:.1em;margin-right:2.3em;margin-bottom:0}
.p84{text-indent:0;margin-right:.8em}
.p85{text-indent:0;margin-left:.1em;margin-bottom:.13em}
.p86{text-indent:0;margin-left:12em}
.p87{text-indent:0;margin-left:.1em;margin-right:3.9em;margin-bottom:1.2em}
.p88{text-indent:0;margin-left:.1em;margin-right:2.3em;margin-bottom:1.2em}
.p89{text-indent:0;margin-left:.1em;margin-right:2.3em;margin-bottom:1.2em}
.p90{text-indent:0;margin-right:.1em;text-align:right;margin-bottom:.085em}
.p91{text-indent:0;margin-right:.1em;margin-bottom:1.3em}
.p92{text-indent:0;margin-left:.1em;margin-right:4.6em;margin-bottom:1.2em}
.p93{text-indent:0;margin-left:.1em;margin-right:4.6em}
.p94{text-indent:0;margin-left:.2em;margin-right:2.7em;margin-bottom:0}
.p95{text-indent:0;margin-right:1em}
.p96{text-indent:11em;margin-left:.1em;margin-right:1.1em}
.p97{text-indent:4.9em;margin-left:.1em;margin-right:3.3em}
.p98{text-indent:11em;margin-left:.1em}
.p99{text-indent:0;margin-right:3.7em}
.p100{text-indent:0;margin-right:.4em;margin-bottom:1.2em}
.p101{text-indent:0;margin-left:.1em;margin-right:2.5em}
.p102{text-indent:3.7em;margin-left:.1em;margin-right:1em}
.p103{text-indent:3.7em;margin-left:.1em;margin-bottom:1.2em}
.p104{text-indent:0;margin-left:.1em;margin-right:7.6em}
.p105{text-indent:0;margin-right:.3em}
.p106{text-indent:0;margin-right:5.6em}
.p107{text-indent:6.3em;margin-left:0}
.p108{text-indent:0;margin-left:4.1em;margin-right:4.3em;margin-bottom:1.2em}
.p109{text-indent:0;margin-left:11em;margin-bottom:1.2em}
.p110{text-indent:4em;margin-left:0;margin-right:2.4em}
.p111{text-indent:0;margin-right:4.3em}
.p112{text-indent:0;margin-left:.1em;margin-right:13em}
.p113{text-indent:6.4em;margin-left:.1em;margin-right:5.8em}
.p114{text-indent:0;margin-left:2.2em}
.p115{text-indent:6.4em;margin-left:.1em}
.p116{text-indent:0;margin-right:.1em}
.p117{text-indent:2.2em;margin-left:.1em;margin-right:4.8em}
.p118{text-indent:0;margin-left:4.5em}
.p119{text-indent:2.2em;margin-left:4.5em;margin-right:1em}
.p120{text-indent:2.2em;margin-left:4.5em}
.p121{text-indent:0;margin-right:4.4em}
.p122{text-indent:0;margin-left:.3em;text-align:center}
.p123{text-indent:0;margin-right:1.1em;margin-bottom:1.2em}
.p124{text-indent:0;margin-left:2.2em;margin-right:2.5em}
.p125{text-indent:0;margin-left:.2em;margin-right:11em}
.p126{text-indent:4.3em;margin-left:.2em;margin-right:5.4em}
.p127{text-indent:0;margin-left:2.3em;margin-right:1.1em}
.p128{text-indent:4.3em;margin-left:.2em;margin-bottom:1.2em}
.p129{text-indent:0;margin-left:.2em;margin-right:4em}
.p130{text-indent:2.2em;margin-left:.2em;margin-right:5.4em}
.p131{text-indent:4.3em;margin-left:.2em;margin-right:1.1em}
.p132{text-indent:0;margin-bottom:.14em}
.p133{text-indent:0;margin-left:2.1em;margin-right:1.6em}
.p134{text-indent:4.3em;margin-left:0;margin-right:1.6em}
.p135{text-indent:0;margin-left:2.1em;margin-right:5.5em;margin-bottom:1.2em}
.p136{text-indent:0;margin-right:4.1em}
.p137{text-indent:0;margin-right:1.6em}
.p138{text-indent:1.4em;margin-left:.1em;margin-right:1.1em}
.p139{text-indent:1.4em;margin-left:.1em}
.p140{text-indent:0;margin-left:5.9em}
.p141{text-indent:0;margin-left:.1em;margin-right:1.3em;margin-bottom:0}
.p142{text-indent:0;margin-right:1.3em}
.p143{text-indent:8.2em;margin-left:0;margin-right:1.6em;margin-bottom:.13em}
.p144{text-indent:8.2em;margin-left:0;margin-bottom:.13em}
.p145{text-indent:0;margin-left:13em;margin-bottom:.13em}
.p146{text-indent:3.7em;margin-left:0;margin-right:7.4em}
.p147{text-indent:12em;margin-left:0;margin-right:.2em}
.p148{text-indent:-1.6em;margin-left:3.8em;margin-right:2.8em}
.p149{text-indent:12em;margin-left:0;margin-bottom:0}
.p150{text-indent:0;margin-left:.1em;margin-right:3.7em;margin-bottom:0}
.p151{text-indent:0;margin-left:2.2em;margin-right:1.4em;margin-bottom:0}
.p152{text-indent:0;margin-bottom:0}
.p153{text-indent:0;margin-left:16em;margin-bottom:0}
.p154{text-indent:0;margin-left:.1em;margin-right:.5em}
.p155{text-indent:6.1em;margin-left:0}
.p156{text-indent:0;margin-left:10em}
.p157{text-indent:6.1em;margin-left:0;margin-right:1.1em}
.p158{text-indent:-1.6em;margin-left:3.8em;margin-right:10em}
.p159{text-indent:0;margin-right:2.8em;text-align:center}
.p160{text-indent:0;margin-left:.2em;margin-right:1em}
.p161{text-indent:2.1em;margin-left:.1em;margin-right:4.6em}
.p162{text-indent:6.3em;margin-left:.1em;margin-bottom:1.2em}
.p163{text-indent:2.1em;margin-left:.1em}
.p164{text-indent:6.3em;margin-left:.1em;margin-right:1em}
.p165{text-indent:6.3em;margin-left:.1em}
.p166{text-indent:2.1em;margin-left:0}
.p167{text-indent:6.4em;margin-left:0;margin-right:1.8em}
.p168{text-indent:0;margin-right:1.8em;text-align:center;margin-bottom:1.2em}
.p169{text-indent:2.1em;margin-left:0;margin-right:4.6em}
.p170{text-indent:0;margin-right:1.8em;text-align:center}
.p171{text-indent:0;margin-left:.1em;margin-bottom:.12em}
.p172{text-indent:2.1em;margin-left:.1em;margin-right:1.2em}
.p173{text-indent:0;margin-left:2.2em;text-align:center;margin-bottom:1.2em}
.p174{text-indent:0;margin-left:.1em;margin-right:5.7em}
.p175{text-indent:4.1em;margin-left:.1em;margin-bottom:1.2em}
.p176{text-indent:4.1em;margin-left:.1em;margin-right:1.2em}
.p177{text-indent:4.1em;margin-left:.1em}
.p178{text-indent:6.4em;margin-left:.1em;margin-right:1.3em}
.p179{text-indent:0;margin-right:1.3em;margin-bottom:1.2em}
.p180{text-indent:0;margin-left:.1em;text-align:center}
.p181{text-indent:4.1em;margin-left:.1em;margin-right:1.3em}
.p182{text-indent:2.1em;margin-left:0;margin-right:5.8em}
.p183{text-indent:0;margin-right:2.1em;text-align:center}
.p184{text-indent:6.3em;margin-left:0;margin-right:2.5em}
.p185{text-indent:0;margin-right:1em;text-align:right}
.p186{text-indent:2.2em;margin-left:2.2em}
.p187{text-indent:4.2em;margin-left:2.2em;margin-right:2.5em}
.p188{text-indent:2.2em;margin-left:2.2em;margin-right:1em}
.p189{text-indent:4.4em;margin-left:.1em;margin-right:2.5em}
.p190{text-indent:2.1em;margin-left:.1em;margin-right:2.5em}
.p191{text-indent:0;margin-right:.2em;text-align:center}
.p192{text-indent:6.2em;margin-left:.1em;margin-right:2.5em}
.p193{text-indent:0;margin-right:1em;margin-bottom:1.2em}
.p194{text-indent:4.3em;margin-left:.1em;margin-right:4.1em}
.p195{text-indent:6.2em;margin-left:.1em}
.p196{text-indent:0;margin-right:7.8em}
.p197{text-indent:2.1em;margin-left:0;margin-right:4.8em}
.p198{text-indent:-1.9em;margin-left:4.1em}
.p199{text-indent:4.1em;margin-left:0;margin-right:1.3em}
.p200{text-indent:-1.9em;margin-left:4.1em;margin-right:4.8em}
.p201{text-indent:0;margin-left:.1em;margin-right:3.6em}
.p202{text-indent:2.1em;margin-left:.1em;margin-right:1.1em}
.p203{text-indent:0;margin-right:.2em;text-align:center;margin-bottom:1.2em}
.p204{text-indent:6.4em;margin-left:.1em;margin-right:3.6em}
.p205{text-indent:0;margin-left:.1em;margin-right:4.5em}
.p206{text-indent:0;margin-left:.8em;text-align:center;margin-bottom:2.4em}
.p207{text-indent:4.4em;margin-left:.1em;margin-right:1em}
.p208{text-indent:0;margin-left:.8em}
.p209{text-indent:6.3em;margin-left:.1em;margin-right:.3em}
.p210{text-indent:0;margin-left:13em}
.p211{text-indent:0;margin-left:13em;margin-bottom:1.2em}
.p212{text-indent:2.1em;margin-left:.1em;margin-right:5.4em}
.p213{text-indent:0;margin-left:.3em}
.p214{text-indent:0;text-align:right}
.p215{text-indent:2.1em;margin-left:.1em;margin-right:5em}
.p216{text-indent:4.1em;margin-left:.1em;margin-right:.7em}
.p217{text-indent:4.1em;margin-left:.1em;margin-right:1em}
.p218{text-indent:4.1em;margin-left:.1em;margin-right:1.6em}
.p219{text-indent:0;margin-left:.1em;margin-right:4em}
.p220{text-indent:6.3em;margin-left:.1em;margin-right:1.6em}
.p221{text-indent:4.1em;margin-left:.1em;margin-right:3.5em}
.p222{text-indent:6.4em;margin-left:.1em;margin-right:3.5em}
.p223{text-indent:2.4em;margin-left:6.4em;margin-right:7.8em}
.p224{text-indent:0;margin-left:12em}
.p225{text-indent:0;margin-left:2.2em;margin-right:7.9em}
.p226{text-indent:5.8em;margin-left:0;margin-right:1em}
.p227{text-indent:0;margin-right:7.9em}
.p228{text-indent:0;margin-left:9.5em}
.p229{text-indent:2.2em;margin-left:.1em;margin-right:4.3em}
.p230{text-indent:0;margin-left:2.3em}
.p231{text-indent:0;margin-left:6.5em}
.p232{text-indent:0;margin-left:2.2em;margin-right:4.3em}
.p233{text-indent:4.1em;margin-left:0;margin-right:3.2em}
.p234{text-indent:6.4em;margin-left:0;margin-right:4.3em}
.p235{text-indent:4.1em;margin-left:0}
.p236{text-indent:0;margin-left:6.4em;margin-right:.8em}
.p237{text-indent:4.1em;margin-left:0;margin-right:1.8em}
.p238{text-indent:2.2em;margin-left:.1em;margin-right:1.8em}
.p239{text-indent:2.2em;margin-left:.1em}
.p240{text-indent:1.9em;margin-left:2.2em}
.p241{text-indent:4.1em;margin-left:.1em;margin-right:1.8em}
.p242{text-indent:1.9em;margin-left:2.2em;margin-right:3.7em}
.p243{text-indent:0;margin-left:.1em;margin-right:7.1em}
.p244{text-indent:4.1em;margin-left:.1em;margin-right:4.8em}
.p245{text-indent:6.3em;margin-left:.1em;margin-right:2.4em}
.p246{text-indent:6.4em;margin-left:.1em;margin-right:5.6em}
.p247{text-indent:8.3em;margin-left:.1em;margin-right:3.2em}
.p248{text-indent:2.3em;margin-left:4.1em;margin-right:1em}
.p249{text-indent:2.1em;margin-left:0;margin-right:1.1em}
.p250{text-indent:0;margin-right:4.6em}
.p251{text-indent:-1.9em;margin-left:5.8em;margin-right:2.2em}
.p252{text-indent:0;margin-right:5.1em}
.p253{text-indent:0;margin-left:5.8em;margin-right:.5em}
.p254{text-indent:0;margin-left:2.2em;margin-right:2.2em}
.p255{text-indent:0;margin-right:2.2em}
.p256{text-indent:-1.7em;margin-left:5.8em;margin-right:.5em}
.p257{text-indent:4.1em;margin-left:.1em;margin-right:2.6em}
.p258{text-indent:2em;margin-left:2.2em}
.p259{text-indent:4em;margin-left:2.2em;margin-right:.4em}
.p260{text-indent:2em;margin-left:2.2em;margin-right:2.6em}
.p261{text-indent:4em;margin-left:2.2em}
.p262{text-indent:0;margin-right:3.8em}
.p263{text-indent:2em;margin-left:2.2em;margin-right:3.8em}
.p264{text-indent:-1.9em;margin-left:6.1em;margin-right:1em}
.p265{text-indent:0;margin-left:2.2em;margin-right:5.3em}
.p266{text-indent:8.4em;margin-left:.1em;margin-right:3.9em}
.p267{text-indent:4.3em;margin-left:2.2em;margin-right:5.3em}
.p268{text-indent:4.3em;margin-left:2.2em;margin-right:7.9em}
.p269{text-indent:0;margin-left:4.2em}
.p270{text-indent:-2.1em;margin-left:8.5em;margin-right:1em}
.p271{text-indent:0;margin-left:4.4em;margin-right:.1em}
.p272{text-indent:4.3em;margin-left:2.1em}
.p273{text-indent:0;margin-bottom:.02em}
.p274{text-indent:2em;margin-left:.1em;line-height:140%;margin-right:.1em}
.p275{text-indent:2.1em;margin-left:.2em;line-height:140%;margin-right:.2em}
.p276{text-indent:2.1em;margin-left:.2em;line-height:140%;margin-right:.2em;margin-bottom:1.2em}
.p277{text-indent:0;line-height:140%;margin-right:.2em}
.p278{text-indent:2.2em;margin-left:.1em;line-height:140%;margin-right:.1em}
.p279{text-indent:2.2em;margin-left:.1em;line-height:140%;margin-right:.1em;margin-bottom:1.2em}
.p280{text-indent:2.2em;margin-left:.1em;line-height:140%;text-align:justify}
.p281{text-indent:2.1em;margin-left:.1em;line-height:140%;margin-right:.1em}
.p282{text-indent:2.1em;margin-left:.1em;line-height:140%}
.p283{text-indent:0;margin-left:.1em;line-height:140%;margin-bottom:1.5em}
.p284{text-indent:0;line-height:140%;margin-right:.1em}
.p285{text-indent:2.1em;margin-left:.1em;line-height:140%;margin-right:.1em;text-align:justify}
.p286{text-indent:2.1em;margin-left:.1em;line-height:140%;margin-right:.1em;text-align:justify;margin-bottom:1.2em}
.p287{text-indent:2.1em;margin-left:.1em;line-height:140%;margin-right:.1em;margin-bottom:1.2em}
.p288{text-indent:2.1em;margin-left:.1em;line-height:140%;margin-right:.2em;text-align:justify}
.p289{text-indent:2.1em;margin-left:.1em;line-height:140%;margin-right:.2em}
.p290{text-indent:2.1em;margin-left:.3em;line-height:140%;margin-right:.2em;text-align:justify}
.p291{text-indent:2.1em;margin-left:.3em;line-height:140%;margin-right:.2em}
.p292{text-indent:0;line-height:140%;margin-right:.1em;text-align:right;margin-bottom:1.3em}
.p293{text-indent:2.1em;margin-left:.1em;line-height:140%;margin-bottom:1.2em}
.p294{text-indent:2.1em;margin-left:.2em;line-height:140%;margin-right:.2em;text-align:justify}
.p295{text-indent:2.1em;margin-left:0;line-height:140%;margin-right:.1em;text-align:justify}
.p296{text-indent:2.1em;margin-left:0;line-height:140%;margin-right:.1em;text-align:justify;margin-bottom:1.2em}
.p297{text-indent:2.1em;margin-left:0;line-height:140%;margin-right:.1em;margin-bottom:1.5em}
.p298{text-indent:2em;margin-left:.2em;line-height:140%;margin-right:.1em;text-align:justify}
.p299{text-indent:2em;margin-left:.2em;line-height:140%;margin-right:.1em}
.p300{text-indent:0;margin-left:2.2em;line-height:140%;margin-bottom:1.2em}
.p301{text-indent:0;line-height:1;margin-right:.1em}
.p302{text-indent:0;line-height:1;margin-right:7em;margin-top:.6em;margin-bottom:4.7em}
.p303{text-indent:0;margin-left:.4em;line-height:1}
.p304{text-indent:0;margin-left:2.1em;line-height:1}
.p305{text-indent:0}
h1{text-indent:0;margin-left:0;line-height:130%;margin-right:0;page-break-after:avoid;margin-top:.57em;margin-bottom:0;font-size:95%;font-weight:bold;color:#c00000}
.h11{text-indent:0;line-height:140%}
.h12{text-indent:0}
h2{text-indent:0;margin-left:0;line-height:130%;margin-right:0;page-break-after:avoid;margin-top:.95em;margin-bottom:0;font-size:95%;font-weight:bold;color:#1d1b11}
.h21{text-indent:0}
.t1{font-size:2.2em;line-height:130%;font-weight:bold;color:#ec4279;letter-spacing:-.11em}
.t2{font-size:1.8em;line-height:130%;font-weight:bold;color:#ec4279;letter-spacing:-.14em}
.t3{font-size:2.2em;line-height:130%;font-weight:bold;letter-spacing:-.11em}
.t4{font-size:2.2em;line-height:130%;font-weight:bold;letter-spacing:-.091em}
.t5{font-size:1.6em;line-height:130%;font-weight:bold}
.t6{font-size:2.2em;line-height:130%}
.t7{font-size:2.2em;line-height:130%;color:#ec4279}
.t8{font-size:1.1em;line-height:130%}
.t10{font-weight:bold}
.t11{font-size:4.1em;line-height:130%}
.t12{font-size:1.1em;line-height:130%;font-weight:bold}
.t13{font-size:1.1em;line-height:130%;font-weight:bold;letter-spacing:-.095em}
.t14{font-size:1.1em;line-height:140%;font-weight:bold}
.t15{font-size:.85em;line-height:140%;font-weight:bold}
.t16{font-size:1.1em;line-height:140%}
.t17{font-size:1.1em;line-height:100%}
.t18{font-size:1.2em;line-height:130%}
.t19{font-size:1.1em;line-height:130%;font-style:italic}
.t21{font-style:italic}
.t22{font-size:.85em;line-height:140%}
.t23{font-size:.85em;line-height:140%;font-style:italic}
.t24{font-style:italic}
.t25{font-weight:bold}
.t26{font-size:.9em}
.t27{font-size:1.1em}
.th12{font-weight:normal}
.th14{font-size:.95em;line-height:140%}
.th21{font-size:1.2em;line-height:130%;color:black}
.th23{color:black}
.th24{font-size:1.1em;line-height:130%;color:black}