p{text-indent:1.3em;margin-left:.26em;line-height:1.4em;margin-right:.26em;text-align:justify;margin-top:.55em;margin-bottom:0;font-family:Tahoma,sans-serif;font-size:100%}
.p0{text-indent:0;margin-left:0;line-height:100%;margin-right:0;text-align:center;margin-top:0}
.p1{text-indent:1.3em;page-break-after:avoid}
.p3{text-indent:0;margin-left:0;line-height:100%;margin-right:0;text-align:center;margin-top:0;margin-bottom:1.4em}
.p4{text-indent:1.3em;text-align:center}
.p5{text-indent:0}
h1{text-indent:0;margin-left:.2em;line-height:150%;margin-right:.2em;text-align:center;page-break-after:avoid;margin-top:.86em;margin-bottom:1.3em;font-family:Cambria,serif;font-size:127%;font-weight:bold;color:#c00000}
.h11{text-indent:0}
h2{text-indent:1em;margin-left:.2em;line-height:150%;margin-right:.2em;text-align:justify;page-break-after:avoid;margin-top:.86em;margin-bottom:.86em;font-family:Cambria,serif;font-size:127%;font-weight:bold;color:#4f81bd}
.h21{text-indent:0}
.t1{font-family:"Courier New",monospace;font-size:1.1em;line-height:100%}
.t2{font-weight:bold}
.t4{font-weight:bold}
.t5{font-family:Cambria,serif;font-size:2.4em;line-height:100%;font-weight:bold;color:#17365d;letter-spacing:.0096em}
.t6{font-family:Cambria,serif}
.t7{font-family:Arial,sans-serif;font-size:.73em}
.t8{font-size:.73em}
.t9{font-weight:bold;letter-spacing:.32em}
.t10{letter-spacing:.045em}
.t11{font-size:.65em;vertical-align:super}
.t12{font-family:Cambria,serif;font-size:1.3em;font-weight:bold}
.th12{font-family:Tahoma,sans-serif;font-size:.79em;line-height:150%;color:black;letter-spacing:.32em}
.th22{font-family:Tahoma,sans-serif;font-size:.79em;line-height:150%;color:black}