.bold {
    font-weight: bold;
    line-height: 1.2
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0;
    margin: 0.5em 0
    }
.calibre10 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre11 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre12 {
    display: table-row;
    vertical-align: middle
    }
.calibre13 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px
    }
.calibre14 {
    font-size: 0.81818em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre15 {
    line-height: 1.2
    }
.calibre2 {
    display: block
    }
.calibre3 {
    display: block;
    height: 1em;
    border: currentColor none 0;
    margin: 0
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0;
    margin: 0.5em 0
    }
.calibre6 {
    font-size: 1em;
    line-height: 1.2;
    text-indent: 1.5em
    }
.calibre7 {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0;
    margin: 0.5em 0
    }
.calibre8 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre9 {
    display: block;
    height: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.italic {
    font-style: italic
    }
.italic1 {
    font-style: italic;
    line-height: 1.2
    }
