@font-face {
	font-family : "Serif12 Beta Rg";
	font-style : italic ;
	font-weight : bold;
	src : url("fonts/Serif12Beta-BoldItalic.ttf");
}
@font-face {
	font-family : Serif12BetaRoman;
	font-style : normal;
	font-weight : normal;
	src : url("fonts/Serif12Beta-Roman.ttf");
}
@font-face {
	font-family : "Serif12 Beta Rg Bold";
	font-style : normal;
	font-weight : bold;
	src : url("fonts/Serif12BetaRgBold.ttf");
}
@font-face {
	font-family : "Serif6 Beta Rg italic";
	font-style : normal;
	font-weight : normal;
	src : url("fonts/Serif6BetaRgitalic.ttf");
}
@font-face {
	font-family : "Uni Sans Book";
	font-style : normal;
	font-weight : normal;
	src : url("fonts/Uni-Sans-Book.ttf");
}
@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.bolum-ismi {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.duz {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.dar-paragraf-duz {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.yazar-ad- {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.DK-logo {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.yazar-ismi {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.kitap-ismi-2 {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.42em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.ikon {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.italik {
	font-family : "Serif6 Beta Rg italic", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.bolum-basligi {
	font-family : "Serif12 Beta Rg", serif;
	font-weight : bold;
	font-style : italic;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.dar-paragraf-bold {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.dar-paragraf-italik {
	font-family : "Serif6 Beta Rg italic", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.duyuru-baslik {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.italik-1 {
	font-family : "Serif6 Beta Rg italic", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.dar-paragraf-italik-1 {
	font-family : "Serif6 Beta Rg italic", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.dar-paragraf-bold-italik {
	font-family : "Serif12 Beta Rg", serif;
	font-weight : bold;
	font-style : italic;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.serifsiz-baslik {
	font-family : "Uni Sans Book", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.dar-paragraf-italik-2 {
	font-family : "Serif6 Beta Rg italic", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.k-nye-bold {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.79em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.k-nye-regular {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.79em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.k-nye-kitap-ad- {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
p.duz {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 14px;
	margin : 9px 3px 6px 3px;
}
p.bolum-ismi-2-satir {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 9px 3px 57px 3px;
}
p.bolum-ismi-tek-satir {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 170px 3px 113px 3px;
}
p.duz-son-paragraf-2 {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 14px;
	margin : 9px 3px 113px 3px;
}
p.x3-uc-nokta {
	font-family : "ITC Century Bold", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 14px;
	margin : 28px 3px;
}
p.DK-logo {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 3px;
}
p.yazar-ismi-1 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 3px 6px 3px;
}
p.yazar-ismi {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 3px 85px 3px;
}
p.DK-logo-copy {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 3px 170px 3px;
}
p.ikon {
	font-family : "HelveticaNeueLT Std Cn", sans-serif;
	font-stretch : condensed;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 6px 17px 0px 17px;
}
p.baslik-3 {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 43px 3px 6px 3px;
}
p.duz-ilk-paragraf {
	font-family : "Serif6 Beta Rg italic", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 14px;
	margin : 30px 3px 6px 3px;
}
p.duz-sagdan-blok-altta-bosluk {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : right;
	color : #000000;
	text-indent : 14px;
	margin : 6px 3px 28px 3px;
}
p.italik {
	font-family : "Serif6 Beta Rg italic", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 14px;
	margin : 9px 3px 6px 3px;
}
p.duz-ilk-paragraf-2 {
	font-family : "Serif6 Beta Rg italic", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 14px;
	margin : 300px 3px 6px 3px;
}
p.alinti {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 3px 28px 0px 28px;
}
p.alinti-ilk-paragraf {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 22px 28px 0px 28px;
}
p.alinti-son-paragraf {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 3px 28px 20px 28px;
}
p.duz-sagdan-blok-altta-bosluk-1 {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : right;
	color : #000000;
	text-indent : 14px;
	margin : 6px 3px 28px 3px;
}
p.al-nt- {
	font-family : "NewCenturySchlbkTæ®²k Regular", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.77em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.49;
	text-align : justify;
	color : #000000;
	text-indent : 11px;
	margin : 0px 0px 0px 11px;
}
p.duz-sagdan-blok-altta-bosluk-2 {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : right;
	color : #000000;
	text-indent : 14px;
	margin : 6px 3px 28px 3px;
}
p.duz-sagdan-blok-altta-bosluk-3 {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : right;
	color : #000000;
	text-indent : 14px;
	margin : 6px 3px 28px 3px;
}
p.alinti-ilk-paragraf-X {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 60px 28px 0px 28px;
}
p.alinti-son-paragraf-X {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 3px 28px 60px 28px;
}
p.Normal {
	font-family : "ITC Century Book", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.baslik-3-copy {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 140px 3px 6px 3px;
}
p.alinti-ilk-paragraf-X-1 {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 60px 28px 0px 28px;
}
p.bolum-ismi {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 142px 3px 57px 3px;
}
p.duz-sagdan-blok {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : right;
	color : #000000;
	text-indent : 14px;
	margin : 0px 3px 9px 3px;
}
p.alinti-copy {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 3px 28px 0px 57px;
}
p.duz-sagdan-blok-copy {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : right;
	color : #000000;
	text-indent : 14px;
	margin : 13px 3px 5px 3px;
}
p.diger-kitaplar-listesi {
	font-family : GillSans, sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 3px 3px 0px 3px;
}
p.kitap-ismi-1 {
	font-family : "Serif12 Beta Rg Bold", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 14px 3px 0px 3px;
}
p.kunye-yeni-madde {
	font-family : GillSans, sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 14px 3px 0px 3px;
}
p.kunye-yeni-madde-devam {
	font-family : GillSans, sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 3px;
}
p.alinti-tab1 {
	font-family : Serif12BetaRoman, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 3px 28px 0px 60px;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
}
p.para-style-override-2 {
	text-align : justify;
	text-indent : 11px;
}
div.Basic-Graphics-Frame {
}
div.Basic-Graphics-Frame-1 {
}
div.Basic-Graphics-Frame-2 {
}
