@namespace h "http://www.w3.org/1999/xhtml";
.alinti {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 2.83em;
    margin-right: 2.83em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.alinti-copy {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 5.67em;
    margin-right: 2.83em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.alinti-ilk-paragraf {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 2.83em;
    margin-right: 2.83em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.alinti-ilk-paragraf-x {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 2.83em;
    margin-right: 2.83em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.alinti-son-paragraf {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 1.7em;
    margin-left: 2.83em;
    margin-right: 2.83em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.alinti-son-paragraf-x {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 6em;
    margin-left: 2.83em;
    margin-right: 2.83em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.alinti-son-paragraf1 {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 2em;
    margin-left: 2.83em;
    margin-right: 2.83em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.baslik-3-copy {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    margin-left: 0.24em;
    margin-right: 0.24em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.bolum-ismi {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 1.08em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 4.36em;
    margin-left: 0.22em;
    margin-right: 0.22em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.bolum-ismi-2-satir {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 1.08em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 4.36em;
    margin-left: 0.22em;
    margin-right: 0.22em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.bolum-ismi1 {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 1.08em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none
    }
.calibre {
    display: block;
    margin-bottom: 0;
    margin-left: 10pt;
    margin-right: 10pt;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    color: blue;
    cursor: pointer;
    text-decoration: underline
    }
.calibre2 {
    display: block
    }
.ceviren {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.dar-paragraf-bold {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.dar-paragraf-bold-italik {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.dar-paragraf-duz {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    text-decoration: none
    }
.dar-paragraf-italik {
    color: #000;
    font-family: "Serif6 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.dipnot-no {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 0.67em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.dipnotlar {
    color: #000;
    display: block;
    font-family: "Gill";
    font-size: 0.71em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1.18em;
    margin-left: 5.88em;
    margin-right: 0;
    margin-top: 1.18em;
    text-align: justify;
    text-decoration: none;
    text-indent: 0
    }
.dk-logo {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 1.5em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 0.16em;
    margin-right: 0.16em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.duz {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.54em;
    margin-left: 0.27em;
    margin-right: 0.27em;
    text-align: justify;
    text-decoration: none;
    text-indent: 1.35em
    }
.duz-ilk-paragraf {
    color: #000;
    display: block;
    font-family: "Serif6 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.81em;
    margin-left: 0.27em;
    margin-right: 0.27em;
    text-align: left;
    text-decoration: none;
    text-indent: 1.35em
    }
.duz-sagdan-blok-altta-bosluk {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 2.7em;
    margin-left: 0.27em;
    margin-right: 0.27em;
    text-align: right;
    text-decoration: none;
    text-indent: 1.35em
    }
.duz-son-paragraf {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 2.7em;
    margin-left: 0.27em;
    margin-right: 0.27em;
    text-align: left;
    text-decoration: none;
    text-indent: 1.35em
    }
.duz1 {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.generated-style {
    display: block
    }
.generated-style1 {
    height: auto;
    width: auto
    }
.ikon {
    color: #000;
    display: block;
    font-family: "Helvetica Neue LT Std";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 1.7em;
    margin-right: 1.7em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.italik {
    color: #000;
    display: block;
    font-family: "Serif6 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.54em;
    margin-left: 0.27em;
    margin-right: 0.27em;
    text-align: left;
    text-decoration: none;
    text-indent: 1.35em
    }
.italik1 {
    color: #000;
    font-family: "Serif6 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.ithaf {
    color: #000;
    display: block;
    font-family: "Serif6 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 1.08em;
    margin-right: 1.08em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.ithaf-devam {
    color: #000;
    display: block;
    font-family: "Serif6 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 1.08em;
    margin-right: 1.08em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.ithaf-son {
    color: #000;
    display: block;
    font-family: "Serif6 Beta";
    font-size: 0.88em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 5.4em;
    margin-left: 1.08em;
    margin-right: 1.08em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.k-nye-bold {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 0.79em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.k-nye-kitap-ad {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 0.92em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.k-nye-regular {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 0.79em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.kitap-ismi {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 0.28em;
    margin-right: 0.28em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.kitap-ismi-2-son {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 1.17em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.43em;
    margin-bottom: 4.05em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.kitap-ismi1 {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 1.42em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.29em;
    text-decoration: none
    }
.kunye-yeni-madde {
    color: #000;
    display: block;
    font-family: "Gill Sans";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 0.28em;
    margin-right: 0.28em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.kunye-yeni-madde-devam {
    color: #000;
    display: block;
    font-family: "Gill Sans";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 0.28em;
    margin-right: 0.28em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.serifsiz-baslik {
    color: #000;
    font-family: "Uni Sans Book";
    font-size: 1.25em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none
    }
.serifsiz-dipnot {
    color: #000;
    font-family: "Uni Sans Book";
    font-size: 0.83em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em;
    text-decoration: none
    }
.sgc {
    height: 100%;
    width: 100%
    }
.x3-uc-nokta {
    color: #000;
    display: block;
    font-family: "ITC Century";
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 2.36em;
    margin-left: 0.24em;
    margin-right: 0.24em;
    text-align: center;
    text-decoration: none;
    text-indent: 1.18em
    }
.yazar-ismi {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 1.17em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 0.4em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.yazar-ismi1 {
    color: #000;
    font-family: "Serif12 Beta";
    font-size: 1.17em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none
    }
.yazar-ismi2 {
    color: #000;
    display: block;
    font-family: "Serif12 Beta";
    font-size: 1.17em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 6.07em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }