p{text-indent:0;margin-left:.26em;line-height:1.4em;margin-right:.26em;text-align:justify;margin-top:.55em;margin-bottom:0;font-family:Tahoma,sans-serif;font-size:100%}
.p0{text-indent:4.4em;margin-left:.26em;line-height:100%;text-align:left;margin-top:-.091em;margin-bottom:-.091em}
.p1{text-indent:0;line-height:100%;text-align:center;margin-top:0;margin-bottom:1.4em}
.p2{text-indent:0;line-height:100%;text-align:left;margin-top:-.091em;margin-bottom:-.091em}
.p3{text-indent:0;line-height:100%;text-align:center;margin-top:-.091em;margin-bottom:-.091em}
.p4{text-indent:0;line-height:100%;margin-top:-.091em;margin-bottom:-.091em}
.p5{text-indent:1.6em;margin-left:.26em;line-height:100%;margin-top:-.091em;margin-bottom:-.091em}
.p7{text-indent:1em}
h1{text-indent:0;margin-left:.18em;line-height:200%;margin-right:.18em;margin-top:1.9em;margin-bottom:1.9em;font-family:Cambria,serif;font-size:145%;font-weight:bold;color:#c00000}
.h10{text-indent:0;text-align:justify}
.h12{text-indent:0}
.t1{font-family:Calibri,sans-serif}
.t2{font-family:Cambria,serif;font-size:2.4em;line-height:100%;color:#17365d;letter-spacing:.0096em}
.t3{font-family:Cambria,serif;color:#17365d;letter-spacing:.023em}
.t4{font-weight:bold}