.block_ {
    display: block;
    text-align: center;
    text-indent: 36pt;
    padding: 0;
    margin: 6pt 0 6pt 8.5pt
    }
.block_1 {
    color: black;
    display: block;
    text-align: center;
    text-indent: 36pt;
    padding: 0;
    margin: 6pt 0 6pt 8.5pt
    }
.block_2 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 36pt;
    padding: 0;
    margin: 6pt 0 6pt 8.5pt
    }
.block_3 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 6pt 0
    }
.block_4 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 6pt 0
    }
.block_5 {
    display: block;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 6pt 0
    }
.block_6 {
    display: block;
    font-weight: bold;
    text-align: justify;
    text-indent: 36pt;
    padding: 0;
    margin: 6pt 0 6pt 8.5pt
    }
.block_7 {
    display: block;
    text-align: justify;
    text-indent: 36pt;
    padding: 0;
    margin: 6pt 0 6pt 8.5pt
    }
.block_8 {
    color: #365F91;
    display: block;
    font-size: 1.25em;
    line-height: 1.2;
    page-break-inside: avoid;
    text-align: left;
    text-indent: 0;
    padding: 0;
    margin: 12pt 0 0
    }
.block_9 {
    color: black;
    display: block;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0 5pt
    }
.block_10 {
    color: black;
    display: block;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0 5pt 12pt
    }
.block_11 {
    display: block;
    font-weight: bold;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block_12 {
    display: block;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.block_13 {
    display: block;
    text-align: right;
    text-indent: 36pt;
    padding: 0;
    margin: 6pt 0 6pt 8.5pt
    }
.block_14 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: right;
    text-indent: 36pt;
    padding: 0;
    margin: 6pt 0 6pt 8.5pt
    }
.block_15 {
    display: block;
    font-weight: bold;
    text-align: center;
    text-indent: 36pt;
    padding: 0;
    margin: 6pt 0 6pt 8.5pt
    }
.block_16 {
    display: block;
    font-weight: bold;
    text-align: center;
    text-indent: 36pt;
    padding: 0;
    margin: 6pt 0 6pt 8.5pt
    }
.block_17 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: center;
    text-indent: 36pt;
    padding: 0;
    margin: 6pt 0 6pt 8.5pt
    }
.block_18 {
    display: block;
    font-weight: bold;
    text-align: justify;
    text-indent: 36pt;
    padding: 0;
    margin: 6pt 0 6pt 8.5pt
    }
.block_19 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 8.5pt;
    text-transform: uppercase;
    padding: 0;
    margin: 12pt 0 3pt
    }
.block_20 {
    display: block;
    text-align: justify;
    text-indent: 36pt;
    padding: 0;
    margin: 6pt 0 6pt 8.5pt
    }
.block_21 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 8.5pt;
    text-transform: uppercase;
    padding: 0;
    margin: 12pt 0 3pt
    }
.block_22 {
    display: block;
    font-style: italic;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 50.4pt 6pt 36pt
    }
.block_23 {
    display: block;
    font-style: italic;
    text-align: right;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 50.4pt 6pt 36pt
    }
.block_24 {
    display: block;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 7.2pt 3pt
    }
.block_25 {
    display: block;
    text-align: center;
    text-indent: 7.2pt;
    padding: 0;
    margin: 6pt 0
    }
.block_26 {
    display: block;
    text-align: center;
    text-indent: 7.2pt;
    padding: 0;
    margin: 6pt 0
    }
.block_27 {
    display: block;
    font-style: italic;
    text-align: justify;
    text-indent: 36pt;
    padding: 0;
    margin: 6pt 0 6pt 8.5pt
    }
.block_28 {
    display: block;
    font-style: italic;
    text-align: right;
    text-indent: 36pt;
    padding: 0;
    margin: 6pt 0 6pt 8.5pt
    }
.block_29 {
    display: block;
    font-style: italic;
    text-align: center;
    text-indent: 36pt;
    padding: 0;
    margin: 6pt 0 6pt 8.5pt
    }
.block_30 {
    display: block;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 7.2pt 3pt
    }
.block_31 {
    display: list-item;
    margin-bottom: 0;
    margin-left: 26.5pt;
    margin-top: 6pt;
    text-align: justify
    }
.block_32 {
    display: list-item;
    margin-bottom: 0;
    margin-left: 26.5pt;
    margin-top: 0;
    text-align: justify
    }
.block_33 {
    display: list-item;
    margin-bottom: 6pt;
    margin-left: 26.5pt;
    margin-top: 0;
    text-align: justify
    }
.block_34 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: center;
    text-indent: 36pt;
    padding: 0;
    margin: 6pt 0 6pt 8.5pt
    }
.block_35 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 41.2pt;
    padding: 0;
    margin: 6pt 0 6pt 8.5pt
    }
.block_36 {
    display: block;
    font-weight: bold;
    text-align: center;
    text-indent: 7.2pt;
    padding: 0;
    margin: 6pt 0
    }
.block_37 {
    display: block;
    text-align: right;
    text-indent: 36pt;
    padding: 0;
    margin: 6pt 0 6pt 8.5pt
    }
.block_38 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 0
    }
.block_39 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 8.5pt;
    padding: 0;
    margin: 6pt 0
    }
.calibre {
    color: #000;
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    text-decoration: none
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre4 {
    height: 197pt;
    width: 317pt
    }
.calibre5 {
    height: 244pt;
    width: 330pt
    }
.calibre6 {
    display: block
    }
.calibre7 {
    height: 218pt;
    width: 308pt
    }
.calibre8 {
    font-style: italic
    }
.calibre9 {
    height: 241pt;
    width: 303pt
    }
.calibre10 {
    height: 221pt;
    width: 324pt
    }
.calibre11 {
    display: block;
    line-height: 1.2
    }
.calibre12 {
    height: 199pt;
    width: 307pt
    }
.calibre13 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre14 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre15 {
    display: block;
    margin-left: 40px
    }
.calibre16 {
    font-size: 0.85714em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre17 {
    display: block;
    margin-left: 40px;
    page-break-after: avoid
    }
.list_ {
    display: block;
    list-style-type: disc;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.noteref {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.notes {
    display: block;
    margin: 1em 0
    }
.notes-header {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.tab {
    white-space: pre-wrap
    }
.text_ {
    color: #06C;
    text-decoration: underline
    }
.text_1 {
    color: #000
    }
.text_2 {
    font-size: 0.75em;
    font-style: italic;
    line-height: 1.2;
    vertical-align: super
    }
.text_3 {
    font-size: 1.14286em;
    line-height: 1.2;
    vertical-align: super
    }
.text_4 {
    font-size: 1.14286em;
    line-height: 1.2
    }
.text_5 {
    font-size: 1em;
    line-height: 1.2
    }
