.block {
    color: black;
    display: block;
    text-align: justify;
    text-indent: 1em;
    padding: 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0;
    margin: 0
    }
.block1 {
    display: block;
    font-family: "Cambria", serif;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    page-break-inside: avoid;
    padding: 0;
    margin: 24pt 0 0
    }
.block2 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.2;
    text-indent: 1.5em;
    padding: 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0;
    margin: 0
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    color: #365F91;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre10 {
    display: block;
    margin-left: 40px;
    page-break-after: avoid
    }
.calibre2 {
    display: block
    }
.calibre3 {
    white-space: pre-wrap
    }
.calibre4 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre5 {
    text-decoration: none
    }
.calibre6 {
    font-size: 1em;
    line-height: 1.2;
    text-indent: 1.5em
    }
.calibre7 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    padding: 0;
    margin: 3em 0 0
    }
.calibre8 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre9 {
    line-height: 1.2;
    text-decoration: none
    }
.noteref {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.notes {
    display: block;
    margin: 1em 0
    }
.scenebreak {
    display: block;
    page-break-before: avoid;
    text-align: center;
    text-indent: 0%;
    padding: 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0;
    margin: 0
    }
.sgc-toc-level {
    display: block;
    margin-left: 0
    }
.sgc-toc-title {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    text-align: center
    }
.text {
    font-family: "Comic Sans MS", cursive;
    font-size: 1em;
    line-height: 1.2
    }
.whitespace {
    display: block;
    text-align: center;
    padding: 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0;
    margin: 0
    }
