<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Agatha Christie</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>AD79750CAEA33B956629943A71BCAFCF</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>A26FB7FF7932017EC7CB8EE5C85EABFE</string>
		<key>publisher-unique-id</key>
		<string>c4d9dcab-c8d0-4b37-a545-bff78cadaee7</string>
		<key>unique-id</key>
		<integer>-6720794325259459278</integer>
	</dict>
	<key>itemName</key>
	<string>Elmayı Yılan Isırdı</string>
	<key>playlistName</key>
	<string>Elmayı Yılan Isırdı</string>
	<key>releaseDate</key>
	<string>2011-10-16T10:01:52+00:00</string>
	<key>sort-artist</key>
	<string>Christie, Agatha</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
